// SPDX-FileCopyrightText: 2023 Carl Schwan <carl@carlschwan.eu>
// SPDX-License-Identifier: AGPL-3.0-or-later

@import "./base";

#main {
  .cantor {
    color: black;
    background-color: #f4f8ea;
    h2, h3 {
      color: #46417a !important;
    }

    p > a {
      color: black !important;
    }

    blockquote ~ p {
      text-align: right;
    }

    img {
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  .rkward {
    background: linear-gradient(40deg ,#8e0be1, #dd0707 50%, #ffba1c);
    color: #fff;
    li {
      text-align: left;
    }
  }
}

#features-hero {
  height: 20rem !important;
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  p, li, h2 {
    color: white !important;
  }
  @media (max-width: 1175px) {
    p, li, h2 {
      text-shadow: 0 0 20px #fff;
      color: white !important;
    }
  }
  @media (max-width: 768px) {
    p, li, h2 {
      text-shadow: 0 0 20px #000;
      color: white !important;
      text-align: right;
    }
  }
}

.labplot h2 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.feature {
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center
}
.feature>div {
 padding:20px
}
.feature>div:last-child {
 flex-basis: 50%
}
@media (min-width: 1000px) {
 .feature {
  flex-direction:row
 }
 .feature:nth-child(2n+1)>div:first-child {
  order:1
 }
 .feature:nth-child(2n+1)>div:last-child {
  order:0
 }
}
.round {
  border-radius: 1rem;
}

.krita-credits {
  text-align: right;
  padding-right: 2rem;
  margin-bottom: 4rem;
}
