<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/akonadi-21.08.2.tar.xz">akonadi-21.08.2</a></td>
   <td align="right">1570kB</td>
   <td><tt>f10a9c3b2544858d5dce6766593c11f77ad5b2d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/akonadi-calendar-21.08.2.tar.xz">akonadi-calendar-21.08.2</a></td>
   <td align="right">344kB</td>
   <td><tt>3e5ba8c5d71cf1e239ca5c4df04201ecc5764b77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/akonadi-calendar-tools-21.08.2.tar.xz">akonadi-calendar-tools-21.08.2</a></td>
   <td align="right">230kB</td>
   <td><tt>58d0ffb1d8c45176e51d6d9ca960ce99299ca98e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/akonadiconsole-21.08.2.tar.xz">akonadiconsole-21.08.2</a></td>
   <td align="right">196kB</td>
   <td><tt>6193b86b47e64556debe41d8358690a3583d6ebe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/akonadi-contacts-21.08.2.tar.xz">akonadi-contacts-21.08.2</a></td>
   <td align="right">411kB</td>
   <td><tt>a040c7d5a5808726097205c38859cceaa4d7a85e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/akonadi-import-wizard-21.08.2.tar.xz">akonadi-import-wizard-21.08.2</a></td>
   <td align="right">499kB</td>
   <td><tt>286fe1677aa6d5d770b3090b130f633985d7667a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/akonadi-mime-21.08.2.tar.xz">akonadi-mime-21.08.2</a></td>
   <td align="right">137kB</td>
   <td><tt>5fd88b4ea312465b31144171d8b0502b3fe98b46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/akonadi-notes-21.08.2.tar.xz">akonadi-notes-21.08.2</a></td>
   <td align="right">25kB</td>
   <td><tt>e1ff68093e56ebaff119648170f82074f27595c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/akonadi-search-21.08.2.tar.xz">akonadi-search-21.08.2</a></td>
   <td align="right">95kB</td>
   <td><tt>aba16166fe4ee33e0debe36e6c5e28293322bf18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/akregator-21.08.2.tar.xz">akregator-21.08.2</a></td>
   <td align="right">2193kB</td>
   <td><tt>3dfb9c0500738dd83fe3d79b48d02f6e00c5c6b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/analitza-21.08.2.tar.xz">analitza-21.08.2</a></td>
   <td align="right">338kB</td>
   <td><tt>3e638ddfb009f4ce27d6a06631add2b7dda6add2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ark-21.08.2.tar.xz">ark-21.08.2</a></td>
   <td align="right">2704kB</td>
   <td><tt>331d15f585ca2d6df31f631e613c71d5743e09af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/artikulate-21.08.2.tar.xz">artikulate-21.08.2</a></td>
   <td align="right">1065kB</td>
   <td><tt>0307e0fc184336888eb9dd7796f97d4b2ce04e04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/audiocd-kio-21.08.2.tar.xz">audiocd-kio-21.08.2</a></td>
   <td align="right">510kB</td>
   <td><tt>72e0dc44196435ca784b8251e4b82ac872afcafa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/baloo-widgets-21.08.2.tar.xz">baloo-widgets-21.08.2</a></td>
   <td align="right">256kB</td>
   <td><tt>500409bc1b8998e091acce849dacb9407fe22615</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/blinken-21.08.2.tar.xz">blinken-21.08.2</a></td>
   <td align="right">2650kB</td>
   <td><tt>bdf11a7d8abd81dcc81f35021091c1e492051391</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/bomber-21.08.2.tar.xz">bomber-21.08.2</a></td>
   <td align="right">811kB</td>
   <td><tt>36be5aae6137fe9131b28880296f146ed189e506</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/bovo-21.08.2.tar.xz">bovo-21.08.2</a></td>
   <td align="right">203kB</td>
   <td><tt>7b55d6f4467fee404e68acc603ef0a95863a85ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/calendarsupport-21.08.2.tar.xz">calendarsupport-21.08.2</a></td>
   <td align="right">746kB</td>
   <td><tt>73a6ab0b337236efa28df7da7cc08c03e9d93ce5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/cantor-21.08.2.tar.xz">cantor-21.08.2</a></td>
   <td align="right">8968kB</td>
   <td><tt>7b296a86f18ae8c5171c5695b43382ae6d8d3ce3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/cervisia-21.08.2.tar.xz">cervisia-21.08.2</a></td>
   <td align="right">1867kB</td>
   <td><tt>b346045ffc51d6dd15e09f1e61a230252a6e22de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/dolphin-21.08.2.tar.xz">dolphin-21.08.2</a></td>
   <td align="right">5199kB</td>
   <td><tt>939cadc0e011cee417131f5abef6f641989bb403</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/dolphin-plugins-21.08.2.tar.xz">dolphin-plugins-21.08.2</a></td>
   <td align="right">247kB</td>
   <td><tt>5edd9d51d332e78672d30e4519f2f21c7dddc648</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/dragon-21.08.2.tar.xz">dragon-21.08.2</a></td>
   <td align="right">1626kB</td>
   <td><tt>c399bf197b1c4c608c7b1ff12cfcfd8c6c48723f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/elisa-21.08.2.tar.xz">elisa-21.08.2</a></td>
   <td align="right">1697kB</td>
   <td><tt>20cfccc83bb4e8491b75f72a01d8fce897b74183</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/eventviews-21.08.2.tar.xz">eventviews-21.08.2</a></td>
   <td align="right">442kB</td>
   <td><tt>4dbd83366e090297d5120e8541e99566f566fd79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ffmpegthumbs-21.08.2.tar.xz">ffmpegthumbs-21.08.2</a></td>
   <td align="right">36kB</td>
   <td><tt>bfcf4af0cedd31ff4af67071011979c53e5d66fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/filelight-21.08.2.tar.xz">filelight-21.08.2</a></td>
   <td align="right">667kB</td>
   <td><tt>089207db92161f77c1749c3c7338872163cfc91b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/granatier-21.08.2.tar.xz">granatier-21.08.2</a></td>
   <td align="right">2046kB</td>
   <td><tt>2c7c08628960cc4f3ed6f60bb837f06ad07304c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/grantlee-editor-21.08.2.tar.xz">grantlee-editor-21.08.2</a></td>
   <td align="right">108kB</td>
   <td><tt>f297a95075956a75bc19e455d93c1358c517aa85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/grantleetheme-21.08.2.tar.xz">grantleetheme-21.08.2</a></td>
   <td align="right">58kB</td>
   <td><tt>9e82062ea88bf7c8ae236fcbaa23fe4aee1f0a53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/gwenview-21.08.2.tar.xz">gwenview-21.08.2</a></td>
   <td align="right">6658kB</td>
   <td><tt>ae4f5c7094ef06942b2345d086621fb46ee7c2ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/incidenceeditor-21.08.2.tar.xz">incidenceeditor-21.08.2</a></td>
   <td align="right">532kB</td>
   <td><tt>de18d2d89b66f4e6322f9ede671d3defb4ff9100</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/itinerary-21.08.2.tar.xz">itinerary-21.08.2</a></td>
   <td align="right">405kB</td>
   <td><tt>b4622bbba2647881d6334f3cf9e0be83c283012b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/juk-21.08.2.tar.xz">juk-21.08.2</a></td>
   <td align="right">1966kB</td>
   <td><tt>3bc7bb379a54fbc1d6c0452b1183de16d848604e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/k3b-21.08.2.tar.xz">k3b-21.08.2</a></td>
   <td align="right">10495kB</td>
   <td><tt>5197f7a766851c4715538722e733c2b7daf00007</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kaccounts-integration-21.08.2.tar.xz">kaccounts-integration-21.08.2</a></td>
   <td align="right">84kB</td>
   <td><tt>cb6cbe98a975a27484ec7a033ef6406363a3888a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kaccounts-providers-21.08.2.tar.xz">kaccounts-providers-21.08.2</a></td>
   <td align="right">62kB</td>
   <td><tt>e49b81e59da32df58963e0f17c041dcbbe4798e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kaddressbook-21.08.2.tar.xz">kaddressbook-21.08.2</a></td>
   <td align="right">3269kB</td>
   <td><tt>b22f6bb5e340b73c3bd4f6592d93189323fac10e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kajongg-21.08.2.tar.xz">kajongg-21.08.2</a></td>
   <td align="right">4453kB</td>
   <td><tt>ad11b05f357f63d690e788e95c76bea37019c52a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kalarm-21.08.2.tar.xz">kalarm-21.08.2</a></td>
   <td align="right">2105kB</td>
   <td><tt>0e4dad4acbb455b3929b5a9a09848539455fd82d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kalarmcal-21.08.2.tar.xz">kalarmcal-21.08.2</a></td>
   <td align="right">614kB</td>
   <td><tt>048bcd3946898b1d9d0f24d97aff0cdda1ca00ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kalgebra-21.08.2.tar.xz">kalgebra-21.08.2</a></td>
   <td align="right">1002kB</td>
   <td><tt>81ff6b9da60003a143bb68167dd5540fd400b1eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kalzium-21.08.2.tar.xz">kalzium-21.08.2</a></td>
   <td align="right">24016kB</td>
   <td><tt>be7320edd56654227386effa0d4ae0d00a586f3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kamera-21.08.2.tar.xz">kamera-21.08.2</a></td>
   <td align="right">113kB</td>
   <td><tt>d524d6a024b06e57e016b15c71b2c62cbe305d84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kamoso-21.08.2.tar.xz">kamoso-21.08.2</a></td>
   <td align="right">209kB</td>
   <td><tt>8eda168edea901e4729b3947b69097b08d7a102b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kanagram-21.08.2.tar.xz">kanagram-21.08.2</a></td>
   <td align="right">7850kB</td>
   <td><tt>c5afa86c0ac20fec76da1810ccd0a352972a09c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kapman-21.08.2.tar.xz">kapman-21.08.2</a></td>
   <td align="right">2414kB</td>
   <td><tt>c384e889b01a4afc19c2d55a4583c38c4506e502</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kapptemplate-21.08.2.tar.xz">kapptemplate-21.08.2</a></td>
   <td align="right">326kB</td>
   <td><tt>e38f93a71d9fb10c25536c5b0d7099784accda5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kate-21.08.2.tar.xz">kate-21.08.2</a></td>
   <td align="right">7118kB</td>
   <td><tt>4247a795c53d53df93a599a5f53c1cbcd2fc6029</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/katomic-21.08.2.tar.xz">katomic-21.08.2</a></td>
   <td align="right">1400kB</td>
   <td><tt>77586525a894eca10edf02be88b2f967b917a9c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kbackup-21.08.2.tar.xz">kbackup-21.08.2</a></td>
   <td align="right">379kB</td>
   <td><tt>80ab066566ea58ad495113b9c3fd9b60b6bd25fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kblackbox-21.08.2.tar.xz">kblackbox-21.08.2</a></td>
   <td align="right">511kB</td>
   <td><tt>2f69f1dd0f104f08191c8c8ba28a49638188e289</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kblocks-21.08.2.tar.xz">kblocks-21.08.2</a></td>
   <td align="right">2050kB</td>
   <td><tt>ab8950b9f66efe1c8d21534fe33be68fb9dd42ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kbounce-21.08.2.tar.xz">kbounce-21.08.2</a></td>
   <td align="right">3444kB</td>
   <td><tt>4dd28302fb3d676f40b34eb4d7b84d982f9bc3c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kbreakout-21.08.2.tar.xz">kbreakout-21.08.2</a></td>
   <td align="right">2494kB</td>
   <td><tt>7d6bc5f41d57bf32f9b10a0cc0aff9364f6485d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kbruch-21.08.2.tar.xz">kbruch-21.08.2</a></td>
   <td align="right">5496kB</td>
   <td><tt>b564b65408fb1aa8d25e4b17bd8e334b20f92e55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kcachegrind-21.08.2.tar.xz">kcachegrind-21.08.2</a></td>
   <td align="right">834kB</td>
   <td><tt>e739eb880c834e92fa75b6129ea33c0af7cddcb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kcalc-21.08.2.tar.xz">kcalc-21.08.2</a></td>
   <td align="right">370kB</td>
   <td><tt>8f93a96a67310371d0b6594e7b46f7f07da01e14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kcalutils-21.08.2.tar.xz">kcalutils-21.08.2</a></td>
   <td align="right">330kB</td>
   <td><tt>ff8cbb0e25d0d10f94fd79835581c65c433b4e41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kcharselect-21.08.2.tar.xz">kcharselect-21.08.2</a></td>
   <td align="right">360kB</td>
   <td><tt>2047d30a0eb597387ab27c2d4286a3ec0a63eede</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kcolorchooser-21.08.2.tar.xz">kcolorchooser-21.08.2</a></td>
   <td align="right">28kB</td>
   <td><tt>24e943a28406c1371315636de6eb796a978a3fc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kcron-21.08.2.tar.xz">kcron-21.08.2</a></td>
   <td align="right">889kB</td>
   <td><tt>75a9d9ee3cd237b35cccc844d28f8092694119bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kdebugsettings-21.08.2.tar.xz">kdebugsettings-21.08.2</a></td>
   <td align="right">88kB</td>
   <td><tt>8cb067653c943c1693b7f397577da7d8823aa52e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kdeconnect-kde-21.08.2.tar.xz">kdeconnect-kde-21.08.2</a></td>
   <td align="right">577kB</td>
   <td><tt>5293ff77338d185d0095aaee97b06d6b3a25c57f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kde-dev-scripts-21.08.2.tar.xz">kde-dev-scripts-21.08.2</a></td>
   <td align="right">357kB</td>
   <td><tt>7fc5b46f47a812ec2cefa4de2b155d26d44becd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kde-dev-utils-21.08.2.tar.xz">kde-dev-utils-21.08.2</a></td>
   <td align="right">67kB</td>
   <td><tt>d4c04899f09c4134bafe226bdd4fbe2e31424b11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kdeedu-data-21.08.2.tar.xz">kdeedu-data-21.08.2</a></td>
   <td align="right">327kB</td>
   <td><tt>7bd82d23b7b481c55c697dffa01c8c395becadf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kdegraphics-mobipocket-21.08.2.tar.xz">kdegraphics-mobipocket-21.08.2</a></td>
   <td align="right">16kB</td>
   <td><tt>76d4a47be59eb625d7e1f49efa488a5af3e46bba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kdegraphics-thumbnailers-21.08.2.tar.xz">kdegraphics-thumbnailers-21.08.2</a></td>
   <td align="right">46kB</td>
   <td><tt>7e57d62b57368546240503f3f8bcae6b92fae302</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kdenetwork-filesharing-21.08.2.tar.xz">kdenetwork-filesharing-21.08.2</a></td>
   <td align="right">369kB</td>
   <td><tt>0640af371a694ff5fbd7709c0fbea6a3fc298957</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kdenlive-21.08.2.tar.xz">kdenlive-21.08.2</a></td>
   <td align="right">11481kB</td>
   <td><tt>6e00ff9890ef948ecb434d15e1acd2285a91cc36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kdepim-addons-21.08.2.tar.xz">kdepim-addons-21.08.2</a></td>
   <td align="right">2224kB</td>
   <td><tt>f6140a96480dbc654a5f77dcd8844798cff5b48b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kdepim-runtime-21.08.2.tar.xz">kdepim-runtime-21.08.2</a></td>
   <td align="right">1780kB</td>
   <td><tt>681383539388a177b592491cd0cbcb736e366e40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kdesdk-kioslaves-21.08.2.tar.xz">kdesdk-kioslaves-21.08.2</a></td>
   <td align="right">38kB</td>
   <td><tt>219dd8983c8aef7075067f7542b91022a938cd7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kdesdk-thumbnailers-21.08.2.tar.xz">kdesdk-thumbnailers-21.08.2</a></td>
   <td align="right">25kB</td>
   <td><tt>0d6f2981f0e2411d20320bf8f3020f184979cd62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kdf-21.08.2.tar.xz">kdf-21.08.2</a></td>
   <td align="right">461kB</td>
   <td><tt>48e32228c3092f389fbc067ab1cb288f970f4106</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kdialog-21.08.2.tar.xz">kdialog-21.08.2</a></td>
   <td align="right">112kB</td>
   <td><tt>6f996b69faeafe599f85c07721ab42e509e62d8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kdiamond-21.08.2.tar.xz">kdiamond-21.08.2</a></td>
   <td align="right">4589kB</td>
   <td><tt>479167ba3967c0c70249ba453547730b39ff7afa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/keditbookmarks-21.08.2.tar.xz">keditbookmarks-21.08.2</a></td>
   <td align="right">197kB</td>
   <td><tt>1c95c7e6bfb8ca27e05872e787ad9e46a05fc417</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kfind-21.08.2.tar.xz">kfind-21.08.2</a></td>
   <td align="right">279kB</td>
   <td><tt>e396148f619806accf2a35cfa50e0728028fdbb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kfloppy-21.08.2.tar.xz">kfloppy-21.08.2</a></td>
   <td align="right">206kB</td>
   <td><tt>49ffa6eaeecf5cb615ca369e28fb006cca54fd82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kfourinline-21.08.2.tar.xz">kfourinline-21.08.2</a></td>
   <td align="right">702kB</td>
   <td><tt>82ef25e567657c7bdded94f9ddc233a430efef50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kgeography-21.08.2.tar.xz">kgeography-21.08.2</a></td>
   <td align="right">10743kB</td>
   <td><tt>91d6b3b63102501ac4d3d4bec4bd29b83aa5f73b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kget-21.08.2.tar.xz">kget-21.08.2</a></td>
   <td align="right">5502kB</td>
   <td><tt>bbf25eca0627c6957b15fa2566a1f41060df2a23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kgoldrunner-21.08.2.tar.xz">kgoldrunner-21.08.2</a></td>
   <td align="right">4656kB</td>
   <td><tt>bee408dfec68ec36de8418d92cc50b5fb2a31c25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kgpg-21.08.2.tar.xz">kgpg-21.08.2</a></td>
   <td align="right">2885kB</td>
   <td><tt>33de41dc077f7b6bb5cedff9e1db6c5d6dce085a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/khangman-21.08.2.tar.xz">khangman-21.08.2</a></td>
   <td align="right">7259kB</td>
   <td><tt>da56d722fe522b21a7a04bb7df14d6100828a4c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/khelpcenter-21.08.2.tar.xz">khelpcenter-21.08.2</a></td>
   <td align="right">4205kB</td>
   <td><tt>127f9975651700266676f784bb5dcf1a5999608c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kidentitymanagement-21.08.2.tar.xz">kidentitymanagement-21.08.2</a></td>
   <td align="right">153kB</td>
   <td><tt>c2f2dcf6965f5a03d19f146edcb10aa156021a3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kig-21.08.2.tar.xz">kig-21.08.2</a></td>
   <td align="right">3100kB</td>
   <td><tt>f57c8419914c596f8fec19e500618341dd5515a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kigo-21.08.2.tar.xz">kigo-21.08.2</a></td>
   <td align="right">5128kB</td>
   <td><tt>68207d58f51eb4089d4b5b9bb838dccf12eedb55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/killbots-21.08.2.tar.xz">killbots-21.08.2</a></td>
   <td align="right">1165kB</td>
   <td><tt>89ef48d3b4f37e5078a231053041ed85f6deb101</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kimagemapeditor-21.08.2.tar.xz">kimagemapeditor-21.08.2</a></td>
   <td align="right">1063kB</td>
   <td><tt>6f6ec6f38aac6879270af0e023de33522767c192</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kimap-21.08.2.tar.xz">kimap-21.08.2</a></td>
   <td align="right">124kB</td>
   <td><tt>b27a2448907ec9a4c6fe6b903dee95b795493222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kio-extras-21.08.2.tar.xz">kio-extras-21.08.2</a></td>
   <td align="right">612kB</td>
   <td><tt>71f6ddacdc6ea38b679b152baa5bc36ccfdee0cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kio-gdrive-21.08.2.tar.xz">kio-gdrive-21.08.2</a></td>
   <td align="right">68kB</td>
   <td><tt>48ab9ff9c18fb5a853ee746c9bbb820d57695acc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kipi-plugins-21.08.2.tar.xz">kipi-plugins-21.08.2</a></td>
   <td align="right">1510kB</td>
   <td><tt>0b45f99a6002fb8d46e5566a04b4d3dffc479f49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kirigami-gallery-21.08.2.tar.xz">kirigami-gallery-21.08.2</a></td>
   <td align="right">321kB</td>
   <td><tt>3eff684947a716bc36472d77e3c366098ff67f87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kiriki-21.08.2.tar.xz">kiriki-21.08.2</a></td>
   <td align="right">356kB</td>
   <td><tt>0c5295501529be9f2b6ac511bc88367d54fa1fe0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kiten-21.08.2.tar.xz">kiten-21.08.2</a></td>
   <td align="right">11047kB</td>
   <td><tt>3ffd29743704bd316a379643104fae9bd06283b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kitinerary-21.08.2.tar.xz">kitinerary-21.08.2</a></td>
   <td align="right">1801kB</td>
   <td><tt>4dee26d0e4930a7a4890344771ca6bcdccc9c2d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kjumpingcube-21.08.2.tar.xz">kjumpingcube-21.08.2</a></td>
   <td align="right">315kB</td>
   <td><tt>904e45bcdd266877878c6d1bca4a1873eda3f9c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kldap-21.08.2.tar.xz">kldap-21.08.2</a></td>
   <td align="right">167kB</td>
   <td><tt>310c216e0581716828943d847c5a1e94a73cf0a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kleopatra-21.08.2.tar.xz">kleopatra-21.08.2</a></td>
   <td align="right">2082kB</td>
   <td><tt>9de1704173ee95b5d6df17976de25d258b8dccf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/klettres-21.08.2.tar.xz">klettres-21.08.2</a></td>
   <td align="right">46032kB</td>
   <td><tt>ec3793d0f01ce2811fa4d1de1c59427b517faafa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/klickety-21.08.2.tar.xz">klickety-21.08.2</a></td>
   <td align="right">1456kB</td>
   <td><tt>5da35a9c79bf2e35648abf33f06119da9037c922</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/klines-21.08.2.tar.xz">klines-21.08.2</a></td>
   <td align="right">1682kB</td>
   <td><tt>4340e280235e1334da1c9727d25e4c0b6dc9b8cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kmag-21.08.2.tar.xz">kmag-21.08.2</a></td>
   <td align="right">689kB</td>
   <td><tt>6f7a8a525433cbb9792d0bcd499a9540929a30bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kmahjongg-21.08.2.tar.xz">kmahjongg-21.08.2</a></td>
   <td align="right">3972kB</td>
   <td><tt>eb13971d7c505ae4477ffc1eabf0076ad1ec695f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kmail-21.08.2.tar.xz">kmail-21.08.2</a></td>
   <td align="right">6767kB</td>
   <td><tt>6969ac9fb26b2a7760891e88dc458821c230bd95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kmail-account-wizard-21.08.2.tar.xz">kmail-account-wizard-21.08.2</a></td>
   <td align="right">162kB</td>
   <td><tt>beadb80b4bc5263fc00b8a117f94a307b55faf7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kmailtransport-21.08.2.tar.xz">kmailtransport-21.08.2</a></td>
   <td align="right">168kB</td>
   <td><tt>42997de67a8d30cedc7d17c81c363ddef78de4ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kmbox-21.08.2.tar.xz">kmbox-21.08.2</a></td>
   <td align="right">27kB</td>
   <td><tt>9fedbb54a346c23d4d180bbb55a62ba1995ec0de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kmime-21.08.2.tar.xz">kmime-21.08.2</a></td>
   <td align="right">151kB</td>
   <td><tt>6b1d0d643de5d318ad6be5969342c794a4375159</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kmines-21.08.2.tar.xz">kmines-21.08.2</a></td>
   <td align="right">966kB</td>
   <td><tt>0f36f327ef92cd31a7fb41cbd16f64c42e6a066a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kmix-21.08.2.tar.xz">kmix-21.08.2</a></td>
   <td align="right">1136kB</td>
   <td><tt>2a4aacec24cd1ce4bda81bfadb54e123881c65b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kmousetool-21.08.2.tar.xz">kmousetool-21.08.2</a></td>
   <td align="right">118kB</td>
   <td><tt>cb4c13862017ba101ed080644ad5c5a12bab14ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kmouth-21.08.2.tar.xz">kmouth-21.08.2</a></td>
   <td align="right">2051kB</td>
   <td><tt>702fb8c9d3c5c89d384e3e0cdcfbce0f12f13730</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kmplot-21.08.2.tar.xz">kmplot-21.08.2</a></td>
   <td align="right">2971kB</td>
   <td><tt>04be8cc07c39d03b030b233c57cca5ed91695ac2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/knavalbattle-21.08.2.tar.xz">knavalbattle-21.08.2</a></td>
   <td align="right">1343kB</td>
   <td><tt>64f8faa1f7e2e828605740e27cd4217c3b0254f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/knetwalk-21.08.2.tar.xz">knetwalk-21.08.2</a></td>
   <td align="right">1241kB</td>
   <td><tt>43a7e70885482929979b27f56de1259eda5114bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/knights-21.08.2.tar.xz">knights-21.08.2</a></td>
   <td align="right">3453kB</td>
   <td><tt>1bced249fa85de2c61fa178af0e10f2549422528</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/knotes-21.08.2.tar.xz">knotes-21.08.2</a></td>
   <td align="right">333kB</td>
   <td><tt>175497ebab74d891e6cd8c1ce0d1652b77c0eff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kolf-21.08.2.tar.xz">kolf-21.08.2</a></td>
   <td align="right">1018kB</td>
   <td><tt>6320c1108c08b5ab444b3cfc6aeb73035e00c932</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kollision-21.08.2.tar.xz">kollision-21.08.2</a></td>
   <td align="right">284kB</td>
   <td><tt>e08526a174475f0674817c86dd43c248fdc20e22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kolourpaint-21.08.2.tar.xz">kolourpaint-21.08.2</a></td>
   <td align="right">5581kB</td>
   <td><tt>b7a7fc3d451df5d6f51cfdba6c5d70b5d0f5ac84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kompare-21.08.2.tar.xz">kompare-21.08.2</a></td>
   <td align="right">920kB</td>
   <td><tt>52bcf39c3ae62ff53204b42d87581705ba64ad34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/konqueror-21.08.2.tar.xz">konqueror-21.08.2</a></td>
   <td align="right">7244kB</td>
   <td><tt>04ff0f4b19f9869e0cd3cb1cb9a69120fa5c70f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/konquest-21.08.2.tar.xz">konquest-21.08.2</a></td>
   <td align="right">655kB</td>
   <td><tt>96f4f64d9063644cc7114ba2fef30a4c287051a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/konsole-21.08.2.tar.xz">konsole-21.08.2</a></td>
   <td align="right">1343kB</td>
   <td><tt>2a15ac1313bc3a41822124364137ce830b659543</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kontact-21.08.2.tar.xz">kontact-21.08.2</a></td>
   <td align="right">790kB</td>
   <td><tt>d7116c1ee4e17345b3abe056423f8548c3d8fb6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kontactinterface-21.08.2.tar.xz">kontactinterface-21.08.2</a></td>
   <td align="right">38kB</td>
   <td><tt>664822111c7fe911a05477b374a9b3f053897ff0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kontrast-21.08.2.tar.xz">kontrast-21.08.2</a></td>
   <td align="right">122kB</td>
   <td><tt>eb4f14fb16c199a32a6d70955e7bd576ef628167</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/konversation-21.08.2.tar.xz">konversation-21.08.2</a></td>
   <td align="right">4151kB</td>
   <td><tt>77e6ecf400368c434b9960b204ad85553ba8fab4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kopeninghours-21.08.2.tar.xz">kopeninghours-21.08.2</a></td>
   <td align="right">64kB</td>
   <td><tt>ade1bf75bc841203b64518b34fa9f28402e677b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kopete-21.08.2.tar.xz">kopete-21.08.2</a></td>
   <td align="right">9439kB</td>
   <td><tt>177854055976ed3aa87aa728853b591547c9023f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/korganizer-21.08.2.tar.xz">korganizer-21.08.2</a></td>
   <td align="right">2367kB</td>
   <td><tt>c71b856712e822bb56dfcc5ee766579f57477888</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kosmindoormap-21.08.2.tar.xz">kosmindoormap-21.08.2</a></td>
   <td align="right">334kB</td>
   <td><tt>2d52202cedcc751e617c6c2899e7bc86b4df8de7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kpat-21.08.2.tar.xz">kpat-21.08.2</a></td>
   <td align="right">3641kB</td>
   <td><tt>1127c7d34ff252991d5303e9d206ebb18fe997ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kpimtextedit-21.08.2.tar.xz">kpimtextedit-21.08.2</a></td>
   <td align="right">200kB</td>
   <td><tt>87179e07705daf8796cfdfa7fe5684c06e9b95a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kpkpass-21.08.2.tar.xz">kpkpass-21.08.2</a></td>
   <td align="right">27kB</td>
   <td><tt>6918730f8a67effaa32ec0656a949ba71de799c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kpmcore-21.08.2.tar.xz">kpmcore-21.08.2</a></td>
   <td align="right">575kB</td>
   <td><tt>203fc41738f93b1a060a4fdf65bd3e16e4761773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kpublictransport-21.08.2.tar.xz">kpublictransport-21.08.2</a></td>
   <td align="right">400kB</td>
   <td><tt>7ce2f147dee14ca65fe12be7cdc826ad3278037c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kqtquickcharts-21.08.2.tar.xz">kqtquickcharts-21.08.2</a></td>
   <td align="right">29kB</td>
   <td><tt>be7c35a50c72f5f8ad4c9c629d837e22d3ea1d82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/krdc-21.08.2.tar.xz">krdc-21.08.2</a></td>
   <td align="right">1545kB</td>
   <td><tt>7c67a28c900f444f9db445b1a7bd4c17e76ca313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kreversi-21.08.2.tar.xz">kreversi-21.08.2</a></td>
   <td align="right">941kB</td>
   <td><tt>f0327750fe09b61dc8afa1dc67226bbb01098c29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/krfb-21.08.2.tar.xz">krfb-21.08.2</a></td>
   <td align="right">1263kB</td>
   <td><tt>95c2dd4191f30ef2fe109a202257a3133cc5b58d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kross-interpreters-21.08.2.tar.xz">kross-interpreters-21.08.2</a></td>
   <td align="right">147kB</td>
   <td><tt>587fa2cd66b381c5d66c4913b0cf16299c8f6fbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kruler-21.08.2.tar.xz">kruler-21.08.2</a></td>
   <td align="right">270kB</td>
   <td><tt>c47a8ea6e5159df60b177c267aa1b4d65a545b9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kshisen-21.08.2.tar.xz">kshisen-21.08.2</a></td>
   <td align="right">964kB</td>
   <td><tt>4ffcd55d1bdd70b49f7dbe99413f31f6f9ce4fcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ksirk-21.08.2.tar.xz">ksirk-21.08.2</a></td>
   <td align="right">6833kB</td>
   <td><tt>d7764a0ce62a330376988235bbae0483072cd494</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ksmtp-21.08.2.tar.xz">ksmtp-21.08.2</a></td>
   <td align="right">46kB</td>
   <td><tt>5d74d598cf51d97d279c9dbb6017b2ff698f80ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ksnakeduel-21.08.2.tar.xz">ksnakeduel-21.08.2</a></td>
   <td align="right">532kB</td>
   <td><tt>07b84d4a7f4c8ec3273180669db92f3d20f94af3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kspaceduel-21.08.2.tar.xz">kspaceduel-21.08.2</a></td>
   <td align="right">607kB</td>
   <td><tt>cc9c6a99c1a0664f1ca7048c4d0f5198efc4a452</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ksquares-21.08.2.tar.xz">ksquares-21.08.2</a></td>
   <td align="right">261kB</td>
   <td><tt>a49d4cecf63c2d3e9ec1774466556a31bf301987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ksudoku-21.08.2.tar.xz">ksudoku-21.08.2</a></td>
   <td align="right">1642kB</td>
   <td><tt>926ba0dd82e2d639523a583ffbe7fec47c0bb6e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ksystemlog-21.08.2.tar.xz">ksystemlog-21.08.2</a></td>
   <td align="right">1918kB</td>
   <td><tt>438936a54bea7ec24ad766230a7f941662c2783e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kteatime-21.08.2.tar.xz">kteatime-21.08.2</a></td>
   <td align="right">292kB</td>
   <td><tt>1543cd562bddc0a5042fb880fcb3f5c98d6d07be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ktimer-21.08.2.tar.xz">ktimer-21.08.2</a></td>
   <td align="right">379kB</td>
   <td><tt>2c26b36a31fc066b5f9b78a4fb8fc835ea608b8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ktnef-21.08.2.tar.xz">ktnef-21.08.2</a></td>
   <td align="right">298kB</td>
   <td><tt>9cce1f8697d79b67bd658a59a1c2b7fa9354e8d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ktorrent-21.08.2.tar.xz">ktorrent-21.08.2</a></td>
   <td align="right">2041kB</td>
   <td><tt>8c6b49856f9165402f8cfad10e3504bf13334fb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ktouch-21.08.2.tar.xz">ktouch-21.08.2</a></td>
   <td align="right">4848kB</td>
   <td><tt>e392f717745be029e6d3be366f1668c17ad9c3f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ktp-accounts-kcm-21.08.2.tar.xz">ktp-accounts-kcm-21.08.2</a></td>
   <td align="right">260kB</td>
   <td><tt>aa4477e6733f9444e0aece12949da9b2bf99a7c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ktp-approver-21.08.2.tar.xz">ktp-approver-21.08.2</a></td>
   <td align="right">37kB</td>
   <td><tt>6b48bb0b7222dd01db2eae5ce92238fbe77dffb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ktp-auth-handler-21.08.2.tar.xz">ktp-auth-handler-21.08.2</a></td>
   <td align="right">46kB</td>
   <td><tt>cfc4a6b2183872f569fd82b889245d85d335ba1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ktp-call-ui-21.08.2.tar.xz">ktp-call-ui-21.08.2</a></td>
   <td align="right">96kB</td>
   <td><tt>8843fe778bfc7b076f35fdb32b03f3788adb2f07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ktp-common-internals-21.08.2.tar.xz">ktp-common-internals-21.08.2</a></td>
   <td align="right">440kB</td>
   <td><tt>b1b2663700a50cecaf2b4e10f11a95a5b857a806</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ktp-contact-list-21.08.2.tar.xz">ktp-contact-list-21.08.2</a></td>
   <td align="right">149kB</td>
   <td><tt>d1216880b563179a14ba05b78aef58c335754e63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ktp-contact-runner-21.08.2.tar.xz">ktp-contact-runner-21.08.2</a></td>
   <td align="right">42kB</td>
   <td><tt>23cee9947e7f2a546531bbfbfa6b35ff72d9647d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ktp-desktop-applets-21.08.2.tar.xz">ktp-desktop-applets-21.08.2</a></td>
   <td align="right">43kB</td>
   <td><tt>f4d0f433e3564779ac5afba1a9e9547114796e85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ktp-filetransfer-handler-21.08.2.tar.xz">ktp-filetransfer-handler-21.08.2</a></td>
   <td align="right">45kB</td>
   <td><tt>2af0dc56c33c0cb8f914f9ec229f4dd29cb730d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ktp-kded-module-21.08.2.tar.xz">ktp-kded-module-21.08.2</a></td>
   <td align="right">96kB</td>
   <td><tt>3ae6f13713c6e2faadebabe841a7ddf5993334c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ktp-send-file-21.08.2.tar.xz">ktp-send-file-21.08.2</a></td>
   <td align="right">28kB</td>
   <td><tt>d56a7893718d96ce7d95088db4c40f22300fdb34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ktp-text-ui-21.08.2.tar.xz">ktp-text-ui-21.08.2</a></td>
   <td align="right">463kB</td>
   <td><tt>6a0ffd4ed59ba0235fdcb6917322da288e6770b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/ktuberling-21.08.2.tar.xz">ktuberling-21.08.2</a></td>
   <td align="right">69099kB</td>
   <td><tt>869291104b79d57702f07088ac2b369c5a89c75d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kturtle-21.08.2.tar.xz">kturtle-21.08.2</a></td>
   <td align="right">1925kB</td>
   <td><tt>6f652e982d7c47e5ed81112e17194dbefa37d8f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kubrick-21.08.2.tar.xz">kubrick-21.08.2</a></td>
   <td align="right">335kB</td>
   <td><tt>c0d0ac26d82f306f63f13e28522ad78441ece795</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kwalletmanager-21.08.2.tar.xz">kwalletmanager-21.08.2</a></td>
   <td align="right">778kB</td>
   <td><tt>8eca848a4413ff826b6d5dd1b4212572b313a418</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kwave-21.08.2.tar.xz">kwave-21.08.2</a></td>
   <td align="right">6754kB</td>
   <td><tt>7635f7388c960eaa9d8b08d319b59902a06462f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/kwordquiz-21.08.2.tar.xz">kwordquiz-21.08.2</a></td>
   <td align="right">4110kB</td>
   <td><tt>1a689c0eef1ba371318099041a6bc4dbc282b82a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/libgravatar-21.08.2.tar.xz">libgravatar-21.08.2</a></td>
   <td align="right">34kB</td>
   <td><tt>fb99a3460d9380ed69a56360f5e67be3c5825845</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/libkcddb-21.08.2.tar.xz">libkcddb-21.08.2</a></td>
   <td align="right">420kB</td>
   <td><tt>cd3adf42414734b8ddeb0180619bcb8215bf9363</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/libkcompactdisc-21.08.2.tar.xz">libkcompactdisc-21.08.2</a></td>
   <td align="right">94kB</td>
   <td><tt>464b7c1ab121442f6a146358c2775331a19e6fa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/libkdcraw-21.08.2.tar.xz">libkdcraw-21.08.2</a></td>
   <td align="right">36kB</td>
   <td><tt>29a2df6be1a8ca277c45ce9bc93987f99ba9c799</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/libkdegames-21.08.2.tar.xz">libkdegames-21.08.2</a></td>
   <td align="right">6255kB</td>
   <td><tt>082eb97eeea6991b73d7bb01d44aba7627aade9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/libkdepim-21.08.2.tar.xz">libkdepim-21.08.2</a></td>
   <td align="right">247kB</td>
   <td><tt>e6c9f2db8fbe7fe57d06c9bf108da7ab8d2a5777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/libkeduvocdocument-21.08.2.tar.xz">libkeduvocdocument-21.08.2</a></td>
   <td align="right">212kB</td>
   <td><tt>c8fffd35f0c21064b8f1cf1f39fc45269035a403</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/libkexiv2-21.08.2.tar.xz">libkexiv2-21.08.2</a></td>
   <td align="right">57kB</td>
   <td><tt>db25642018384c393578ac0434562f910672d811</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/libkgapi-21.08.2.tar.xz">libkgapi-21.08.2</a></td>
   <td align="right">241kB</td>
   <td><tt>fe9bbd96bd471fdfd1d7197d912722a7861c56ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/libkipi-21.08.2.tar.xz">libkipi-21.08.2</a></td>
   <td align="right">100kB</td>
   <td><tt>b42ff2e1aa7788cbbf8bdab45b8e8fa3babbf774</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/libkleo-21.08.2.tar.xz">libkleo-21.08.2</a></td>
   <td align="right">427kB</td>
   <td><tt>25e936d75cf1d19228fd700127ed1277e4744235</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/libkmahjongg-21.08.2.tar.xz">libkmahjongg-21.08.2</a></td>
   <td align="right">1642kB</td>
   <td><tt>f995e7c4d7ccf4132bcfa5d1f3ffe3914f47e609</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/libkomparediff2-21.08.2.tar.xz">libkomparediff2-21.08.2</a></td>
   <td align="right">168kB</td>
   <td><tt>81f765e6345e1bed352aef93a7d96b2b8871aeb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/libksane-21.08.2.tar.xz">libksane-21.08.2</a></td>
   <td align="right">153kB</td>
   <td><tt>301eee45f9646b77499518644025f849b07f2740</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/libksieve-21.08.2.tar.xz">libksieve-21.08.2</a></td>
   <td align="right">556kB</td>
   <td><tt>8ab415e091e8262e6607513887cab584b46373c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/libktorrent-21.08.2.tar.xz">libktorrent-21.08.2</a></td>
   <td align="right">592kB</td>
   <td><tt>9578410170e5f0fd9c8625592545c7c77c8539d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/lokalize-21.08.2.tar.xz">lokalize-21.08.2</a></td>
   <td align="right">1997kB</td>
   <td><tt>804d205b1c2be488f6284597f605153b264d6a08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/lskat-21.08.2.tar.xz">lskat-21.08.2</a></td>
   <td align="right">1201kB</td>
   <td><tt>df8006fb1d7c22a18fa50a29eac51e6dbb9bc863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/mailcommon-21.08.2.tar.xz">mailcommon-21.08.2</a></td>
   <td align="right">719kB</td>
   <td><tt>8452e4ddfed0bbb8193d9a6159a2a29d2969cfab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/mailimporter-21.08.2.tar.xz">mailimporter-21.08.2</a></td>
   <td align="right">545kB</td>
   <td><tt>7b7db8c573dfc86b04bcc37102e36c81dbf6d208</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/marble-21.08.2.tar.xz">marble-21.08.2</a></td>
   <td align="right">51187kB</td>
   <td><tt>4cfa90c39000c6f9ba3a229055e0149133128a71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/markdownpart-21.08.2.tar.xz">markdownpart-21.08.2</a></td>
   <td align="right">27kB</td>
   <td><tt>b12f2a1f8db323815cbc70a5ef692c4aea5930f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/mbox-importer-21.08.2.tar.xz">mbox-importer-21.08.2</a></td>
   <td align="right">27kB</td>
   <td><tt>f7af7c9327ed3e9d5c3048b04e26e18ca4faf733</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/messagelib-21.08.2.tar.xz">messagelib-21.08.2</a></td>
   <td align="right">10588kB</td>
   <td><tt>59603f2a37c2f2382de7e76d38806ab23300df3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/minuet-21.08.2.tar.xz">minuet-21.08.2</a></td>
   <td align="right">27078kB</td>
   <td><tt>1a7e96d7901764c130cac679fb7d595378669734</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/okular-21.08.2.tar.xz">okular-21.08.2</a></td>
   <td align="right">7899kB</td>
   <td><tt>da0af41b1218630eeb3869f696afb4a3ef19e2fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/palapeli-21.08.2.tar.xz">palapeli-21.08.2</a></td>
   <td align="right">2031kB</td>
   <td><tt>4ad62a8eadb98d95ee09e634973e1b9c1c3739d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/parley-21.08.2.tar.xz">parley-21.08.2</a></td>
   <td align="right">8690kB</td>
   <td><tt>2759f82a9ccd5e83b7465b0155891b56d03fe34a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/partitionmanager-21.08.2.tar.xz">partitionmanager-21.08.2</a></td>
   <td align="right">2048kB</td>
   <td><tt>bad8953ba4832d72fb574509fef7d012cc7034b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/picmi-21.08.2.tar.xz">picmi-21.08.2</a></td>
   <td align="right">1337kB</td>
   <td><tt>194d0ca8bbcbfc400b05160c25e8b6c1e2c4d0dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/pimcommon-21.08.2.tar.xz">pimcommon-21.08.2</a></td>
   <td align="right">360kB</td>
   <td><tt>ef64134e4acf74f4dbc459242a3d23657429cd87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/pim-data-exporter-21.08.2.tar.xz">pim-data-exporter-21.08.2</a></td>
   <td align="right">387kB</td>
   <td><tt>e38e5a98f774e8759e7074cab097080c178bc71a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/pim-sieve-editor-21.08.2.tar.xz">pim-sieve-editor-21.08.2</a></td>
   <td align="right">447kB</td>
   <td><tt>789cc1987af229e0e161987f8ca18d7940e999b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/poxml-21.08.2.tar.xz">poxml-21.08.2</a></td>
   <td align="right">42kB</td>
   <td><tt>148bf7c2c7cc2fd93ad99f1b2d3a4c8f91bc4d7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/print-manager-21.08.2.tar.xz">print-manager-21.08.2</a></td>
   <td align="right">264kB</td>
   <td><tt>244a587ecd4eeda75edaef74fd4fe8850517643b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/rocs-21.08.2.tar.xz">rocs-21.08.2</a></td>
   <td align="right">1518kB</td>
   <td><tt>22980d7fb64b7a5884701cd6d70884fdce90e4ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/signon-kwallet-extension-21.08.2.tar.xz">signon-kwallet-extension-21.08.2</a></td>
   <td align="right">10kB</td>
   <td><tt>102b0a933b434f192a88a29da4cddf67544455d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/skanlite-21.08.2.tar.xz">skanlite-21.08.2</a></td>
   <td align="right">2369kB</td>
   <td><tt>d198508853af054f490536d5c4a386d37a20161e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/spectacle-21.08.2.tar.xz">spectacle-21.08.2</a></td>
   <td align="right">1185kB</td>
   <td><tt>8d8ee64556f76c032b18ce02aee514a637c35d16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/step-21.08.2.tar.xz">step-21.08.2</a></td>
   <td align="right">953kB</td>
   <td><tt>8745f32e856a9cc38c03182ccdd432978041ca69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/svgpart-21.08.2.tar.xz">svgpart-21.08.2</a></td>
   <td align="right">24kB</td>
   <td><tt>945f15dbb41f1c12b77f056a43c90820af55b7f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/sweeper-21.08.2.tar.xz">sweeper-21.08.2</a></td>
   <td align="right">368kB</td>
   <td><tt>1a603559aeae2e4f81e1caf0f0f08a81afefd5e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/umbrello-21.08.2.tar.xz">umbrello-21.08.2</a></td>
   <td align="right">5517kB</td>
   <td><tt>115a76b20406e3bfb9dfd75143ccb316171f24cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/yakuake-21.08.2.tar.xz">yakuake-21.08.2</a></td>
   <td align="right">388kB</td>
   <td><tt>956c941665d57e21658d500630da5172b1288f0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.08.2/src/zeroconf-ioslave-21.08.2.tar.xz">zeroconf-ioslave-21.08.2</a></td>
   <td align="right">37kB</td>
   <td><tt>ff9d1a09f271ef42009de6665cf99f45a6bdb073</tt></td>
</tr>

</table>
