
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/attica-5.82.0.tar.xz">attica-5.82.0</a></td>
   <td align="right">64kB</td>
   <td><tt>314f7b5704481a9705fbed53b5f37bf0950e02a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/baloo-5.82.0.tar.xz">baloo-5.82.0</a></td>
   <td align="right">284kB</td>
   <td><tt>cbc33decd0c1b0185c3553411a4925210132902c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/bluez-qt-5.82.0.tar.xz">bluez-qt-5.82.0</a></td>
   <td align="right">99kB</td>
   <td><tt>6c194a16815ccbc8bc6cd74c71c5b8751105ab2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/breeze-icons-5.82.0.tar.xz">breeze-icons-5.82.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>c42b504b5b621a5fa92ade4b48b03caa23e1bc3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/extra-cmake-modules-5.82.0.tar.xz">extra-cmake-modules-5.82.0</a></td>
   <td align="right">305kB</td>
   <td><tt>baf5910d336a09ccec8be2fa3c0e4eb277857d6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/frameworkintegration-5.82.0.tar.xz">frameworkintegration-5.82.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>4a4c4d58f372a8ce0e14c5aae1fec034e0707426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kactivities-5.82.0.tar.xz">kactivities-5.82.0</a></td>
   <td align="right">69kB</td>
   <td><tt>a2673195cb8f178c9d45ab275934258227cd51b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kactivities-stats-5.82.0.tar.xz">kactivities-stats-5.82.0</a></td>
   <td align="right">79kB</td>
   <td><tt>b8df94dfd07f357bc15fe074cc7d2372dca0f7be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kapidox-5.82.0.tar.xz">kapidox-5.82.0</a></td>
   <td align="right">190kB</td>
   <td><tt>ba1f52e63106b7d6b0e0f2ed2b1debcd6c8ed7b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/karchive-5.82.0.tar.xz">karchive-5.82.0</a></td>
   <td align="right">961kB</td>
   <td><tt>d5eec97d7106d9ad6b355c9b51835b9d21f53c7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kauth-5.82.0.tar.xz">kauth-5.82.0</a></td>
   <td align="right">86kB</td>
   <td><tt>b3d9d82e8e6ba09d2214d099911cd62af8724352</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kbookmarks-5.82.0.tar.xz">kbookmarks-5.82.0</a></td>
   <td align="right">123kB</td>
   <td><tt>994f4312e9b2faf9db2e756ffae7c202851da23f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kcalendarcore-5.82.0.tar.xz">kcalendarcore-5.82.0</a></td>
   <td align="right">249kB</td>
   <td><tt>9b38bfb4d14709c62e977382ecf1e8e448c2fa8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kcmutils-5.82.0.tar.xz">kcmutils-5.82.0</a></td>
   <td align="right">157kB</td>
   <td><tt>858bdcb2b3bf50e649b4f360bd0fca37f5db3b9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kcodecs-5.82.0.tar.xz">kcodecs-5.82.0</a></td>
   <td align="right">225kB</td>
   <td><tt>1f9d42df87404499712d945b14c0be53b0a2bc37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kcompletion-5.82.0.tar.xz">kcompletion-5.82.0</a></td>
   <td align="right">119kB</td>
   <td><tt>79c2aebd8287d39e975f2b2954f61446a930b4f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kconfig-5.82.0.tar.xz">kconfig-5.82.0</a></td>
   <td align="right">262kB</td>
   <td><tt>74a214cc0bd7b35af458d48df286cb97a7f97600</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kconfigwidgets-5.82.0.tar.xz">kconfigwidgets-5.82.0</a></td>
   <td align="right">391kB</td>
   <td><tt>a79edec448c2be08dfdcdf38b067adabbb9b8c9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kcontacts-5.82.0.tar.xz">kcontacts-5.82.0</a></td>
   <td align="right">531kB</td>
   <td><tt>d896a8f9b1f7439266e6d852c876ee3fd4059a23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kcoreaddons-5.82.0.tar.xz">kcoreaddons-5.82.0</a></td>
   <td align="right">404kB</td>
   <td><tt>e5a561be01ce470d854fca06a8d4fcbaa2aa3046</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kcrash-5.82.0.tar.xz">kcrash-5.82.0</a></td>
   <td align="right">24kB</td>
   <td><tt>0e7245ea136d44879849fd2a29742c14fbe3e6d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kdav-5.82.0.tar.xz">kdav-5.82.0</a></td>
   <td align="right">58kB</td>
   <td><tt>5ec758ee8ba149993dbbc18bf9b705689bcbb7ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kdbusaddons-5.82.0.tar.xz">kdbusaddons-5.82.0</a></td>
   <td align="right">41kB</td>
   <td><tt>dd716a15c8ac942ff52afb0a484d037cb7075c40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kdeclarative-5.82.0.tar.xz">kdeclarative-5.82.0</a></td>
   <td align="right">181kB</td>
   <td><tt>7994dcc7e68f29456808f59189f3b51620baade2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kded-5.82.0.tar.xz">kded-5.82.0</a></td>
   <td align="right">36kB</td>
   <td><tt>722cba1155a3162abfcfe7918b9a48f094268098</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kdesu-5.82.0.tar.xz">kdesu-5.82.0</a></td>
   <td align="right">51kB</td>
   <td><tt>2125df0ee6aeeec0f0de84303bc99f83e2e9b589</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kdnssd-5.82.0.tar.xz">kdnssd-5.82.0</a></td>
   <td align="right">56kB</td>
   <td><tt>ff57813b9ef0d40e7073b244997d46f4fa737060</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kdoctools-5.82.0.tar.xz">kdoctools-5.82.0</a></td>
   <td align="right">426kB</td>
   <td><tt>de03877609aa167c86e7b422107fe2b130a44681</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kemoticons-5.82.0.tar.xz">kemoticons-5.82.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c037970a707e099da1aec681f0ffe2da3a1fea60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kfilemetadata-5.82.0.tar.xz">kfilemetadata-5.82.0</a></td>
   <td align="right">415kB</td>
   <td><tt>8c0b934242ed58590ed90e98e70b859f8c1552ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kglobalaccel-5.82.0.tar.xz">kglobalaccel-5.82.0</a></td>
   <td align="right">85kB</td>
   <td><tt>c2f49d83bdeb8962e34a22130b59ef1571abeaa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kguiaddons-5.82.0.tar.xz">kguiaddons-5.82.0</a></td>
   <td align="right">57kB</td>
   <td><tt>d0a91b0302d1692f96d179dbb1096639de02a9d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kholidays-5.82.0.tar.xz">kholidays-5.82.0</a></td>
   <td align="right">221kB</td>
   <td><tt>9d8158aeecdcced191ed5b7eae88bfb1b043bbb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/ki18n-5.82.0.tar.xz">ki18n-5.82.0</a></td>
   <td align="right">576kB</td>
   <td><tt>97e7aa3566166b7147a9920870b26f60deb7e2ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kiconthemes-5.82.0.tar.xz">kiconthemes-5.82.0</a></td>
   <td align="right">217kB</td>
   <td><tt>9326a7c0047f6935a985c0f5cfd61a104f602aea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kidletime-5.82.0.tar.xz">kidletime-5.82.0</a></td>
   <td align="right">25kB</td>
   <td><tt>2a239a95037cc4ad1bfc756a1653b3a789c345e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kimageformats-5.82.0.tar.xz">kimageformats-5.82.0</a></td>
   <td align="right">576kB</td>
   <td><tt>217d6b0914f4ec156cc805d1a6ab85972a14957f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kinit-5.82.0.tar.xz">kinit-5.82.0</a></td>
   <td align="right">118kB</td>
   <td><tt>a400b5f83d1c7e340e7c9f2f66e4f7366c8e577a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kio-5.82.0.tar.xz">kio-5.82.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>f2cf7b40736e661ccdeeca035e613f589ddf7f19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kirigami2-5.82.0.tar.xz">kirigami2-5.82.0</a></td>
   <td align="right">308kB</td>
   <td><tt>e2e2271cb3d27ed16cf426c627e18706157ae7a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kitemmodels-5.82.0.tar.xz">kitemmodels-5.82.0</a></td>
   <td align="right">393kB</td>
   <td><tt>c278fac83fb4d521859218aeaa6e5f4b35e40537</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kitemviews-5.82.0.tar.xz">kitemviews-5.82.0</a></td>
   <td align="right">73kB</td>
   <td><tt>77f54c1908142abad1178bb8f5af461d938b29fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kjobwidgets-5.82.0.tar.xz">kjobwidgets-5.82.0</a></td>
   <td align="right">93kB</td>
   <td><tt>ddcb98f0173dcb589ed04d5cbb38b0aedea23003</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/knewstuff-5.82.0.tar.xz">knewstuff-5.82.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>ecf7f66040b661c25a87eb40f00bb05d431cd430</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/knotifications-5.82.0.tar.xz">knotifications-5.82.0</a></td>
   <td align="right">120kB</td>
   <td><tt>ec3ab6ebffa1863f9b52427de7605b766477bda1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/knotifyconfig-5.82.0.tar.xz">knotifyconfig-5.82.0</a></td>
   <td align="right">82kB</td>
   <td><tt>fe2c2c50c4a99d3a5a87797afb4b107c8974edca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kpackage-5.82.0.tar.xz">kpackage-5.82.0</a></td>
   <td align="right">134kB</td>
   <td><tt>855128740131f9728ba39689bdad205572a4a062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kparts-5.82.0.tar.xz">kparts-5.82.0</a></td>
   <td align="right">187kB</td>
   <td><tt>fe8ac56c681979465c36d15f861db49202bff9e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kpeople-5.82.0.tar.xz">kpeople-5.82.0</a></td>
   <td align="right">60kB</td>
   <td><tt>369017a2e92169d5cc8ebb0b749d07de436b690f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kplotting-5.82.0.tar.xz">kplotting-5.82.0</a></td>
   <td align="right">30kB</td>
   <td><tt>d9e0f7c35fce93527fd26ccf99eb03f3c08801de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kpty-5.82.0.tar.xz">kpty-5.82.0</a></td>
   <td align="right">55kB</td>
   <td><tt>585aac598767cec2fa8d7976549cd09bdfbaf229</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kquickcharts-5.82.0.tar.xz">kquickcharts-5.82.0</a></td>
   <td align="right">103kB</td>
   <td><tt>376c0dbdf04572d9f16cec58fe3de58097dba2e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/krunner-5.82.0.tar.xz">krunner-5.82.0</a></td>
   <td align="right">75kB</td>
   <td><tt>053e421e26fb941199b16df46ad946411f0c7cf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kservice-5.82.0.tar.xz">kservice-5.82.0</a></td>
   <td align="right">255kB</td>
   <td><tt>ad3167f47bde7bb8b53731fd99a1ff37bb5e2ee1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/ktexteditor-5.82.0.tar.xz">ktexteditor-5.82.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>00e37b0bbe986880853d076f85c20dc3d9bae9ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/ktextwidgets-5.82.0.tar.xz">ktextwidgets-5.82.0</a></td>
   <td align="right">318kB</td>
   <td><tt>5237896adacff9a559626ee7b992e692e558320e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kunitconversion-5.82.0.tar.xz">kunitconversion-5.82.0</a></td>
   <td align="right">849kB</td>
   <td><tt>590da2eb1c79d5c79e81de309c32fbab346fa1d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kwallet-5.82.0.tar.xz">kwallet-5.82.0</a></td>
   <td align="right">293kB</td>
   <td><tt>b84aacdc9b5085828fc8b092a9197a56d3bb40da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kwayland-5.82.0.tar.xz">kwayland-5.82.0</a></td>
   <td align="right">338kB</td>
   <td><tt>b5f187caded98e9ace191b08a35eb50bc842bb4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kwidgetsaddons-5.82.0.tar.xz">kwidgetsaddons-5.82.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>66d94d2dfef3b4f33e4d86cfc02fdc04360e4bce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kwindowsystem-5.82.0.tar.xz">kwindowsystem-5.82.0</a></td>
   <td align="right">173kB</td>
   <td><tt>c77958b9a0bd0bf30edaf4ef349875377ba6ccc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/kxmlgui-5.82.0.tar.xz">kxmlgui-5.82.0</a></td>
   <td align="right">843kB</td>
   <td><tt>33cf8be544538e00baf143529d6dc94183d797c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/modemmanager-qt-5.82.0.tar.xz">modemmanager-qt-5.82.0</a></td>
   <td align="right">109kB</td>
   <td><tt>d27613dd8985600ce556b74b7cd24a85d8ea9c16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/networkmanager-qt-5.82.0.tar.xz">networkmanager-qt-5.82.0</a></td>
   <td align="right">191kB</td>
   <td><tt>264b40ab6a97b6123f5a58d1baf512a2bd8a0efb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/oxygen-icons5-5.82.0.tar.xz">oxygen-icons5-5.82.0</a></td>
   <td align="right">223MB</td>
   <td><tt>b86bde725b70651855048761e44204312361083d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/plasma-framework-5.82.0.tar.xz">plasma-framework-5.82.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>b446fb0dc96c66337dc158abbd7bce550ba85ae3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/prison-5.82.0.tar.xz">prison-5.82.0</a></td>
   <td align="right">40kB</td>
   <td><tt>3e138933693131dd764fdde3e7b568d97d01fba4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/purpose-5.82.0.tar.xz">purpose-5.82.0</a></td>
   <td align="right">156kB</td>
   <td><tt>8b773d7d45ef47558bca55751b22a3981a7fc232</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/qqc2-desktop-style-5.82.0.tar.xz">qqc2-desktop-style-5.82.0</a></td>
   <td align="right">58kB</td>
   <td><tt>34b4400fad4d11e9b305302324b49e504025c3b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/solid-5.82.0.tar.xz">solid-5.82.0</a></td>
   <td align="right">267kB</td>
   <td><tt>47afb8a320b97213eb0bb1d587422fe9584ccbcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/sonnet-5.82.0.tar.xz">sonnet-5.82.0</a></td>
   <td align="right">286kB</td>
   <td><tt>bba83219c550e3f36c0e1c4750ac91697ff5532a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/syndication-5.82.0.tar.xz">syndication-5.82.0</a></td>
   <td align="right">496kB</td>
   <td><tt>ffaea502751dd56b69a839d3e74a611eb8342721</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/syntax-highlighting-5.82.0.tar.xz">syntax-highlighting-5.82.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>199914bff079ea026334a3a593e4b3b1903363e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.82/threadweaver-5.82.0.tar.xz">threadweaver-5.82.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>de9738e7e71d863478ade81f61bec0d8bf0750e0</tt></td>
</tr>

</table>
