<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/bluedevil-5.11.2.tar.xz">bluedevil-5.11.2</a></td>
   <td align="right">143kB</td>
   <td><tt>58ee7d182ed4c04cc6bbd7ee75bcf69d1d1ffc234816f6d86e8c0ffb91af9b3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/breeze-5.11.2.tar.xz">breeze-5.11.2</a></td>
   <td align="right">21MB</td>
   <td><tt>014505f87ce0ae90eb0e6e820e5eb9fa18bd30cac6fdb4a3df84bf53cc6d65f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/breeze-grub-5.11.2.tar.xz">breeze-grub-5.11.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>52495c1ed3388c0dd1c4c5a93f56a56e4c6b2eb1899d8677654cc60c7c24a712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/breeze-gtk-5.11.2.tar.xz">breeze-gtk-5.11.2</a></td>
   <td align="right">207kB</td>
   <td><tt>a48982e8d8cdafc8445740bac326462713222c24a387cc331accdc372dd47b30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/breeze-plymouth-5.11.2.tar.xz">breeze-plymouth-5.11.2</a></td>
   <td align="right">102kB</td>
   <td><tt>4d934d4c11eb923d4cf69135a77cca3b4f84452c4578a078d6fc7fe053f983ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/discover-5.11.2.tar.xz">discover-5.11.2</a></td>
   <td align="right">9.7MB</td>
   <td><tt>c39629a18bd66be7118dbf6d1e5dd4dee4d54bd803e5de4cdcdd10a28de86148</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/drkonqi-5.11.2.tar.xz">drkonqi-5.11.2</a></td>
   <td align="right">719kB</td>
   <td><tt>eb9ce5a1a7e8710c7f97c1e96a29d43e75498c4eff9b6fba67a055323fbaecd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/kactivitymanagerd-5.11.2.tar.xz">kactivitymanagerd-5.11.2</a></td>
   <td align="right">82kB</td>
   <td><tt>a25872289b933a102d8082a0f167bddd6a3c2ee3d919dd9cc98fdf63e1f2b698</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/kde-cli-tools-5.11.2.tar.xz">kde-cli-tools-5.11.2</a></td>
   <td align="right">558kB</td>
   <td><tt>6a3efde6c8739283c07b9000430c92ad1039d424c7f04ce6e7dfabdec44ef4a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/kdecoration-5.11.2.tar.xz">kdecoration-5.11.2</a></td>
   <td align="right">34kB</td>
   <td><tt>6a8bc94675c6387a37087f6921477b406e2e567d8eef75e9f660eeffc31d7062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/kde-gtk-config-5.11.2.tar.xz">kde-gtk-config-5.11.2</a></td>
   <td align="right">151kB</td>
   <td><tt>b73ca01e2e3cd8a349d4357defb57542092f4813a179e41bb6e76a2d54bd156e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/kdeplasma-addons-5.11.2.tar.xz">kdeplasma-addons-5.11.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>06af9117a8bfda573141073b73aa5f1755566904866dec92673bb16cd97e3474</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/kgamma5-5.11.2.tar.xz">kgamma5-5.11.2</a></td>
   <td align="right">59kB</td>
   <td><tt>cd14c5b7793d8db9e23e06566565fff972ef4e80177892dd560d2e23a835d24c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/khotkeys-5.11.2.tar.xz">khotkeys-5.11.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>953ecca1d75f7b23943eaeff2e8b3b1592f042bfe6e7b0c047043f26b6012af0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/kinfocenter-5.11.2.tar.xz">kinfocenter-5.11.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>147dc458209f18693b77af27db95f58a3dac1dfc538fba484436daabb07d6184</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/kmenuedit-5.11.2.tar.xz">kmenuedit-5.11.2</a></td>
   <td align="right">636kB</td>
   <td><tt>8f96fb8332243a9325ae45af57a6e43e59fa8b79f9944e85200226c68d16810c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/kscreen-5.11.2.tar.xz">kscreen-5.11.2</a></td>
   <td align="right">114kB</td>
   <td><tt>ccd2ee5cc41e7566273e386d71eedfe30da56ca1e792bf9f5441b380dd4f402f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/kscreenlocker-5.11.2.tar.xz">kscreenlocker-5.11.2</a></td>
   <td align="right">115kB</td>
   <td><tt>bc573c3752ef102e3b0998c79c9d102fc872a11074a13e652c8fb4b4e1b762cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/ksshaskpass-5.11.2.tar.xz">ksshaskpass-5.11.2</a></td>
   <td align="right">20kB</td>
   <td><tt>19d058562b1454ac80fe1fc748a4c3794db9e01d0e5fb842713745cf27aa7bfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/ksysguard-5.11.2.tar.xz">ksysguard-5.11.2</a></td>
   <td align="right">477kB</td>
   <td><tt>3408c928921268e6e44f8204f66c076540ee0a1a42f1ce8205e73160f58ec26f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/kwallet-pam-5.11.2.tar.xz">kwallet-pam-5.11.2</a></td>
   <td align="right">18kB</td>
   <td><tt>0e14e17eb02544f4cb4d621420949a06f245ba5f85c6c76a8ad71696dcfe24cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/kwayland-integration-5.11.2.tar.xz">kwayland-integration-5.11.2</a></td>
   <td align="right">18kB</td>
   <td><tt>5566cad72995326925b1ef0c49c0c3920bdac15a321f553e826634344c72f4b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/kwin-5.11.2.tar.xz">kwin-5.11.2</a></td>
   <td align="right">4.6MB</td>
   <td><tt>2b215532519dcfda77dd1b40250e131d9e1b01d3f1348c9064b6a940e92578f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/kwrited-5.11.2.tar.xz">kwrited-5.11.2</a></td>
   <td align="right">19kB</td>
   <td><tt>d42472f2d994565bf836c268c89c3fcb07dd535a4da1c204c146de7db71f239e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/libkscreen-5.11.2.tar.xz">libkscreen-5.11.2</a></td>
   <td align="right">92kB</td>
   <td><tt>4f774603aae6735734bbf8da6829b2911ac28d5e9803c32392eec4fc7f3d6ea1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/libksysguard-5.11.2.tar.xz">libksysguard-5.11.2</a></td>
   <td align="right">553kB</td>
   <td><tt>6ed0f6fbe3e73c38f6c6fd883b9487a0a635379ca6883a5fc3ab791a33c9a089</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/milou-5.11.2.tar.xz">milou-5.11.2</a></td>
   <td align="right">55kB</td>
   <td><tt>f2090a25d94f3b26c1ce3567708ec068a3202de5f75d9d73747e9e790116ae4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/oxygen-5.11.2.tar.xz">oxygen-5.11.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>21a9831d03c25955f5381fa8c27e0afa6b024e2c4bf355a982edd38305e0d3a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/plasma-desktop-5.11.2.tar.xz">plasma-desktop-5.11.2</a></td>
   <td align="right">7.9MB</td>
   <td><tt>f867b860cfa8426716e3ee49eeda37a845c53bae63fdbebc942c47ca3d3ee537</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/plasma-integration-5.11.2.tar.xz">plasma-integration-5.11.2</a></td>
   <td align="right">51kB</td>
   <td><tt>5444c3bf88bcf50f98ff4352cae4c4e323174ea8aa8f0f5c04bca54973ad7297</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/plasma-nm-5.11.2.tar.xz">plasma-nm-5.11.2</a></td>
   <td align="right">678kB</td>
   <td><tt>585ae09e97eac0e655aae27977ffbb5b5ea66084f3b25032b00eede606966ac0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/plasma-pa-5.11.2.tar.xz">plasma-pa-5.11.2</a></td>
   <td align="right">82kB</td>
   <td><tt>c84a4758fb5dab86df1b32660d66b37d21b7f1e450bd539959c3170f272373b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/plasma-sdk-5.11.2.tar.xz">plasma-sdk-5.11.2</a></td>
   <td align="right">243kB</td>
   <td><tt>9d2de297cceed78b8f39e5fa2e70444203e7dcd5f8529b8e1a587b33f2f05e81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/plasma-tests-5.11.2.tar.xz">plasma-tests-5.11.2</a></td>
   <td align="right">1kB</td>
   <td><tt>b50e517a91f73eb9cb08d10f5661da10bc6bf0b361195921d5995cbf6a65611a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/plasma-vault-5.11.2.tar.xz">plasma-vault-5.11.2</a></td>
   <td align="right">88kB</td>
   <td><tt>a60258f6978d2cfb122cf7786f4e9cf3c54c4314e47c9a388b6a80552920b7d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/plasma-workspace-5.11.2.tar.xz">plasma-workspace-5.11.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>5ce84bdb0b6c2c2e5145e263d9ea61293c3baf49ff4fd2f8c836624c9cca278a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/plasma-workspace-wallpapers-5.11.2.tar.xz">plasma-workspace-wallpapers-5.11.2</a></td>
   <td align="right">43MB</td>
   <td><tt>6153c5e1b1cdb19a29cd5abf8a80e0b6e1b583996c3be84d5ab996d0ce674405</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/plymouth-kcm-5.11.2.tar.xz">plymouth-kcm-5.11.2</a></td>
   <td align="right">35kB</td>
   <td><tt>c4c91ed9de389c82bb28dc064caf4791c9a6805f396f4afcca8f681b752d2fb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/polkit-kde-agent-1-5.11.2.tar.xz">polkit-kde-agent-1-5.11.2</a></td>
   <td align="right">40kB</td>
   <td><tt>63f5dab305cdfa3584b5211d53690fb27181410ae439e67a34d71beb06437961</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/powerdevil-5.11.2.tar.xz">powerdevil-5.11.2</a></td>
   <td align="right">369kB</td>
   <td><tt>9c09c8b2d9b1fb9cbafc12d49710dc07bb75abb20c7a74ca871dd98633125081</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/sddm-kcm-5.11.2.tar.xz">sddm-kcm-5.11.2</a></td>
   <td align="right">58kB</td>
   <td><tt>2137c3438dce41b79c36f87dfe72533e4c803741d3aca6c57b9ebc33ffe63895</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/systemsettings-5.11.2.tar.xz">systemsettings-5.11.2</a></td>
   <td align="right">165kB</td>
   <td><tt>31332049291ce54a93fcfa2d2281313005e3993b49daadbd7411221143cbec85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/user-manager-5.11.2.tar.xz">user-manager-5.11.2</a></td>
   <td align="right">532kB</td>
   <td><tt>99c4076a68b756db0841740b6afc5fac35c6712ec216830728489b232284dedf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.2/xdg-desktop-portal-kde-5.11.2.tar.xz">xdg-desktop-portal-kde-5.11.2</a></td>
   <td align="right">29kB</td>
   <td><tt>804e0d8dd87a36993c72f4031b1d81272a82a8c34c3941647e871531316f517a</tt></td>
</tr>

</table>
