
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/attica-5.50.0.tar.xz">attica-5.50.0</a></td>
   <td align="right">61kB</td>
   <td><tt>f1441b32ef66af45740962900a8f3a051da3acd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/baloo-5.50.0.tar.xz">baloo-5.50.0</a></td>
   <td align="right">227kB</td>
   <td><tt>c9561da6509fc74f8cc321e3bb20ab4c7004c3ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/bluez-qt-5.50.0.tar.xz">bluez-qt-5.50.0</a></td>
   <td align="right">73kB</td>
   <td><tt>b19f7314260795fa8c85740b8b9759a907b1e49f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/breeze-icons-5.50.0.tar.xz">breeze-icons-5.50.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>8d25cf30021dec64a5305b68491d3c1e39fb899c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/extra-cmake-modules-5.50.0.tar.xz">extra-cmake-modules-5.50.0</a></td>
   <td align="right">316kB</td>
   <td><tt>0cdbee24e4e575bb176a9dabc8fcf9f2cfd2bd0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/frameworkintegration-5.50.0.tar.xz">frameworkintegration-5.50.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>89061da4dc76c71d863cdd906db6957e4471bfa1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kactivities-5.50.0.tar.xz">kactivities-5.50.0</a></td>
   <td align="right">59kB</td>
   <td><tt>c7ab769c4bbb4221bf7d7109c320f7300272a939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kactivities-stats-5.50.0.tar.xz">kactivities-stats-5.50.0</a></td>
   <td align="right">59kB</td>
   <td><tt>66362898fb915767cfdbdf3c10078417b6f2d5da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kapidox-5.50.0.tar.xz">kapidox-5.50.0</a></td>
   <td align="right">387kB</td>
   <td><tt>2bd7e4f5258459513b970c44e4223d4f9d0c5302</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/karchive-5.50.0.tar.xz">karchive-5.50.0</a></td>
   <td align="right">429kB</td>
   <td><tt>8244540aeb8734f05503b11301e4d8aa598b07e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kauth-5.50.0.tar.xz">kauth-5.50.0</a></td>
   <td align="right">82kB</td>
   <td><tt>a96edb88da692dc5e48020f30570121af1451827</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kbookmarks-5.50.0.tar.xz">kbookmarks-5.50.0</a></td>
   <td align="right">116kB</td>
   <td><tt>86e9b3985b842e915e8e498c7e833315da49f318</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kcmutils-5.50.0.tar.xz">kcmutils-5.50.0</a></td>
   <td align="right">231kB</td>
   <td><tt>fa9a4ad8ba0407d478f08f61b4a237f52a8869a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kcodecs-5.50.0.tar.xz">kcodecs-5.50.0</a></td>
   <td align="right">214kB</td>
   <td><tt>ef5a28e2902f6d0dc9b5369d8cdfac070cfd347b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kcompletion-5.50.0.tar.xz">kcompletion-5.50.0</a></td>
   <td align="right">112kB</td>
   <td><tt>eda6aa9b8e67039ac3e42883ae1c96bf7be1a7b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kconfig-5.50.0.tar.xz">kconfig-5.50.0</a></td>
   <td align="right">230kB</td>
   <td><tt>ee5130bef48969f7e2b5f311243fc3b872548386</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kconfigwidgets-5.50.0.tar.xz">kconfigwidgets-5.50.0</a></td>
   <td align="right">366kB</td>
   <td><tt>94b35fd4ade6696ef731c217b491922cca74c952</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kcoreaddons-5.50.0.tar.xz">kcoreaddons-5.50.0</a></td>
   <td align="right">344kB</td>
   <td><tt>c43f96a9630018bec8b22bc39211114c7d35f3c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kcrash-5.50.0.tar.xz">kcrash-5.50.0</a></td>
   <td align="right">21kB</td>
   <td><tt>574e4c0b21bd431d73768578488ba2e5b9fa2684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kdbusaddons-5.50.0.tar.xz">kdbusaddons-5.50.0</a></td>
   <td align="right">36kB</td>
   <td><tt>36b17c5b5e60bb0997adc8bc0e08c3c64dbb68c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kdeclarative-5.50.0.tar.xz">kdeclarative-5.50.0</a></td>
   <td align="right">167kB</td>
   <td><tt>bf5ab4e7c1c94eb9d1cb0df8010d7ed8cf6a0928</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kded-5.50.0.tar.xz">kded-5.50.0</a></td>
   <td align="right">36kB</td>
   <td><tt>b1acb186a6ea7143ccb5b8f08fac60e33d6ae3a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kdesignerplugin-5.50.0.tar.xz">kdesignerplugin-5.50.0</a></td>
   <td align="right">88kB</td>
   <td><tt>71d8e18a779d99a28467c96afce4d2ef3ae3b2c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kdesu-5.50.0.tar.xz">kdesu-5.50.0</a></td>
   <td align="right">43kB</td>
   <td><tt>8fe4b5d3001639d790e1872f12c42bf9eada6062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kdewebkit-5.50.0.tar.xz">kdewebkit-5.50.0</a></td>
   <td align="right">28kB</td>
   <td><tt>640b3f7754f679088f8d765cdc1cb5fb0878a8ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kdnssd-5.50.0.tar.xz">kdnssd-5.50.0</a></td>
   <td align="right">55kB</td>
   <td><tt>bdc6116763ba4f9e876d2c6091c9ece17a710746</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kdoctools-5.50.0.tar.xz">kdoctools-5.50.0</a></td>
   <td align="right">414kB</td>
   <td><tt>f1029a033cc17139d5f8cf3749027d23f9d0ecc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kemoticons-5.50.0.tar.xz">kemoticons-5.50.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>5007a370e07977c3d35aded851100593c50b3ccd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kfilemetadata-5.50.0.tar.xz">kfilemetadata-5.50.0</a></td>
   <td align="right">252kB</td>
   <td><tt>a11a2ec4384b85e516c2a6cc3fe40f4a56601721</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kglobalaccel-5.50.0.tar.xz">kglobalaccel-5.50.0</a></td>
   <td align="right">81kB</td>
   <td><tt>08b04c4544b1f5551f2543f6fec84139274f4f8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kguiaddons-5.50.0.tar.xz">kguiaddons-5.50.0</a></td>
   <td align="right">39kB</td>
   <td><tt>90694637d5d2e24a59796824405890d36f1a0a77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kholidays-5.50.0.tar.xz">kholidays-5.50.0</a></td>
   <td align="right">196kB</td>
   <td><tt>82f77aaf01eb5a450f32711780dbde10d127ce52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/ki18n-5.50.0.tar.xz">ki18n-5.50.0</a></td>
   <td align="right">573kB</td>
   <td><tt>e3d2dd0a98f69ad4310dcb471ae9bb7efc3c0741</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kiconthemes-5.50.0.tar.xz">kiconthemes-5.50.0</a></td>
   <td align="right">202kB</td>
   <td><tt>135157332007a720e9fd194fa6e7c7efbf25881f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kidletime-5.50.0.tar.xz">kidletime-5.50.0</a></td>
   <td align="right">25kB</td>
   <td><tt>680897369851ce843b638bb2ab696e6aa36714a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kimageformats-5.50.0.tar.xz">kimageformats-5.50.0</a></td>
   <td align="right">199kB</td>
   <td><tt>edde9d74a1ad0594afe2ecd07e22a042e304a339</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kinit-5.50.0.tar.xz">kinit-5.50.0</a></td>
   <td align="right">117kB</td>
   <td><tt>7e9068658e29bd6b02a742d21f8cc0b2e392bff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kio-5.50.0.tar.xz">kio-5.50.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>6efc2c7ced4eba3529037b3b8da495cfcffb10ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kirigami2-5.50.0.tar.xz">kirigami2-5.50.0</a></td>
   <td align="right">116kB</td>
   <td><tt>6edcb2f8aa05609e96b5e275401bd27a94de445a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kitemmodels-5.50.0.tar.xz">kitemmodels-5.50.0</a></td>
   <td align="right">381kB</td>
   <td><tt>8ccd628913b49a3728cb77c4518153ea592f88e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kitemviews-5.50.0.tar.xz">kitemviews-5.50.0</a></td>
   <td align="right">73kB</td>
   <td><tt>cf2231617ac6256f0a90e49b82aa9991f38ef2ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kjobwidgets-5.50.0.tar.xz">kjobwidgets-5.50.0</a></td>
   <td align="right">85kB</td>
   <td><tt>776de8ef5f01c2b325549af4a3ab93c8916e6b90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/knewstuff-5.50.0.tar.xz">knewstuff-5.50.0</a></td>
   <td align="right">978kB</td>
   <td><tt>31d73c6cfa8f38aa6916ed2981f6494f0a5d3d50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/knotifications-5.50.0.tar.xz">knotifications-5.50.0</a></td>
   <td align="right">100kB</td>
   <td><tt>a49c528e9e7b6b066f22ebc6919972237b2df6b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/knotifyconfig-5.50.0.tar.xz">knotifyconfig-5.50.0</a></td>
   <td align="right">81kB</td>
   <td><tt>13c7bb482509da82bf376df35200beb836d92905</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kpackage-5.50.0.tar.xz">kpackage-5.50.0</a></td>
   <td align="right">129kB</td>
   <td><tt>4ca22289cc637ebb6a67925f203e58d56fb18f25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kparts-5.50.0.tar.xz">kparts-5.50.0</a></td>
   <td align="right">171kB</td>
   <td><tt>5609e7c84deca434104fe677cb18e6a53d70545f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kpeople-5.50.0.tar.xz">kpeople-5.50.0</a></td>
   <td align="right">58kB</td>
   <td><tt>61b51e501c12287f7666ec7e8ff031a3f424446e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kplotting-5.50.0.tar.xz">kplotting-5.50.0</a></td>
   <td align="right">29kB</td>
   <td><tt>142bdae618c8da463fa3755135b6439c67fbc620</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kpty-5.50.0.tar.xz">kpty-5.50.0</a></td>
   <td align="right">56kB</td>
   <td><tt>df49edc55a030517196a973a05b9e185cdd19e77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/krunner-5.50.0.tar.xz">krunner-5.50.0</a></td>
   <td align="right">60kB</td>
   <td><tt>f6ab3c1f11449b52a3793414f2065cc8c1b64f09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kservice-5.50.0.tar.xz">kservice-5.50.0</a></td>
   <td align="right">245kB</td>
   <td><tt>e9f3492cf253ce0775fb50cad9fdb1284e168238</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/ktexteditor-5.50.0.tar.xz">ktexteditor-5.50.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>6e2aa76b6984cf93bb868c09cda01dfbcd58433b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/ktextwidgets-5.50.0.tar.xz">ktextwidgets-5.50.0</a></td>
   <td align="right">301kB</td>
   <td><tt>c4d128514c3b03ed748ae39cd01dc4699a22f7c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kunitconversion-5.50.0.tar.xz">kunitconversion-5.50.0</a></td>
   <td align="right">755kB</td>
   <td><tt>462cc3de6ec82f8cf0ef8e85fc3ccd612b0a1d88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kwallet-5.50.0.tar.xz">kwallet-5.50.0</a></td>
   <td align="right">301kB</td>
   <td><tt>2f9ddb60b9596afbac092791b5441350c251fff0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kwayland-5.50.0.tar.xz">kwayland-5.50.0</a></td>
   <td align="right">316kB</td>
   <td><tt>228126e537149887f1f91c245670d0fef93ec849</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kwidgetsaddons-5.50.0.tar.xz">kwidgetsaddons-5.50.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>94ce6702ef72dfd02f1b4b8d67738cf0e561cfa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kwindowsystem-5.50.0.tar.xz">kwindowsystem-5.50.0</a></td>
   <td align="right">165kB</td>
   <td><tt>d58208f331cfa8f8f1c9fa55da0953f4bdfcc980</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kxmlgui-5.50.0.tar.xz">kxmlgui-5.50.0</a></td>
   <td align="right">852kB</td>
   <td><tt>f2d77bad41477c9011f470c76e27b5a26d707fb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/kxmlrpcclient-5.50.0.tar.xz">kxmlrpcclient-5.50.0</a></td>
   <td align="right">28kB</td>
   <td><tt>4af58e3b6a144da9ebea3c4544c473768668238a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/modemmanager-qt-5.50.0.tar.xz">modemmanager-qt-5.50.0</a></td>
   <td align="right">98kB</td>
   <td><tt>e0b6aeda89519fd91438788084596489230bc7d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/networkmanager-qt-5.50.0.tar.xz">networkmanager-qt-5.50.0</a></td>
   <td align="right">159kB</td>
   <td><tt>cc89fd4ce9674763f5f0fb791353f7508e4c2a16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/oxygen-icons5-5.50.0.tar.xz">oxygen-icons5-5.50.0</a></td>
   <td align="right">225MB</td>
   <td><tt>aa728dce905e03e4bf7ece6f49ba44bcbfc3c68b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/plasma-framework-5.50.0.tar.xz">plasma-framework-5.50.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>2f3b4450ff754769379cceb0ed0725f89fe8ad84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/prison-5.50.0.tar.xz">prison-5.50.0</a></td>
   <td align="right">38kB</td>
   <td><tt>076a99a20eb0c8cde4bc0005763e8aaf1faff967</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/purpose-5.50.0.tar.xz">purpose-5.50.0</a></td>
   <td align="right">135kB</td>
   <td><tt>d143ba237bc4a82d62f63388f51c1d893fbf8420</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/qqc2-desktop-style-5.50.0.tar.xz">qqc2-desktop-style-5.50.0</a></td>
   <td align="right">40kB</td>
   <td><tt>293f8d3c5209d450c024f75cfe74966fd4a27393</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/solid-5.50.0.tar.xz">solid-5.50.0</a></td>
   <td align="right">253kB</td>
   <td><tt>8be1f6f48d2baf510a58edae6dba6beaf5052d8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/sonnet-5.50.0.tar.xz">sonnet-5.50.0</a></td>
   <td align="right">279kB</td>
   <td><tt>6bcef10039be3d98b02e14f248e95b2728867afe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/syndication-5.50.0.tar.xz">syndication-5.50.0</a></td>
   <td align="right">155kB</td>
   <td><tt>61d7cb2089e43d1d8a20a4ba5e76635ac40e1c56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/syntax-highlighting-5.50.0.tar.xz">syntax-highlighting-5.50.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>8dc997467e795e55bd7591892bde4eccc1280393</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.50/threadweaver-5.50.0.tar.xz">threadweaver-5.50.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>df1d0bbf255b76f0666fcc2b8d4026fc201daa5a</tt></td>
</tr>

</table>
