<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/akonadi-22.07.80.tar.xz">akonadi-22.07.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>b4f0262e0f866e02366ccec11c4a82c3c9fcce93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/akonadi-calendar-22.07.80.tar.xz">akonadi-calendar-22.07.80</a></td>
   <td align="right">385kB</td>
   <td><tt>8345474d93d975455f5f54ccc9245ae7e8b894dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/akonadi-calendar-tools-22.07.80.tar.xz">akonadi-calendar-tools-22.07.80</a></td>
   <td align="right">232kB</td>
   <td><tt>4a60b850b459320236113ec37d703839cbc909b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/akonadiconsole-22.07.80.tar.xz">akonadiconsole-22.07.80</a></td>
   <td align="right">195kB</td>
   <td><tt>064e8a346aef502aa8009bd8fff1019154fcb861</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/akonadi-contacts-22.07.80.tar.xz">akonadi-contacts-22.07.80</a></td>
   <td align="right">417kB</td>
   <td><tt>df0d0dd833635d1b42b972899f5f9a8a450dcd0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/akonadi-import-wizard-22.07.80.tar.xz">akonadi-import-wizard-22.07.80</a></td>
   <td align="right">500kB</td>
   <td><tt>285517f36c2997884a225ef8f04604fc9801172a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/akonadi-mime-22.07.80.tar.xz">akonadi-mime-22.07.80</a></td>
   <td align="right">146kB</td>
   <td><tt>b543b0a7f4b52f9d4a4eef211617f038f1a046e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/akonadi-notes-22.07.80.tar.xz">akonadi-notes-22.07.80</a></td>
   <td align="right">26kB</td>
   <td><tt>2b28fc1a7b41f920290895f5f646a949ffb24e38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/akonadi-search-22.07.80.tar.xz">akonadi-search-22.07.80</a></td>
   <td align="right">97kB</td>
   <td><tt>c82ac892c398fb521bdb6de403ad1222814234d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/akregator-22.07.80.tar.xz">akregator-22.07.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>e03295714a82e7e3156c3764ad027afc1a146947</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/analitza-22.07.80.tar.xz">analitza-22.07.80</a></td>
   <td align="right">340kB</td>
   <td><tt>0dc81c1f7e68cac174f0eb06e2b70603e32381ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ark-22.07.80.tar.xz">ark-22.07.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>884164da7df904870c726f883e091da24d3a9533</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/artikulate-22.07.80.tar.xz">artikulate-22.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>80d18d4df6eb5a4051334bce84004efbcbce6f1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/audiocd-kio-22.07.80.tar.xz">audiocd-kio-22.07.80</a></td>
   <td align="right">512kB</td>
   <td><tt>0a1f0b9f871a6dbb19a2b75eac7f146f187905f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/baloo-widgets-22.07.80.tar.xz">baloo-widgets-22.07.80</a></td>
   <td align="right">266kB</td>
   <td><tt>f70216a0b5534a25e1687a44427a998706f75632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/blinken-22.07.80.tar.xz">blinken-22.07.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>fa616d81c7e96566f56d876592a3b84f18312883</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/bomber-22.07.80.tar.xz">bomber-22.07.80</a></td>
   <td align="right">814kB</td>
   <td><tt>f9b25007bf9692847558bff3a9a9855e053da918</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/bovo-22.07.80.tar.xz">bovo-22.07.80</a></td>
   <td align="right">205kB</td>
   <td><tt>8b95bcb6945213bbb50b6f1c843e1d5629c5eef5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/calendarsupport-22.07.80.tar.xz">calendarsupport-22.07.80</a></td>
   <td align="right">734kB</td>
   <td><tt>982879c41508ebce870142c02205a23d449790d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/cantor-22.07.80.tar.xz">cantor-22.07.80</a></td>
   <td align="right">8.7MB</td>
   <td><tt>b45c940c8a4b2254f060e5a41bdcb3aa721c9a06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/cervisia-22.07.80.tar.xz">cervisia-22.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ea4b407f22276a27c5413bb33e5fda30ef648156</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/dolphin-22.07.80.tar.xz">dolphin-22.07.80</a></td>
   <td align="right">5.1MB</td>
   <td><tt>fe2cc7638c94993ad0f88946ce66da75f68a2bf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/dolphin-plugins-22.07.80.tar.xz">dolphin-plugins-22.07.80</a></td>
   <td align="right">251kB</td>
   <td><tt>488e60342eb47b260df1affaf0ac0d8d016490cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/dragon-22.07.80.tar.xz">dragon-22.07.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>23ed95103a70ab7e471b152d989bbb00a9a41a1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/elisa-22.07.80.tar.xz">elisa-22.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>23c395a8d24b0792bfcb9427dfb165aad8194f6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/eventviews-22.07.80.tar.xz">eventviews-22.07.80</a></td>
   <td align="right">441kB</td>
   <td><tt>0d91f5b2af26e6bb3e8e51b3cc08f0fd52c4cf7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/falkon-22.07.80.tar.xz">falkon-22.07.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>e25ecc6ff685f337c97a30a774b2735ccc773967</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ffmpegthumbs-22.07.80.tar.xz">ffmpegthumbs-22.07.80</a></td>
   <td align="right">29kB</td>
   <td><tt>cfcad095138471426c149fa4caf336d8af853d90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/filelight-22.07.80.tar.xz">filelight-22.07.80</a></td>
   <td align="right">679kB</td>
   <td><tt>b425e8195902b57f0f56f35b4282dafeffb38bef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/granatier-22.07.80.tar.xz">granatier-22.07.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>4dbdf7af2103e665b2d9db05c1fa6426eae9dd76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/grantlee-editor-22.07.80.tar.xz">grantlee-editor-22.07.80</a></td>
   <td align="right">110kB</td>
   <td><tt>f7d2e4223e28b0a805e905a018c08be568518e95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/grantleetheme-22.07.80.tar.xz">grantleetheme-22.07.80</a></td>
   <td align="right">60kB</td>
   <td><tt>a3d74187d46429613e2a88bc933c1df611c018e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/gwenview-22.07.80.tar.xz">gwenview-22.07.80</a></td>
   <td align="right">6.5MB</td>
   <td><tt>4327c3de1547099e79d8571d750c01e94278a541</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/incidenceeditor-22.07.80.tar.xz">incidenceeditor-22.07.80</a></td>
   <td align="right">540kB</td>
   <td><tt>2d3cc99c1512672bbd3e96d7208e0e77243d214b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/itinerary-22.07.80.tar.xz">itinerary-22.07.80</a></td>
   <td align="right">552kB</td>
   <td><tt>d22aff66fe7467a24f13e3a686c4cd17cf54c98a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/juk-22.07.80.tar.xz">juk-22.07.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>6561c164c406dff75c6635c1162ddf3071607434</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/k3b-22.07.80.tar.xz">k3b-22.07.80</a></td>
   <td align="right">10MB</td>
   <td><tt>7359709396d7eba820b0ff8084f7b6d971d68d58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kaccounts-integration-22.07.80.tar.xz">kaccounts-integration-22.07.80</a></td>
   <td align="right">85kB</td>
   <td><tt>def8d15906457bf45bb95e201d3baf4c88526449</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kaccounts-providers-22.07.80.tar.xz">kaccounts-providers-22.07.80</a></td>
   <td align="right">62kB</td>
   <td><tt>03111a9de050eef08f4ba1375c47002f9db4f401</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kaddressbook-22.07.80.tar.xz">kaddressbook-22.07.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>baa0919ece2af8d49c067956b88d41b4779b06bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kajongg-22.07.80.tar.xz">kajongg-22.07.80</a></td>
   <td align="right">4.3MB</td>
   <td><tt>bbac6e44109f093fc6e120345353edb715e43046</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kalarm-22.07.80.tar.xz">kalarm-22.07.80</a></td>
   <td align="right">2.2MB</td>
   <td><tt>a14a58a389262ad6c3e228dd2f91565497149518</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kalendar-22.07.80.tar.xz">kalendar-22.07.80</a></td>
   <td align="right">446kB</td>
   <td><tt>7a52dad703946c0663b1591aa2e9723dee779818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kalgebra-22.07.80.tar.xz">kalgebra-22.07.80</a></td>
   <td align="right">1007kB</td>
   <td><tt>2361724e54e9146df42ca443050d178098404df1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kalzium-22.07.80.tar.xz">kalzium-22.07.80</a></td>
   <td align="right">23MB</td>
   <td><tt>35311b6901c7eff8da6b312554c4a72c91db4d20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kamera-22.07.80.tar.xz">kamera-22.07.80</a></td>
   <td align="right">117kB</td>
   <td><tt>95e447504ccd8c9e494e5285c592400391727f6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kamoso-22.07.80.tar.xz">kamoso-22.07.80</a></td>
   <td align="right">222kB</td>
   <td><tt>b6613e9ec03a33c22a46c854f1662ecaa7766f13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kanagram-22.07.80.tar.xz">kanagram-22.07.80</a></td>
   <td align="right">7.6MB</td>
   <td><tt>f75f2e158de3ce3511652fb3cc42edd604662687</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kapman-22.07.80.tar.xz">kapman-22.07.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>60f5a44aed46c7ee075d4bbf2e430888bcdb5c7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kapptemplate-22.07.80.tar.xz">kapptemplate-22.07.80</a></td>
   <td align="right">326kB</td>
   <td><tt>59c56a41366081a44e411b52ab1860724acf815d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kate-22.07.80.tar.xz">kate-22.07.80</a></td>
   <td align="right">7.2MB</td>
   <td><tt>e0b5206ba9c4f9d0534515922110455323a2e4da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/katomic-22.07.80.tar.xz">katomic-22.07.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a1981dbc3f49a54b3c51220c534a33db51f57486</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kbackup-22.07.80.tar.xz">kbackup-22.07.80</a></td>
   <td align="right">383kB</td>
   <td><tt>c01d6c5412bf1d592587ce12fedaeb49188e05a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kblackbox-22.07.80.tar.xz">kblackbox-22.07.80</a></td>
   <td align="right">516kB</td>
   <td><tt>9c782c20f7ae56332a4274068fa35cd9e295a732</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kblocks-22.07.80.tar.xz">kblocks-22.07.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>74d1d0c2fc767793a077b08e3efff301ef33c69e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kbounce-22.07.80.tar.xz">kbounce-22.07.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>65db8c7631b4cc3b8788a7fd1cb3a36803def4c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kbreakout-22.07.80.tar.xz">kbreakout-22.07.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>e02ef9fb7d288a9cbe552475460d7ef0c5b6c621</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kbruch-22.07.80.tar.xz">kbruch-22.07.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>990c16a654d70e5e48976c86f64e20b5ae3b72a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kcachegrind-22.07.80.tar.xz">kcachegrind-22.07.80</a></td>
   <td align="right">859kB</td>
   <td><tt>3ce3f6fbf607b6073fca97ddcb2c9bd5bcc7d02b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kcalc-22.07.80.tar.xz">kcalc-22.07.80</a></td>
   <td align="right">385kB</td>
   <td><tt>0154c59ffe353754675b294d059da1fcc4b53e6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kcalutils-22.07.80.tar.xz">kcalutils-22.07.80</a></td>
   <td align="right">340kB</td>
   <td><tt>d193b816b68a1b596067885c1ac57c1c2b1fd352</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kcharselect-22.07.80.tar.xz">kcharselect-22.07.80</a></td>
   <td align="right">366kB</td>
   <td><tt>db92227846387c43af5cfad19313c43ee46908ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kcolorchooser-22.07.80.tar.xz">kcolorchooser-22.07.80</a></td>
   <td align="right">30kB</td>
   <td><tt>ddc38a141c2f56fda0b136f0e52db59c89a90114</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kcron-22.07.80.tar.xz">kcron-22.07.80</a></td>
   <td align="right">895kB</td>
   <td><tt>7c6774c56d6c0851a81f283afc0be225ec6c6190</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kdebugsettings-22.07.80.tar.xz">kdebugsettings-22.07.80</a></td>
   <td align="right">91kB</td>
   <td><tt>a6c2f3b395a00783bccddf60da8fe5370f79f747</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kdeconnect-kde-22.07.80.tar.xz">kdeconnect-kde-22.07.80</a></td>
   <td align="right">603kB</td>
   <td><tt>875229660e843e55390ed50282a982b1bab2a43f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kde-dev-scripts-22.07.80.tar.xz">kde-dev-scripts-22.07.80</a></td>
   <td align="right">358kB</td>
   <td><tt>c75a1f71b6dde9c6acf8d4df0419e190e4c0e0b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kde-dev-utils-22.07.80.tar.xz">kde-dev-utils-22.07.80</a></td>
   <td align="right">66kB</td>
   <td><tt>cf5f6699b9d13063afed01a144e8505a83994ac1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kdeedu-data-22.07.80.tar.xz">kdeedu-data-22.07.80</a></td>
   <td align="right">328kB</td>
   <td><tt>24ca3618ee6fa31994b2533596ea6ddd7f5da3f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kdegraphics-mobipocket-22.07.80.tar.xz">kdegraphics-mobipocket-22.07.80</a></td>
   <td align="right">12kB</td>
   <td><tt>6a8b2221cb338881fdef21722a74b45318deef44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kdegraphics-thumbnailers-22.07.80.tar.xz">kdegraphics-thumbnailers-22.07.80</a></td>
   <td align="right">47kB</td>
   <td><tt>e8366368c41a7fdbfde61162929e882a1db559ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kdenetwork-filesharing-22.07.80.tar.xz">kdenetwork-filesharing-22.07.80</a></td>
   <td align="right">369kB</td>
   <td><tt>5622cf856123c3e85458025fa0c2a141db136d64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kdenlive-22.07.80.tar.xz">kdenlive-22.07.80</a></td>
   <td align="right">11MB</td>
   <td><tt>9d069ac9a858a0d6e2e7ba69ed6c6ce274d4a8ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kdepim-addons-22.07.80.tar.xz">kdepim-addons-22.07.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>466d2d8517a4d34a6169f3cbd1eee0bf3cd6245b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kdepim-runtime-22.07.80.tar.xz">kdepim-runtime-22.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2e4fd33d20ff686ca7518d5f2cb1d17a41155383</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kdesdk-kio-22.07.80.tar.xz">kdesdk-kio-22.07.80</a></td>
   <td align="right">38kB</td>
   <td><tt>2e3872cfcdc21ac44592923a0bfd343a3f45f788</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kdesdk-thumbnailers-22.07.80.tar.xz">kdesdk-thumbnailers-22.07.80</a></td>
   <td align="right">26kB</td>
   <td><tt>dfe5a3c775abf198534280a370d0b9a64f5fb863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kdevelop-22.07.80.tar.xz">kdevelop-22.07.80</a></td>
   <td align="right">8.0MB</td>
   <td><tt>31dcc9175223ded98d869468dbd26f82029c1003</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kdev-php-22.07.80.tar.xz">kdev-php-22.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c0b6a851cdfea2821f192f2133d65057edc9e368</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kdev-python-22.07.80.tar.xz">kdev-python-22.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>01a7ada3bdd051bef5d1342e0a5f552e0f0b2b37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kdf-22.07.80.tar.xz">kdf-22.07.80</a></td>
   <td align="right">465kB</td>
   <td><tt>283fb82a382b3bfdc15d96cba4362e03dd4e731e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kdialog-22.07.80.tar.xz">kdialog-22.07.80</a></td>
   <td align="right">113kB</td>
   <td><tt>0c3f5ee0eb7a241db6c52b9060aa5b439e63209b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kdiamond-22.07.80.tar.xz">kdiamond-22.07.80</a></td>
   <td align="right">4.4MB</td>
   <td><tt>eed4218eabf519d23bf27215096085271af48893</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/keditbookmarks-22.07.80.tar.xz">keditbookmarks-22.07.80</a></td>
   <td align="right">199kB</td>
   <td><tt>5d732949676045b8f54241fb04f63d0048fd7378</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kfind-22.07.80.tar.xz">kfind-22.07.80</a></td>
   <td align="right">283kB</td>
   <td><tt>3a4e07c15feccc188aaf513a8ec6d3d2b9d127f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kfloppy-22.07.80.tar.xz">kfloppy-22.07.80</a></td>
   <td align="right">208kB</td>
   <td><tt>85e289a074620200ca0b1c0d4d2d2be7763fddeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kfourinline-22.07.80.tar.xz">kfourinline-22.07.80</a></td>
   <td align="right">705kB</td>
   <td><tt>fb96f7d0d2fdfa65f55df5cbfdfba9490c6e0cc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kgeography-22.07.80.tar.xz">kgeography-22.07.80</a></td>
   <td align="right">10MB</td>
   <td><tt>693b255011c8245043c988562c1386970e4f95a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kget-22.07.80.tar.xz">kget-22.07.80</a></td>
   <td align="right">5.1MB</td>
   <td><tt>a057347ab53f3c34923518f71ecb12aed094bd2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kgoldrunner-22.07.80.tar.xz">kgoldrunner-22.07.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>3e650a98a168204c87bbb7b019a505f8bc2da0f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kgpg-22.07.80.tar.xz">kgpg-22.07.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>ecfb21315a718bdc1f457a37e5428fbff7b1eda4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/khangman-22.07.80.tar.xz">khangman-22.07.80</a></td>
   <td align="right">7.0MB</td>
   <td><tt>1c2b3d0caf05caad8a00bfc0ace9dbce0cc84d4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/khelpcenter-22.07.80.tar.xz">khelpcenter-22.07.80</a></td>
   <td align="right">4.1MB</td>
   <td><tt>7458a7c323c5ed281cd51a610740b93c01581a3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kidentitymanagement-22.07.80.tar.xz">kidentitymanagement-22.07.80</a></td>
   <td align="right">156kB</td>
   <td><tt>3d258d1ba005a42664e76188823a0b2639670b4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kig-22.07.80.tar.xz">kig-22.07.80</a></td>
   <td align="right">3.0MB</td>
   <td><tt>96e0792675b93564e040120d539da9647ef383ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kigo-22.07.80.tar.xz">kigo-22.07.80</a></td>
   <td align="right">5.0MB</td>
   <td><tt>b64401bd7e12243b552f4a06163d9d1941e6e6db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/killbots-22.07.80.tar.xz">killbots-22.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>45bb9379ff095d7c0f2985083b03fcebd2f02c37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kimagemapeditor-22.07.80.tar.xz">kimagemapeditor-22.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>eea1d044763ee3a5a4b7bdd090c9b44eb1c256a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kimap-22.07.80.tar.xz">kimap-22.07.80</a></td>
   <td align="right">127kB</td>
   <td><tt>badf61ee487fb5993d43d9e257f9f88157c5b046</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kio-extras-22.07.80.tar.xz">kio-extras-22.07.80</a></td>
   <td align="right">628kB</td>
   <td><tt>cec21b47fe14e790424e6e2219daae464ac73891</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kio-gdrive-22.07.80.tar.xz">kio-gdrive-22.07.80</a></td>
   <td align="right">71kB</td>
   <td><tt>e75a433fa0b24b65a2981934f5f5587f77c3183d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kio-zeroconf-22.07.80.tar.xz">kio-zeroconf-22.07.80</a></td>
   <td align="right">38kB</td>
   <td><tt>045d45ba85033399cdfd5ff1660ec97f5d195304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kipi-plugins-22.07.80.tar.xz">kipi-plugins-22.07.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>80b9b8087b5b5f620996098c89260dd6b8d72d47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kirigami-gallery-22.07.80.tar.xz">kirigami-gallery-22.07.80</a></td>
   <td align="right">333kB</td>
   <td><tt>336cda6c68820d4ed0a019331e746fafc2197227</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kiriki-22.07.80.tar.xz">kiriki-22.07.80</a></td>
   <td align="right">357kB</td>
   <td><tt>74ac89e8fbb4fda967a8e09932f5c9c6a4a5ad16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kiten-22.07.80.tar.xz">kiten-22.07.80</a></td>
   <td align="right">10MB</td>
   <td><tt>aca4fbab6b3b1c41418eec16ae206fbd6a536fea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kitinerary-22.07.80.tar.xz">kitinerary-22.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>5fb9b8a6c8d1c552ec7d9ffb1fc5843c0e0cf5cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kjumpingcube-22.07.80.tar.xz">kjumpingcube-22.07.80</a></td>
   <td align="right">318kB</td>
   <td><tt>01f4e83f6a10896a3bb9215e55c301bee6055f81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kldap-22.07.80.tar.xz">kldap-22.07.80</a></td>
   <td align="right">168kB</td>
   <td><tt>1554ae032a658dc6f2cd2764d2c531eb07720e4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kleopatra-22.07.80.tar.xz">kleopatra-22.07.80</a></td>
   <td align="right">2.2MB</td>
   <td><tt>7dbf8ee439c65f3c5b7889e263b00a09d4be2251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/klettres-22.07.80.tar.xz">klettres-22.07.80</a></td>
   <td align="right">45MB</td>
   <td><tt>d0bdf6dd2d5b410cd08a3a160ba9c5cb00b902b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/klickety-22.07.80.tar.xz">klickety-22.07.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>2b69a9235a88ca6bd9652ec2b20140baf1e019bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/klines-22.07.80.tar.xz">klines-22.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0573d46708a5cb4c5f7f861986ed79d8d5ae2b5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kmag-22.07.80.tar.xz">kmag-22.07.80</a></td>
   <td align="right">693kB</td>
   <td><tt>99d2653f1c2f190a5e4ae9c5d7c5eb9dbb79027d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kmahjongg-22.07.80.tar.xz">kmahjongg-22.07.80</a></td>
   <td align="right">3.8MB</td>
   <td><tt>0853dd62a630f049999d3cccdd22246d64bb2bcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kmail-22.07.80.tar.xz">kmail-22.07.80</a></td>
   <td align="right">6.7MB</td>
   <td><tt>71d949f61fe797556d7cda3ea83d6e43045274d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kmail-account-wizard-22.07.80.tar.xz">kmail-account-wizard-22.07.80</a></td>
   <td align="right">170kB</td>
   <td><tt>299a0274fc5dc8a92c6ff493852e1af682c8e8b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kmailtransport-22.07.80.tar.xz">kmailtransport-22.07.80</a></td>
   <td align="right">173kB</td>
   <td><tt>3c76f66ba8b866fc3ca2877e6b09dd2e9285f37f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kmbox-22.07.80.tar.xz">kmbox-22.07.80</a></td>
   <td align="right">28kB</td>
   <td><tt>64759aa5c10b907bdc7293b49b125ff48cc12148</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kmime-22.07.80.tar.xz">kmime-22.07.80</a></td>
   <td align="right">152kB</td>
   <td><tt>94f128f0745cd397a2957add0ed53dad99aa20c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kmines-22.07.80.tar.xz">kmines-22.07.80</a></td>
   <td align="right">970kB</td>
   <td><tt>da2d6b905e89d3ede4096a665c1d102955a501fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kmix-22.07.80.tar.xz">kmix-22.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>4467024aad01cb507d90cbab0b39c5d32b69072a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kmousetool-22.07.80.tar.xz">kmousetool-22.07.80</a></td>
   <td align="right">119kB</td>
   <td><tt>6e0cea1885fd6fdfcfcd97773b83a53cb4072d64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kmouth-22.07.80.tar.xz">kmouth-22.07.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>3d1fed86a73c09816f1241aeefd75d24c15ce64a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kmplot-22.07.80.tar.xz">kmplot-22.07.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>a382e41f1e66c1a7d3b398572a497fed9ca0b872</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/knavalbattle-22.07.80.tar.xz">knavalbattle-22.07.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4e5956d68af385d9b10ba4c94d8d7b3b9b334bc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/knetwalk-22.07.80.tar.xz">knetwalk-22.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d9dd2b3b03c2e6046ca274e0bbcfd0fbcd24abdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/knights-22.07.80.tar.xz">knights-22.07.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>ee54846115464653b38658bebff6e5997ee97d68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/knotes-22.07.80.tar.xz">knotes-22.07.80</a></td>
   <td align="right">335kB</td>
   <td><tt>01e01486ecd9ebe6fe3668d34873ba3f4e9dba3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kolf-22.07.80.tar.xz">kolf-22.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4e6f934c3e07bc88d6de635a3265fe31929d4a03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kollision-22.07.80.tar.xz">kollision-22.07.80</a></td>
   <td align="right">295kB</td>
   <td><tt>0a4bb06ad0e8d96d245d62f6a5d649dab11c44d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kolourpaint-22.07.80.tar.xz">kolourpaint-22.07.80</a></td>
   <td align="right">5.4MB</td>
   <td><tt>0d719e86bc991f3aa594011e09179d85977d6eb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kompare-22.07.80.tar.xz">kompare-22.07.80</a></td>
   <td align="right">928kB</td>
   <td><tt>86776b3d929b37887d4a4466fb1e27fe35b28bd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/konqueror-22.07.80.tar.xz">konqueror-22.07.80</a></td>
   <td align="right">7.3MB</td>
   <td><tt>997e548741409209bdf69d5f127ac3861cb65860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/konquest-22.07.80.tar.xz">konquest-22.07.80</a></td>
   <td align="right">842kB</td>
   <td><tt>ec0d73ad677b854f4078bfb157c05edd77a237e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/konsole-22.07.80.tar.xz">konsole-22.07.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>6e7c9904f18c704a855d3a35d6d3ce31a4eeef90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kontact-22.07.80.tar.xz">kontact-22.07.80</a></td>
   <td align="right">803kB</td>
   <td><tt>c7787dcf19f056058e33da9d8a1ade3ac1925f9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kontactinterface-22.07.80.tar.xz">kontactinterface-22.07.80</a></td>
   <td align="right">39kB</td>
   <td><tt>a57e20389e502ae148997ea00f0e21cb4b11bf9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kontrast-22.07.80.tar.xz">kontrast-22.07.80</a></td>
   <td align="right">124kB</td>
   <td><tt>ddc1cf767e1d74aaa1e9ef354436423e0d4f5628</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/konversation-22.07.80.tar.xz">konversation-22.07.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>d90e3f34dd0214faa77a7f0509a2fef259acdff3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kopeninghours-22.07.80.tar.xz">kopeninghours-22.07.80</a></td>
   <td align="right">68kB</td>
   <td><tt>1db8fda81d07e167810ffde428329353a5159fba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kopete-22.07.80.tar.xz">kopete-22.07.80</a></td>
   <td align="right">9.2MB</td>
   <td><tt>47f975e4feddf04dd9b2e5348c6b0d96fb42ea89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/korganizer-22.07.80.tar.xz">korganizer-22.07.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>1d94c80ebc67d731726c23918be4b284b4332a99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kosmindoormap-22.07.80.tar.xz">kosmindoormap-22.07.80</a></td>
   <td align="right">347kB</td>
   <td><tt>f5b5348d21980abdeea4f6590e7f06336cf67fbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kpat-22.07.80.tar.xz">kpat-22.07.80</a></td>
   <td align="right">3.5MB</td>
   <td><tt>7b6d21bba3f1dbad9eefe87a59c8162f68ea6777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kpimtextedit-22.07.80.tar.xz">kpimtextedit-22.07.80</a></td>
   <td align="right">210kB</td>
   <td><tt>730be48af7540e595c12046abc44b11338d87b9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kpkpass-22.07.80.tar.xz">kpkpass-22.07.80</a></td>
   <td align="right">28kB</td>
   <td><tt>577e52ad87c0c42d8180ed51d6fd7b43c31a8bdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kpmcore-22.07.80.tar.xz">kpmcore-22.07.80</a></td>
   <td align="right">580kB</td>
   <td><tt>3afdd55bcb9e84e32c408a2297d54d17470a00e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kpublictransport-22.07.80.tar.xz">kpublictransport-22.07.80</a></td>
   <td align="right">476kB</td>
   <td><tt>8d509a44af374d8c92dc208a6cd735330309e0d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kqtquickcharts-22.07.80.tar.xz">kqtquickcharts-22.07.80</a></td>
   <td align="right">29kB</td>
   <td><tt>eaa6716b2fea6b4863bc7967e4c1df8a00c94576</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/krdc-22.07.80.tar.xz">krdc-22.07.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>2ce5ac27113d2d96e245fb879bcbaabac6d25249</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kreversi-22.07.80.tar.xz">kreversi-22.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e32fb8db03861e5984ed67b59271920482f08622</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/krfb-22.07.80.tar.xz">krfb-22.07.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>d5eb0ac4b2ffdfca0eac3bb891653a8ea7dd02bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kross-interpreters-22.07.80.tar.xz">kross-interpreters-22.07.80</a></td>
   <td align="right">148kB</td>
   <td><tt>2501849a72c4ae3fe878d031f5e0289036f8470a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kruler-22.07.80.tar.xz">kruler-22.07.80</a></td>
   <td align="right">269kB</td>
   <td><tt>6824111aeebf8e53d4bc7b870a07883a2d2d075e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ksanecore-22.07.80.tar.xz">ksanecore-22.07.80</a></td>
   <td align="right">44kB</td>
   <td><tt>b0769a03cfaedb1d68f1297c14b9205794fd52a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kshisen-22.07.80.tar.xz">kshisen-22.07.80</a></td>
   <td align="right">970kB</td>
   <td><tt>e4654f9b994bb5ff03bd71a3bdba85e1159cfab6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ksirk-22.07.80.tar.xz">ksirk-22.07.80</a></td>
   <td align="right">6.6MB</td>
   <td><tt>03876e5b44419e0be0fcdd8f7bfa400f1afe8116</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ksmtp-22.07.80.tar.xz">ksmtp-22.07.80</a></td>
   <td align="right">47kB</td>
   <td><tt>1dbcbb15bab9a9c31ae9badedcbbdf1927df77ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ksnakeduel-22.07.80.tar.xz">ksnakeduel-22.07.80</a></td>
   <td align="right">593kB</td>
   <td><tt>20a98c8f1126b77484a6b41c850b1aabf3982e6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kspaceduel-22.07.80.tar.xz">kspaceduel-22.07.80</a></td>
   <td align="right">636kB</td>
   <td><tt>5cb4460c87d836d7a8a0741bed43b9a2ed10b4cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ksquares-22.07.80.tar.xz">ksquares-22.07.80</a></td>
   <td align="right">301kB</td>
   <td><tt>3feb07ecd84bd1590f35f44f84434de9fbac8db6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ksudoku-22.07.80.tar.xz">ksudoku-22.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2990fd48e30510dfa76869558b3fa2d4634bba2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ksystemlog-22.07.80.tar.xz">ksystemlog-22.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>9b507286394cee7c6021b7c44c23018c8d71f2cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kteatime-22.07.80.tar.xz">kteatime-22.07.80</a></td>
   <td align="right">295kB</td>
   <td><tt>037feb833dae824d771abd7c56a999f9d0e3ab95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ktimer-22.07.80.tar.xz">ktimer-22.07.80</a></td>
   <td align="right">385kB</td>
   <td><tt>3edc1fb4b1031056ce24c0a2383034de1fd57acc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ktnef-22.07.80.tar.xz">ktnef-22.07.80</a></td>
   <td align="right">296kB</td>
   <td><tt>970849e180d6471b8e275587ce6434551901dc18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ktorrent-22.07.80.tar.xz">ktorrent-22.07.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>e945e7fa821d7c0e64e559c34e5470223526f9a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ktouch-22.07.80.tar.xz">ktouch-22.07.80</a></td>
   <td align="right">4.7MB</td>
   <td><tt>1b62b3b9582841ad762f4ab6574903e958d43d58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ktp-accounts-kcm-22.07.80.tar.xz">ktp-accounts-kcm-22.07.80</a></td>
   <td align="right">260kB</td>
   <td><tt>9ef7d4f5a38abb06927eaf65ef5d189245e3f70f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ktp-approver-22.07.80.tar.xz">ktp-approver-22.07.80</a></td>
   <td align="right">37kB</td>
   <td><tt>a16229ba444750523bf6733d689662723f1c0c06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ktp-auth-handler-22.07.80.tar.xz">ktp-auth-handler-22.07.80</a></td>
   <td align="right">46kB</td>
   <td><tt>2bd50a2877f6b1cfa36fcd71448dadc51ea6be5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ktp-call-ui-22.07.80.tar.xz">ktp-call-ui-22.07.80</a></td>
   <td align="right">96kB</td>
   <td><tt>d8df6220fdce2ae3c685afe4703a2fe866f47bec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ktp-common-internals-22.07.80.tar.xz">ktp-common-internals-22.07.80</a></td>
   <td align="right">440kB</td>
   <td><tt>6fef2a0c01dca3895f1a7dec72bf913f1d339d2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ktp-contact-list-22.07.80.tar.xz">ktp-contact-list-22.07.80</a></td>
   <td align="right">151kB</td>
   <td><tt>aa7833a8fa6ff9212e2bf950f091ff280c65eec9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ktp-contact-runner-22.07.80.tar.xz">ktp-contact-runner-22.07.80</a></td>
   <td align="right">43kB</td>
   <td><tt>5946e1417a2cbab77a5574e8b84deaeff393ffc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ktp-desktop-applets-22.07.80.tar.xz">ktp-desktop-applets-22.07.80</a></td>
   <td align="right">42kB</td>
   <td><tt>0f53ed53cab10042b39df652b51aca1eb1ad443a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ktp-filetransfer-handler-22.07.80.tar.xz">ktp-filetransfer-handler-22.07.80</a></td>
   <td align="right">45kB</td>
   <td><tt>4012b32a663bd97df17e341a66525159a4593c1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ktp-kded-module-22.07.80.tar.xz">ktp-kded-module-22.07.80</a></td>
   <td align="right">98kB</td>
   <td><tt>c05ba92e868aa9b1a1dbc28ad1ccbd6d6fa5bbd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ktp-send-file-22.07.80.tar.xz">ktp-send-file-22.07.80</a></td>
   <td align="right">28kB</td>
   <td><tt>7ac4fdebb75cde679c2bc2e7c04794c12854be70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ktp-text-ui-22.07.80.tar.xz">ktp-text-ui-22.07.80</a></td>
   <td align="right">463kB</td>
   <td><tt>a5dc9baf368a3d0e054411a53ee47dfd13557a85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/ktuberling-22.07.80.tar.xz">ktuberling-22.07.80</a></td>
   <td align="right">67MB</td>
   <td><tt>c86b8e1ee5f395a1b0e2099aab5b72db468624e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kturtle-22.07.80.tar.xz">kturtle-22.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8ebbd440de561c1890c39bc3aa502cc09948ef50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kubrick-22.07.80.tar.xz">kubrick-22.07.80</a></td>
   <td align="right">335kB</td>
   <td><tt>5690a8946bb0720b347d1f2d0684781064be568b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kwalletmanager-22.07.80.tar.xz">kwalletmanager-22.07.80</a></td>
   <td align="right">783kB</td>
   <td><tt>c6caa393fe6f043bb10c445c81ac320b1480c8a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kwave-22.07.80.tar.xz">kwave-22.07.80</a></td>
   <td align="right">6.6MB</td>
   <td><tt>0d82e68e1d15ab42cdfa1e1cb1adcee2b5843443</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/kwordquiz-22.07.80.tar.xz">kwordquiz-22.07.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>4532e833e8b59fddc15097ca62879b9f7eab81c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/libgravatar-22.07.80.tar.xz">libgravatar-22.07.80</a></td>
   <td align="right">35kB</td>
   <td><tt>4eed4eedd17a9f7c105819c47e43ca7f73fc8dc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/libkcddb-22.07.80.tar.xz">libkcddb-22.07.80</a></td>
   <td align="right">425kB</td>
   <td><tt>f34ec09202208b5bd001b2f1e64b7a364d8a9f9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/libkcompactdisc-22.07.80.tar.xz">libkcompactdisc-22.07.80</a></td>
   <td align="right">95kB</td>
   <td><tt>77aff7bb9bb469265eba1db4db15f1249728031f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/libkdcraw-22.07.80.tar.xz">libkdcraw-22.07.80</a></td>
   <td align="right">36kB</td>
   <td><tt>065983e34588f21b2e35dad7c68d8be824930d69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/libkdegames-22.07.80.tar.xz">libkdegames-22.07.80</a></td>
   <td align="right">5.6MB</td>
   <td><tt>4e0d889645cf3666544b991196c1652c3cbec866</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/libkdepim-22.07.80.tar.xz">libkdepim-22.07.80</a></td>
   <td align="right">242kB</td>
   <td><tt>284438058b1a6ff2787413c8191b80b1d396d4f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/libkeduvocdocument-22.07.80.tar.xz">libkeduvocdocument-22.07.80</a></td>
   <td align="right">209kB</td>
   <td><tt>753533aae4f0de300c17b62750754ffd9314589c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/libkexiv2-22.07.80.tar.xz">libkexiv2-22.07.80</a></td>
   <td align="right">58kB</td>
   <td><tt>e3839bc95887167e3118a2f0d51b7c668211322d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/libkgapi-22.07.80.tar.xz">libkgapi-22.07.80</a></td>
   <td align="right">236kB</td>
   <td><tt>17e1225f7a023863c8b53968bed4545b0471bf6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/libkipi-22.07.80.tar.xz">libkipi-22.07.80</a></td>
   <td align="right">86kB</td>
   <td><tt>f0a1506963c15432b8d2a481dc8c4a2abdb8ab28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/libkleo-22.07.80.tar.xz">libkleo-22.07.80</a></td>
   <td align="right">458kB</td>
   <td><tt>446701f0921ae74a866a874bdb9094c8d6b88f5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/libkmahjongg-22.07.80.tar.xz">libkmahjongg-22.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>5624abc348a11e8f728703cc95d56c0a7a82b34c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/libkomparediff2-22.07.80.tar.xz">libkomparediff2-22.07.80</a></td>
   <td align="right">165kB</td>
   <td><tt>9a91a3c4f7428fcdf926b8a3ed02464097511d88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/libksane-22.07.80.tar.xz">libksane-22.07.80</a></td>
   <td align="right">143kB</td>
   <td><tt>328a24b804c6028b285c4b7554ef69bfc6171631</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/libksieve-22.07.80.tar.xz">libksieve-22.07.80</a></td>
   <td align="right">563kB</td>
   <td><tt>ccfb30b3bb6e784ff339ba93b055686b8b713d9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/libktorrent-22.07.80.tar.xz">libktorrent-22.07.80</a></td>
   <td align="right">581kB</td>
   <td><tt>f48f04ad0e48c826a4ea038f76837ac9b2b57467</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/lokalize-22.07.80.tar.xz">lokalize-22.07.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>6c0e38bb38bf57ec27c1be2407ba5b929faad1c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/lskat-22.07.80.tar.xz">lskat-22.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>31d869cc9702b464f64ab9e1e02575d5c337b6a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/mailcommon-22.07.80.tar.xz">mailcommon-22.07.80</a></td>
   <td align="right">726kB</td>
   <td><tt>54a1c890f4a72a0759a574f95fc980fda4630e31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/mailimporter-22.07.80.tar.xz">mailimporter-22.07.80</a></td>
   <td align="right">546kB</td>
   <td><tt>741bf19bdfe99bf590ed205bd83233dcf22d7776</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/marble-22.07.80.tar.xz">marble-22.07.80</a></td>
   <td align="right">51MB</td>
   <td><tt>931b080b3ea414e9e7c0b322c6b8e49843adc5aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/markdownpart-22.07.80.tar.xz">markdownpart-22.07.80</a></td>
   <td align="right">29kB</td>
   <td><tt>10004122b8e84658465ba98753b3320c073824eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/mbox-importer-22.07.80.tar.xz">mbox-importer-22.07.80</a></td>
   <td align="right">28kB</td>
   <td><tt>1ffc077b4ddd890fcdf28b50c7e926f282f21a6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/messagelib-22.07.80.tar.xz">messagelib-22.07.80</a></td>
   <td align="right">10MB</td>
   <td><tt>bb6a72946f98a964c60db7f32d2b94a60493ce1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/minuet-22.07.80.tar.xz">minuet-22.07.80</a></td>
   <td align="right">26MB</td>
   <td><tt>1cb26c8c430307fdce76c7b11dbb46226c4fa97f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/okular-22.07.80.tar.xz">okular-22.07.80</a></td>
   <td align="right">7.8MB</td>
   <td><tt>fb0c868acd3ebb46c227f85ef09c4744391d830d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/palapeli-22.07.80.tar.xz">palapeli-22.07.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>f6ddfb0d7f5cdf3e64cb514dca8161325557e4df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/parley-22.07.80.tar.xz">parley-22.07.80</a></td>
   <td align="right">8.0MB</td>
   <td><tt>9fd0166304034bc82ed1e3ca44804602f42c3142</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/partitionmanager-22.07.80.tar.xz">partitionmanager-22.07.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>68dfd453ad3494949daf89c3ddf998566c1c0742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/picmi-22.07.80.tar.xz">picmi-22.07.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>9ea40377d4b9b6fc4977c0ad5198f43f93e0ec44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/pimcommon-22.07.80.tar.xz">pimcommon-22.07.80</a></td>
   <td align="right">362kB</td>
   <td><tt>a159be2abd048cb6fc854184d8b6052b0dddd2b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/pim-data-exporter-22.07.80.tar.xz">pim-data-exporter-22.07.80</a></td>
   <td align="right">406kB</td>
   <td><tt>d9793082af3312e71c28c5858f69cf132f42ebb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/pim-sieve-editor-22.07.80.tar.xz">pim-sieve-editor-22.07.80</a></td>
   <td align="right">446kB</td>
   <td><tt>61a097c38978f3a32c74e22fca68c73a8fef78a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/poxml-22.07.80.tar.xz">poxml-22.07.80</a></td>
   <td align="right">43kB</td>
   <td><tt>618b1476b8b583553309ceb093406aa024897e33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/print-manager-22.07.80.tar.xz">print-manager-22.07.80</a></td>
   <td align="right">268kB</td>
   <td><tt>bc5b36a9a82145c6f75fdd6feacb9e65773815cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/rocs-22.07.80.tar.xz">rocs-22.07.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>f3c9ebc35209b44ac7a8d0614be59f0856a2451a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/signon-kwallet-extension-22.07.80.tar.xz">signon-kwallet-extension-22.07.80</a></td>
   <td align="right">10kB</td>
   <td><tt>9152d5bbc967e83ae101636d69f26e601e4a77d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/skanlite-22.07.80.tar.xz">skanlite-22.07.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>421e1bcd1ba0347415e899959fee1f4d736b134a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/skanpage-22.07.80.tar.xz">skanpage-22.07.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>db9c7a42b65ee47c5113cc62ec124b202deaee75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/spectacle-22.07.80.tar.xz">spectacle-22.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>f6d07472a1d01b96fac0fc92b0ab42859ab1a4e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/step-22.07.80.tar.xz">step-22.07.80</a></td>
   <td align="right">915kB</td>
   <td><tt>97825bf9b9a05952ded0a22860d8089c5ed70baa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/svgpart-22.07.80.tar.xz">svgpart-22.07.80</a></td>
   <td align="right">26kB</td>
   <td><tt>cbe1e24e640d5a9cd9352eb6eb13fa1c37cb486b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/sweeper-22.07.80.tar.xz">sweeper-22.07.80</a></td>
   <td align="right">369kB</td>
   <td><tt>ed724c4327ecfc0fa6388aa46eefc1b1b095f32b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/umbrello-22.07.80.tar.xz">umbrello-22.07.80</a></td>
   <td align="right">5.4MB</td>
   <td><tt>1a8f1865130e237ac02d3bb03be602abb21b7267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/yakuake-22.07.80.tar.xz">yakuake-22.07.80</a></td>
   <td align="right">403kB</td>
   <td><tt>66f7a7e7e400cdfeb310397958a7461ed920f05d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.80/src/zanshin-22.07.80.tar.xz">zanshin-22.07.80</a></td>
   <td align="right">344kB</td>
   <td><tt>61b7a9d9be248663379eaccb862a009eb1351dc1</tt></td>
</tr>

</table>
