<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/bluedevil-5.12.7.tar.xz">bluedevil-5.12.7</a></td>
   <td align="right">146kB</td>
   <td><tt>f68c8a56ab64d5fa4fff5d3cd2d714f6999b5485cd3b147c602b2991933a87b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/breeze-5.12.7.tar.xz">breeze-5.12.7</a></td>
   <td align="right">21MB</td>
   <td><tt>ca1be8e9579ebf8acc2a4f94ae378a68502e28e7e7a5be16ef96c983e3776ca7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/breeze-grub-5.12.7.tar.xz">breeze-grub-5.12.7</a></td>
   <td align="right">2.9MB</td>
   <td><tt>0f4bd51d99bc89ed3ee07a1a8723bdc4f9e5308fd856a3fb51123bf71aaf4eff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/breeze-gtk-5.12.7.tar.xz">breeze-gtk-5.12.7</a></td>
   <td align="right">208kB</td>
   <td><tt>ddf8b10a892d5907a271586af35a538d5cf80649d7d0c07a4725dbe839914032</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/breeze-plymouth-5.12.7.tar.xz">breeze-plymouth-5.12.7</a></td>
   <td align="right">103kB</td>
   <td><tt>939d525ec7db2150bdb56a7d97faced9b716a924195f705201850c3bbd3d508e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/discover-5.12.7.tar.xz">discover-5.12.7</a></td>
   <td align="right">9.7MB</td>
   <td><tt>82a55f7a5db5bcfd067ac1e9c93364906a89e99c613a2e1bbfd3439f41dacaad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/drkonqi-5.12.7.tar.xz">drkonqi-5.12.7</a></td>
   <td align="right">720kB</td>
   <td><tt>febdf59af5f5f133845271f3b0c60a8227f3055be33c6705e75a02626ca4d823</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/kactivitymanagerd-5.12.7.tar.xz">kactivitymanagerd-5.12.7</a></td>
   <td align="right">83kB</td>
   <td><tt>096442c13772479bf04ce17ae5c7608425738676948729d5ed58cb26d5a3b831</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/kde-cli-tools-5.12.7.tar.xz">kde-cli-tools-5.12.7</a></td>
   <td align="right">570kB</td>
   <td><tt>1a050d2e1bef2b9c4384fc6a29925a4c4fbb29d9af5695367a18bcdb441a9429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/kdecoration-5.12.7.tar.xz">kdecoration-5.12.7</a></td>
   <td align="right">34kB</td>
   <td><tt>a7c5d1ff141abd51ca0492cc2089d514d997da759883b93d66c3bf34fb1e3f94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/kde-gtk-config-5.12.7.tar.xz">kde-gtk-config-5.12.7</a></td>
   <td align="right">153kB</td>
   <td><tt>6065a7cee2320a877833a8db1bd383c14708a6b720eb2309153b6d97f70599ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/kdeplasma-addons-5.12.7.tar.xz">kdeplasma-addons-5.12.7</a></td>
   <td align="right">559kB</td>
   <td><tt>463b0512a6346a62e8a148c36e5304bea69c8fe476b3ad2029f50ce5b2ed3144</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/kgamma5-5.12.7.tar.xz">kgamma5-5.12.7</a></td>
   <td align="right">59kB</td>
   <td><tt>8ea44616399ae1c7b8cf44765fad6b381d25d1817d157c36613ac042bfca2aaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/khotkeys-5.12.7.tar.xz">khotkeys-5.12.7</a></td>
   <td align="right">1.3MB</td>
   <td><tt>647fcdd2d10e509425daba61b3dc676dac8ec13d2307e50975f8a7a93445a8af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/kinfocenter-5.12.7.tar.xz">kinfocenter-5.12.7</a></td>
   <td align="right">1.2MB</td>
   <td><tt>b10193d1d74b63b66e7fa63894318126976fd80f06f84d5a2d1e5146c07047de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/kmenuedit-5.12.7.tar.xz">kmenuedit-5.12.7</a></td>
   <td align="right">797kB</td>
   <td><tt>dfdbfdd724f6b89d443daf5bae0f02da1fa51ef13d98dfacfd8be7799df051a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/kscreen-5.12.7.tar.xz">kscreen-5.12.7</a></td>
   <td align="right">115kB</td>
   <td><tt>4bca3f15e7820b2cd0966e761ec7a7ebf7868c3f3f2a008f35484dd99d03b1cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/kscreenlocker-5.12.7.tar.xz">kscreenlocker-5.12.7</a></td>
   <td align="right">116kB</td>
   <td><tt>93292b0a70827136bc5886f9a24d7923f1a75fbe9e2440aba8980081bf3feb3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/ksshaskpass-5.12.7.tar.xz">ksshaskpass-5.12.7</a></td>
   <td align="right">20kB</td>
   <td><tt>026b74056d9cf28fa8368f99fde9c9a805a19d54a931c65e5946e54a239a0f86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/ksysguard-5.12.7.tar.xz">ksysguard-5.12.7</a></td>
   <td align="right">485kB</td>
   <td><tt>d4ee905a6d179f0387fa2299089ca1f335c8b6c5d13bd7dcc70d12e42bc309b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/kwallet-pam-5.12.7.tar.xz">kwallet-pam-5.12.7</a></td>
   <td align="right">18kB</td>
   <td><tt>7be5fd4e3c694816ace422bed34791a62c6db184018f93b3439e22838e74d521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/kwayland-integration-5.12.7.tar.xz">kwayland-integration-5.12.7</a></td>
   <td align="right">18kB</td>
   <td><tt>0bb91a3a3d4f05d56d5a42e0f49e430234d62d2366f89b22bc5eb8bac4eb4004</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/kwin-5.12.7.tar.xz">kwin-5.12.7</a></td>
   <td align="right">6.2MB</td>
   <td><tt>f3eaeba17418f884d935befc424491d0c3e6e145b4c0adf54fb7ce7cb28bd0db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/kwrited-5.12.7.tar.xz">kwrited-5.12.7</a></td>
   <td align="right">19kB</td>
   <td><tt>c768d6671b9feb41bce6144372af2b4cdac198e1920248d00aa1fd064c7288e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/libkscreen-5.12.7.tar.xz">libkscreen-5.12.7</a></td>
   <td align="right">92kB</td>
   <td><tt>09168f045a0c1fcb3534029030d65ab2819ac5f0005a4bbc5d3f001e6368d845</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/libksysguard-5.12.7.tar.xz">libksysguard-5.12.7</a></td>
   <td align="right">558kB</td>
   <td><tt>46857fb6d785c09e83148466c4d0c4547bc1fd172e3f1cd79495be17cbc0f479</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/milou-5.12.7.tar.xz">milou-5.12.7</a></td>
   <td align="right">56kB</td>
   <td><tt>77044151b82dbd3a79eb447c51a2c0fee71ac47c2efa313b168c54bc71cd23b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/oxygen-5.12.7.tar.xz">oxygen-5.12.7</a></td>
   <td align="right">4.2MB</td>
   <td><tt>841af5e6ba521e03cc5636069fd838fe4034f4b5d1645840de27f81f2419c42e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/plasma-desktop-5.12.7.tar.xz">plasma-desktop-5.12.7</a></td>
   <td align="right">8.7MB</td>
   <td><tt>f50954dbce0093fe761b9b0c6c6f92911ac25bcc9c0963cefeedb7073e6d8a63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/plasma-integration-5.12.7.tar.xz">plasma-integration-5.12.7</a></td>
   <td align="right">52kB</td>
   <td><tt>d368612f40875b8c33b32e062d12575cf08650cfe5af42a69d056b50fcce758b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/plasma-nm-5.12.7.tar.xz">plasma-nm-5.12.7</a></td>
   <td align="right">690kB</td>
   <td><tt>6abf8dae149d4605169e0e435286178b106f6e7980d9fdee67acb1a5f222c887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/plasma-pa-5.12.7.1.tar.xz">plasma-pa-5.12.7.1</a></td>
   <td align="right">86kB</td>
   <td><tt>ba444690f1999b9867905087a0f1779e5b299de24d9fea3a85ac0d16eaa82f7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/plasma-sdk-5.12.7.tar.xz">plasma-sdk-5.12.7</a></td>
   <td align="right">240kB</td>
   <td><tt>5d992a23ac0f3af693e608ca0f88aa9381ced048ff76cd41ba4b3d448e341a2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/plasma-tests-5.12.7.tar.xz">plasma-tests-5.12.7</a></td>
   <td align="right">1kB</td>
   <td><tt>3f8fcd900aa42447a3e0d58b4f90bbab89a9a5d2a825a0253d1a92edca220d12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/plasma-vault-5.12.7.tar.xz">plasma-vault-5.12.7</a></td>
   <td align="right">104kB</td>
   <td><tt>0f01cf634366222017574467ad6138de89adf8bc25316bf1fd6ee60ec3e03dce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/plasma-workspace-5.12.7.tar.xz">plasma-workspace-5.12.7</a></td>
   <td align="right">4.3MB</td>
   <td><tt>ec2957d2630a1e99c8fa7de5bcc5fa16a9fd54e66ee8d1d57af6d543ec26024b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/plasma-workspace-wallpapers-5.12.7.tar.xz">plasma-workspace-wallpapers-5.12.7</a></td>
   <td align="right">43MB</td>
   <td><tt>5fb9fdfbee4e4ffd284e07a0c54f667b087dc0ab1493a40f05cd69d44facb1e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/plymouth-kcm-5.12.7.tar.xz">plymouth-kcm-5.12.7</a></td>
   <td align="right">38kB</td>
   <td><tt>97c85803ee1fd2ae7627f70d7c74b968d8eca32266e2a81c99052d1411881679</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/polkit-kde-agent-1-5.12.7.tar.xz">polkit-kde-agent-1-5.12.7</a></td>
   <td align="right">41kB</td>
   <td><tt>3442f00a8a445230b1ad314006c352cd90637086b5d41d6da3cc571ddbf979e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/powerdevil-5.12.7.tar.xz">powerdevil-5.12.7</a></td>
   <td align="right">525kB</td>
   <td><tt>eb363d3a29a78711703dd5247e47091c630c87dcd2c96f54a3e52728251b3f98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/sddm-kcm-5.12.7.tar.xz">sddm-kcm-5.12.7</a></td>
   <td align="right">59kB</td>
   <td><tt>b451c9c7f9dbf546f61bebc0ae356bd653a589a1e04c3f803ff5e63aaed4e078</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/systemsettings-5.12.7.tar.xz">systemsettings-5.12.7</a></td>
   <td align="right">174kB</td>
   <td><tt>565da80e7fae498c84c121fa1c03d280f95fb52cf5f2833101db26e514005ca3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/user-manager-5.12.7.tar.xz">user-manager-5.12.7</a></td>
   <td align="right">532kB</td>
   <td><tt>73078b7630276220ad68762e8c9f7bbe56c1bec5357179557b1b1148b3016caf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.7/xdg-desktop-portal-kde-5.12.7.tar.xz">xdg-desktop-portal-kde-5.12.7</a></td>
   <td align="right">30kB</td>
   <td><tt>8ba623ccd59dbf9b0dd67abf9d8a2b0d32330a9e6a5c30d5fa14037535586b7d</tt></td>
</tr>

</table>
