<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/bluedevil-5.7.3.tar.xz">bluedevil-5.7.3</a></td>
   <td align="right">135kB</td>
   <td><tt>279c4bf379d9ea92349082c8d24c6363ad8ec27886ac87010f1ba3d048a50511</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/breeze-5.7.3.tar.xz">breeze-5.7.3</a></td>
   <td align="right">11MB</td>
   <td><tt>f79c8ad8a770dd36a62e6191e06e9677ee0d85bd1c805b4a583777c2f508d2f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/breeze-grub-5.7.3.tar.xz">breeze-grub-5.7.3</a></td>
   <td align="right">150kB</td>
   <td><tt>ee52244c2ec401664aae59b1115358de1d4db3140b25e3eab0b21ef3c3bb9d76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/breeze-gtk-5.7.3.tar.xz">breeze-gtk-5.7.3</a></td>
   <td align="right">206kB</td>
   <td><tt>c5c46238ac4794bc20cd3e05e62fba01f554790a3408c3dd763325c58084892f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/breeze-plymouth-5.7.3.tar.xz">breeze-plymouth-5.7.3</a></td>
   <td align="right">55kB</td>
   <td><tt>ea8f5a5c23fc0b7945f920a76b0acbece1f579320bacc4492a2fda8cdb663a42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/discover-5.7.3.tar.xz">discover-5.7.3</a></td>
   <td align="right">796kB</td>
   <td><tt>6f997556feb84f04907bbf5b2981d148a5a7075aa175f34e772b4afc5d1598fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/kactivitymanagerd-5.7.3.tar.xz">kactivitymanagerd-5.7.3</a></td>
   <td align="right">78kB</td>
   <td><tt>20e377eda5733f8bdf1bfee8fdf4062f85d85935c21c2dd13c8b3e5c422b552a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/kde-cli-tools-5.7.3.tar.xz">kde-cli-tools-5.7.3</a></td>
   <td align="right">476kB</td>
   <td><tt>e6bf4f728e6b83b59f2ceab720dea9fd1bb9c047b1c0c1f34438184a97fae6dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/kdecoration-5.7.3.tar.xz">kdecoration-5.7.3</a></td>
   <td align="right">34kB</td>
   <td><tt>2c51ee6d2ddce21ba10ab15bc6f57ee3e453c943e64f7861443ba3dbece940cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/kde-gtk-config-5.7.3.tar.xz">kde-gtk-config-5.7.3</a></td>
   <td align="right">144kB</td>
   <td><tt>224115cf95718cef9ee1a20595c372851f3133da69ae5025f05c744f2e99d77a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/kdeplasma-addons-5.7.3.tar.xz">kdeplasma-addons-5.7.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>96bbc077bb713d038c920f3bdf4e89fe0aa0ed68fcccb36226177829b712ac49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/kgamma5-5.7.3.tar.xz">kgamma5-5.7.3</a></td>
   <td align="right">59kB</td>
   <td><tt>b38c977eb93048ac0667abe38df3f5f2a84a149674ed32aadf50f2c2a378f1ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/khotkeys-5.7.3.tar.xz">khotkeys-5.7.3</a></td>
   <td align="right">590kB</td>
   <td><tt>67b992690fb9ae6299e440b48c7620460211cae932ab36ec87ab77c7850407f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/kinfocenter-5.7.3.tar.xz">kinfocenter-5.7.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2988a7eea03d701385bf94d2437871440919b851be41f5b4fb3c11380120c6e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/kmenuedit-5.7.3.tar.xz">kmenuedit-5.7.3</a></td>
   <td align="right">636kB</td>
   <td><tt>4af9ae5064268ad3cf25e675e1ba58d47951a0958174ed259ab308996e981848</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/kscreen-5.7.3.tar.xz">kscreen-5.7.3</a></td>
   <td align="right">106kB</td>
   <td><tt>3c8407bb22a2f4dd3325541232014b6c540477a9101db5ae47c1448399d788fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/kscreenlocker-5.7.3.tar.xz">kscreenlocker-5.7.3</a></td>
   <td align="right">100kB</td>
   <td><tt>b370bc3282d69d2f12adc16276ea70846fe85e50f8920e5ead45445a8162dff6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/ksshaskpass-5.7.3.tar.xz">ksshaskpass-5.7.3</a></td>
   <td align="right">18kB</td>
   <td><tt>103b6b1008f42fae171cc189d2df3d83e5ce60fa82759a8859eff783d65610c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/ksysguard-5.7.3.tar.xz">ksysguard-5.7.3</a></td>
   <td align="right">476kB</td>
   <td><tt>3fb63e37f313302508e8c4afd7034b596c0f476f6a4a6feff2a099cbba9470e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/kwallet-pam-5.7.3.tar.xz">kwallet-pam-5.7.3</a></td>
   <td align="right">17kB</td>
   <td><tt>c43fbfece2c310b923645d79a642be6171e42a9fead04914371474cee887d7d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/kwayland-integration-5.7.3.tar.xz">kwayland-integration-5.7.3</a></td>
   <td align="right">17kB</td>
   <td><tt>36ba2bd05a25e4adc9ca179c285a1ea31b3d8e1fafcdc2f7e443b9315aae91f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/kwin-5.7.3.tar.xz">kwin-5.7.3</a></td>
   <td align="right">3.7MB</td>
   <td><tt>8add5d8d74f7dfad91e97eb1cdebf2bb8e3b62732c20557c10fb6a96b6ac0466</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/kwrited-5.7.3.tar.xz">kwrited-5.7.3</a></td>
   <td align="right">19kB</td>
   <td><tt>f40d1936052194ba4e75672db130e6672f6dcb91d028f2ce3935d972f63ba6e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/libkscreen-5.7.3.tar.xz">libkscreen-5.7.3</a></td>
   <td align="right">88kB</td>
   <td><tt>b1c7003126c3b83ababe031a003a038e714c9d7db07b8769ecd52c271686bffe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/libksysguard-5.7.3.tar.xz">libksysguard-5.7.3</a></td>
   <td align="right">558kB</td>
   <td><tt>caf32ad1936bfb45d31b5f6ceb01849ccf191f5c62872007c82becad27e599bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/milou-5.7.3.tar.xz">milou-5.7.3</a></td>
   <td align="right">52kB</td>
   <td><tt>e7eada8ad6c705f71a77b8460b931ac1bb2e9b32d4c6507feb70e168a7dd589c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/oxygen-5.7.3.tar.xz">oxygen-5.7.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>79f872fe52967279f92c046f9f9aaa4e858ce7599890bfd3f6f7b7207c717278</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/plasma-desktop-5.7.3.tar.xz">plasma-desktop-5.7.3</a></td>
   <td align="right">5.9MB</td>
   <td><tt>4f6ee0e965d2ea619870cab38a91b80e26dde09d7b3874afe8e2ffcfbecb8ede</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/plasma-integration-5.7.3.tar.xz">plasma-integration-5.7.3</a></td>
   <td align="right">47kB</td>
   <td><tt>140e38073ab90c4deb11ac06586a9ea355d9637068ae8df45dc4994a9cac9cf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/plasma-mediacenter-5.7.3.tar.xz">plasma-mediacenter-5.7.3</a></td>
   <td align="right">158kB</td>
   <td><tt>59aa14f24f213e720e5bcc6f861e3f553c28f6c21290a95fda2e0b4fc28db75c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/plasma-nm-5.7.3.tar.xz">plasma-nm-5.7.3</a></td>
   <td align="right">620kB</td>
   <td><tt>9f63f73dbc21127860db8fb027221e7197be1769a9d1a0fdb6e9d120650d5775</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/plasma-pa-5.7.3.tar.xz">plasma-pa-5.7.3</a></td>
   <td align="right">141kB</td>
   <td><tt>3abe7d715e4f28e0c054a321280602789786edd45dd6e74477a7528f08aabc85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/plasma-sdk-5.7.3.tar.xz">plasma-sdk-5.7.3</a></td>
   <td align="right">682kB</td>
   <td><tt>8b8933526127d73f8291c715f1b7caeb74ab905237e34a23a88852ceb27f24f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/plasma-workspace-5.7.3.tar.xz">plasma-workspace-5.7.3</a></td>
   <td align="right">6.5MB</td>
   <td><tt>9894214edb8a7f57cff189790d9b46dd87d4bb1bc5c129ebb510114a373e9042</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/plasma-workspace-wallpapers-5.7.3.tar.xz">plasma-workspace-wallpapers-5.7.3</a></td>
   <td align="right">43MB</td>
   <td><tt>ff559fc487bdeaeedd55d45edabb8404f2a10484ec14400b1a8e99c0a298a210</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/polkit-kde-agent-1-5.7.3.tar.xz">polkit-kde-agent-1-5.7.3</a></td>
   <td align="right">39kB</td>
   <td><tt>782db1ecececc72a20877a85d1d9a48ee9b63aa91bbffabb01fb66e71a1127c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/powerdevil-5.7.3.tar.xz">powerdevil-5.7.3</a></td>
   <td align="right">351kB</td>
   <td><tt>11470ee7aadab865d8d02d2375198c67b98b57a07ecff7fa6f730916216febda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/sddm-kcm-5.7.3.tar.xz">sddm-kcm-5.7.3</a></td>
   <td align="right">47kB</td>
   <td><tt>534eb22dfa185c5109a98e4a967b3d16081cd6eac72034d301167d29a19100e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/systemsettings-5.7.3.tar.xz">systemsettings-5.7.3</a></td>
   <td align="right">154kB</td>
   <td><tt>23fb5c257acc11b9ae033c6e3ea8c1bfe441fca097a34f45e9c1ddcd2ddee61c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.7.3/user-manager-5.7.3.tar.xz">user-manager-5.7.3</a></td>
   <td align="right">273kB</td>
   <td><tt>8b05de61be4c880cf65ecf387644200ef7641ebb192c10aa880f4465aea14f9c</tt></td>
</tr>

</table>
