
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/attica-5.106.0.tar.xz">attica-5.106.0</a></td>
   <td align="right">67kB</td>
   <td><tt>4011d54d0b8528c9893170a2f06bef60ee648dea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/baloo-5.106.0.tar.xz">baloo-5.106.0</a></td>
   <td align="right">299kB</td>
   <td><tt>5f656334cee237b8e26acfb078eb3cdcbed16144</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/bluez-qt-5.106.0.tar.xz">bluez-qt-5.106.0</a></td>
   <td align="right">111kB</td>
   <td><tt>e2986ff13a2a59b6a7360f3a71a22f78b863afaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/breeze-icons-5.106.0.tar.xz">breeze-icons-5.106.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>272ab80d7f860f8661b8830920f06b8b3b2c5009</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/extra-cmake-modules-5.106.0.tar.xz">extra-cmake-modules-5.106.0</a></td>
   <td align="right">323kB</td>
   <td><tt>e8f3ab261c8f53be11b6ce697595bdd788c594d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/frameworkintegration-5.106.0.tar.xz">frameworkintegration-5.106.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>04841ddb609c7acdbb4919d982ca23e0aadaeec8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kactivities-5.106.0.tar.xz">kactivities-5.106.0</a></td>
   <td align="right">71kB</td>
   <td><tt>39b5d8b3ec598c9c069dd4898042039cb487ccca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kactivities-stats-5.106.0.tar.xz">kactivities-stats-5.106.0</a></td>
   <td align="right">82kB</td>
   <td><tt>9c43978d2205b707a33af23e17ff912127dcced8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kapidox-5.106.0.tar.xz">kapidox-5.106.0</a></td>
   <td align="right">194kB</td>
   <td><tt>d45a55ba2837597ffecf6146421a39e7e071ac0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/karchive-5.106.0.tar.xz">karchive-5.106.0</a></td>
   <td align="right">992kB</td>
   <td><tt>7524a132f321d767e48b365e3ad86b4baad266d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kauth-5.106.0.tar.xz">kauth-5.106.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>946a993705e78b8ac28815246581c01a2fceca0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kbookmarks-5.106.0.tar.xz">kbookmarks-5.106.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>38b82b18022e201cb10b1f4a765023a228b2600e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kcalendarcore-5.106.0.tar.xz">kcalendarcore-5.106.0</a></td>
   <td align="right">260kB</td>
   <td><tt>8825a3a7a10a5e647658e78e25770139c19cfabb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kcmutils-5.106.0.tar.xz">kcmutils-5.106.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>0f65556bdd5b1134d26006acef9a4c830fcf3e10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kcodecs-5.106.0.tar.xz">kcodecs-5.106.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>9185c3aac782c2f9eabbdbc6115adaf323358eb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kcompletion-5.106.0.tar.xz">kcompletion-5.106.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>07cebba744bb37662df21a97e58cbef40b66502f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kconfig-5.106.0.tar.xz">kconfig-5.106.0</a></td>
   <td align="right">286kB</td>
   <td><tt>3c937eeaca766c37d7919ec1c6f2b7a9a52fb8db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kconfigwidgets-5.106.0.tar.xz">kconfigwidgets-5.106.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>07934c465c2ea2b6c6c4d334069aa6b8b8c72fa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kcontacts-5.106.0.tar.xz">kcontacts-5.106.0</a></td>
   <td align="right">208kB</td>
   <td><tt>ccc6b5f779fb5e5b6a3958338113e868fe975983</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kcoreaddons-5.106.0.tar.xz">kcoreaddons-5.106.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>d7d1c633c205d64c4551b0dcabea0cdd8a226ede</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kcrash-5.106.0.tar.xz">kcrash-5.106.0</a></td>
   <td align="right">27kB</td>
   <td><tt>46b1bfc86e7dca6bc8dbe1851c4c17a2488ad2ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kdav-5.106.0.tar.xz">kdav-5.106.0</a></td>
   <td align="right">64kB</td>
   <td><tt>759c96e0caddddf4529f7d738f939c83d92cdd50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kdbusaddons-5.106.0.tar.xz">kdbusaddons-5.106.0</a></td>
   <td align="right">47kB</td>
   <td><tt>6569d8abcd20b2572a81c28eb874339f26977987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kdeclarative-5.106.0.tar.xz">kdeclarative-5.106.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>53385477c68f3a160db2c936a35da2a6e97ffc64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kded-5.106.0.tar.xz">kded-5.106.0</a></td>
   <td align="right">40kB</td>
   <td><tt>d29d4ac9a1628f794d8a88928437c81aed6ecf76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kdesu-5.106.0.tar.xz">kdesu-5.106.0</a></td>
   <td align="right">55kB</td>
   <td><tt>e2f7a29cd33a7012b1120bc2c7815d9276d6f1c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kdnssd-5.106.0.tar.xz">kdnssd-5.106.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>74101a1f01b24ffb6fa179ea98735dc4fd04aba2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kdoctools-5.106.0.tar.xz">kdoctools-5.106.0</a></td>
   <td align="right">451kB</td>
   <td><tt>9075f58747c6955186e44d33e0be2971d4d2f0c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kemoticons-5.106.0.tar.xz">kemoticons-5.106.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>1f95c7183db34b79ebb565df5e2c0200851b9331</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kfilemetadata-5.106.0.tar.xz">kfilemetadata-5.106.0</a></td>
   <td align="right">459kB</td>
   <td><tt>8a7e3f40e274c32cac297eb0f849967cc10b21e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kglobalaccel-5.106.0.tar.xz">kglobalaccel-5.106.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>53058b94c5de6868e46df5f30543fb0912685063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kguiaddons-5.106.0.tar.xz">kguiaddons-5.106.0</a></td>
   <td align="right">76kB</td>
   <td><tt>db1c1ccf3a44102df0beefbbe0f5dc0d26b8f707</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kholidays-5.106.0.tar.xz">kholidays-5.106.0</a></td>
   <td align="right">248kB</td>
   <td><tt>e00e06ceddd535e6f7f41c7c2c36f0b787601452</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/ki18n-5.106.0.tar.xz">ki18n-5.106.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>22076e8ce209a49cfab513130b10cbc60b71d07f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kiconthemes-5.106.0.tar.xz">kiconthemes-5.106.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>7a99c219ae4e54c2e7af1d139eb4a5d58853e203</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kidletime-5.106.0.tar.xz">kidletime-5.106.0</a></td>
   <td align="right">30kB</td>
   <td><tt>91371ed05a0630abe2840a72798de96d56f52e54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kimageformats-5.106.0.tar.xz">kimageformats-5.106.0</a></td>
   <td align="right">12MB</td>
   <td><tt>9df1fa903bc6a43b1084b47b242c5f511671ebc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kinit-5.106.0.tar.xz">kinit-5.106.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>b437ec7a3a80f7ed1f352bdceca5bb2db17aab19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kio-5.106.0.tar.xz">kio-5.106.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>f8cb6e2ce0bc502d8f46601585a9edfbf722701a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kirigami2-5.106.0.tar.xz">kirigami2-5.106.0</a></td>
   <td align="right">372kB</td>
   <td><tt>2e71c7f8b18a3206c358aabf4b3a9f1867cd6c76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kitemmodels-5.106.0.tar.xz">kitemmodels-5.106.0</a></td>
   <td align="right">397kB</td>
   <td><tt>f6e6eeda52f6cba28c1655ffe0fb4d83b153fbbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kitemviews-5.106.0.tar.xz">kitemviews-5.106.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>79d32004a14d675864b6f3d3fe44d8b1f4b223ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kjobwidgets-5.106.0.tar.xz">kjobwidgets-5.106.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>2159de4cea09d2fc8870d39f0f11f531380fee78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/knewstuff-5.106.0.tar.xz">knewstuff-5.106.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>b62d393e029e49fe1a61dbb9e423ca6228f51d01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/knotifications-5.106.0.tar.xz">knotifications-5.106.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>4c5c6c767add2b8f03bbeb6bbe1edf18f6a6951c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/knotifyconfig-5.106.0.tar.xz">knotifyconfig-5.106.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>d28006a1c38e1938b84792fdd9a6fdda36a7aefd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kpackage-5.106.0.tar.xz">kpackage-5.106.0</a></td>
   <td align="right">182kB</td>
   <td><tt>fb3d11fae27c46af7938b2e196962f408b18045e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kparts-5.106.0.tar.xz">kparts-5.106.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>ceb7d42d6eebf94a03f0cdff017a2f9b8f35c3e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kpeople-5.106.0.tar.xz">kpeople-5.106.0</a></td>
   <td align="right">61kB</td>
   <td><tt>1d95dc942ec418156b60862b24d6f9d13b626e0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kplotting-5.106.0.tar.xz">kplotting-5.106.0</a></td>
   <td align="right">32kB</td>
   <td><tt>f8985a5d43a0d6b600d84655c1d87d93b173cbf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kpty-5.106.0.tar.xz">kpty-5.106.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>663e76dea97c94bb19ecc5ce38f4da3ad602345e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kquickcharts-5.106.0.tar.xz">kquickcharts-5.106.0</a></td>
   <td align="right">110kB</td>
   <td><tt>0a1f47953d9ab2acc23c2e15fa144b734d7a2afb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/krunner-5.106.0.tar.xz">krunner-5.106.0</a></td>
   <td align="right">86kB</td>
   <td><tt>dd16defe332fdaee854da0afa9e17f9f4ecddcba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kservice-5.106.0.tar.xz">kservice-5.106.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>cdc310e28b9c5adc0c5c8b239fe324f212b4abee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/ktexteditor-5.106.0.tar.xz">ktexteditor-5.106.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>fc648a97ad18fd2dbbc22685956f03a1b227d1ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/ktextwidgets-5.106.0.tar.xz">ktextwidgets-5.106.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>e0de93c25c298576c27efeb119d5a32f7c2d836e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kunitconversion-5.106.0.tar.xz">kunitconversion-5.106.0</a></td>
   <td align="right">911kB</td>
   <td><tt>f3c223d8931ebdf26f5d2a6dd84313447b95f189</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kwallet-5.106.0.tar.xz">kwallet-5.106.0</a></td>
   <td align="right">339kB</td>
   <td><tt>48dac2d427f4a2186a887e9fb1fed26ec1b60549</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kwayland-5.106.0.tar.xz">kwayland-5.106.0</a></td>
   <td align="right">328kB</td>
   <td><tt>b9c5c4f04e377257f9292dab01ef6a7de542e006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kwidgetsaddons-5.106.0.tar.xz">kwidgetsaddons-5.106.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>f81db92fdcc42c5b50fca607a96133d975ed0d59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kwindowsystem-5.106.0.tar.xz">kwindowsystem-5.106.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>5c0182d5d3ac7f889ace874acde8e24f2669e540</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/kxmlgui-5.106.0.tar.xz">kxmlgui-5.106.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>03e44db5e96f74cc77a9333b8d241d2d355142d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/modemmanager-qt-5.106.0.tar.xz">modemmanager-qt-5.106.0</a></td>
   <td align="right">118kB</td>
   <td><tt>0258c924effb845c5cc73d16efccee45c31b5f61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/networkmanager-qt-5.106.0.tar.xz">networkmanager-qt-5.106.0</a></td>
   <td align="right">193kB</td>
   <td><tt>e439927c4cd4e28e00ce10e4cf2232d740880a26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/oxygen-icons5-5.106.0.tar.xz">oxygen-icons5-5.106.0</a></td>
   <td align="right">227MB</td>
   <td><tt>d655e56be2079ca0e77ecb5c33e6d9f9b755b7a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/plasma-framework-5.106.0.tar.xz">plasma-framework-5.106.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>19f29c704e0ff27e52c8e24751d12cfb81f5d587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/prison-5.106.0.tar.xz">prison-5.106.0</a></td>
   <td align="right">53kB</td>
   <td><tt>a2fd73ed53dd303918c80b356d9432aaaac256ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/purpose-5.106.0.tar.xz">purpose-5.106.0</a></td>
   <td align="right">173kB</td>
   <td><tt>27afc2e4d3a4ea59d08e62d5166a031ff16e2148</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/qqc2-desktop-style-5.106.0.tar.xz">qqc2-desktop-style-5.106.0</a></td>
   <td align="right">67kB</td>
   <td><tt>dcc0de3c72202ecd364a2f4b12808d0139ab512b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/solid-5.106.0.tar.xz">solid-5.106.0</a></td>
   <td align="right">298kB</td>
   <td><tt>92f2ab0df363840fb47a90fee6f8aa45dcc8eb0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/sonnet-5.106.0.tar.xz">sonnet-5.106.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>1c3c565943220b59225180d953107a20fbe87edd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/syndication-5.106.0.tar.xz">syndication-5.106.0</a></td>
   <td align="right">498kB</td>
   <td><tt>cb2ef14dbf180062895e8d9ebdb54eb591bed791</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/syntax-highlighting-5.106.0.tar.xz">syntax-highlighting-5.106.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>f87671e10904a3b4ba13991aec0e1b054dfb0c4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.106/threadweaver-5.106.0.tar.xz">threadweaver-5.106.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>801e9f81c12761a57c6965e951995c3ef66b4748</tt></td>
</tr>

</table>
