<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/bluedevil-5.22.3.tar.xz">bluedevil-5.22.3</a></td>
   <td align="right">158kB</td>
   <td><tt>95b8c00cbc7b0eda9af8e9d934384148a1e25a329d529fb0d6b0cac00623f8e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/breeze-5.22.3.tar.xz">breeze-5.22.3</a></td>
   <td align="right">32MB</td>
   <td><tt>2b8c20e9bea767ed796e0ba5adee30812c73591c000bbf79855d504303f120e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/breeze-grub-5.22.3.tar.xz">breeze-grub-5.22.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>fe99c1aa829a82d662f936c1780add7dde29f40f4c9c94d997dc6575b498201a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/breeze-gtk-5.22.3.tar.xz">breeze-gtk-5.22.3</a></td>
   <td align="right">46kB</td>
   <td><tt>cff20c1605a09a85966a5d03f323fd8ad6b94828c347b68cbc874d896e0c7dbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/breeze-plymouth-5.22.3.tar.xz">breeze-plymouth-5.22.3</a></td>
   <td align="right">106kB</td>
   <td><tt>b995b02169c6f5761e30dee443fbdc45d68eef5cba1bf9eda58a5e50a614fd0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/discover-5.22.3.tar.xz">discover-5.22.3</a></td>
   <td align="right">8.0MB</td>
   <td><tt>1e293d000afdb3db8066a5164c385c8f7138fbc3fb244bcc341f904a30e723a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/drkonqi-5.22.3.tar.xz">drkonqi-5.22.3</a></td>
   <td align="right">763kB</td>
   <td><tt>63e9de390c595b7833623ff41434b5e24279e6f5e58e87d7726286755b064e26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/kactivitymanagerd-5.22.3.tar.xz">kactivitymanagerd-5.22.3</a></td>
   <td align="right">100kB</td>
   <td><tt>5d47666f5d82771e7cf7d81e6063a912ecf44001199a25470b246e0244d250c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/kde-cli-tools-5.22.3.tar.xz">kde-cli-tools-5.22.3</a></td>
   <td align="right">611kB</td>
   <td><tt>040f75a3ec3cda88090edbade9b4e2c333a0bdc979e65b50f85d5cd05c31acf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/kdecoration-5.22.3.tar.xz">kdecoration-5.22.3</a></td>
   <td align="right">46kB</td>
   <td><tt>b760c5e5a6baf927589f2c1e38937a7963f0df17831747a12583f933227efead</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/kde-gtk-config-5.22.3.tar.xz">kde-gtk-config-5.22.3</a></td>
   <td align="right">69kB</td>
   <td><tt>c84bcdc88397e5db71285c6dca50ff495aa0b853c1ab3657aba4ca71170601d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/kdeplasma-addons-5.22.3.tar.xz">kdeplasma-addons-5.22.3</a></td>
   <td align="right">618kB</td>
   <td><tt>d0a62c1d8a4d2fd66028520f7bfc07e532f966366f754d435a0a52a9d3a6a3c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/kgamma5-5.22.3.tar.xz">kgamma5-5.22.3</a></td>
   <td align="right">81kB</td>
   <td><tt>4c27add40650c326f820bd013045b9b813b1cc4efb00fcf187bbc8bbc854f2ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/khotkeys-5.22.3.tar.xz">khotkeys-5.22.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>854edb9feca05ac891e13a6cbfadd9eecede38e0121fb767b44b732bc0b4e000</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/kinfocenter-5.22.3.tar.xz">kinfocenter-5.22.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>6b3009206f0a44c4f93bfa89c1ad6a5ef8387de8d06e3e7e29adb59458846be2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/kmenuedit-5.22.3.tar.xz">kmenuedit-5.22.3</a></td>
   <td align="right">878kB</td>
   <td><tt>bd8330bdf10e453ed13ee5c055ec496b0c6b090113a68fd5a97ef4bf2be8bbd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/kscreen-5.22.3.tar.xz">kscreen-5.22.3</a></td>
   <td align="right">114kB</td>
   <td><tt>56be75468c690b52b8ce01ee77b0d475c60c07460f2b17bc1b58439b072d5125</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/kscreenlocker-5.22.3.tar.xz">kscreenlocker-5.22.3</a></td>
   <td align="right">114kB</td>
   <td><tt>d71992dbd57a1c7f3051a5b98898d791e9ae2db128b63843332d9e68f75d3285</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/ksshaskpass-5.22.3.tar.xz">ksshaskpass-5.22.3</a></td>
   <td align="right">23kB</td>
   <td><tt>d935bccdd20c18eefee7ce4f25d0c56a3ffe491839c58f79f5d7fb81e4f8f6ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/ksystemstats-5.22.3.tar.xz">ksystemstats-5.22.3</a></td>
   <td align="right">84kB</td>
   <td><tt>6adaec9e1d54fce3d990a67b6460edb1f36b5a4c3633a3b8b5fdd68c2ca3295c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/kwallet-pam-5.22.3.tar.xz">kwallet-pam-5.22.3</a></td>
   <td align="right">19kB</td>
   <td><tt>af217af41ea10eb65e9ed171d84328b04f4e3ab6a791b69af61064fc72e14d74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/kwayland-integration-5.22.3.tar.xz">kwayland-integration-5.22.3</a></td>
   <td align="right">22kB</td>
   <td><tt>3f5a3069026d4e71fd4c7ac47265862cc61550e8a72380e529343079c942ca24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/kwayland-server-5.22.3.tar.xz">kwayland-server-5.22.3</a></td>
   <td align="right">213kB</td>
   <td><tt>d6b04984a3a1940d448b1cf78bbb895889718a7ed86222f14fb2b424a465bd30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/kwin-5.22.3.tar.xz">kwin-5.22.3</a></td>
   <td align="right">6.1MB</td>
   <td><tt>bc995b6c74ebfad98819cb595f2622ecae24e5a23964e9e646da5418ee016d0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/kwrited-5.22.3.tar.xz">kwrited-5.22.3</a></td>
   <td align="right">19kB</td>
   <td><tt>56daefff0fe0bdff3801393904be93325d63a9291acbcf0d571b8e4884ac7018</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/layer-shell-qt-5.22.3.tar.xz">layer-shell-qt-5.22.3</a></td>
   <td align="right">17kB</td>
   <td><tt>d85ec7f7aa8a90fe454a4087cfebf17d1827ecf8871abd814f2e05621086ce4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/libkscreen-5.22.3.tar.xz">libkscreen-5.22.3</a></td>
   <td align="right">93kB</td>
   <td><tt>01d03c3ab827a67e2bea55778e6e4e9d61639bf04208061219066a44d7ef10f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/libksysguard-5.22.3.tar.xz">libksysguard-5.22.3</a></td>
   <td align="right">719kB</td>
   <td><tt>50b6f881483f3c66843a8506f66cd5bec190b7b980cf9d2ed84c774edea8596a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/milou-5.22.3.tar.xz">milou-5.22.3</a></td>
   <td align="right">51kB</td>
   <td><tt>3901b6e320c5f0618b112d27ec6e31854aeb80d9fd94ef37e826e461ad3e9e61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/oxygen-5.22.3.tar.xz">oxygen-5.22.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>a51ec2a3f51a27885f707aa087a7165a2aef3ac284353eafeaaeccef6211e4ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/plasma-browser-integration-5.22.3.tar.xz">plasma-browser-integration-5.22.3</a></td>
   <td align="right">208kB</td>
   <td><tt>baf3839e5f40395761e515e1837ba5bc685bf62b794767a821e9a9db99ffb79a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/plasma-desktop-5.22.3.tar.xz">plasma-desktop-5.22.3</a></td>
   <td align="right">15MB</td>
   <td><tt>bd5b838572517859e7fda51f39ed599799e3b758b3edddc3865dd6b63a37d610</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/plasma-disks-5.22.3.tar.xz">plasma-disks-5.22.3</a></td>
   <td align="right">82kB</td>
   <td><tt>14106642d667a6b10e02587279ffd937a2e74b4fec89156d95831c31daab66a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/plasma-firewall-5.22.3.tar.xz">plasma-firewall-5.22.3</a></td>
   <td align="right">331kB</td>
   <td><tt>0d44b4acef8dd88b9be131b215b7a385b71884022f94b9c61c293c8357056024</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/plasma-integration-5.22.3.tar.xz">plasma-integration-5.22.3</a></td>
   <td align="right">64kB</td>
   <td><tt>18f254cd1de0f7f21aae364f93bdef5e195f3595eb616bd63fe10efb41e0ba0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/plasma-nano-5.22.3.tar.xz">plasma-nano-5.22.3</a></td>
   <td align="right">63kB</td>
   <td><tt>e69a1ced044462e5265fa7d4fb439c62c90c0555e2ea0adc6e02d4bb15971480</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/plasma-nm-5.22.3.tar.xz">plasma-nm-5.22.3</a></td>
   <td align="right">878kB</td>
   <td><tt>3d66e0fd5e8747890c9e3dabde790b962686b3f88be305aec42d0aa38a24b8c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/plasma-pa-5.22.3.tar.xz">plasma-pa-5.22.3</a></td>
   <td align="right">124kB</td>
   <td><tt>0ad82a275abfb7fe2519e5d3591064db4e62c725a24089a7a21e15eb70428aa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/plasma-phone-components-5.22.3.tar.xz">plasma-phone-components-5.22.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>b457fd4e64a1b59fe1a027868d35e4f909b326734aa578340d6a20cf542297de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/plasma-sdk-5.22.3.tar.xz">plasma-sdk-5.22.3</a></td>
   <td align="right">263kB</td>
   <td><tt>d26ad80dcb1ec504327339ccdb550600589461bafe9517b050538ac54b8dc742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/plasma-systemmonitor-5.22.3.tar.xz">plasma-systemmonitor-5.22.3</a></td>
   <td align="right">130kB</td>
   <td><tt>c9984f0e88a39590ca464e3f3806a3be03c52217a2d045fa72b200b25991e4d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/plasma-tests-5.22.3.tar.xz">plasma-tests-5.22.3</a></td>
   <td align="right">1kB</td>
   <td><tt>3f2d50a5e3633af3c0d17f3352d528f9b5db85d239bb31a45424f716c9ac6f63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/plasma-thunderbolt-5.22.3.tar.xz">plasma-thunderbolt-5.22.3</a></td>
   <td align="right">62kB</td>
   <td><tt>3fdf30c05bb383e8b5096e2d1c30ced07df9580549bd95d3dbff31f589b3bbb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/plasma-vault-5.22.3.tar.xz">plasma-vault-5.22.3</a></td>
   <td align="right">166kB</td>
   <td><tt>d31adbc94dd0a313c48486611ac25c0796506a4e6273b874936e99af575d6d8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/plasma-workspace-5.22.3.tar.xz">plasma-workspace-5.22.3</a></td>
   <td align="right">7.9MB</td>
   <td><tt>d95c0a1557a112aabcf502656b7554e88130dfcae0515c0014669304faa5a4d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/plasma-workspace-wallpapers-5.22.3.tar.xz">plasma-workspace-wallpapers-5.22.3</a></td>
   <td align="right">48MB</td>
   <td><tt>e3e2ee7bc6cf46c8976644c15a7fc5bb96354c07840fca8a2da3fc9ddd375e75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/plymouth-kcm-5.22.3.tar.xz">plymouth-kcm-5.22.3</a></td>
   <td align="right">37kB</td>
   <td><tt>29f045a56bc706cf626a6483b2a094edadd7d13438999535dfdc81d88f409677</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/polkit-kde-agent-1-5.22.3.tar.xz">polkit-kde-agent-1-5.22.3</a></td>
   <td align="right">44kB</td>
   <td><tt>9c49d885df54a8edf931b859f677c5126b82cf4436d17d64d831d5151fce4d9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/powerdevil-5.22.3.tar.xz">powerdevil-5.22.3</a></td>
   <td align="right">603kB</td>
   <td><tt>64ed0741308c4e488e9fc049bde5a7c391ef7e8c12cdb055456f9c3b3deaffc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/qqc2-breeze-style-5.22.3.tar.xz">qqc2-breeze-style-5.22.3</a></td>
   <td align="right">64kB</td>
   <td><tt>76d4c14c95fbee5cc39b4ce0cfb594c128749e9425a451ce743a194234aed7dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/sddm-kcm-5.22.3.tar.xz">sddm-kcm-5.22.3</a></td>
   <td align="right">62kB</td>
   <td><tt>f705397b66dae8c3ddeb0787d9831c0c8beae6347b7c00070597de327110e4b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/systemsettings-5.22.3.tar.xz">systemsettings-5.22.3</a></td>
   <td align="right">199kB</td>
   <td><tt>7817cbfd957221d1d638c087d60f93a93db6000cbe7240fd85885b32774ae941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.3/xdg-desktop-portal-kde-5.22.3.tar.xz">xdg-desktop-portal-kde-5.22.3</a></td>
   <td align="right">84kB</td>
   <td><tt>b8285db377708f90e8f9471d8cc2e4d3141248099e8af8a408498c7b37b7ecbd</tt></td>
</tr>

</table>
