<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/akonadi-22.07.90.tar.xz">akonadi-22.07.90</a></td>
   <td align="right">1592kB</td>
   <td><tt>4ee05ea738e2e5cb03321c2ae22681621006bd66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/akonadi-calendar-22.07.90.tar.xz">akonadi-calendar-22.07.90</a></td>
   <td align="right">385kB</td>
   <td><tt>827d30506005d7ac547f925736bba4038361e8b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/akonadi-calendar-tools-22.07.90.tar.xz">akonadi-calendar-tools-22.07.90</a></td>
   <td align="right">232kB</td>
   <td><tt>0d65d12a5d713bc8a6203ab03670ef8432e382ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/akonadiconsole-22.07.90.tar.xz">akonadiconsole-22.07.90</a></td>
   <td align="right">195kB</td>
   <td><tt>ceb8f56ecdfff07ca81804639029be4294aabba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/akonadi-contacts-22.07.90.tar.xz">akonadi-contacts-22.07.90</a></td>
   <td align="right">417kB</td>
   <td><tt>637e8089c561f4887805e306686f8056c6754194</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/akonadi-import-wizard-22.07.90.tar.xz">akonadi-import-wizard-22.07.90</a></td>
   <td align="right">500kB</td>
   <td><tt>c6085a590f3555fe2842b33f611659eac11f8459</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/akonadi-mime-22.07.90.tar.xz">akonadi-mime-22.07.90</a></td>
   <td align="right">146kB</td>
   <td><tt>1124aab61bcb6f46a5d4296446797b218894d4ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/akonadi-notes-22.07.90.tar.xz">akonadi-notes-22.07.90</a></td>
   <td align="right">26kB</td>
   <td><tt>37759b6402d3611d335895e186f4d68a2ce433dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/akonadi-search-22.07.90.tar.xz">akonadi-search-22.07.90</a></td>
   <td align="right">97kB</td>
   <td><tt>61cc65483b8270598a2173546c399d75322d2d15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/akregator-22.07.90.tar.xz">akregator-22.07.90</a></td>
   <td align="right">2200kB</td>
   <td><tt>b41f10c80e1fdc1971356cba84ff26e80f48117a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/analitza-22.07.90.tar.xz">analitza-22.07.90</a></td>
   <td align="right">340kB</td>
   <td><tt>660198237972e0e49d5a725c7467730e489cbcf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ark-22.07.90.tar.xz">ark-22.07.90</a></td>
   <td align="right">2717kB</td>
   <td><tt>3976c8ab5deee94a70338b955bc460651ba4089d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/artikulate-22.07.90.tar.xz">artikulate-22.07.90</a></td>
   <td align="right">1071kB</td>
   <td><tt>73d0b9cc57ddffcfd083e70b1311ce2d3c1088ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/audiocd-kio-22.07.90.tar.xz">audiocd-kio-22.07.90</a></td>
   <td align="right">513kB</td>
   <td><tt>bdc3f2832524c1e0ebf1fb21309b4e00087c67e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/baloo-widgets-22.07.90.tar.xz">baloo-widgets-22.07.90</a></td>
   <td align="right">266kB</td>
   <td><tt>3d1e71ca26ab4615798e2d03ee669e0a996330f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/blinken-22.07.90.tar.xz">blinken-22.07.90</a></td>
   <td align="right">2651kB</td>
   <td><tt>ff4b04b263330b46b269cfc26de98171c62ca545</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/bomber-22.07.90.tar.xz">bomber-22.07.90</a></td>
   <td align="right">814kB</td>
   <td><tt>cc3308cde347b55cb2f2b170fc36e174681bae2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/bovo-22.07.90.tar.xz">bovo-22.07.90</a></td>
   <td align="right">205kB</td>
   <td><tt>a452f18569457859e9ff5490eb9f7a9305450c1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/calendarsupport-22.07.90.tar.xz">calendarsupport-22.07.90</a></td>
   <td align="right">733kB</td>
   <td><tt>919ee1043b5cc73604d440ed92358b1afdd675a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/cantor-22.07.90.tar.xz">cantor-22.07.90</a></td>
   <td align="right">9001kB</td>
   <td><tt>156f6a2de0e553d13e58536e3e7b2ed98afe98f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/cervisia-22.07.90.tar.xz">cervisia-22.07.90</a></td>
   <td align="right">1869kB</td>
   <td><tt>98b7e15783c6f0d317e1fb3bd24b19d852526257</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/dolphin-22.07.90.tar.xz">dolphin-22.07.90</a></td>
   <td align="right">5243kB</td>
   <td><tt>09450e4ccbc902f537c1884ea9cd9cf618b0805f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/dolphin-plugins-22.07.90.tar.xz">dolphin-plugins-22.07.90</a></td>
   <td align="right">251kB</td>
   <td><tt>297d92e4bfd7f638fb3592df005aa3facb9d2ee5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/dragon-22.07.90.tar.xz">dragon-22.07.90</a></td>
   <td align="right">1627kB</td>
   <td><tt>4f37b67d376ba8bcefe9663fb9c9eb5ff69b3a5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/elisa-22.07.90.tar.xz">elisa-22.07.90</a></td>
   <td align="right">1726kB</td>
   <td><tt>63b744de772f2adfd0ee7f77c54c390a1a61d5df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/eventviews-22.07.90.tar.xz">eventviews-22.07.90</a></td>
   <td align="right">449kB</td>
   <td><tt>7de2677faac86b92fc5f9e6f9cec8651aa649529</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/falkon-22.07.90.tar.xz">falkon-22.07.90</a></td>
   <td align="right">2440kB</td>
   <td><tt>71a86c0fdf055ace091c32082a7dbfb7645b90e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ffmpegthumbs-22.07.90.tar.xz">ffmpegthumbs-22.07.90</a></td>
   <td align="right">30kB</td>
   <td><tt>4e7b3318e9c01ddb29550f134a01b4a6861b26a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/filelight-22.07.90.tar.xz">filelight-22.07.90</a></td>
   <td align="right">681kB</td>
   <td><tt>9baf976f7425bdeabd3fa01994ac4e11d6a792e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/granatier-22.07.90.tar.xz">granatier-22.07.90</a></td>
   <td align="right">2057kB</td>
   <td><tt>949d0a6f6ece588e29ce3af477a7e6d6866acd16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/grantlee-editor-22.07.90.tar.xz">grantlee-editor-22.07.90</a></td>
   <td align="right">110kB</td>
   <td><tt>32d570dd78e9df1ceeb5a9df81d4ebe7a8e6b5c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/grantleetheme-22.07.90.tar.xz">grantleetheme-22.07.90</a></td>
   <td align="right">60kB</td>
   <td><tt>60ac6b42ec753244133e1defcc1fe3213d164c3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/gwenview-22.07.90.tar.xz">gwenview-22.07.90</a></td>
   <td align="right">6664kB</td>
   <td><tt>d54688df92aba52778c9827011b1bc92cbb37976</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/incidenceeditor-22.07.90.tar.xz">incidenceeditor-22.07.90</a></td>
   <td align="right">546kB</td>
   <td><tt>891d8abb83e98efcacd0f464dcf4ad7b92303597</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/itinerary-22.07.90.tar.xz">itinerary-22.07.90</a></td>
   <td align="right">553kB</td>
   <td><tt>6f1ffa1193db3e57b32a4a885f098b919256f883</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/juk-22.07.90.tar.xz">juk-22.07.90</a></td>
   <td align="right">1968kB</td>
   <td><tt>f258dbae3a937ad4152b60a02cc67fa2bdcf6972</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/k3b-22.07.90.tar.xz">k3b-22.07.90</a></td>
   <td align="right">10495kB</td>
   <td><tt>5d5ac94ba45997b355aa376adca8e4012a92eb61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kaccounts-integration-22.07.90.tar.xz">kaccounts-integration-22.07.90</a></td>
   <td align="right">86kB</td>
   <td><tt>477560ff143f1a6a2ae323e681a100f891163078</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kaccounts-providers-22.07.90.tar.xz">kaccounts-providers-22.07.90</a></td>
   <td align="right">63kB</td>
   <td><tt>359f305743a4a35a39f488721aea858591b6e33e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kaddressbook-22.07.90.tar.xz">kaddressbook-22.07.90</a></td>
   <td align="right">3254kB</td>
   <td><tt>17f12c84239137a6115626f4a49e33782ea926f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kajongg-22.07.90.tar.xz">kajongg-22.07.90</a></td>
   <td align="right">4459kB</td>
   <td><tt>5a83c8ab790d733be305d9423404783b484cb413</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kalarm-22.07.90.tar.xz">kalarm-22.07.90</a></td>
   <td align="right">2309kB</td>
   <td><tt>2cde87500d3f38708b16e232a4d3e7d67671d136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kalendar-22.07.90.tar.xz">kalendar-22.07.90</a></td>
   <td align="right">448kB</td>
   <td><tt>3921aff4deb85e4f9d96b29b25ce22a886baa726</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kalgebra-22.07.90.tar.xz">kalgebra-22.07.90</a></td>
   <td align="right">1008kB</td>
   <td><tt>2f3a6674ee59cf1e3bd93c557f066709beed3dc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kalzium-22.07.90.tar.xz">kalzium-22.07.90</a></td>
   <td align="right">23880kB</td>
   <td><tt>e8491fb1cb1a167de4aa721c759800c05d9638e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kamera-22.07.90.tar.xz">kamera-22.07.90</a></td>
   <td align="right">116kB</td>
   <td><tt>19808eb8efdcc47ea5826ca2f8f6cffbfa07c327</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kamoso-22.07.90.tar.xz">kamoso-22.07.90</a></td>
   <td align="right">222kB</td>
   <td><tt>6edd532896acc4f5ada4e220be51830ecaa65888</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kanagram-22.07.90.tar.xz">kanagram-22.07.90</a></td>
   <td align="right">7857kB</td>
   <td><tt>7c699cff7150cccb5a6d3bc65288eebb00ceb37a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kapman-22.07.90.tar.xz">kapman-22.07.90</a></td>
   <td align="right">2418kB</td>
   <td><tt>c23f82c8433347f2ce89bbc89a61341cbc490e8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kapptemplate-22.07.90.tar.xz">kapptemplate-22.07.90</a></td>
   <td align="right">326kB</td>
   <td><tt>c40e40bf449e4b30d0d6e73a61b62ae10d542160</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kate-22.07.90.tar.xz">kate-22.07.90</a></td>
   <td align="right">7476kB</td>
   <td><tt>1d0f55d82c5c70758d88c4308624e46b196232cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/katomic-22.07.90.tar.xz">katomic-22.07.90</a></td>
   <td align="right">1403kB</td>
   <td><tt>d7635b885fd2f4a70a789b8b246f274a57a6420a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kbackup-22.07.90.tar.xz">kbackup-22.07.90</a></td>
   <td align="right">383kB</td>
   <td><tt>4f3abdf5040814a0bb849922fdca49ccb0dc6740</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kblackbox-22.07.90.tar.xz">kblackbox-22.07.90</a></td>
   <td align="right">516kB</td>
   <td><tt>8d0b3b4bd2004e185564b6b24be43adbf0d4c931</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kblocks-22.07.90.tar.xz">kblocks-22.07.90</a></td>
   <td align="right">2054kB</td>
   <td><tt>ce10e922dc25965d2e3f55de4e0786298dc0d01f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kbounce-22.07.90.tar.xz">kbounce-22.07.90</a></td>
   <td align="right">3449kB</td>
   <td><tt>8b07450ebcf3462f6d401536a54bbd1332825f4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kbreakout-22.07.90.tar.xz">kbreakout-22.07.90</a></td>
   <td align="right">2494kB</td>
   <td><tt>e07d1ae555cf8d439b38f3f36b6b89f86096a9f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kbruch-22.07.90.tar.xz">kbruch-22.07.90</a></td>
   <td align="right">5501kB</td>
   <td><tt>b77739447e6a99daa35f42bfc8cb3a6957539be2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kcachegrind-22.07.90.tar.xz">kcachegrind-22.07.90</a></td>
   <td align="right">858kB</td>
   <td><tt>4d2981ba1160086ed1a947453615929216399cf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kcalc-22.07.90.tar.xz">kcalc-22.07.90</a></td>
   <td align="right">385kB</td>
   <td><tt>4a9453beb56c52a814ad186f0dd6fdef9c5bb893</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kcalutils-22.07.90.tar.xz">kcalutils-22.07.90</a></td>
   <td align="right">340kB</td>
   <td><tt>82611bb72599cc707a1ffc8b81e76d1cf21a6773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kcharselect-22.07.90.tar.xz">kcharselect-22.07.90</a></td>
   <td align="right">366kB</td>
   <td><tt>8885bb316b656bacf00b528c5b24c13417b4db4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kcolorchooser-22.07.90.tar.xz">kcolorchooser-22.07.90</a></td>
   <td align="right">30kB</td>
   <td><tt>ac383535ba847b4411010e42d1059ccb6f0aa1e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kcron-22.07.90.tar.xz">kcron-22.07.90</a></td>
   <td align="right">895kB</td>
   <td><tt>85c41af0e3a73857a9d08d69e0d7e1d26eb9f114</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kdebugsettings-22.07.90.tar.xz">kdebugsettings-22.07.90</a></td>
   <td align="right">91kB</td>
   <td><tt>49ad8285d3effdc471ea4dddd374f980f799448d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kdeconnect-kde-22.07.90.tar.xz">kdeconnect-kde-22.07.90</a></td>
   <td align="right">604kB</td>
   <td><tt>83fae9558bad7426fe97a30b61005b0d2dfc0b8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kde-dev-scripts-22.07.90.tar.xz">kde-dev-scripts-22.07.90</a></td>
   <td align="right">358kB</td>
   <td><tt>511eb6fa95b00b1cdd67b75ca544df5eefed9da6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kde-dev-utils-22.07.90.tar.xz">kde-dev-utils-22.07.90</a></td>
   <td align="right">67kB</td>
   <td><tt>1691661f562ffd7546ab18d9d3eaf889887cbb64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kdeedu-data-22.07.90.tar.xz">kdeedu-data-22.07.90</a></td>
   <td align="right">328kB</td>
   <td><tt>efee156e456c0503b44b82204dbda641a76f0771</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kdegraphics-mobipocket-22.07.90.tar.xz">kdegraphics-mobipocket-22.07.90</a></td>
   <td align="right">12kB</td>
   <td><tt>5cf973c5cc0c8c55dd5bd0e69cdd8257e17cdcd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kdegraphics-thumbnailers-22.07.90.tar.xz">kdegraphics-thumbnailers-22.07.90</a></td>
   <td align="right">47kB</td>
   <td><tt>0141f84e575b1deb0704c6b1fa47ef8d75b60a10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kdenetwork-filesharing-22.07.90.tar.xz">kdenetwork-filesharing-22.07.90</a></td>
   <td align="right">369kB</td>
   <td><tt>70e281036ec0180e0ddbc52e72ec7c48ac695a6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kdenlive-22.07.90.tar.xz">kdenlive-22.07.90</a></td>
   <td align="right">12136kB</td>
   <td><tt>5e39f0c9ebc208fa870d7936cbc972a2723f82dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kdepim-addons-22.07.90.tar.xz">kdepim-addons-22.07.90</a></td>
   <td align="right">2235kB</td>
   <td><tt>52d5aba32fe45134c183a8d1c24d359b6bfdec8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kdepim-runtime-22.07.90.tar.xz">kdepim-runtime-22.07.90</a></td>
   <td align="right">1754kB</td>
   <td><tt>c855654ef22ffb8121ac856af7703a08f97b709b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kdesdk-kio-22.07.90.tar.xz">kdesdk-kio-22.07.90</a></td>
   <td align="right">38kB</td>
   <td><tt>6beb26345711ea5fda2cf63f5a6ffdefeac294dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kdesdk-thumbnailers-22.07.90.tar.xz">kdesdk-thumbnailers-22.07.90</a></td>
   <td align="right">26kB</td>
   <td><tt>04017d1f822e9aa32c6402da04d0b7b3142ea96e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kdevelop-22.07.90.tar.xz">kdevelop-22.07.90</a></td>
   <td align="right">8247kB</td>
   <td><tt>9e1172d7f5e9e19518f2106f7c969057f97b638b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kdev-php-22.07.90.tar.xz">kdev-php-22.07.90</a></td>
   <td align="right">1055kB</td>
   <td><tt>465c05078aea647b8ad0c72030c4e451ff187881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kdev-python-22.07.90.tar.xz">kdev-python-22.07.90</a></td>
   <td align="right">1065kB</td>
   <td><tt>3cac0980c06a68e461efe8dfe4a9313c97fd488d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kdf-22.07.90.tar.xz">kdf-22.07.90</a></td>
   <td align="right">466kB</td>
   <td><tt>fef6ccf0f0e1aba3489d09e4b08c685087d5751a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kdialog-22.07.90.tar.xz">kdialog-22.07.90</a></td>
   <td align="right">113kB</td>
   <td><tt>27773c3f198d6ba8535b89bd9f3da87147ef9ec3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kdiamond-22.07.90.tar.xz">kdiamond-22.07.90</a></td>
   <td align="right">4593kB</td>
   <td><tt>dc172b20b69ece5e7ed4e62ba7ac0ee93aa77c57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/keditbookmarks-22.07.90.tar.xz">keditbookmarks-22.07.90</a></td>
   <td align="right">199kB</td>
   <td><tt>1b1004ee69b25a81bc538901c7181cdfa1b04718</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kfind-22.07.90.tar.xz">kfind-22.07.90</a></td>
   <td align="right">283kB</td>
   <td><tt>284780c20aaa201e57e37a3a66fd5b9f44716ef7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kfloppy-22.07.90.tar.xz">kfloppy-22.07.90</a></td>
   <td align="right">208kB</td>
   <td><tt>57d5c8943ea64658a4661b3113cc3fcddf65852b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kfourinline-22.07.90.tar.xz">kfourinline-22.07.90</a></td>
   <td align="right">705kB</td>
   <td><tt>10581ac2f0f85c687c96d8bcdaef2d50135157f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kgeography-22.07.90.tar.xz">kgeography-22.07.90</a></td>
   <td align="right">10825kB</td>
   <td><tt>056d415c477e7beaf69629a976d2493bc7af425e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kget-22.07.90.tar.xz">kget-22.07.90</a></td>
   <td align="right">5315kB</td>
   <td><tt>b31a4bec94163770b3cc691dc584d91bc8202343</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kgoldrunner-22.07.90.tar.xz">kgoldrunner-22.07.90</a></td>
   <td align="right">4675kB</td>
   <td><tt>8179e8530a2d68b4b5ec75a15124094892fb4261</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kgpg-22.07.90.tar.xz">kgpg-22.07.90</a></td>
   <td align="right">2883kB</td>
   <td><tt>540f813db62301c403c5d27fcc23a83ebb627b96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/khangman-22.07.90.tar.xz">khangman-22.07.90</a></td>
   <td align="right">7249kB</td>
   <td><tt>fb2fbb921cfa18cd5cdfaf5e4a6605720636be19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/khelpcenter-22.07.90.tar.xz">khelpcenter-22.07.90</a></td>
   <td align="right">4205kB</td>
   <td><tt>87546f928367145c31cf12c435a38a07fb58f1b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kidentitymanagement-22.07.90.tar.xz">kidentitymanagement-22.07.90</a></td>
   <td align="right">155kB</td>
   <td><tt>82bca49461edc2806d3fec361586cf8becc53bd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kig-22.07.90.tar.xz">kig-22.07.90</a></td>
   <td align="right">3109kB</td>
   <td><tt>aff7cf4b3fe9fe4ce9aaf783cff4d379262b5f91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kigo-22.07.90.tar.xz">kigo-22.07.90</a></td>
   <td align="right">5132kB</td>
   <td><tt>6e5fecb9d7291f879ed9801b4893fd9ea84ce496</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/killbots-22.07.90.tar.xz">killbots-22.07.90</a></td>
   <td align="right">1169kB</td>
   <td><tt>d47ded0ceef2cd0eaf8a0d7a3e5cc475fde01ad6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kimagemapeditor-22.07.90.tar.xz">kimagemapeditor-22.07.90</a></td>
   <td align="right">1065kB</td>
   <td><tt>dc1a32f1fb133822b5750d291ac60f72dd2f49ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kimap-22.07.90.tar.xz">kimap-22.07.90</a></td>
   <td align="right">127kB</td>
   <td><tt>dab91e040eb6a5c87364eeef6c28583bcb347f4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kio-extras-22.07.90.tar.xz">kio-extras-22.07.90</a></td>
   <td align="right">628kB</td>
   <td><tt>8a4346f00c561c981f0555b9c334ad65987836f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kio-gdrive-22.07.90.tar.xz">kio-gdrive-22.07.90</a></td>
   <td align="right">71kB</td>
   <td><tt>e315916ade80894938504f02c936bc8bd0a9b237</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kio-zeroconf-22.07.90.tar.xz">kio-zeroconf-22.07.90</a></td>
   <td align="right">38kB</td>
   <td><tt>9d971ed1db6020453be0851515382f341ca7a7f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kipi-plugins-22.07.90.tar.xz">kipi-plugins-22.07.90</a></td>
   <td align="right">1488kB</td>
   <td><tt>7f809d44a75ab6729cb17572664c2a157550bb0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kirigami-gallery-22.07.90.tar.xz">kirigami-gallery-22.07.90</a></td>
   <td align="right">333kB</td>
   <td><tt>c93ce20832684458e11323ea0e61dd8292ba39c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kiriki-22.07.90.tar.xz">kiriki-22.07.90</a></td>
   <td align="right">357kB</td>
   <td><tt>898b0325775e55e39a8d807285d4b21e8a04cbaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kiten-22.07.90.tar.xz">kiten-22.07.90</a></td>
   <td align="right">11051kB</td>
   <td><tt>632e38f632b0d6bd1ac3fceb382d8177ec305f9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kitinerary-22.07.90.tar.xz">kitinerary-22.07.90</a></td>
   <td align="right">1650kB</td>
   <td><tt>fe76a27d496af61a9d77168ba8a3e7baaadd9480</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kjumpingcube-22.07.90.tar.xz">kjumpingcube-22.07.90</a></td>
   <td align="right">318kB</td>
   <td><tt>6c659f3ec1b998fb6ebcde78ff29f5ced4c1ba30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kldap-22.07.90.tar.xz">kldap-22.07.90</a></td>
   <td align="right">168kB</td>
   <td><tt>0cebcb04eda74aa5748440d3701d8662de07170b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kleopatra-22.07.90.tar.xz">kleopatra-22.07.90</a></td>
   <td align="right">2296kB</td>
   <td><tt>70756bd71b5695ad53e97eac9df39675a9e3c27e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/klettres-22.07.90.tar.xz">klettres-22.07.90</a></td>
   <td align="right">46081kB</td>
   <td><tt>fb8642d0fa9348438b3104d1a1ed9bc1e8fb4bf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/klickety-22.07.90.tar.xz">klickety-22.07.90</a></td>
   <td align="right">1460kB</td>
   <td><tt>7c596d3ed85b94df7fb4d7b0ce4c986e841291e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/klines-22.07.90.tar.xz">klines-22.07.90</a></td>
   <td align="right">1687kB</td>
   <td><tt>1a1722336a01436bf6405462b350334787ff88b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kmag-22.07.90.tar.xz">kmag-22.07.90</a></td>
   <td align="right">693kB</td>
   <td><tt>5863f38f9449d5fab348048ffc4bf4490a2310ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kmahjongg-22.07.90.tar.xz">kmahjongg-22.07.90</a></td>
   <td align="right">3976kB</td>
   <td><tt>9c8e879d05432dd017f4909347241959a0a72a51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kmail-22.07.90.tar.xz">kmail-22.07.90</a></td>
   <td align="right">6946kB</td>
   <td><tt>8310887bd0f01d171c61ff3693d05f25e237e847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kmail-account-wizard-22.07.90.tar.xz">kmail-account-wizard-22.07.90</a></td>
   <td align="right">170kB</td>
   <td><tt>d051f83d52fae8e58f5935712980c1fd2c1d7708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kmailtransport-22.07.90.tar.xz">kmailtransport-22.07.90</a></td>
   <td align="right">173kB</td>
   <td><tt>c64f4c0613dfe6dcdebaebffcfd685294b221f8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kmbox-22.07.90.tar.xz">kmbox-22.07.90</a></td>
   <td align="right">28kB</td>
   <td><tt>2e98a4ec5f8dd2e9f2e200d2d1a50bfeed9b2e2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kmime-22.07.90.tar.xz">kmime-22.07.90</a></td>
   <td align="right">152kB</td>
   <td><tt>bb3296630be0cf511190e86c7d143fe2fe0b3811</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kmines-22.07.90.tar.xz">kmines-22.07.90</a></td>
   <td align="right">970kB</td>
   <td><tt>bb0270d35f13a0f735dedc3989ea8ea926d5bf9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kmix-22.07.90.tar.xz">kmix-22.07.90</a></td>
   <td align="right">1136kB</td>
   <td><tt>fa6e573c9ba09a9a4c55eb034995eceffdb0bdb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kmousetool-22.07.90.tar.xz">kmousetool-22.07.90</a></td>
   <td align="right">119kB</td>
   <td><tt>40b4fc7edceb5fd85482507da0e13a7c5716f24d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kmouth-22.07.90.tar.xz">kmouth-22.07.90</a></td>
   <td align="right">2006kB</td>
   <td><tt>044d8902fc0518e447cdd5d0188d6ae46f7a8d84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kmplot-22.07.90.tar.xz">kmplot-22.07.90</a></td>
   <td align="right">2975kB</td>
   <td><tt>57a2b9b123bfbfd01d724060487496c95e74fb96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/knavalbattle-22.07.90.tar.xz">knavalbattle-22.07.90</a></td>
   <td align="right">1348kB</td>
   <td><tt>929e59374c8c7f404e72f208ec72488daa7791e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/knetwalk-22.07.90.tar.xz">knetwalk-22.07.90</a></td>
   <td align="right">1071kB</td>
   <td><tt>c9e44976a1bf70615e7828d869410cb923076c33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/knights-22.07.90.tar.xz">knights-22.07.90</a></td>
   <td align="right">3246kB</td>
   <td><tt>6ac91c52607564fdff1c02a52638f567aacaabef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/knotes-22.07.90.tar.xz">knotes-22.07.90</a></td>
   <td align="right">336kB</td>
   <td><tt>28327c5ab1279564c09b4f4b2a2e37920606c875</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kolf-22.07.90.tar.xz">kolf-22.07.90</a></td>
   <td align="right">1026kB</td>
   <td><tt>61033ed19f90b3518b5e7f71d15932192443be3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kollision-22.07.90.tar.xz">kollision-22.07.90</a></td>
   <td align="right">295kB</td>
   <td><tt>32c1cf627e7b0a7f9905d6c6502b7381df337372</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kolourpaint-22.07.90.tar.xz">kolourpaint-22.07.90</a></td>
   <td align="right">5584kB</td>
   <td><tt>d262e323439d9a52a79ed668d03bba6aaf104b28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kompare-22.07.90.tar.xz">kompare-22.07.90</a></td>
   <td align="right">928kB</td>
   <td><tt>fd2df488694191cb89ae6b56bd05ef230795244d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/konqueror-22.07.90.tar.xz">konqueror-22.07.90</a></td>
   <td align="right">7488kB</td>
   <td><tt>d0b354ca9d1bbb8346cf24a3c20fdeafb47e6ab5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/konquest-22.07.90.tar.xz">konquest-22.07.90</a></td>
   <td align="right">842kB</td>
   <td><tt>209bbed1e2696a91c678f6c8b1dd3914bd0461cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/konsole-22.07.90.tar.xz">konsole-22.07.90</a></td>
   <td align="right">1465kB</td>
   <td><tt>dfe2088ee6d2893378986bbd23f63bd58fd76000</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kontact-22.07.90.tar.xz">kontact-22.07.90</a></td>
   <td align="right">803kB</td>
   <td><tt>fd6ea458dd74be3b00de4ee3d555cfd0d73b9dad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kontactinterface-22.07.90.tar.xz">kontactinterface-22.07.90</a></td>
   <td align="right">39kB</td>
   <td><tt>8909c3f7740a9fc635e7bfe28a677ccd9d911b3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kontrast-22.07.90.tar.xz">kontrast-22.07.90</a></td>
   <td align="right">124kB</td>
   <td><tt>9637269de991f107832b9b583359c05831d0791a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/konversation-22.07.90.tar.xz">konversation-22.07.90</a></td>
   <td align="right">4185kB</td>
   <td><tt>668c32a20f304ea8419d4e8f749ad051b48e84e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kopeninghours-22.07.90.tar.xz">kopeninghours-22.07.90</a></td>
   <td align="right">68kB</td>
   <td><tt>a591ac1788397507b8e0f425402ffc02ee511766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kopete-22.07.90.tar.xz">kopete-22.07.90</a></td>
   <td align="right">9439kB</td>
   <td><tt>97f5af11c975234d156986cf5e59c61b907e992f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/korganizer-22.07.90.tar.xz">korganizer-22.07.90</a></td>
   <td align="right">2260kB</td>
   <td><tt>c3c9c41f27d1e8e3d89501a2e88cf6c8b5e982b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kosmindoormap-22.07.90.tar.xz">kosmindoormap-22.07.90</a></td>
   <td align="right">347kB</td>
   <td><tt>a50cd7a7ee39caba53feb171ca11eac6e43461f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kpat-22.07.90.tar.xz">kpat-22.07.90</a></td>
   <td align="right">3643kB</td>
   <td><tt>5815aa91662c554af7f396348c0802cfa9fcb975</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kpimtextedit-22.07.90.tar.xz">kpimtextedit-22.07.90</a></td>
   <td align="right">211kB</td>
   <td><tt>e70f943b04723c61bb81dcafe0d55264b7ce8bfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kpkpass-22.07.90.tar.xz">kpkpass-22.07.90</a></td>
   <td align="right">28kB</td>
   <td><tt>ca52c4e8787413d9c2c66f58c0e7ad90a7c7d52d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kpmcore-22.07.90.tar.xz">kpmcore-22.07.90</a></td>
   <td align="right">580kB</td>
   <td><tt>8758535365607d39762cc3182624f948b8ed21d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kpublictransport-22.07.90.tar.xz">kpublictransport-22.07.90</a></td>
   <td align="right">476kB</td>
   <td><tt>20be9596713ed566298152a290fd2dad108ca9de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kqtquickcharts-22.07.90.tar.xz">kqtquickcharts-22.07.90</a></td>
   <td align="right">29kB</td>
   <td><tt>d637d80b63d5f9703ab8f841b99509391173f2d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/krdc-22.07.90.tar.xz">krdc-22.07.90</a></td>
   <td align="right">1540kB</td>
   <td><tt>6fea2aca0465fb6844d50cd0b42cf8352b5c0dee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kreversi-22.07.90.tar.xz">kreversi-22.07.90</a></td>
   <td align="right">1038kB</td>
   <td><tt>c783b1934331765f512c92ce9268b0d9e3b04d2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/krfb-22.07.90.tar.xz">krfb-22.07.90</a></td>
   <td align="right">1265kB</td>
   <td><tt>f3445f048058c8a2f466595619cb8ed44b5ab8f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kross-interpreters-22.07.90.tar.xz">kross-interpreters-22.07.90</a></td>
   <td align="right">148kB</td>
   <td><tt>78cbb89e14f281b0662152e77948becff954a69c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kruler-22.07.90.tar.xz">kruler-22.07.90</a></td>
   <td align="right">269kB</td>
   <td><tt>28a67b755c1d5e3cef82b67103240bfb398fb231</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ksanecore-22.07.90.tar.xz">ksanecore-22.07.90</a></td>
   <td align="right">45kB</td>
   <td><tt>b51c5eb878b5258cbc84d9e4f95f0e16d6c6fc8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kshisen-22.07.90.tar.xz">kshisen-22.07.90</a></td>
   <td align="right">970kB</td>
   <td><tt>4b284f8b795629786ef659fedc7a26a814580ed0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ksirk-22.07.90.tar.xz">ksirk-22.07.90</a></td>
   <td align="right">6843kB</td>
   <td><tt>88426936ef7cf774ff6c620d4f1b33154b722755</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ksmtp-22.07.90.tar.xz">ksmtp-22.07.90</a></td>
   <td align="right">47kB</td>
   <td><tt>29a12d6f1b16cc3ead828b41ad76e26f2f4461af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ksnakeduel-22.07.90.tar.xz">ksnakeduel-22.07.90</a></td>
   <td align="right">593kB</td>
   <td><tt>ba34b86315bbddc16a1695356e448a3a74e1c1f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kspaceduel-22.07.90.tar.xz">kspaceduel-22.07.90</a></td>
   <td align="right">636kB</td>
   <td><tt>80d204aef11824c86d16dd6d06170157cafa481b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ksquares-22.07.90.tar.xz">ksquares-22.07.90</a></td>
   <td align="right">301kB</td>
   <td><tt>8f600b589e541e85f5ad4523afd9861f5ef58f75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ksudoku-22.07.90.tar.xz">ksudoku-22.07.90</a></td>
   <td align="right">1650kB</td>
   <td><tt>450d9a7ceba62b7990431e959b959f4766227ae9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ksystemlog-22.07.90.tar.xz">ksystemlog-22.07.90</a></td>
   <td align="right">1923kB</td>
   <td><tt>c500b946ddf3b27f4445618f647c3341158f51d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kteatime-22.07.90.tar.xz">kteatime-22.07.90</a></td>
   <td align="right">295kB</td>
   <td><tt>826c0dbe656b718c5f0e5e7dc8be887ec7d482e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ktimer-22.07.90.tar.xz">ktimer-22.07.90</a></td>
   <td align="right">385kB</td>
   <td><tt>adee01d98c3ecf170b1ed14eb442998a5b0176ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ktnef-22.07.90.tar.xz">ktnef-22.07.90</a></td>
   <td align="right">296kB</td>
   <td><tt>0188913639ccd507d959938a1ff60675d6d3dd68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ktorrent-22.07.90.tar.xz">ktorrent-22.07.90</a></td>
   <td align="right">2006kB</td>
   <td><tt>2d0c4ae39be2963829b7dfcb39470665713fbc51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ktouch-22.07.90.tar.xz">ktouch-22.07.90</a></td>
   <td align="right">4872kB</td>
   <td><tt>0112a9b44e4c5d920601bb31baa4dac8db9190e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ktp-accounts-kcm-22.07.90.tar.xz">ktp-accounts-kcm-22.07.90</a></td>
   <td align="right">260kB</td>
   <td><tt>ab0e9a18cf0fec0ed264abf509d5260fb3062fd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ktp-approver-22.07.90.tar.xz">ktp-approver-22.07.90</a></td>
   <td align="right">37kB</td>
   <td><tt>3e04439d196ca6b5c8ee05d3d18e6c1299666b69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ktp-auth-handler-22.07.90.tar.xz">ktp-auth-handler-22.07.90</a></td>
   <td align="right">46kB</td>
   <td><tt>69fb4b94f2c05d92b5ba044e10f8fa8ee2197e14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ktp-call-ui-22.07.90.tar.xz">ktp-call-ui-22.07.90</a></td>
   <td align="right">96kB</td>
   <td><tt>4e5a76cc1a429fb4c01e5c2a3b23c54ab15e3e0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ktp-common-internals-22.07.90.tar.xz">ktp-common-internals-22.07.90</a></td>
   <td align="right">440kB</td>
   <td><tt>994192bc0fc0859c993f42e4c7ff10a11d28279d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ktp-contact-list-22.07.90.tar.xz">ktp-contact-list-22.07.90</a></td>
   <td align="right">151kB</td>
   <td><tt>622a382454f8adbbd674b0d38a5b45f7b5df55dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ktp-contact-runner-22.07.90.tar.xz">ktp-contact-runner-22.07.90</a></td>
   <td align="right">43kB</td>
   <td><tt>f68994b6f970045db209d624c77368f25423bd77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ktp-desktop-applets-22.07.90.tar.xz">ktp-desktop-applets-22.07.90</a></td>
   <td align="right">42kB</td>
   <td><tt>45ed71a9f2859523549ca00c8327a63974998633</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ktp-filetransfer-handler-22.07.90.tar.xz">ktp-filetransfer-handler-22.07.90</a></td>
   <td align="right">45kB</td>
   <td><tt>a58808612cbb2276444a6239f393d383ebe34efd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ktp-kded-module-22.07.90.tar.xz">ktp-kded-module-22.07.90</a></td>
   <td align="right">98kB</td>
   <td><tt>fb4b1b4e0c88ff66ece02c0a6ad1ae9d8dcba120</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ktp-send-file-22.07.90.tar.xz">ktp-send-file-22.07.90</a></td>
   <td align="right">28kB</td>
   <td><tt>2f317dbd3206540da04e79665fe0278a139d42e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ktp-text-ui-22.07.90.tar.xz">ktp-text-ui-22.07.90</a></td>
   <td align="right">463kB</td>
   <td><tt>ce61277313326e93bcc3b1c343e8f65e1b34875d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/ktuberling-22.07.90.tar.xz">ktuberling-22.07.90</a></td>
   <td align="right">69742kB</td>
   <td><tt>1d121bfe932366300657869fa5da1c007708b081</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kturtle-22.07.90.tar.xz">kturtle-22.07.90</a></td>
   <td align="right">1921kB</td>
   <td><tt>b13d01c4eb5ae4a27ee29081f625e6f6de8aaf8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kubrick-22.07.90.tar.xz">kubrick-22.07.90</a></td>
   <td align="right">335kB</td>
   <td><tt>ef508e17cac07e647250e76dad42fc8c6f1a2048</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kwalletmanager-22.07.90.tar.xz">kwalletmanager-22.07.90</a></td>
   <td align="right">783kB</td>
   <td><tt>e07f9b38f509c61d797b0d35cf9b9dd3801076b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kwave-22.07.90.tar.xz">kwave-22.07.90</a></td>
   <td align="right">6793kB</td>
   <td><tt>2843d2febfa60afd0d378685fe02ccd61c9c4fc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/kwordquiz-22.07.90.tar.xz">kwordquiz-22.07.90</a></td>
   <td align="right">4116kB</td>
   <td><tt>60805856c0b57bed32499e27ed9615136d082047</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/libgravatar-22.07.90.tar.xz">libgravatar-22.07.90</a></td>
   <td align="right">35kB</td>
   <td><tt>b0f4289a4687dfa481c5a2ac8efeedf95ca339d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/libkcddb-22.07.90.tar.xz">libkcddb-22.07.90</a></td>
   <td align="right">425kB</td>
   <td><tt>ecbc2ef16e3a9f01e63c9bdc8d7fe984bc88b300</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/libkcompactdisc-22.07.90.tar.xz">libkcompactdisc-22.07.90</a></td>
   <td align="right">95kB</td>
   <td><tt>4b37dbce0b748ac736f6f978db8d6be72b0676cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/libkdcraw-22.07.90.tar.xz">libkdcraw-22.07.90</a></td>
   <td align="right">36kB</td>
   <td><tt>ceb8a47c374bb6328ad70205ce2820e555b4af03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/libkdegames-22.07.90.tar.xz">libkdegames-22.07.90</a></td>
   <td align="right">5810kB</td>
   <td><tt>154499ec2e0ad515cdf2f348ec422eeefcba1a95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/libkdepim-22.07.90.tar.xz">libkdepim-22.07.90</a></td>
   <td align="right">242kB</td>
   <td><tt>872320ea2606c726ad2fbba568292f345f0c9e32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/libkeduvocdocument-22.07.90.tar.xz">libkeduvocdocument-22.07.90</a></td>
   <td align="right">209kB</td>
   <td><tt>a00d27f5f4ce6e1e9ae789b1ef49ab43a72eabdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/libkexiv2-22.07.90.tar.xz">libkexiv2-22.07.90</a></td>
   <td align="right">58kB</td>
   <td><tt>3a7d2bb6d6b605cef33b855d0f8cd3072846a1f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/libkgapi-22.07.90.tar.xz">libkgapi-22.07.90</a></td>
   <td align="right">236kB</td>
   <td><tt>95934fe7a693506b0f09da31dfc865d5fa2349b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/libkipi-22.07.90.tar.xz">libkipi-22.07.90</a></td>
   <td align="right">86kB</td>
   <td><tt>08bb8a8e5ed14301d0b480103867042bf8a6c65a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/libkleo-22.07.90.tar.xz">libkleo-22.07.90</a></td>
   <td align="right">458kB</td>
   <td><tt>a2c46e7d5a21deea55a44c12d6a5c70bb89a9102</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/libkmahjongg-22.07.90.tar.xz">libkmahjongg-22.07.90</a></td>
   <td align="right">1646kB</td>
   <td><tt>878520db372c41d26b330719f26cd91d67b98123</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/libkomparediff2-22.07.90.tar.xz">libkomparediff2-22.07.90</a></td>
   <td align="right">165kB</td>
   <td><tt>93a38ea68be1e8047dad824dcd44f2ad86ea5008</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/libksane-22.07.90.tar.xz">libksane-22.07.90</a></td>
   <td align="right">144kB</td>
   <td><tt>b602966da8ba7a7e9f0d59434e7cc152843450b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/libksieve-22.07.90.tar.xz">libksieve-22.07.90</a></td>
   <td align="right">563kB</td>
   <td><tt>bab45d05c8b31c2669f517795032f30ac85c06e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/libktorrent-22.07.90.tar.xz">libktorrent-22.07.90</a></td>
   <td align="right">581kB</td>
   <td><tt>e3e65e4f194ad01b85244d20db5273d0e4cb01d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/lokalize-22.07.90.tar.xz">lokalize-22.07.90</a></td>
   <td align="right">2021kB</td>
   <td><tt>f70bebfe521be30fb5732a0e212cbdec3a412bba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/lskat-22.07.90.tar.xz">lskat-22.07.90</a></td>
   <td align="right">1206kB</td>
   <td><tt>e635dd55b69dc72f37dbb8a48661a9d723551de1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/mailcommon-22.07.90.tar.xz">mailcommon-22.07.90</a></td>
   <td align="right">726kB</td>
   <td><tt>11ac8e0457f9aa2a4561fc97f927ea99830bc2b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/mailimporter-22.07.90.tar.xz">mailimporter-22.07.90</a></td>
   <td align="right">546kB</td>
   <td><tt>60a15b9f4783153bb299b0a807cf4bf6a01b6fb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/marble-22.07.90.tar.xz">marble-22.07.90</a></td>
   <td align="right">52409kB</td>
   <td><tt>859957d824095f3de48a8a7abc54d87e28e9b42c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/markdownpart-22.07.90.tar.xz">markdownpart-22.07.90</a></td>
   <td align="right">29kB</td>
   <td><tt>ce75d783fe0fbaf0c445f6c20ac1c664419974a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/mbox-importer-22.07.90.tar.xz">mbox-importer-22.07.90</a></td>
   <td align="right">28kB</td>
   <td><tt>421d8f679dd2f84fb6c0cff986a25d52724ad03f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/messagelib-22.07.90.tar.xz">messagelib-22.07.90</a></td>
   <td align="right">10514kB</td>
   <td><tt>e99421aeda7302b93bf782dee1ce812a7249e165</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/minuet-22.07.90.tar.xz">minuet-22.07.90</a></td>
   <td align="right">27032kB</td>
   <td><tt>69d220b7f4bfb401cf11db7a1825eb5abb8997eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/okular-22.07.90.tar.xz">okular-22.07.90</a></td>
   <td align="right">8028kB</td>
   <td><tt>7332d155b8b1a78f79327c697575ac84b51a2dd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/palapeli-22.07.90.tar.xz">palapeli-22.07.90</a></td>
   <td align="right">2052kB</td>
   <td><tt>2f7a3b31a9a6d8c2ab37508f926243847910128e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/parley-22.07.90.tar.xz">parley-22.07.90</a></td>
   <td align="right">8285kB</td>
   <td><tt>72c3e44bd7bfba05ce4870123786013506f972c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/partitionmanager-22.07.90.tar.xz">partitionmanager-22.07.90</a></td>
   <td align="right">2051kB</td>
   <td><tt>e37b5c424c4412734368aaf82ac5a4aaaec4b222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/picmi-22.07.90.tar.xz">picmi-22.07.90</a></td>
   <td align="right">1502kB</td>
   <td><tt>e9a0122e2a6f795bd22a0028e8bbda9a6569aae8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/pimcommon-22.07.90.tar.xz">pimcommon-22.07.90</a></td>
   <td align="right">362kB</td>
   <td><tt>0f8ec553a5b1e982b93d3c318359960b4402d164</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/pim-data-exporter-22.07.90.tar.xz">pim-data-exporter-22.07.90</a></td>
   <td align="right">406kB</td>
   <td><tt>2f1c46c00ee265f78a08724d829b033e18f4e73f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/pim-sieve-editor-22.07.90.tar.xz">pim-sieve-editor-22.07.90</a></td>
   <td align="right">447kB</td>
   <td><tt>f1b9fb9f9abc795fd0606bde8014fa586ffa52c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/poxml-22.07.90.tar.xz">poxml-22.07.90</a></td>
   <td align="right">43kB</td>
   <td><tt>aff6e991d3c75f9669a4726c76a17730dd905ba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/print-manager-22.07.90.tar.xz">print-manager-22.07.90</a></td>
   <td align="right">269kB</td>
   <td><tt>195285fee2656877fcd65a13063a0e8ecf08aae7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/rocs-22.07.90.tar.xz">rocs-22.07.90</a></td>
   <td align="right">1526kB</td>
   <td><tt>9830968f6d867ef19ec642bf9834f4e49e203484</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/signon-kwallet-extension-22.07.90.tar.xz">signon-kwallet-extension-22.07.90</a></td>
   <td align="right">10kB</td>
   <td><tt>49278b4602c0ebeda0eea6c9b05b443d13fd70e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/skanlite-22.07.90.tar.xz">skanlite-22.07.90</a></td>
   <td align="right">2384kB</td>
   <td><tt>3fd31ea09f6f6889ef0f89c1c1e4f29d27f1e1f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/skanpage-22.07.90.tar.xz">skanpage-22.07.90</a></td>
   <td align="right">1260kB</td>
   <td><tt>a67029887bc231c1428c7645303f9e4b1bbbd7f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/spectacle-22.07.90.tar.xz">spectacle-22.07.90</a></td>
   <td align="right">1225kB</td>
   <td><tt>a044bdfd05db732b93fa7184230c0fb38f4a3600</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/step-22.07.90.tar.xz">step-22.07.90</a></td>
   <td align="right">915kB</td>
   <td><tt>c263e5ad567a70a31bc355d4289b7fc45f99b962</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/svgpart-22.07.90.tar.xz">svgpart-22.07.90</a></td>
   <td align="right">26kB</td>
   <td><tt>c7406c2b853877d49440264e615307341d2e51a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/sweeper-22.07.90.tar.xz">sweeper-22.07.90</a></td>
   <td align="right">369kB</td>
   <td><tt>8ae971f89e19c400e041286b454a814f0d743515</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/umbrello-22.07.90.tar.xz">umbrello-22.07.90</a></td>
   <td align="right">5548kB</td>
   <td><tt>378fbd24d9897e61a4b973378a320791d8e46a1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/yakuake-22.07.90.tar.xz">yakuake-22.07.90</a></td>
   <td align="right">403kB</td>
   <td><tt>8ae0556b6fbff27d392cd52b2c97a8c15eb7e456</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/22.07.90/src/zanshin-22.07.90.tar.xz">zanshin-22.07.90</a></td>
   <td align="right">346kB</td>
   <td><tt>e8616ad330365ef7c11b0ef4ff32857b8f4aa171</tt></td>
</tr>

</table>
