<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/bluedevil-5.16.1.tar.xz">bluedevil-5.16.1</a></td>
   <td align="right">154kB</td>
   <td><tt>d2bc6669fbf3066ec5f24db9762f7f1adbb29edc8f5205c4e59e5fd6becd5b0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/breeze-5.16.1.tar.xz">breeze-5.16.1</a></td>
   <td align="right">15MB</td>
   <td><tt>bf4fba98f83311365f249d706689f327380db2de61ca7bb2a8442472e0b1316e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/breeze-grub-5.16.1.tar.xz">breeze-grub-5.16.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>1c3250871f9bc4b8b12893e9b0d00024515970b9e20bd2ca9a904a3ec4c0371f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/breeze-gtk-5.16.1.tar.xz">breeze-gtk-5.16.1</a></td>
   <td align="right">46kB</td>
   <td><tt>e6920bbbbdddca564f82fc0c07ac78fb11a7d5cf300fe2ec5e411c48d5d11665</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/breeze-plymouth-5.16.1.tar.xz">breeze-plymouth-5.16.1</a></td>
   <td align="right">103kB</td>
   <td><tt>3b361f364e6212010f4c686f3b4d11c158061cd22369c9190d0d2f5583e9417f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/discover-5.16.1.tar.xz">discover-5.16.1</a></td>
   <td align="right">9.9MB</td>
   <td><tt>118ffdbb3645172166ca24257693fe1b7b1e0d80ebbcd762417d632572bb8f89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/drkonqi-5.16.1.tar.xz">drkonqi-5.16.1</a></td>
   <td align="right">724kB</td>
   <td><tt>9e65f25b13e98b272bc2d7338b003d7ee6ebdd6a326265782a91ecf716efa45e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/kactivitymanagerd-5.16.1.tar.xz">kactivitymanagerd-5.16.1</a></td>
   <td align="right">82kB</td>
   <td><tt>63562dac3bd11421a8acddbe7bc4bafb61cb1b9cab706825c91b4b6dd5851c0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/kde-cli-tools-5.16.1.tar.xz">kde-cli-tools-5.16.1</a></td>
   <td align="right">573kB</td>
   <td><tt>92ef3c635d67a5377deca1dd2305b56311701d1aae0c72e64ed1597a8ff48099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/kde-gtk-config-5.16.1.tar.xz">kde-gtk-config-5.16.1</a></td>
   <td align="right">150kB</td>
   <td><tt>2942c47fac3eca6905b2d1bb1a453cd793215c2b319256cecdeecde09e3ddac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/kdecoration-5.16.1.tar.xz">kdecoration-5.16.1</a></td>
   <td align="right">41kB</td>
   <td><tt>37d8bd4eb28b268536d7eab88746a6bc37a82e99eade9b3e3ee6663a8aa3263c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/kdeplasma-addons-5.16.1.tar.xz">kdeplasma-addons-5.16.1</a></td>
   <td align="right">580kB</td>
   <td><tt>89d6eb92729ee2752032d5b2ff58bdf65dfa77b3503b0d891807178675e53f96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/kgamma5-5.16.1.tar.xz">kgamma5-5.16.1</a></td>
   <td align="right">77kB</td>
   <td><tt>85b343ccd1568795846ab2430b4ac8b3ac1d1e5a8890ff20312590fe71f548f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/khotkeys-5.16.1.tar.xz">khotkeys-5.16.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>7fae2a0b09f266cce0012037d4151dc6794e19206b729be83bba3da3f12adf2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/kinfocenter-5.16.1.tar.xz">kinfocenter-5.16.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>acc9221f08a4680cb69c58d0ae216b362ffc17e002ef0f708dac4e1b334f0e97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/kmenuedit-5.16.1.tar.xz">kmenuedit-5.16.1</a></td>
   <td align="right">792kB</td>
   <td><tt>34f7c3e01c54d94a597a26e88f610738995a7db02dc526e00fdd11f9886c3056</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/kscreen-5.16.1.tar.xz">kscreen-5.16.1</a></td>
   <td align="right">119kB</td>
   <td><tt>b90531c0164fdff9fc9f9977aae188c70918d5acc065de47bbe25f3fc06c4c28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/kscreenlocker-5.16.1.tar.xz">kscreenlocker-5.16.1</a></td>
   <td align="right">119kB</td>
   <td><tt>7590084a2a4ecbfa3a048ac48281db44bb6a441b333c0bcffef2f10301348788</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/ksshaskpass-5.16.1.tar.xz">ksshaskpass-5.16.1</a></td>
   <td align="right">20kB</td>
   <td><tt>c04a583d44d732e5e4557d983cbec9a9f5522f4c29cf3d579fded62e305f0838</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/ksysguard-5.16.1.tar.xz">ksysguard-5.16.1</a></td>
   <td align="right">488kB</td>
   <td><tt>ad9062787654b1c749a0878c9dc7bc7aee78ad60ad31c7418b7ab8e07a8a7b24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/kwallet-pam-5.16.1.tar.xz">kwallet-pam-5.16.1</a></td>
   <td align="right">19kB</td>
   <td><tt>b14119ab3ad42b173441b8a048880ec385605c3051c636649af87644bdab5413</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/kwayland-integration-5.16.1.tar.xz">kwayland-integration-5.16.1</a></td>
   <td align="right">19kB</td>
   <td><tt>a519924e719d08a7ed81a84f18650cac0c46d2866e825ca8d102582fad9e6bd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/kwin-5.16.1.tar.xz">kwin-5.16.1</a></td>
   <td align="right">5.9MB</td>
   <td><tt>e5cb08a116e1a60a60fb1f375e72cb4f8d01c8f31b3456b48bc5c72b5907260f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/kwrited-5.16.1.tar.xz">kwrited-5.16.1</a></td>
   <td align="right">19kB</td>
   <td><tt>492db456650545101b8ecf1426cf31647ebf1b119af9dd05684ea902861f92f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/libkscreen-5.16.1.tar.xz">libkscreen-5.16.1</a></td>
   <td align="right">79kB</td>
   <td><tt>6a81bd1c4cf4aebecf8220cd024feea2305a0f635daf7de0703354a8b6b7e17e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/libksysguard-5.16.1.tar.xz">libksysguard-5.16.1</a></td>
   <td align="right">566kB</td>
   <td><tt>d48fe4623430ca1505674834bbb3632bb9a7e01ef1287155909ff388ed0ca239</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/milou-5.16.1.tar.xz">milou-5.16.1</a></td>
   <td align="right">56kB</td>
   <td><tt>e99556b7253ee3719b980adfe7481c9111741fb79e1b60f7b99679bb2bdbf788</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/oxygen-5.16.1.tar.xz">oxygen-5.16.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>89adb92e2c6cd77b21d7fa5cd42963637919dc7d472254cf684db5374a36d567</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/plasma-browser-integration-5.16.1.tar.xz">plasma-browser-integration-5.16.1</a></td>
   <td align="right">119kB</td>
   <td><tt>1569c2dd3ca2f25d85cb2efc17062d35e9764deabe59131f7a0613e8ca2de6a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/plasma-desktop-5.16.1.tar.xz">plasma-desktop-5.16.1</a></td>
   <td align="right">9.0MB</td>
   <td><tt>df04d08beba47871c734ed4ed245746f56c24a5bd53bedae0881e943356049fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/plasma-integration-5.16.1.tar.xz">plasma-integration-5.16.1</a></td>
   <td align="right">54kB</td>
   <td><tt>59cc0b12b6a997e079b18870828d1a339711aa27de137773161e4c041b40b26a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/plasma-nm-5.16.1.tar.xz">plasma-nm-5.16.1</a></td>
   <td align="right">764kB</td>
   <td><tt>086e1f8aa967ac27520d062d6bd30e81875917633b712330fe8a0891e3b98873</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/plasma-pa-5.16.1.tar.xz">plasma-pa-5.16.1</a></td>
   <td align="right">98kB</td>
   <td><tt>693e48a8db6f5d60c49b540f6570f431390a326ff21f654ed758a4aab1848f88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/plasma-sdk-5.16.1.tar.xz">plasma-sdk-5.16.1</a></td>
   <td align="right">244kB</td>
   <td><tt>1a579e961a76ca4d0c38e319bd3a7d4906280344ad602a6281b09d7cc0ec7a44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/plasma-tests-5.16.1.tar.xz">plasma-tests-5.16.1</a></td>
   <td align="right">1kB</td>
   <td><tt>9d8c7386680d6e9660fc041e087ae0e009d3d53d35495bb88698283cfd67ad24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/plasma-vault-5.16.1.tar.xz">plasma-vault-5.16.1</a></td>
   <td align="right">123kB</td>
   <td><tt>aa5216431c945d872c352d5dd595160408f1b765a968b5fcefaad7840f206251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/plasma-workspace-5.16.1.tar.xz">plasma-workspace-5.16.1</a></td>
   <td align="right">4.6MB</td>
   <td><tt>9407c127fd410c77adf346b09da329968aec3b84aace51fa00391266ab35198d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/plasma-workspace-wallpapers-5.16.1.tar.xz">plasma-workspace-wallpapers-5.16.1</a></td>
   <td align="right">32MB</td>
   <td><tt>a533e814d38ebfce4f24e7dee6b21470cb17fc0987a8322850b9954412ae3c15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/plymouth-kcm-5.16.1.tar.xz">plymouth-kcm-5.16.1</a></td>
   <td align="right">39kB</td>
   <td><tt>68cc39e30c3607809eb1e5e1489df14daf935805d712d44a4ab5b815e3f47a6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/polkit-kde-agent-1-5.16.1.tar.xz">polkit-kde-agent-1-5.16.1</a></td>
   <td align="right">41kB</td>
   <td><tt>423a34ae90566e13fa3fb40f85f3f941fcd9d81157183ab113cadf79e164aa32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/powerdevil-5.16.1.tar.xz">powerdevil-5.16.1</a></td>
   <td align="right">576kB</td>
   <td><tt>474fdf8f41221169baa7d7eebd7bf4f0c56123807e5dfaf7d9180a74281e1108</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/sddm-kcm-5.16.1.tar.xz">sddm-kcm-5.16.1</a></td>
   <td align="right">60kB</td>
   <td><tt>4ff7cf23bd2f132c1cdf122564fdf85934fd268da27f60517bbc0ea02d81c72d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/systemsettings-5.16.1.tar.xz">systemsettings-5.16.1</a></td>
   <td align="right">174kB</td>
   <td><tt>8cf55e4734f1106719d763d1711fa88d2e4dd60bb6e7d85d00261cc2065b0a70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/user-manager-5.16.1.tar.xz">user-manager-5.16.1</a></td>
   <td align="right">534kB</td>
   <td><tt>4411d1c31b39765441950cd8a8c9cf41f46320c051f6d346149415c0ad000f6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.1/xdg-desktop-portal-kde-5.16.1.tar.xz">xdg-desktop-portal-kde-5.16.1</a></td>
   <td align="right">60kB</td>
   <td><tt>70404205e5be2081c79d8017e41d5974759653bf85da8f57b54460444c5887c4</tt></td>
</tr>

</table>
