
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/attica-5.103.0.tar.xz">attica-5.103.0</a></td>
   <td align="right">67kB</td>
   <td><tt>3f394cbe9037697e52fc497d2a4dac382e9d9422</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/baloo-5.103.0.tar.xz">baloo-5.103.0</a></td>
   <td align="right">295kB</td>
   <td><tt>ed3e541d0d1ceba5ce2afc9b51abda30d7322a66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/bluez-qt-5.103.0.tar.xz">bluez-qt-5.103.0</a></td>
   <td align="right">111kB</td>
   <td><tt>73e97f7e23f01e1a7a3c7cb2ec142613cc2e0a30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/breeze-icons-5.103.0.tar.xz">breeze-icons-5.103.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>4aa47a380ce3bdf74da06ace59483710b3289a3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/extra-cmake-modules-5.103.0.tar.xz">extra-cmake-modules-5.103.0</a></td>
   <td align="right">323kB</td>
   <td><tt>d6fd448e743e7bcab0d99acd7555fd471fa705dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/frameworkintegration-5.103.0.tar.xz">frameworkintegration-5.103.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>ec4cb240e80b649e6470c62014f35242c75e4183</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kactivities-5.103.0.tar.xz">kactivities-5.103.0</a></td>
   <td align="right">71kB</td>
   <td><tt>c1075d41f9e072c5db180ee0477e74faa50c2b9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kactivities-stats-5.103.0.tar.xz">kactivities-stats-5.103.0</a></td>
   <td align="right">82kB</td>
   <td><tt>26c870ad2eddc6a9e04f1380f0952d3f08a4c494</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kapidox-5.103.0.tar.xz">kapidox-5.103.0</a></td>
   <td align="right">194kB</td>
   <td><tt>8d6b72d078adaf5f8a72c85c9ea00f43b0bffa6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/karchive-5.103.0.tar.xz">karchive-5.103.0</a></td>
   <td align="right">985kB</td>
   <td><tt>8d2d41b05c66ca21096d539c99fe2cb4c753c47a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kauth-5.103.0.tar.xz">kauth-5.103.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>0037810794c5c48eda09d74a72ebf508f1c2cdbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kbookmarks-5.103.0.tar.xz">kbookmarks-5.103.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>f2dbc8262d2543bd25cb3c53bbd400c07fa80219</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kcalendarcore-5.103.0.tar.xz">kcalendarcore-5.103.0</a></td>
   <td align="right">260kB</td>
   <td><tt>f83f73d550ae8e9e30f5f8acec6ae7ca00cb1a1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kcmutils-5.103.0.tar.xz">kcmutils-5.103.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>e1e1092a2a769bda4f0f41b4f13f70634f4022e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kcodecs-5.103.0.tar.xz">kcodecs-5.103.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>e7ecb9b82038d1317df06de67c67d0be939f8e26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kcompletion-5.103.0.tar.xz">kcompletion-5.103.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>0b1ca94f51149f0c6473523bca3ee71111171004</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kconfig-5.103.0.tar.xz">kconfig-5.103.0</a></td>
   <td align="right">284kB</td>
   <td><tt>4f33002f3fe78fc4eda069590e252cfbb5780457</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kconfigwidgets-5.103.0.tar.xz">kconfigwidgets-5.103.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>84e76484b5ebb378ba9b702efccfd5ef9a222f02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kcontacts-5.103.0.tar.xz">kcontacts-5.103.0</a></td>
   <td align="right">208kB</td>
   <td><tt>a4238e118edfc7a028dd5e05d128b89d4ecb6d4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kcoreaddons-5.103.0.tar.xz">kcoreaddons-5.103.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>e83fdcd630dec0ba90491e28297b5be62f1e6060</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kcrash-5.103.0.tar.xz">kcrash-5.103.0</a></td>
   <td align="right">27kB</td>
   <td><tt>d0515772acb4211cad6a9106d950102faf0f60d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kdav-5.103.0.tar.xz">kdav-5.103.0</a></td>
   <td align="right">64kB</td>
   <td><tt>8d0729ffdd1a72459643cd8aa9ae713661dd8565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kdbusaddons-5.103.0.tar.xz">kdbusaddons-5.103.0</a></td>
   <td align="right">47kB</td>
   <td><tt>938262f0559c88c9f5b9828c1bd2cf9e889f8318</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kdeclarative-5.103.0.tar.xz">kdeclarative-5.103.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>3d94e327565bb9e351ef264f70e6ade1212accb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kded-5.103.0.tar.xz">kded-5.103.0</a></td>
   <td align="right">40kB</td>
   <td><tt>b9366fc1078873605d790083d1338e867e975188</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kdesu-5.103.0.tar.xz">kdesu-5.103.0</a></td>
   <td align="right">55kB</td>
   <td><tt>807be6d1038bfa3827cbe2474d006070f150cc15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kdnssd-5.103.0.tar.xz">kdnssd-5.103.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>d6b22a7a4cf061a26e5c2f6e6f8915f1b79bf469</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kdoctools-5.103.0.tar.xz">kdoctools-5.103.0</a></td>
   <td align="right">451kB</td>
   <td><tt>6e83c9d84c0262d25377379571a425a92eb7f6ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kemoticons-5.103.0.tar.xz">kemoticons-5.103.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>bba65e3429551bd5516f908e5049f56b68735795</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kfilemetadata-5.103.0.tar.xz">kfilemetadata-5.103.0</a></td>
   <td align="right">458kB</td>
   <td><tt>7e1f5fe3866825d51877c5ee55db3ba123fbee23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kglobalaccel-5.103.0.tar.xz">kglobalaccel-5.103.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>f1d725c7aa4af0b1e55a99488b1c33e00bf1f1f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kguiaddons-5.103.0.tar.xz">kguiaddons-5.103.0</a></td>
   <td align="right">76kB</td>
   <td><tt>09108799e241f19cb91bfd7991a3bdb5c1a981fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kholidays-5.103.0.tar.xz">kholidays-5.103.0</a></td>
   <td align="right">247kB</td>
   <td><tt>abf2a79407efcbc2badc2512b5f4234ac73af017</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/ki18n-5.103.0.tar.xz">ki18n-5.103.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>be1e9205c73d68c74a8d71fb17f723518534726d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kiconthemes-5.103.0.tar.xz">kiconthemes-5.103.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>4e39aa432bda10c9175323db3280d6871a26f262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kidletime-5.103.0.tar.xz">kidletime-5.103.0</a></td>
   <td align="right">30kB</td>
   <td><tt>247efbd21fd3d436cb833f072bcc71e1e43baa8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kimageformats-5.103.0.tar.xz">kimageformats-5.103.0</a></td>
   <td align="right">12MB</td>
   <td><tt>e46447cca10d4814e6b06294cbc258eeaf2e5066</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kinit-5.103.0.tar.xz">kinit-5.103.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>b132fcdd68cecb570dbec0505290b4cb38e505f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kio-5.103.0.tar.xz">kio-5.103.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>203bf6dc4113eb89b68d835e0a469cc6ca8c3df1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kirigami2-5.103.0.tar.xz">kirigami2-5.103.0</a></td>
   <td align="right">363kB</td>
   <td><tt>44f6577713fc2747b882c6fa5ce3d3c88babd606</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kitemmodels-5.103.0.tar.xz">kitemmodels-5.103.0</a></td>
   <td align="right">397kB</td>
   <td><tt>cc718594534300c26e31ed55d9e03d758694339a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kitemviews-5.103.0.tar.xz">kitemviews-5.103.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>eea5114d9b8edb9929eb34500dafa387ba51a0d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kjobwidgets-5.103.0.tar.xz">kjobwidgets-5.103.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>041870aa6d7c9c6ffe791d979c9269a7d8a37a61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/knewstuff-5.103.0.tar.xz">knewstuff-5.103.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>61492a91bb038c54305bf93b8cf217e6372a51f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/knotifications-5.103.0.tar.xz">knotifications-5.103.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>5bacec6536b7b572f7f245b993cc7c5730540fe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/knotifyconfig-5.103.0.tar.xz">knotifyconfig-5.103.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>937eaf4177ed31dee96565c7a0087155e2d33a02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kpackage-5.103.0.tar.xz">kpackage-5.103.0</a></td>
   <td align="right">182kB</td>
   <td><tt>1054f98cdf15a057524ae49899f3a32d133c71a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kparts-5.103.0.tar.xz">kparts-5.103.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>bdf2d68a648eb7269959126124d08f27aa902571</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kpeople-5.103.0.tar.xz">kpeople-5.103.0</a></td>
   <td align="right">61kB</td>
   <td><tt>8348d131022892cd833d88afdbe1bf200930298c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kplotting-5.103.0.tar.xz">kplotting-5.103.0</a></td>
   <td align="right">32kB</td>
   <td><tt>f6816e455fa935232caafc4a76490041a2bf01ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kpty-5.103.0.tar.xz">kpty-5.103.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>3ce51689781028f3f139ff5a94c4c509af186dc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kquickcharts-5.103.0.tar.xz">kquickcharts-5.103.0</a></td>
   <td align="right">110kB</td>
   <td><tt>5d33efeb2da89e845313403a5867bc4f5695f071</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/krunner-5.103.0.tar.xz">krunner-5.103.0</a></td>
   <td align="right">86kB</td>
   <td><tt>c8c036c39389a1a8781f8b6f20fab2be5859d4ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kservice-5.103.0.tar.xz">kservice-5.103.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>761ffc22f823d160b703f972dc9e247d756a6f39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/ktexteditor-5.103.0.tar.xz">ktexteditor-5.103.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>43e22bc9615798ee5a7b6fb2ec1a1a2d4da416aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/ktextwidgets-5.103.0.tar.xz">ktextwidgets-5.103.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>2e053f03c804f1421d5fb58f98b9bf9ec44c0717</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kunitconversion-5.103.0.tar.xz">kunitconversion-5.103.0</a></td>
   <td align="right">908kB</td>
   <td><tt>3b863153053b7ccc2e9166b4af208341efc33adb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kwallet-5.103.0.tar.xz">kwallet-5.103.0</a></td>
   <td align="right">339kB</td>
   <td><tt>d2536a408cfbf38874268594a4afb4be8a67ee5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kwayland-5.103.0.tar.xz">kwayland-5.103.0</a></td>
   <td align="right">328kB</td>
   <td><tt>a8ff3ce667d723a22459fc2d505b6426b5a018ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kwidgetsaddons-5.103.0.tar.xz">kwidgetsaddons-5.103.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>fdf2b313ece6d68358c4ef3defc993bb5bb254b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kwindowsystem-5.103.0.tar.xz">kwindowsystem-5.103.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>0aa8308531d699e6acc0d525c695d13b8e0c5717</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/kxmlgui-5.103.0.tar.xz">kxmlgui-5.103.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>5d1e0723884b66d36b2dbe5cb6fb81303f0ed459</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/modemmanager-qt-5.103.0.tar.xz">modemmanager-qt-5.103.0</a></td>
   <td align="right">118kB</td>
   <td><tt>7489f5d5aa2c29a9422904d97b2938a7d8fe2f87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/networkmanager-qt-5.103.0.tar.xz">networkmanager-qt-5.103.0</a></td>
   <td align="right">193kB</td>
   <td><tt>24b126b65ecc3553e606433dc0d3d803d6778363</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/oxygen-icons5-5.103.0.tar.xz">oxygen-icons5-5.103.0</a></td>
   <td align="right">227MB</td>
   <td><tt>7722968b94933e2dd80afbe5ebb7f7ff79e3f475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/plasma-framework-5.103.0.tar.xz">plasma-framework-5.103.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>babcc33611fa063f2c4dda45e1942ad5f58c768c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/prison-5.103.0.tar.xz">prison-5.103.0</a></td>
   <td align="right">53kB</td>
   <td><tt>935dc0862055e728511d2b794892ecbdcc6181cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/purpose-5.103.0.tar.xz">purpose-5.103.0</a></td>
   <td align="right">172kB</td>
   <td><tt>3c1c0863e79b28702c2f3ffc552fd34ce4515706</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/qqc2-desktop-style-5.103.0.tar.xz">qqc2-desktop-style-5.103.0</a></td>
   <td align="right">67kB</td>
   <td><tt>1d7a8b8463d7c2b2ceff12934f1632609350cd04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/solid-5.103.0.tar.xz">solid-5.103.0</a></td>
   <td align="right">296kB</td>
   <td><tt>97153975c863ba768342682a4fff93a488866740</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/sonnet-5.103.0.tar.xz">sonnet-5.103.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>cf1358b581ca7d8ce51d20f12880f7b98b1ee2c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/syndication-5.103.0.tar.xz">syndication-5.103.0</a></td>
   <td align="right">498kB</td>
   <td><tt>96262b9ceae6a76432de39082e0c94ba067ecfa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/syntax-highlighting-5.103.0.tar.xz">syntax-highlighting-5.103.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>548525999419851dc51a092f491905ad37684afb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.103/threadweaver-5.103.0.tar.xz">threadweaver-5.103.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>c89abaedc55c6add8aed326ba217773b465aeec6</tt></td>
</tr>

</table>
