{{ define "main" }}
<main>
  <div class="container bluefriday">
    <div class="row">
      <div class="col-lg-8 col-12">
        <h1>{{ i18n "support-plasma6" | safeHTML }}</h1>
        {{ .Content }}
        <img class="bluefriday-image d-none d-lg-block" alt="" src="/fundraisers/konqi-katie-donation.jpg">
      </div>
      <div class="col-lg-4">
        <script src="https://donorbox.org/widget.js" paypalExpress="true"></script>
        <!--<img src="/fundraisers/plasma6member/Screenshot_20230921_060625.png" alt="Neon unstable installs an experimantal (and buggy) version of Plasma 6" class="plasma-screenshot d-none d-lg-block" />-->
        <div class="donnorbox">
          <iframe style="border-radius: 8px;" src="https://donorbox.org/embed/kde-become-a-member" name="donorbox" width="100%" height="600px" frameborder="0" scrolling="no" seamless="seamless"></iframe>
          <div class="p-4">{{ .Params.more | markdownify }}</div>
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}
