<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/amor-14.12.3.tar.xz">amor-14.12.3</a></td>
   <td align="right">171kB</td>
   <td><tt>539fb5a9edeea0bc1df04c46e7c851a43e5d5606</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/analitza-14.12.3.tar.xz">analitza-14.12.3</a></td>
   <td align="right">222kB</td>
   <td><tt>3caf7be69e3603c2846d61e42bc18893178a6925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/ark-14.12.3.tar.xz">ark-14.12.3</a></td>
   <td align="right">232kB</td>
   <td><tt>9b8b17c623301a7e90552c93fc33242dc4803b43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/artikulate-14.12.3.tar.xz">artikulate-14.12.3</a></td>
   <td align="right">3.6MB</td>
   <td><tt>78299b6ebc41ac956b179e55522e5ede1a86ad27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/audiocd-kio-14.12.3.tar.xz">audiocd-kio-14.12.3</a></td>
   <td align="right">50kB</td>
   <td><tt>88bb06679ec83873e55557c1f15c460ade132ee7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/blinken-14.12.3.tar.xz">blinken-14.12.3</a></td>
   <td align="right">553kB</td>
   <td><tt>830895b4b8a84ec9c6b8ecd8f656a293b991ffe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/bomber-14.12.3.tar.xz">bomber-14.12.3</a></td>
   <td align="right">382kB</td>
   <td><tt>109b11056179744e5984c1be98d6300f3f4ae64e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/bovo-14.12.3.tar.xz">bovo-14.12.3</a></td>
   <td align="right">101kB</td>
   <td><tt>f397ca1442ac7afe5d61aad003086aaf2ada6737</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/cantor-14.12.3.tar.xz">cantor-14.12.3</a></td>
   <td align="right">335kB</td>
   <td><tt>fca0d3c299147a2daa823d673645f664ee9356b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/cervisia-14.12.3.tar.xz">cervisia-14.12.3</a></td>
   <td align="right">364kB</td>
   <td><tt>2e0fdb825428e354e96db25c3d196ee482cc1de7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/dolphin-plugins-14.12.3.tar.xz">dolphin-plugins-14.12.3</a></td>
   <td align="right">57kB</td>
   <td><tt>0cfbaf2bab5416bc6bd5a6a73ad8c713adfb8746</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/dragon-14.12.3.tar.xz">dragon-14.12.3</a></td>
   <td align="right">389kB</td>
   <td><tt>6630b794bc758a0ef41f5f647f84cb59efbba083</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/ffmpegthumbs-14.12.3.tar.xz">ffmpegthumbs-14.12.3</a></td>
   <td align="right">19kB</td>
   <td><tt>8342c64e4be578c9194d44843a9e89feaaeaaedd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/filelight-14.12.3.tar.xz">filelight-14.12.3</a></td>
   <td align="right">280kB</td>
   <td><tt>4e95fd2eda4e4ecd6bc3b126d731d4954fec734b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/granatier-14.12.3.tar.xz">granatier-14.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>441d82d25ec1aa61aaf23e15dd682f209c1bfe80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/gwenview-14.12.3.tar.xz">gwenview-14.12.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>c31ced401d5f78ba8de4f58e03185c348f737a66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/jovie-14.12.3.tar.xz">jovie-14.12.3</a></td>
   <td align="right">370kB</td>
   <td><tt>36f8daa5ab23c07045ed294efcc77a2674dd77f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/juk-14.12.3.tar.xz">juk-14.12.3</a></td>
   <td align="right">432kB</td>
   <td><tt>d158801ee57b5ede595e65e2048c7b075564fa73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kaccessible-14.12.3.tar.xz">kaccessible-14.12.3</a></td>
   <td align="right">20kB</td>
   <td><tt>cabde9c4c733301805158db45d8e3da1a1b076b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kajongg-14.12.3.tar.xz">kajongg-14.12.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>d4a3a8d529bce00cfa745611e4612ca00c1b7b79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kalgebra-14.12.3.tar.xz">kalgebra-14.12.3</a></td>
   <td align="right">263kB</td>
   <td><tt>3446550c858aef15f02d306dfc788ad04f0b6e6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kalzium-14.12.3.tar.xz">kalzium-14.12.3</a></td>
   <td align="right">3.7MB</td>
   <td><tt>819751a1f99b42cbaf69d3eb22260dde5f6379b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kamera-14.12.3.tar.xz">kamera-14.12.3</a></td>
   <td align="right">34kB</td>
   <td><tt>142d517fb492d44793fb24bcd29da00c974ea338</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kanagram-14.12.3.tar.xz">kanagram-14.12.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>076a9ebaea4b22bee57a2adf4697567f66fabd48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kapman-14.12.3.tar.xz">kapman-14.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e8f3c6f40778b4215b50eb2b0bb3cff087b891d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kapptemplate-14.12.3.tar.xz">kapptemplate-14.12.3</a></td>
   <td align="right">719kB</td>
   <td><tt>dcf1b2be9adcab6740b52e034ae7d64f36ec4606</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kate-14.12.3.tar.xz">kate-14.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>57a34ad4dfb8e1a8c8f76244cf571cb1ce8f5c28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/katomic-14.12.3.tar.xz">katomic-14.12.3</a></td>
   <td align="right">643kB</td>
   <td><tt>9e34069c04eb8cacfbe40603d17afa2d107d64c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kblackbox-14.12.3.tar.xz">kblackbox-14.12.3</a></td>
   <td align="right">251kB</td>
   <td><tt>55379154cb5bbaaaf2067442dd315f8251d33793</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kblocks-14.12.3.tar.xz">kblocks-14.12.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>13859a9617e90646c82d8e257e4834bf4a0d677a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kbounce-14.12.3.tar.xz">kbounce-14.12.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>3935247b39c22c5879fe5cf42c4f2f6d72a40684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kbreakout-14.12.3.tar.xz">kbreakout-14.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>741b511c45c228d5bae43b574b078053cb042cde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kbruch-14.12.3.tar.xz">kbruch-14.12.3</a></td>
   <td align="right">883kB</td>
   <td><tt>26bc4c8ea9512e652fb74187e55003f6e95bfb98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kcachegrind-14.12.3.tar.xz">kcachegrind-14.12.3</a></td>
   <td align="right">230kB</td>
   <td><tt>e507955c2b9999301c1af4c63f936a0fdcd465ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kcalc-14.12.3.tar.xz">kcalc-14.12.3</a></td>
   <td align="right">80kB</td>
   <td><tt>d96485c66b161e0ed1b6d7f582b27a6e05473c3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kcharselect-14.12.3.tar.xz">kcharselect-14.12.3</a></td>
   <td align="right">82kB</td>
   <td><tt>d150c93280e822f6f9b285f224c2a7e2bb856399</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kcolorchooser-14.12.3.tar.xz">kcolorchooser-14.12.3</a></td>
   <td align="right">4kB</td>
   <td><tt>eb38ccf7262a74afd74ebf126681d5a6eb9ea805</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kcron-14.12.3.tar.xz">kcron-14.12.3</a></td>
   <td align="right">170kB</td>
   <td><tt>b10d79f6e5a44a337b49b719a385d6f2d339dd9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kdeartwork-14.12.3.tar.xz">kdeartwork-14.12.3</a></td>
   <td align="right">134MB</td>
   <td><tt>d1fcd5dde63aa09a9134f71c4e46a1ffc7e11efa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-baseapps-14.12.3.tar.xz">kde-baseapps-14.12.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>b2fac2836aead7dcfe5e8eb46b2e08a4df339e6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-base-artwork-14.12.3.tar.xz">kde-base-artwork-14.12.3</a></td>
   <td align="right">7.0MB</td>
   <td><tt>e5708ee34fe99ee4ea6d920f80522f5327c00864</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-dev-scripts-14.12.3.tar.xz">kde-dev-scripts-14.12.3</a></td>
   <td align="right">296kB</td>
   <td><tt>a8b050062b39fadc57b531fdeebf75af36e22c26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-dev-utils-14.12.3.tar.xz">kde-dev-utils-14.12.3</a></td>
   <td align="right">50kB</td>
   <td><tt>a96799e446575d26649763e3e10b23342659dfab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kdeedu-data-14.12.3.tar.xz">kdeedu-data-14.12.3</a></td>
   <td align="right">94kB</td>
   <td><tt>b5b00bdf24f4437424e49d1107df0f06ff58fc67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kdegraphics-mobipocket-14.12.3.tar.xz">kdegraphics-mobipocket-14.12.3</a></td>
   <td align="right">14kB</td>
   <td><tt>14ebf0cd5179c5d9976df5d8d9240e981abf992c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kdegraphics-strigi-analyzer-14.12.3.tar.xz">kdegraphics-strigi-analyzer-14.12.3</a></td>
   <td align="right">39kB</td>
   <td><tt>db6aface5957c5212172a4e10ddfc76a2a2fd69d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kdegraphics-thumbnailers-14.12.3.tar.xz">kdegraphics-thumbnailers-14.12.3</a></td>
   <td align="right">40kB</td>
   <td><tt>f97c13095f3aeb636d0ee1f320a3648a0a8924bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kdelibs-4.14.6.tar.xz">kdelibs-4.14.6</a></td>
   <td align="right">11MB</td>
   <td><tt>4411de9589204ed3b741ec68eeb3c37c7a0abca5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kdenetwork-filesharing-14.12.3.tar.xz">kdenetwork-filesharing-14.12.3</a></td>
   <td align="right">26kB</td>
   <td><tt>6f6b01c521bfc8e622a81620dc604515282c29a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kdenetwork-strigi-analyzers-14.12.3.tar.xz">kdenetwork-strigi-analyzers-14.12.3</a></td>
   <td align="right">14kB</td>
   <td><tt>f7a76ccb5fbaea2ffb0d8af24d1c32323617b834</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kdepim-4.14.6.tar.xz">kdepim-4.14.6</a></td>
   <td align="right">13MB</td>
   <td><tt>ce69db77c83bcfd424247b53c40a9a1fb496a546</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kdepimlibs-4.14.6.tar.xz">kdepimlibs-4.14.6</a></td>
   <td align="right">2.6MB</td>
   <td><tt>90e61c19154dc063d921d477a8dadd97edd26fad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kdepim-runtime-4.14.6.tar.xz">kdepim-runtime-4.14.6</a></td>
   <td align="right">1.1MB</td>
   <td><tt>00084b23c51d4ee6cdc49ec094aab73d4da8b1a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-runtime-14.12.3.tar.xz">kde-runtime-14.12.3</a></td>
   <td align="right">7.5MB</td>
   <td><tt>f597893c4801106d790b3beb17b213a91ee89b9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kdesdk-kioslaves-14.12.3.tar.xz">kdesdk-kioslaves-14.12.3</a></td>
   <td align="right">352kB</td>
   <td><tt>c96650fa0e2eeaa11c54c49d091e59f123563610</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kdesdk-strigi-analyzers-14.12.3.tar.xz">kdesdk-strigi-analyzers-14.12.3</a></td>
   <td align="right">17kB</td>
   <td><tt>c3b647bc83c142d89d33353d05756c3b517268de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kdesdk-thumbnailers-14.12.3.tar.xz">kdesdk-thumbnailers-14.12.3</a></td>
   <td align="right">11kB</td>
   <td><tt>fe8abf0a9e70c355369c787d44c3df9904847d5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-wallpapers-14.12.3.tar.xz">kde-wallpapers-14.12.3</a></td>
   <td align="right">86MB</td>
   <td><tt>b046454e0d0b52c8f0547b8358d1edb291d587e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kdewebdev-14.12.3.tar.xz">kdewebdev-14.12.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>459227bdf9e5e3669b9dc1a0e1b2cde06961b898</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-workspace-4.11.17.tar.xz">kde-workspace-4.11.17</a></td>
   <td align="right">12MB</td>
   <td><tt>d50c0c79dd09c42fd5251fe74d81b051b24dcb79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kdf-14.12.3.tar.xz">kdf-14.12.3</a></td>
   <td align="right">145kB</td>
   <td><tt>2cb3d32c521467f582921e4d046f3cbf2a4aa03e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kdiamond-14.12.3.tar.xz">kdiamond-14.12.3</a></td>
   <td align="right">3.9MB</td>
   <td><tt>2e45b7c4ac541c5fc4f8dbdda852895d1aeae367</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kfloppy-14.12.3.tar.xz">kfloppy-14.12.3</a></td>
   <td align="right">52kB</td>
   <td><tt>f3f9c5a6614e25d469c46c307ff9e9d31f571447</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kfourinline-14.12.3.tar.xz">kfourinline-14.12.3</a></td>
   <td align="right">276kB</td>
   <td><tt>df6c28864e12a29a6a317d99f8932bd7389b8f48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kgamma-14.12.3.tar.xz">kgamma-14.12.3</a></td>
   <td align="right">22kB</td>
   <td><tt>e22548f8725a6a2618ca30a26753a50cf5b6b521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kgeography-14.12.3.tar.xz">kgeography-14.12.3</a></td>
   <td align="right">6.4MB</td>
   <td><tt>200714cdfce8949e6e1642d8f4058d07a73948a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kget-14.12.3.tar.xz">kget-14.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e7a34241be366c38f8c0430119cc73f8bca21f4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kgoldrunner-14.12.3.tar.xz">kgoldrunner-14.12.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>93223dadeb511c2e23462455a20bc2c1ba001e3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kgpg-14.12.3.tar.xz">kgpg-14.12.3</a></td>
   <td align="right">790kB</td>
   <td><tt>1341878ae6e0e83b6c7e21d0252e635e13cf49e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/khangman-14.12.3.tar.xz">khangman-14.12.3</a></td>
   <td align="right">3.7MB</td>
   <td><tt>57efe3e6521b7a536b1115457e37268367f5eef9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kig-14.12.3.tar.xz">kig-14.12.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>f0e9c0c895f4314a69cf89b7a328a1f2c856bc7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kigo-14.12.3.tar.xz">kigo-14.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5b98916184befad5a0e253682d54fa0b6a6c2fda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/killbots-14.12.3.tar.xz">killbots-14.12.3</a></td>
   <td align="right">940kB</td>
   <td><tt>cfdb889a2246f51fd3233c5f6893df733034cc43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kiriki-14.12.3.tar.xz">kiriki-14.12.3</a></td>
   <td align="right">114kB</td>
   <td><tt>726f1293a26e447f124dc3ef683df2dc75eca474</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kiten-14.12.3.tar.xz">kiten-14.12.3</a></td>
   <td align="right">11MB</td>
   <td><tt>979884d307c7c9496034e433842788d831ea7546</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kjumpingcube-14.12.3.tar.xz">kjumpingcube-14.12.3</a></td>
   <td align="right">161kB</td>
   <td><tt>0ee9cd436bf9954faf85711018a9e05567898f71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/klettres-14.12.3.tar.xz">klettres-14.12.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>5209bb4d6ed414e841e8ab98a2986eac437f3ed0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/klickety-14.12.3.tar.xz">klickety-14.12.3</a></td>
   <td align="right">765kB</td>
   <td><tt>b60785e98fa17b80a1551fe3c7d5cc15f2eb159b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/klines-14.12.3.tar.xz">klines-14.12.3</a></td>
   <td align="right">927kB</td>
   <td><tt>99b579bad9fe4d9c9e92613dc01336972d7c5e77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kmag-14.12.3.tar.xz">kmag-14.12.3</a></td>
   <td align="right">84kB</td>
   <td><tt>1dd85f9c1855f38edf707e553ce4e32a0e5a4cb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kmahjongg-14.12.3.tar.xz">kmahjongg-14.12.3</a></td>
   <td align="right">984kB</td>
   <td><tt>ba43e48c277221436512b1b1f2c9d3ecddd9508e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kmines-14.12.3.tar.xz">kmines-14.12.3</a></td>
   <td align="right">613kB</td>
   <td><tt>374494ed2b4a9cedaf6af367ae5beb61d124ccc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kmix-14.12.3.tar.xz">kmix-14.12.3</a></td>
   <td align="right">377kB</td>
   <td><tt>f5c4fa3c573c9171603580f3b4e666567519f57e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kmousetool-14.12.3.tar.xz">kmousetool-14.12.3</a></td>
   <td align="right">35kB</td>
   <td><tt>3fb2a3626aadf8416b1e9b7a909d72d833a74eb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kmouth-14.12.3.tar.xz">kmouth-14.12.3</a></td>
   <td align="right">301kB</td>
   <td><tt>0f149b66ad3a8c6f7e48ee6a368aeb877b3f358a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kmplot-14.12.3.tar.xz">kmplot-14.12.3</a></td>
   <td align="right">645kB</td>
   <td><tt>fae385378820e56d39d2bace2ba6bd77620f917b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/knavalbattle-14.12.3.tar.xz">knavalbattle-14.12.3</a></td>
   <td align="right">834kB</td>
   <td><tt>1eb42d8286e1f4ee6ab8a048fe8a7a76acc33889</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/knetwalk-14.12.3.tar.xz">knetwalk-14.12.3</a></td>
   <td align="right">763kB</td>
   <td><tt>0529c3f684c22e4299d244dafc4c40c399cc0f13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kolf-14.12.3.tar.xz">kolf-14.12.3</a></td>
   <td align="right">749kB</td>
   <td><tt>20cb6d6f09d1573f6abf6f72a9fd39910b20f9ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kollision-14.12.3.tar.xz">kollision-14.12.3</a></td>
   <td align="right">202kB</td>
   <td><tt>81a97983ac644f96bb3339176d2276cc1dec2342</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kolourpaint-14.12.3.tar.xz">kolourpaint-14.12.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>3118c31cdc03c535099558741b2eb93254ba0a25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kompare-14.12.3.tar.xz">kompare-14.12.3</a></td>
   <td align="right">336kB</td>
   <td><tt>7d8d52baa812db4e382df77f66b00aa2d9babe01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/konquest-14.12.3.tar.xz">konquest-14.12.3</a></td>
   <td align="right">396kB</td>
   <td><tt>5c8643baadfb2fca2870c843b8e1de0b6981b308</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/konsole-14.12.3.tar.xz">konsole-14.12.3</a></td>
   <td align="right">448kB</td>
   <td><tt>5a483a7570966f664f0ee3b2dbc7ae40441ba1dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kopete-14.12.3.tar.xz">kopete-14.12.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>7582f0ee8198fa62a5f02c6e532b993258df6fd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kpat-14.12.3.tar.xz">kpat-14.12.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>567e57645d280f6c162815b19c5187bc4373763f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kppp-14.12.3.tar.xz">kppp-14.12.3</a></td>
   <td align="right">683kB</td>
   <td><tt>f009b7242915a5a0ddd2124336e64e23ac849c3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kqtquickcharts-14.12.3.tar.xz">kqtquickcharts-14.12.3</a></td>
   <td align="right">20kB</td>
   <td><tt>7f8931779490e89acd68ca7edfe5b9b6159a96ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/krdc-14.12.3.tar.xz">krdc-14.12.3</a></td>
   <td align="right">389kB</td>
   <td><tt>8a03e422b39316358195c546ac0641c9f78be327</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kremotecontrol-14.12.3.tar.xz">kremotecontrol-14.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ea325aa63016ae5412c7307e4b1fa07e0db3d847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kreversi-14.12.3.tar.xz">kreversi-14.12.3</a></td>
   <td align="right">464kB</td>
   <td><tt>8cb33739342798336bcd67fb0075f5eb6e3ea6bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/krfb-14.12.3.tar.xz">krfb-14.12.3</a></td>
   <td align="right">319kB</td>
   <td><tt>27766bfa110dd51bd51ada68ec21f0691cdb65d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kruler-14.12.3.tar.xz">kruler-14.12.3</a></td>
   <td align="right">125kB</td>
   <td><tt>511f141a08e9701cb58ea2fdaec08777639f8049</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/ksaneplugin-14.12.3.tar.xz">ksaneplugin-14.12.3</a></td>
   <td align="right">12kB</td>
   <td><tt>aabf8d724794517606f95930b82d267a6e2436df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kscd-14.12.3.tar.xz">kscd-14.12.3</a></td>
   <td align="right">90kB</td>
   <td><tt>09df0659d25516d70c1f39f154c157e9dd0a18a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kshisen-14.12.3.tar.xz">kshisen-14.12.3</a></td>
   <td align="right">133kB</td>
   <td><tt>695e0275ab5eb6781133e1b2b44e06abd102e6f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/ksirk-14.12.3.tar.xz">ksirk-14.12.3</a></td>
   <td align="right">4.7MB</td>
   <td><tt>dd09d42b0eb25100b7fa3dab248ed810d8c1088c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/ksnakeduel-14.12.3.tar.xz">ksnakeduel-14.12.3</a></td>
   <td align="right">312kB</td>
   <td><tt>a86f00dbb12e4dbe82773c767b4eecf36790af1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/ksnapshot-14.12.3.tar.xz">ksnapshot-14.12.3</a></td>
   <td align="right">252kB</td>
   <td><tt>8da3f90ed69b337de9c750606f4d2da96a15ba3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kspaceduel-14.12.3.tar.xz">kspaceduel-14.12.3</a></td>
   <td align="right">247kB</td>
   <td><tt>dd417e22fe9675a2a54f4356d301601f99a5b905</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/ksquares-14.12.3.tar.xz">ksquares-14.12.3</a></td>
   <td align="right">78kB</td>
   <td><tt>62749c850f441d331499642401ab2b4300342f81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kstars-14.12.3.tar.xz">kstars-14.12.3</a></td>
   <td align="right">11MB</td>
   <td><tt>b372f26e5202b5c4369b974d126b5fa32d493c24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/ksudoku-14.12.3.tar.xz">ksudoku-14.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4ea72b3e19fec1edcc82c505d925b394a33a8fe2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/ksystemlog-14.12.3.tar.xz">ksystemlog-14.12.3</a></td>
   <td align="right">372kB</td>
   <td><tt>dbe82b9e5455ce11b4d985483fb4e10a49e8ef92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kteatime-14.12.3.tar.xz">kteatime-14.12.3</a></td>
   <td align="right">98kB</td>
   <td><tt>7455a328409dfd1624114e34e438f6e3e2d18572</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/ktimer-14.12.3.tar.xz">ktimer-14.12.3</a></td>
   <td align="right">143kB</td>
   <td><tt>91c08d7153fd894182f41cf7541d9745a0ec6ab1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/ktouch-14.12.3.tar.xz">ktouch-14.12.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>245dd89f19604ccca7aa264c902b5e6d5017d984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/ktuberling-14.12.3.tar.xz">ktuberling-14.12.3</a></td>
   <td align="right">4.0MB</td>
   <td><tt>ee0b3cd4892efc84c0d195792429033a660cffcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kturtle-14.12.3.tar.xz">kturtle-14.12.3</a></td>
   <td align="right">188kB</td>
   <td><tt>1075573ffdf21581d6fffb37d6fa9d356b45c2e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/ktux-14.12.3.tar.xz">ktux-14.12.3</a></td>
   <td align="right">105kB</td>
   <td><tt>614bc0e90c7c503cffa35445171c32f1f3a79444</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kubrick-14.12.3.tar.xz">kubrick-14.12.3</a></td>
   <td align="right">104kB</td>
   <td><tt>504e74621590931f87ba7d821b6fa1e0d1520457</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kuser-14.12.3.tar.xz">kuser-14.12.3</a></td>
   <td align="right">132kB</td>
   <td><tt>c01e918fd19379c7d3029f7a6ba9a6596ff38072</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kwalletmanager-14.12.3.tar.xz">kwalletmanager-14.12.3</a></td>
   <td align="right">446kB</td>
   <td><tt>3aa30a6d5cc77097629d7164eef35ee735496175</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kwordquiz-14.12.3.tar.xz">kwordquiz-14.12.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>43b42ec3e60980c62ade0f51529835f07059fa7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/libkcddb-14.12.3.tar.xz">libkcddb-14.12.3</a></td>
   <td align="right">154kB</td>
   <td><tt>5aff960ebcece6c0a63e1b260ec99eef6e7be964</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/libkcompactdisc-14.12.3.tar.xz">libkcompactdisc-14.12.3</a></td>
   <td align="right">74kB</td>
   <td><tt>1629f85662f0c5594b18083e411acdf727bc504e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/libkdcraw-14.12.3.tar.xz">libkdcraw-14.12.3</a></td>
   <td align="right">100kB</td>
   <td><tt>9997aa054299f2c796d30d2f62f840a8ddcbca53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/libkdeedu-14.12.3.tar.xz">libkdeedu-14.12.3</a></td>
   <td align="right">128kB</td>
   <td><tt>eec43ede1c1b2142c88ca8d989e0218099927e8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/libkdegames-14.12.3.tar.xz">libkdegames-14.12.3</a></td>
   <td align="right">5.5MB</td>
   <td><tt>258d8130e7a38d1366466cef1d29ee2e13a456a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/libkeduvocdocument-14.12.3.tar.xz">libkeduvocdocument-14.12.3</a></td>
   <td align="right">96kB</td>
   <td><tt>5a673f0a73945746462039d855666cd5e6e8f846</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/libkexiv2-14.12.3.tar.xz">libkexiv2-14.12.3</a></td>
   <td align="right">134kB</td>
   <td><tt>761898281e8df45ca9e972a4c24dc217ef0f2182</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/libkface-14.12.3.tar.xz">libkface-14.12.3</a></td>
   <td align="right">8.5MB</td>
   <td><tt>52e69d2dd947b0ce8e25d1ff503773d2009337ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/libkipi-14.12.3.tar.xz">libkipi-14.12.3</a></td>
   <td align="right">93kB</td>
   <td><tt>b6128b58dfeb6ec58a921069667e09cce35687ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/libkmahjongg-14.12.3.tar.xz">libkmahjongg-14.12.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>511983c1b92e391e24909b04d3ae2817f720e661</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/libkomparediff2-14.12.3.tar.xz">libkomparediff2-14.12.3</a></td>
   <td align="right">55kB</td>
   <td><tt>feaec85030e653a77fae0ca5d5cf70956be81475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/libksane-14.12.3.tar.xz">libksane-14.12.3</a></td>
   <td align="right">79kB</td>
   <td><tt>d5f7c846687f15bfee85fe4e12ec9b4f9265ab9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/lokalize-14.12.3.tar.xz">lokalize-14.12.3</a></td>
   <td align="right">826kB</td>
   <td><tt>2e7215a0fa45bee424736dc92a9a5a80425669fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/lskat-14.12.3.tar.xz">lskat-14.12.3</a></td>
   <td align="right">907kB</td>
   <td><tt>be9c5656e19f884c5af894344b32cf9d81fcc415</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/marble-14.12.3.tar.xz">marble-14.12.3</a></td>
   <td align="right">18MB</td>
   <td><tt>165a3484b755b8874ab179eff3a5c14f5cc59b16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/mplayerthumbs-14.12.3.tar.xz">mplayerthumbs-14.12.3</a></td>
   <td align="right">26kB</td>
   <td><tt>b7dac88f70cc499e221192f38e9ae10e92fea38d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/okteta-14.12.3.tar.xz">okteta-14.12.3</a></td>
   <td align="right">490kB</td>
   <td><tt>658698af0a91bbde6f57f5f35b813f8b68cc3161</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/okular-14.12.3.tar.xz">okular-14.12.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>402238357773d421fb7404c3a09bbaba73722592</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/oxygen-icons-14.12.3.tar.xz">oxygen-icons-14.12.3</a></td>
   <td align="right">219MB</td>
   <td><tt>7bc7b42da5d52ff762165835fcd7d57e32f981de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/pairs-14.12.3.tar.xz">pairs-14.12.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>3f27c5475a170b6b47787a984fe7ad1951c3f2df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/palapeli-14.12.3.tar.xz">palapeli-14.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9a3ca41a0b2f8cb3d9fc79b8c5f63faa9fc68ecd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/parley-14.12.3.tar.xz">parley-14.12.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>6de8c21f6759b2c3ecd74c209c1a6a86dd73ab14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/picmi-14.12.3.tar.xz">picmi-14.12.3</a></td>
   <td align="right">714kB</td>
   <td><tt>5a35e99f9c58594c81e4d88899bf39b453a11688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/poxml-14.12.3.tar.xz">poxml-14.12.3</a></td>
   <td align="right">30kB</td>
   <td><tt>d842a3b7b1e8717a8fd8506c8af58a71eaa9e5e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/print-manager-14.12.3.tar.xz">print-manager-14.12.3</a></td>
   <td align="right">90kB</td>
   <td><tt>357be57853364b59416152745a940cb7b5ee6727</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/rocs-14.12.3.tar.xz">rocs-14.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>dc39f44464b895183aff2107c6d60dbd5ffb58b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/step-14.12.3.tar.xz">step-14.12.3</a></td>
   <td align="right">374kB</td>
   <td><tt>97c718fd9c0aef46c6e6d00fc894347920ebce3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/superkaramba-14.12.3.tar.xz">superkaramba-14.12.3</a></td>
   <td align="right">372kB</td>
   <td><tt>c7b8bb1210493d8ba6eadc863e1c3096c1480bb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/svgpart-14.12.3.tar.xz">svgpart-14.12.3</a></td>
   <td align="right">8kB</td>
   <td><tt>7cc0be51b8bb707c2382afb15ab4fe9ff225c8af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/sweeper-14.12.3.tar.xz">sweeper-14.12.3</a></td>
   <td align="right">80kB</td>
   <td><tt>81966a624574cb75880df9a3e5bce4710920aa97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/umbrello-14.12.3.tar.xz">umbrello-14.12.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>2036951f16881087c58d7397b9924baeb8370f26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/zeroconf-ioslave-14.12.3.tar.xz">zeroconf-ioslave-14.12.3</a></td>
   <td align="right">25kB</td>
   <td><tt>5cf5be8e4107ea059a386443bbc05ba2acf557b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-ar-14.12.3.tar.xz">kde-l10n-ar-14.12.3</a></td>
   <td align="right">3.1MB</td>
   <td><tt>de91b75e8c5dbd3a4fea20ece5a3d9ea8b4d156e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-bg-14.12.3.tar.xz">kde-l10n-bg-14.12.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>062b41bbe63e567a666185008177cb3199f8b3c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-bs-14.12.3.tar.xz">kde-l10n-bs-14.12.3</a></td>
   <td align="right">2.2MB</td>
   <td><tt>99a304bbc3a1bb04c81677f5236fbd694d0289df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-ca-14.12.3.tar.xz">kde-l10n-ca-14.12.3</a></td>
   <td align="right">11MB</td>
   <td><tt>a977fb56ae665f94586f99c703559b836b26059f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-ca@valencia-14.12.3.tar.xz">kde-l10n-ca@valencia-14.12.3</a></td>
   <td align="right">2.2MB</td>
   <td><tt>9e725ecd5d43e37bd07ba3aa92c4655bb670653c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-cs-14.12.3.tar.xz">kde-l10n-cs-14.12.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>47a80bdbd4e44d6eb9ca561759e53f61954b386e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-da-14.12.3.tar.xz">kde-l10n-da-14.12.3</a></td>
   <td align="right">12MB</td>
   <td><tt>c9bc03d39f03ff872f54437f81cb74e671c3deec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-de-14.12.3.tar.xz">kde-l10n-de-14.12.3</a></td>
   <td align="right">34MB</td>
   <td><tt>837ba6ab47c861f51e9997aba3ecb65b131c0356</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-el-14.12.3.tar.xz">kde-l10n-el-14.12.3</a></td>
   <td align="right">4.6MB</td>
   <td><tt>9d096bc4292c34f993ef7737481cf00aa9918851</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-en_GB-14.12.3.tar.xz">kde-l10n-en_GB-14.12.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>7c61fd1935099d8ccd950ac3b1fc43bb03d8c3d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-es-14.12.3.tar.xz">kde-l10n-es-14.12.3</a></td>
   <td align="right">20MB</td>
   <td><tt>ebd91e5c2f0bb8c14a0c684749a8e329c0f1c016</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-et-14.12.3.tar.xz">kde-l10n-et-14.12.3</a></td>
   <td align="right">4.3MB</td>
   <td><tt>d1777dc58effd6d376e7d0f873cb285bd52c608c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-eu-14.12.3.tar.xz">kde-l10n-eu-14.12.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>c0122b120811db7d6878e9a1d22b4395ab44e185</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-fa-14.12.3.tar.xz">kde-l10n-fa-14.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>06366cd9680dc6a3998f5189ddf320ef9cbcd068</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-fi-14.12.3.tar.xz">kde-l10n-fi-14.12.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>3776271a73269c717fd5d7c525c4885f1bdb11d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-fr-14.12.3.tar.xz">kde-l10n-fr-14.12.3</a></td>
   <td align="right">44MB</td>
   <td><tt>6deec273395ea6bd4964c034db5fa735114030df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-ga-14.12.3.tar.xz">kde-l10n-ga-14.12.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>e64d3ac222557d922f105f538bda5840a6ddbc11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-gl-14.12.3.tar.xz">kde-l10n-gl-14.12.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>6e9c41f69e9241f1faf0c0a9b7e552d381568e9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-he-14.12.3.tar.xz">kde-l10n-he-14.12.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>b366d8e7dc98d5e96589ba316621ac3603b5ac68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-hi-14.12.3.tar.xz">kde-l10n-hi-14.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d95b9886cd1a546edda17f6bb618c12146fd70e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-hr-14.12.3.tar.xz">kde-l10n-hr-14.12.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>930943c097f84c2de04dd2e51b5686834f0ae57a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-hu-14.12.3.tar.xz">kde-l10n-hu-14.12.3</a></td>
   <td align="right">4.0MB</td>
   <td><tt>8f6a4f6a2b99994de0fde9e03e4bc2d39557dfbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-ia-14.12.3.tar.xz">kde-l10n-ia-14.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>002893667911e4153cccb86d9a933ac2cc970c05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-id-14.12.3.tar.xz">kde-l10n-id-14.12.3</a></td>
   <td align="right">518kB</td>
   <td><tt>6ca51ff3a3a8e7856b776c8fc6aede1af2791d62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-is-14.12.3.tar.xz">kde-l10n-is-14.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>36cf275a58b37eb475620b5e624a0a35956944ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-it-14.12.3.tar.xz">kde-l10n-it-14.12.3</a></td>
   <td align="right">8.4MB</td>
   <td><tt>5ce239b8d42d3f55ed39fcdfd54fa1d7c2575669</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-ja-14.12.3.tar.xz">kde-l10n-ja-14.12.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>f560561285f05fa6dbcd560dfa102c92339eef81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-kk-14.12.3.tar.xz">kde-l10n-kk-14.12.3</a></td>
   <td align="right">2.5MB</td>
   <td><tt>3a4d5d588fa41fe82f900f257db0b243fc00945f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-km-14.12.3.tar.xz">kde-l10n-km-14.12.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>48525341836b348e9a039b138746b73fd01d5864</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-ko-14.12.3.tar.xz">kde-l10n-ko-14.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8997d783fac6cd89f6fb00f503dfc688487b526d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-lt-14.12.3.tar.xz">kde-l10n-lt-14.12.3</a></td>
   <td align="right">12MB</td>
   <td><tt>73d6f29d7d2abfce867c11058debaadeb078ea0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-lv-14.12.3.tar.xz">kde-l10n-lv-14.12.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>21d34e21bc4f786cea092ebf0ba63cb8aea1e5fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-mr-14.12.3.tar.xz">kde-l10n-mr-14.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>862940ab887796916acbccfb3a00bc4a99c68680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-nb-14.12.3.tar.xz">kde-l10n-nb-14.12.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>97e641c30330c0805e42fc4b5ecb338724ef6941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-nds-14.12.3.tar.xz">kde-l10n-nds-14.12.3</a></td>
   <td align="right">3.1MB</td>
   <td><tt>dcaeae6f8733c2e31372308518737ee12e525381</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-nl-14.12.3.tar.xz">kde-l10n-nl-14.12.3</a></td>
   <td align="right">13MB</td>
   <td><tt>c3a6184780f832c828bafa36b7e5422b65a691a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-nn-14.12.3.tar.xz">kde-l10n-nn-14.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>a35e38fa19becafce3e90815d7d5640bb0f06e6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-pa-14.12.3.tar.xz">kde-l10n-pa-14.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>630dad45e9738f7c58172c1885a90fb12e30d3b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-pl-14.12.3.tar.xz">kde-l10n-pl-14.12.3</a></td>
   <td align="right">18MB</td>
   <td><tt>29fcd121ad5f9b425c0efe38d6c2c9d8fc0d426b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-pt-14.12.3.tar.xz">kde-l10n-pt-14.12.3</a></td>
   <td align="right">3.5MB</td>
   <td><tt>9edcf6981bef97e9e2207104a0b89a7069871712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-pt_BR-14.12.3.tar.xz">kde-l10n-pt_BR-14.12.3</a></td>
   <td align="right">23MB</td>
   <td><tt>5ba8ad1466b230217ddf848b51805a7207e5f24d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-ro-14.12.3.tar.xz">kde-l10n-ro-14.12.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>2568eaae2e88e145bbd1e7b880f61d065fa9a1ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-ru-14.12.3.tar.xz">kde-l10n-ru-14.12.3</a></td>
   <td align="right">22MB</td>
   <td><tt>d114930febb617ddf614151d8bbabb7b9d4c9718</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-sk-14.12.3.tar.xz">kde-l10n-sk-14.12.3</a></td>
   <td align="right">4.3MB</td>
   <td><tt>b1053c6337ec7819aade91bfcd5bc73805b08670</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-sl-14.12.3.tar.xz">kde-l10n-sl-14.12.3</a></td>
   <td align="right">3.0MB</td>
   <td><tt>c98294ab8e5074402d4eab8abb19d1a5583a12c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-sr-14.12.3.tar.xz">kde-l10n-sr-14.12.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>0c624b028ef760ff1746314e776a5e8c68378774</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-sv-14.12.3.tar.xz">kde-l10n-sv-14.12.3</a></td>
   <td align="right">13MB</td>
   <td><tt>d38505b1866ed700022a67d74a231331a985d3d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-tr-14.12.3.tar.xz">kde-l10n-tr-14.12.3</a></td>
   <td align="right">3.7MB</td>
   <td><tt>398111432d1b04a3817578b763573017d77f6a85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-ug-14.12.3.tar.xz">kde-l10n-ug-14.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d39c55f175e2e8608536552620199b8bd9e97027</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-uk-14.12.3.tar.xz">kde-l10n-uk-14.12.3</a></td>
   <td align="right">25MB</td>
   <td><tt>748d55030cdfbb9e7e7e3ab65024ffcff425fcb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-wa-14.12.3.tar.xz">kde-l10n-wa-14.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0b8d9ed4680ea6164bba83df34aede34500c6a23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-zh_CN-14.12.3.tar.xz">kde-l10n-zh_CN-14.12.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>a41c2205da4915219235068f4a5b46f1246b602b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.3/src/kde-l10n/kde-l10n-zh_TW-14.12.3.tar.xz">kde-l10n-zh_TW-14.12.3</a></td>
   <td align="right">2.5MB</td>
   <td><tt>265daa5617fb150e66c2f05c8496eb5ac0d49e7d</tt></td>
</tr>

</table>
