<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/akonadi-15.07.90.tar.xz">akonadi-15.07.90</a></td>
   <td align="right">272kB</td>
   <td><tt>e88e65e6acfec4f95e236768b147816d4a030a14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/akonadi-calendar-15.07.90.tar.xz">akonadi-calendar-15.07.90</a></td>
   <td align="right">105kB</td>
   <td><tt>9706ee9eb3cba21dd612ba1874e80fb2b4114022</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/akonadi-search-15.07.90.tar.xz">akonadi-search-15.07.90</a></td>
   <td align="right">49kB</td>
   <td><tt>43f1889f42ebf1dac45ba6f104be609782625443</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/amor-15.07.90.tar.xz">amor-15.07.90</a></td>
   <td align="right">171kB</td>
   <td><tt>525117792d1d21e6e70e76aef877469c7123995f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/analitza-15.07.90.tar.xz">analitza-15.07.90</a></td>
   <td align="right">222kB</td>
   <td><tt>b40beed843c7913b3b5cb48b30476a43ca087cf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ark-15.07.90.tar.xz">ark-15.07.90</a></td>
   <td align="right">217kB</td>
   <td><tt>3761f33d3dcb3386dc80e87f781393eeaa6bd2e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/artikulate-15.07.90.tar.xz">artikulate-15.07.90</a></td>
   <td align="right">3.6MB</td>
   <td><tt>619b47a28f5ee37ab90c01f313b4c1268346ab81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/audiocd-kio-15.07.90.tar.xz">audiocd-kio-15.07.90</a></td>
   <td align="right">50kB</td>
   <td><tt>c949337cbcabd220a7e5ebd467bac6eb4020d577</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/baloo-widgets-15.07.90.tar.xz">baloo-widgets-15.07.90</a></td>
   <td align="right">55kB</td>
   <td><tt>7525a2b3a6d4602ef06dfd16e5d3d9a4acb9bfd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/blinken-15.07.90.tar.xz">blinken-15.07.90</a></td>
   <td align="right">553kB</td>
   <td><tt>951b8e0de914086bb85e739a3285321a4eecc4f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/bomber-15.07.90.tar.xz">bomber-15.07.90</a></td>
   <td align="right">384kB</td>
   <td><tt>f9d350c9b189cfeb8486748b1a665ecf4642b1c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/bovo-15.07.90.tar.xz">bovo-15.07.90</a></td>
   <td align="right">102kB</td>
   <td><tt>ed2f802820112bab3725beb3d5093112463ae27f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/cantor-15.07.90.tar.xz">cantor-15.07.90</a></td>
   <td align="right">348kB</td>
   <td><tt>50d94fb3d21b08eec3dba1c8cff05870075e68a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/cervisia-15.07.90.tar.xz">cervisia-15.07.90</a></td>
   <td align="right">364kB</td>
   <td><tt>6a9362fec88ea6094f6ab7853cd07810558d1fd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/dolphin-15.07.90.tar.xz">dolphin-15.07.90</a></td>
   <td align="right">641kB</td>
   <td><tt>cfdd0fa0157f3723edca6c053bae1b3917ea48f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/dolphin-plugins-15.07.90.tar.xz">dolphin-plugins-15.07.90</a></td>
   <td align="right">57kB</td>
   <td><tt>6b5b0af055263274471e55988982de503721b231</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/dragon-15.07.90.tar.xz">dragon-15.07.90</a></td>
   <td align="right">393kB</td>
   <td><tt>32cab37c1a51ce96c6f1c80006952c3edbd6b7d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ffmpegthumbs-15.07.90.tar.xz">ffmpegthumbs-15.07.90</a></td>
   <td align="right">19kB</td>
   <td><tt>b0f95dda19eeb7ab3f8928186bf02ff514a86058</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/filelight-15.07.90.tar.xz">filelight-15.07.90</a></td>
   <td align="right">280kB</td>
   <td><tt>4792520c6788197ba792b88db7e2d8e7e506aa5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/gpgmepp-15.07.90.tar.xz">gpgmepp-15.07.90</a></td>
   <td align="right">58kB</td>
   <td><tt>e5595c147ad3f668ad6bc7e1377a2549ea663dde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/granatier-15.07.90.tar.xz">granatier-15.07.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>52be375ba7b1d0e8fca429dde5efe683d7ca5a98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/gwenview-15.07.90.tar.xz">gwenview-15.07.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>b6307d9185df1e136e62fac8009e5808776e5aae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/jovie-15.07.90.tar.xz">jovie-15.07.90</a></td>
   <td align="right">382kB</td>
   <td><tt>5bcfe85f580274e0fa482ddcce3e27bc946ba345</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/juk-15.07.90.tar.xz">juk-15.07.90</a></td>
   <td align="right">434kB</td>
   <td><tt>ae79371babac52fc6adb5bfaa031da5ee66f096c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kaccessible-15.07.90.tar.xz">kaccessible-15.07.90</a></td>
   <td align="right">20kB</td>
   <td><tt>dcfed60c4660849115952f0502302efd7e864159</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kaccounts-integration-15.07.90.tar.xz">kaccounts-integration-15.07.90</a></td>
   <td align="right">58kB</td>
   <td><tt>bb7b748dae64b995e017b9f2a67de8de28009452</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kaccounts-providers-15.07.90.tar.xz">kaccounts-providers-15.07.90</a></td>
   <td align="right">11kB</td>
   <td><tt>79eee3a7c9a46d8854190e3a6030c0203aae7171</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kajongg-15.07.90.tar.xz">kajongg-15.07.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>4f9c44e004387337cf68b48369392fa31ce561e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kalarmcal-15.07.90.tar.xz">kalarmcal-15.07.90</a></td>
   <td align="right">77kB</td>
   <td><tt>1640acaf7c9db7253bc5f93f2a9b2f96499a14ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kalgebra-15.07.90.tar.xz">kalgebra-15.07.90</a></td>
   <td align="right">263kB</td>
   <td><tt>9560060bde1468e8b868e03e4c7c3279ad26ad70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kalzium-15.07.90.tar.xz">kalzium-15.07.90</a></td>
   <td align="right">3.7MB</td>
   <td><tt>892d525e0c426cd20cd4428bd011ff10a2cfadea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kamera-15.07.90.tar.xz">kamera-15.07.90</a></td>
   <td align="right">34kB</td>
   <td><tt>94ae7348213ebd5a48839c325009dc8692ba1687</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kanagram-15.07.90.tar.xz">kanagram-15.07.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>72a76de51f87fc68b2d90d6f50bc9784ce187584</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kapman-15.07.90.tar.xz">kapman-15.07.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>91f1adbae1a4c15f5548022d5deac6dd013981dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kapptemplate-15.07.90.tar.xz">kapptemplate-15.07.90</a></td>
   <td align="right">689kB</td>
   <td><tt>1691e4d07c31bc16da94a17f9e415a20e9e963b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kate-15.07.90.tar.xz">kate-15.07.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>bf8e85215eb2eaf00b66d7156c987c0722edfc3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/katomic-15.07.90.tar.xz">katomic-15.07.90</a></td>
   <td align="right">646kB</td>
   <td><tt>a5443603a3dcabb0a770f7d553861248c91fe8c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kblackbox-15.07.90.tar.xz">kblackbox-15.07.90</a></td>
   <td align="right">255kB</td>
   <td><tt>b189a0480fc19e8ce76e4bb45ac8ca1c6311598b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kblocks-15.07.90.tar.xz">kblocks-15.07.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>7e807c288050ed73fa44e1afb7a3fa9340287a4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kblog-15.07.90.tar.xz">kblog-15.07.90</a></td>
   <td align="right">34kB</td>
   <td><tt>31ec2f8a77e57350db4bdb7337a86526c4551bbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kbounce-15.07.90.tar.xz">kbounce-15.07.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>419cdb5e86561158d78812558dc3dccd941b1c2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kbreakout-15.07.90.tar.xz">kbreakout-15.07.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>8c49cf23e6f11eb83c4f286c2dbe190a0ced9b01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kbruch-15.07.90.tar.xz">kbruch-15.07.90</a></td>
   <td align="right">883kB</td>
   <td><tt>ea3f092278c7ba9d0aa358cfb0ced068f946decc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kcachegrind-15.07.90.tar.xz">kcachegrind-15.07.90</a></td>
   <td align="right">232kB</td>
   <td><tt>538a3e0266295d38c11eb7be3249309f488612be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kcalc-15.07.90.tar.xz">kcalc-15.07.90</a></td>
   <td align="right">81kB</td>
   <td><tt>cf32c4eb2309110edd6c0685fc51ebce7136145b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kcalcore-15.07.90.tar.xz">kcalcore-15.07.90</a></td>
   <td align="right">285kB</td>
   <td><tt>d6ff3b53f6ff3573471c91a0d10d5ece5ea5b413</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kcalutils-15.07.90.tar.xz">kcalutils-15.07.90</a></td>
   <td align="right">53kB</td>
   <td><tt>e3951d50771887a367ede67ce881ce2f152af047</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kcharselect-15.07.90.tar.xz">kcharselect-15.07.90</a></td>
   <td align="right">82kB</td>
   <td><tt>6d2cf2fcfb3213a2b3217ab6726b08979ef8d8a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kcolorchooser-15.07.90.tar.xz">kcolorchooser-15.07.90</a></td>
   <td align="right">4kB</td>
   <td><tt>0fbedc2a1595b1e86824510afcec4d933ab6e1e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kcontacts-15.07.90.tar.xz">kcontacts-15.07.90</a></td>
   <td align="right">131kB</td>
   <td><tt>babbfbf2c87f1e8ac745f0001c7bae812864f467</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kcron-15.07.90.tar.xz">kcron-15.07.90</a></td>
   <td align="right">136kB</td>
   <td><tt>e5d232e21b7acb3a315f259cdfd8465f8c2f4129</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kdeartwork-15.07.90.tar.xz">kdeartwork-15.07.90</a></td>
   <td align="right">134MB</td>
   <td><tt>558ea62fa0f98a9e5dccd0f10c36c677f6cbe761</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-baseapps-15.07.90.tar.xz">kde-baseapps-15.07.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>acbe6ec0e6ca5f24a95872dbafd29aae5a3a3ea9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-base-artwork-15.07.90.tar.xz">kde-base-artwork-15.07.90</a></td>
   <td align="right">7.0MB</td>
   <td><tt>0a61157813ca7d6a5e141caa1856dbe9843454c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kdebugsettings-15.07.90.tar.xz">kdebugsettings-15.07.90</a></td>
   <td align="right">19kB</td>
   <td><tt>9ed4a3440391dcbaf335080494c55a11fd878568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-dev-scripts-15.07.90.tar.xz">kde-dev-scripts-15.07.90</a></td>
   <td align="right">299kB</td>
   <td><tt>cb352336ed0bff823d1046883437728a8d6ebac7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-dev-utils-15.07.90.tar.xz">kde-dev-utils-15.07.90</a></td>
   <td align="right">50kB</td>
   <td><tt>2e3f67e3c6b68d5fb5e2c067ec177169d6ad47a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kdeedu-data-15.07.90.tar.xz">kdeedu-data-15.07.90</a></td>
   <td align="right">94kB</td>
   <td><tt>04239ea452d5ff0a2ef120a94cc3b074e89b3cae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kdegraphics-mobipocket-15.07.90.tar.xz">kdegraphics-mobipocket-15.07.90</a></td>
   <td align="right">14kB</td>
   <td><tt>3de1fd2a70ea9a884e98095bb9e6a264a07f62c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kdegraphics-strigi-analyzer-15.07.90.tar.xz">kdegraphics-strigi-analyzer-15.07.90</a></td>
   <td align="right">39kB</td>
   <td><tt>5e047949eb3c0d2bc343f69337eeb617f8bda286</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kdegraphics-thumbnailers-15.07.90.tar.xz">kdegraphics-thumbnailers-15.07.90</a></td>
   <td align="right">40kB</td>
   <td><tt>57f7118fd17b3ba0d439d706e60f8936aa5e184d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kdenetwork-filesharing-15.07.90.tar.xz">kdenetwork-filesharing-15.07.90</a></td>
   <td align="right">26kB</td>
   <td><tt>b6bbb778122ebb7b26f05fecba6a2d668e7e2a76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kdenetwork-strigi-analyzers-15.07.90.tar.xz">kdenetwork-strigi-analyzers-15.07.90</a></td>
   <td align="right">14kB</td>
   <td><tt>e7313fb6c41fd5e8cf8cfaf02fb66caf5d2154b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kdenlive-15.07.90.tar.xz">kdenlive-15.07.90</a></td>
   <td align="right">3.0MB</td>
   <td><tt>26260a4ec123268fb8150f6c68cf06fe2ed9e655</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kdepim-15.07.90.tar.xz">kdepim-15.07.90</a></td>
   <td align="right">8.6MB</td>
   <td><tt>a5a7fe93729ad49cffd029aa9bf0f58cc38d5df8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kdepimlibs-15.07.90.tar.xz">kdepimlibs-15.07.90</a></td>
   <td align="right">991kB</td>
   <td><tt>9b21762152d2c97e78023c5df0ffb36a0fc7dcd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kdepim-runtime-15.07.90.tar.xz">kdepim-runtime-15.07.90</a></td>
   <td align="right">693kB</td>
   <td><tt>3265a41d5604a6d621e3f8520858b9c90c181a92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-runtime-15.07.90.tar.xz">kde-runtime-15.07.90</a></td>
   <td align="right">7.5MB</td>
   <td><tt>542fa305fb8ee073a57139914b41ad4061293403</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kdesdk-kioslaves-15.07.90.tar.xz">kdesdk-kioslaves-15.07.90</a></td>
   <td align="right">352kB</td>
   <td><tt>26581775020fd6a0b53fe2cf804264eb96606505</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kdesdk-strigi-analyzers-15.07.90.tar.xz">kdesdk-strigi-analyzers-15.07.90</a></td>
   <td align="right">17kB</td>
   <td><tt>4bec94704db4c06a64e43d548120cfa3b2fb73f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kdesdk-thumbnailers-15.07.90.tar.xz">kdesdk-thumbnailers-15.07.90</a></td>
   <td align="right">11kB</td>
   <td><tt>d61ee769234a03329233209cbd0ef254bf2501f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-wallpapers-15.07.90.tar.xz">kde-wallpapers-15.07.90</a></td>
   <td align="right">86MB</td>
   <td><tt>d7440d242a63ba3ded624053deda98d33a8dd651</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kdewebdev-15.07.90.tar.xz">kdewebdev-15.07.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>40258f40c7a8a857c8829fde4047509330abccea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kdf-15.07.90.tar.xz">kdf-15.07.90</a></td>
   <td align="right">145kB</td>
   <td><tt>c83663834bfe42fbf94c430d94b632727e93f8c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kdiamond-15.07.90.tar.xz">kdiamond-15.07.90</a></td>
   <td align="right">3.9MB</td>
   <td><tt>23d159177e55fa7f6a0531714dbf27c2d5d13356</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kfloppy-15.07.90.tar.xz">kfloppy-15.07.90</a></td>
   <td align="right">52kB</td>
   <td><tt>7abb70ba267146aec2453e067e18760c05c3f4e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kfourinline-15.07.90.tar.xz">kfourinline-15.07.90</a></td>
   <td align="right">274kB</td>
   <td><tt>a24cd9722e319879f0058543bed6862a38092efd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kgeography-15.07.90.tar.xz">kgeography-15.07.90</a></td>
   <td align="right">6.4MB</td>
   <td><tt>17211aad89562f0c3d7b2688c1b4a665dbc6f7de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kget-15.07.90.tar.xz">kget-15.07.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>9fca9678cf0675295f9dcc38d87835d95a9115bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kgoldrunner-15.07.90.tar.xz">kgoldrunner-15.07.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>2df99955cdb7fe38fd2684f6e5df756375cd60b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kgpg-15.07.90.tar.xz">kgpg-15.07.90</a></td>
   <td align="right">790kB</td>
   <td><tt>23877cbd4516c4450ceb2bcce02666499709b950</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/khangman-15.07.90.tar.xz">khangman-15.07.90</a></td>
   <td align="right">3.7MB</td>
   <td><tt>106fd5f618c7747433cd6eb3a8de37a37f534eac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kholidays-15.07.90.tar.xz">kholidays-15.07.90</a></td>
   <td align="right">159kB</td>
   <td><tt>dfb8c1c31c6b368dd968d12d5e15781e4b206bd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kidentitymanagement-15.07.90.tar.xz">kidentitymanagement-15.07.90</a></td>
   <td align="right">28kB</td>
   <td><tt>5fd4361632bb270c07394447a53f25ea6ee6008e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kig-15.07.90.tar.xz">kig-15.07.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>31f25465e17ca6dd7feef1df61d2cc0b6dd43476</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kigo-15.07.90.tar.xz">kigo-15.07.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>dc5b77ec07ed5e0985cd334e3fb0b58f0700e24e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/killbots-15.07.90.tar.xz">killbots-15.07.90</a></td>
   <td align="right">941kB</td>
   <td><tt>37d1ac1fd40e5a343a7078ffde2c7686135f38dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kimap-15.07.90.tar.xz">kimap-15.07.90</a></td>
   <td align="right">87kB</td>
   <td><tt>97d9eed36f353cbac2e833827d6b2256a4f9ab5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kio-extras-15.07.90.tar.xz">kio-extras-15.07.90</a></td>
   <td align="right">261kB</td>
   <td><tt>42ead9eee4d121174d2b490c2d789b3942f2a48d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kiriki-15.07.90.tar.xz">kiriki-15.07.90</a></td>
   <td align="right">115kB</td>
   <td><tt>b7a92d2a9060f5336b1008e947cc783bb1287519</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kiten-15.07.90.tar.xz">kiten-15.07.90</a></td>
   <td align="right">11MB</td>
   <td><tt>55cb4e7dce7b3cc956c6d26b0dbaab413bf3cf83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kjumpingcube-15.07.90.tar.xz">kjumpingcube-15.07.90</a></td>
   <td align="right">161kB</td>
   <td><tt>254a21022bdca4ef08db8adb3836bbf7de738a9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kldap-15.07.90.tar.xz">kldap-15.07.90</a></td>
   <td align="right">44kB</td>
   <td><tt>8cfac436dabdddc567c8ed53375dc3fbe92eef8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/klettres-15.07.90.tar.xz">klettres-15.07.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>687a60875d34253b086630375c4a9aa56ae7dab6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/klickety-15.07.90.tar.xz">klickety-15.07.90</a></td>
   <td align="right">765kB</td>
   <td><tt>a23c1be4910c64611afe7106c7c9f7c177da1376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/klines-15.07.90.tar.xz">klines-15.07.90</a></td>
   <td align="right">928kB</td>
   <td><tt>f9dbf8e36cec8a21d1e2d2ab435b9b50c67bb858</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kmag-15.07.90.tar.xz">kmag-15.07.90</a></td>
   <td align="right">84kB</td>
   <td><tt>21795b326be6dc2e38fdc0272c9d19af18a056ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kmahjongg-15.07.90.tar.xz">kmahjongg-15.07.90</a></td>
   <td align="right">984kB</td>
   <td><tt>f8ac79ea83356d71cbb20b00388d20338af51bb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kmailtransport-15.07.90.tar.xz">kmailtransport-15.07.90</a></td>
   <td align="right">62kB</td>
   <td><tt>34beff68de613f535c9c97c6f6d8201a7a98d326</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kmbox-15.07.90.tar.xz">kmbox-15.07.90</a></td>
   <td align="right">15kB</td>
   <td><tt>a067f84771cca11f081c866fa71daec72d58826f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kmime-15.07.90.tar.xz">kmime-15.07.90</a></td>
   <td align="right">121kB</td>
   <td><tt>7e188e7298e3347fe1b8d449a64f6c83e76312cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kmines-15.07.90.tar.xz">kmines-15.07.90</a></td>
   <td align="right">609kB</td>
   <td><tt>47208625458204d2ba3db3b9362f9aba59f78af7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kmix-15.07.90.tar.xz">kmix-15.07.90</a></td>
   <td align="right">379kB</td>
   <td><tt>966d17e5c12cdbee14a7ad1f0fb562ed1f00338d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kmousetool-15.07.90.tar.xz">kmousetool-15.07.90</a></td>
   <td align="right">35kB</td>
   <td><tt>4ee97fb315bd46aba800dc0f4646a829c1c4b3b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kmouth-15.07.90.tar.xz">kmouth-15.07.90</a></td>
   <td align="right">270kB</td>
   <td><tt>fd25b0a40593fd00c5a3393d7bb5c401ec31d80c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kmplot-15.07.90.tar.xz">kmplot-15.07.90</a></td>
   <td align="right">647kB</td>
   <td><tt>55c4e45fc1a08b4c738cb770bd9bfd75d037e4ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/knavalbattle-15.07.90.tar.xz">knavalbattle-15.07.90</a></td>
   <td align="right">834kB</td>
   <td><tt>b17993e7d713f9161771af96fdb996bece3881c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/knetwalk-15.07.90.tar.xz">knetwalk-15.07.90</a></td>
   <td align="right">764kB</td>
   <td><tt>dab6a04a5a81d8d4be8a0841dd1e34ee00be73b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kolf-15.07.90.tar.xz">kolf-15.07.90</a></td>
   <td align="right">750kB</td>
   <td><tt>1fe09e95ef5300aa2337a05450d8a0ad586faf94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kollision-15.07.90.tar.xz">kollision-15.07.90</a></td>
   <td align="right">204kB</td>
   <td><tt>af88124d230fdc62ea743d34ac9bae966de81165</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kolourpaint-15.07.90.tar.xz">kolourpaint-15.07.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>fa038520009dace3b0cd15b26fea520c763d896f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kompare-15.07.90.tar.xz">kompare-15.07.90</a></td>
   <td align="right">336kB</td>
   <td><tt>3ebfd04ddb5f7e70b799863559949ccc368c017f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/konquest-15.07.90.tar.xz">konquest-15.07.90</a></td>
   <td align="right">396kB</td>
   <td><tt>ebe374d3016eca1c217dcc12d724e0312aa24ca4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/konsole-15.07.90.tar.xz">konsole-15.07.90</a></td>
   <td align="right">448kB</td>
   <td><tt>431dd1f605fa2382f53d4cb4235be86421cc7137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kontactinterface-15.07.90.tar.xz">kontactinterface-15.07.90</a></td>
   <td align="right">16kB</td>
   <td><tt>187133769f38d323ff7f276fa743cb6eda866793</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kopete-15.07.90.tar.xz">kopete-15.07.90</a></td>
   <td align="right">6.0MB</td>
   <td><tt>2d214936aae3aacc2199add00b444eccc23ec684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kpat-15.07.90.tar.xz">kpat-15.07.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>ea445960b15319fa1bad9e744e405cf7ed6abedf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kpimtextedit-15.07.90.tar.xz">kpimtextedit-15.07.90</a></td>
   <td align="right">30kB</td>
   <td><tt>b6abd8111bb475c1938af804435c31fe53e36932</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kppp-15.07.90.tar.xz">kppp-15.07.90</a></td>
   <td align="right">683kB</td>
   <td><tt>87e8c2220f2e7325f27cae84e73b7acdb40117f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kqtquickcharts-15.07.90.tar.xz">kqtquickcharts-15.07.90</a></td>
   <td align="right">20kB</td>
   <td><tt>3571fa714031ddccd5ab4393985edef9d3f51860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/krdc-15.07.90.tar.xz">krdc-15.07.90</a></td>
   <td align="right">389kB</td>
   <td><tt>6f66d27fc2d9362aad692e84932c1848b181c41c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kremotecontrol-15.07.90.tar.xz">kremotecontrol-15.07.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b92cebb65c94f02fde6607aa58385be128c3e0db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kreversi-15.07.90.tar.xz">kreversi-15.07.90</a></td>
   <td align="right">464kB</td>
   <td><tt>c4ee181cd175c67ae6e9a62fea42b0ae199f1076</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/krfb-15.07.90.tar.xz">krfb-15.07.90</a></td>
   <td align="right">319kB</td>
   <td><tt>d14c6e1c978607de5215131fa115376cb9d51ca3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kross-interpreters-15.07.90.tar.xz">kross-interpreters-15.07.90</a></td>
   <td align="right">129kB</td>
   <td><tt>3ded86108b1076a269c9375e3410ab99a0c41a4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kruler-15.07.90.tar.xz">kruler-15.07.90</a></td>
   <td align="right">120kB</td>
   <td><tt>1c309a9811e4121c802072090eb0aced0e4e8181</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ksaneplugin-15.07.90.tar.xz">ksaneplugin-15.07.90</a></td>
   <td align="right">12kB</td>
   <td><tt>b4fa6c28944cbdf3cac771ceff1eb06320c60eb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kscd-15.07.90.tar.xz">kscd-15.07.90</a></td>
   <td align="right">90kB</td>
   <td><tt>9b0a0ced093477a00c49d27c05b7616fe445e74a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kshisen-15.07.90.tar.xz">kshisen-15.07.90</a></td>
   <td align="right">133kB</td>
   <td><tt>903fe2cfa1c7007b97278232d4c8edf5efda3afc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ksirk-15.07.90.tar.xz">ksirk-15.07.90</a></td>
   <td align="right">4.7MB</td>
   <td><tt>706b7c7d355d973150b237e6a1b42837dae22832</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ksnakeduel-15.07.90.tar.xz">ksnakeduel-15.07.90</a></td>
   <td align="right">290kB</td>
   <td><tt>ffe5c09740e7aa457ff43c957529d77398969d02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ksnapshot-15.07.90.tar.xz">ksnapshot-15.07.90</a></td>
   <td align="right">252kB</td>
   <td><tt>61e224263d39d1fc9669e0135d879cf4cd6df6bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kspaceduel-15.07.90.tar.xz">kspaceduel-15.07.90</a></td>
   <td align="right">247kB</td>
   <td><tt>a09636e478e644d26d784739bade7a50c23890e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ksquares-15.07.90.tar.xz">ksquares-15.07.90</a></td>
   <td align="right">78kB</td>
   <td><tt>ab1ffde420d72107591a72b20cb6389bbd99b04d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kstars-15.07.90.tar.xz">kstars-15.07.90</a></td>
   <td align="right">12MB</td>
   <td><tt>3d2243b9aadd652fd9d5bcbfd44471a8876640b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ksudoku-15.07.90.tar.xz">ksudoku-15.07.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b59fdf095aa556064b49a13e8a2638f153e3f373</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ksystemlog-15.07.90.tar.xz">ksystemlog-15.07.90</a></td>
   <td align="right">372kB</td>
   <td><tt>853975b644615dc387c1800f61e6d1af9b50fea9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kteatime-15.07.90.tar.xz">kteatime-15.07.90</a></td>
   <td align="right">102kB</td>
   <td><tt>7c04a728b2afabd4ff69814e0c49e3ed5084fd7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ktimer-15.07.90.tar.xz">ktimer-15.07.90</a></td>
   <td align="right">143kB</td>
   <td><tt>b6cfd216bc204c8b970e246be62d6d46d6b76631</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ktnef-15.07.90.tar.xz">ktnef-15.07.90</a></td>
   <td align="right">219kB</td>
   <td><tt>15bc443a4c7b812c0e3a0f79e36f515f8e5aac5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ktouch-15.07.90.tar.xz">ktouch-15.07.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>4980ae4394e92e5743747eee0b8b975d4bace2bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ktp-accounts-kcm-15.07.90.tar.xz">ktp-accounts-kcm-15.07.90</a></td>
   <td align="right">86kB</td>
   <td><tt>e6f4c398897b8dd92d6d3cc2502978cf51062589</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ktp-approver-15.07.90.tar.xz">ktp-approver-15.07.90</a></td>
   <td align="right">20kB</td>
   <td><tt>ee85df77725b918585646d76a301c40633e9a5b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ktp-auth-handler-15.07.90.tar.xz">ktp-auth-handler-15.07.90</a></td>
   <td align="right">25kB</td>
   <td><tt>eb9fda8e55373425c15ccbd07626b58e503aff13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ktp-common-internals-15.07.90.tar.xz">ktp-common-internals-15.07.90</a></td>
   <td align="right">306kB</td>
   <td><tt>9f4d83cb16551e1a6a5ac4cf2a4c36ef27486704</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ktp-contact-list-15.07.90.tar.xz">ktp-contact-list-15.07.90</a></td>
   <td align="right">47kB</td>
   <td><tt>414becd124f98efb6749efa09bbff2fea8afb411</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ktp-contact-runner-15.07.90.tar.xz">ktp-contact-runner-15.07.90</a></td>
   <td align="right">16kB</td>
   <td><tt>e550677fc61a834af47de57e3d00df56fe72cb29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ktp-desktop-applets-15.07.90.tar.xz">ktp-desktop-applets-15.07.90</a></td>
   <td align="right">25kB</td>
   <td><tt>f6ed10579462c07efc75e9f72a174b76ef74af2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ktp-filetransfer-handler-15.07.90.tar.xz">ktp-filetransfer-handler-15.07.90</a></td>
   <td align="right">22kB</td>
   <td><tt>301a1f332e938b7cb18a6b0c16190e33db61ad5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ktp-kded-module-15.07.90.tar.xz">ktp-kded-module-15.07.90</a></td>
   <td align="right">37kB</td>
   <td><tt>f181fd5f9acb271f3463cb52ac60fc805862cb82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ktp-send-file-15.07.90.tar.xz">ktp-send-file-15.07.90</a></td>
   <td align="right">14kB</td>
   <td><tt>acddcba2528e455abcf9a93e39a6679a0939fac1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ktp-text-ui-15.07.90.tar.xz">ktp-text-ui-15.07.90</a></td>
   <td align="right">287kB</td>
   <td><tt>a008704328d69555ae7e7478d46eaf1ccb096650</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ktuberling-15.07.90.tar.xz">ktuberling-15.07.90</a></td>
   <td align="right">4.0MB</td>
   <td><tt>476ff4f621ca2ed62b21232834d446bc66d27f33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kturtle-15.07.90.tar.xz">kturtle-15.07.90</a></td>
   <td align="right">189kB</td>
   <td><tt>8b81967fc4092b4741ccfc0cd1a2fa5b82bc75f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/ktux-15.07.90.tar.xz">ktux-15.07.90</a></td>
   <td align="right">106kB</td>
   <td><tt>c68c25b330f8dd1324b8b5a51a234532d1a64295</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kubrick-15.07.90.tar.xz">kubrick-15.07.90</a></td>
   <td align="right">104kB</td>
   <td><tt>d2d9eb5e7f44fcacb2a24e0c262bd6906fe3f4ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kuser-15.07.90.tar.xz">kuser-15.07.90</a></td>
   <td align="right">132kB</td>
   <td><tt>fbacbcd669be383af651b194440a74c6c8d753a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kwalletmanager-15.07.90.tar.xz">kwalletmanager-15.07.90</a></td>
   <td align="right">446kB</td>
   <td><tt>a72fcc47b2736dd398e97b262966167f49187146</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kwordquiz-15.07.90.tar.xz">kwordquiz-15.07.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>889b03620349b7ddc3aa7f122d5577dc8ad026bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/libkcddb-15.07.90.tar.xz">libkcddb-15.07.90</a></td>
   <td align="right">154kB</td>
   <td><tt>a8311dc7fadb4e412e9f1f271e31ccdf4cb51818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/libkcompactdisc-15.07.90.tar.xz">libkcompactdisc-15.07.90</a></td>
   <td align="right">74kB</td>
   <td><tt>1a145af08ce8c9e5b11194a6abae94f7d42f58cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/libkdcraw-15.07.90.tar.xz">libkdcraw-15.07.90</a></td>
   <td align="right">99kB</td>
   <td><tt>ddc3266d0d81093f2ea80fd13f487f1d48608c27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/libkdeedu-15.07.90.tar.xz">libkdeedu-15.07.90</a></td>
   <td align="right">128kB</td>
   <td><tt>57336635625894929c23a88a182f6ceea7f1da39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/libkdegames-15.07.90.tar.xz">libkdegames-15.07.90</a></td>
   <td align="right">5.5MB</td>
   <td><tt>316f41f48879c087fa8c59b3cb535071c764c03d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/libkeduvocdocument-15.07.90.tar.xz">libkeduvocdocument-15.07.90</a></td>
   <td align="right">96kB</td>
   <td><tt>042b30b31c5ff6bf2db3f8e385d00f7a0f9c0cb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/libkexiv2-15.07.90.tar.xz">libkexiv2-15.07.90</a></td>
   <td align="right">134kB</td>
   <td><tt>0330a71c838c480161bcb8982f0dff7cbefdc297</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/libkface-15.07.90.tar.xz">libkface-15.07.90</a></td>
   <td align="right">8.5MB</td>
   <td><tt>c89f0cfe8ad51a703a101e94bbdaa9ec42546ee2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/libkgeomap-15.07.90.tar.xz">libkgeomap-15.07.90</a></td>
   <td align="right">121kB</td>
   <td><tt>374a4200c7d7a40fea6737872a94fe0a4862b709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/libkipi-15.07.90.tar.xz">libkipi-15.07.90</a></td>
   <td align="right">92kB</td>
   <td><tt>2fe20a94112c074aa2b2a3705c53a8e8d2b2453a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/libkmahjongg-15.07.90.tar.xz">libkmahjongg-15.07.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>1c31a283b35e8faa42521803d8c12ad96c087d11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/libkomparediff2-15.07.90.tar.xz">libkomparediff2-15.07.90</a></td>
   <td align="right">55kB</td>
   <td><tt>bcd0111ef8078823943c2d7e38bc163a256aecab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/libksane-15.07.90.tar.xz">libksane-15.07.90</a></td>
   <td align="right">79kB</td>
   <td><tt>6eec340e1e394a6bea0ed6e4e7204e89ca909869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/lokalize-15.07.90.tar.xz">lokalize-15.07.90</a></td>
   <td align="right">930kB</td>
   <td><tt>37e65293685cb9840e1272433e94f95da98d9d9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/lskat-15.07.90.tar.xz">lskat-15.07.90</a></td>
   <td align="right">908kB</td>
   <td><tt>56b04a274a202ace88ad5ed1f7c5d4b7fb8853e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/marble-15.07.90.tar.xz">marble-15.07.90</a></td>
   <td align="right">22MB</td>
   <td><tt>7d2fa65caaee3f48d5c649d5ce91ca2db05e6c74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/mplayerthumbs-15.07.90.tar.xz">mplayerthumbs-15.07.90</a></td>
   <td align="right">26kB</td>
   <td><tt>cc0a60a4391787e155b2ecbcbd697852709db2de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/okteta-15.07.90.tar.xz">okteta-15.07.90</a></td>
   <td align="right">492kB</td>
   <td><tt>6c5bf2216f7f99a94e1e6e5c34f06e97943a821b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/okular-15.07.90.tar.xz">okular-15.07.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>eb44c6c9996f35b45c22a1307bbdda2f29a1a220</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/pairs-15.07.90.tar.xz">pairs-15.07.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>885ee3cbba3475e0c18bffe1e0f7db8bba9d9a4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/palapeli-15.07.90.tar.xz">palapeli-15.07.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>42444bf4dd198032a421e5655837d592f6e0cd32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/parley-15.07.90.tar.xz">parley-15.07.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>5ee65703f7ae8302954133923d8d10ea548dea9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/picmi-15.07.90.tar.xz">picmi-15.07.90</a></td>
   <td align="right">717kB</td>
   <td><tt>3317883b593185c0d34fd2ce90c6f5f6a37e1820</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/poxml-15.07.90.tar.xz">poxml-15.07.90</a></td>
   <td align="right">30kB</td>
   <td><tt>bb08aba476744f99a032f2f40bff092dbed489bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/print-manager-15.07.90.tar.xz">print-manager-15.07.90</a></td>
   <td align="right">91kB</td>
   <td><tt>4e0e0a172bcba4d20d545dc21c0f3a1b2cb1d8e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/rocs-15.07.90.tar.xz">rocs-15.07.90</a></td>
   <td align="right">521kB</td>
   <td><tt>f08e2f95ae6cc21ce2f1ba9f3a65b0583a697e70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/signon-kwallet-extension-15.07.90.tar.xz">signon-kwallet-extension-15.07.90</a></td>
   <td align="right">10kB</td>
   <td><tt>109ca5469d7b89e1829ce51f5ca4c6cfd282a7a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/step-15.07.90.tar.xz">step-15.07.90</a></td>
   <td align="right">378kB</td>
   <td><tt>5280c617b52c79bd32d6fb67131b05a20922ebc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/superkaramba-15.07.90.tar.xz">superkaramba-15.07.90</a></td>
   <td align="right">372kB</td>
   <td><tt>d7bce85f06dae23319c592224509182175036831</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/svgpart-15.07.90.tar.xz">svgpart-15.07.90</a></td>
   <td align="right">8kB</td>
   <td><tt>26a00dcb0bf31d481cb2d168a59512be4320486a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/sweeper-15.07.90.tar.xz">sweeper-15.07.90</a></td>
   <td align="right">80kB</td>
   <td><tt>54b7cc1bf7a9c3087eaa169beea013d5d08335b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/syndication-15.07.90.tar.xz">syndication-15.07.90</a></td>
   <td align="right">155kB</td>
   <td><tt>489cd5c086faac52f431ff75e3477f87a422f716</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/umbrello-15.07.90.tar.xz">umbrello-15.07.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>7d49817bfcf4bb8b3cb17a0eec1d80f450e28f5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/zeroconf-ioslave-15.07.90.tar.xz">zeroconf-ioslave-15.07.90</a></td>
   <td align="right">25kB</td>
   <td><tt>d1afc3cdc77ddad3efee4318863f5e10b16a5b0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-ar-15.07.90.tar.xz">kde-l10n-ar-15.07.90</a></td>
   <td align="right">3.2MB</td>
   <td><tt>44f788f16ead4332a4e555007dee55fee6ea3bdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-bg-15.07.90.tar.xz">kde-l10n-bg-15.07.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>bde448f52050a36bd0cb9a9a4a411235e8366427</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-bs-15.07.90.tar.xz">kde-l10n-bs-15.07.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>318b53c1b0fb3285512da32af79f8cee99025996</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-ca-15.07.90.tar.xz">kde-l10n-ca-15.07.90</a></td>
   <td align="right">11MB</td>
   <td><tt>d14b7d8c29578fc150c8009d0467d8796688c034</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-ca@valencia-15.07.90.tar.xz">kde-l10n-ca@valencia-15.07.90</a></td>
   <td align="right">2.2MB</td>
   <td><tt>18528468bd5576c8ee3099e7a4bb516245a1b523</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-cs-15.07.90.tar.xz">kde-l10n-cs-15.07.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>73fab16d5aa213e6269fca3bd0c9337f515bcd59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-da-15.07.90.tar.xz">kde-l10n-da-15.07.90</a></td>
   <td align="right">12MB</td>
   <td><tt>30d9d88317b64db8a1c213e5a1a887fe402bf076</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-de-15.07.90.tar.xz">kde-l10n-de-15.07.90</a></td>
   <td align="right">32MB</td>
   <td><tt>cf7408b69f3c6f3f92320a4c639f65949a3aa222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-el-15.07.90.tar.xz">kde-l10n-el-15.07.90</a></td>
   <td align="right">4.6MB</td>
   <td><tt>792a10a9d07dfad2c1660137b615bc010fc10e28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-en_GB-15.07.90.tar.xz">kde-l10n-en_GB-15.07.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>cdb00333e8a5fec85c6df9c16f43b5224fe140f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-eo-15.07.90.tar.xz">kde-l10n-eo-15.07.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>845c5a4cb31d694b2b4a43e89195c4610ecc6a07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-es-15.07.90.tar.xz">kde-l10n-es-15.07.90</a></td>
   <td align="right">17MB</td>
   <td><tt>e6192bad9bccebdc3152930c7606b950dd5e493e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-et-15.07.90.tar.xz">kde-l10n-et-15.07.90</a></td>
   <td align="right">3.1MB</td>
   <td><tt>a581003cba75ab73ce5e3bdd6ed448480362020f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-eu-15.07.90.tar.xz">kde-l10n-eu-15.07.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>86ef1c4695dbff0a60b258a83aecc4e4f9bb3882</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-fa-15.07.90.tar.xz">kde-l10n-fa-15.07.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7c7fbae2e20c82bb503b6daff2ce5066685659bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-fi-15.07.90.tar.xz">kde-l10n-fi-15.07.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>3108059490201c60d9e15409e325f0931d2d45c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-fr-15.07.90.tar.xz">kde-l10n-fr-15.07.90</a></td>
   <td align="right">42MB</td>
   <td><tt>0d5de33c236e24258036c9f49902469406341f2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-ga-15.07.90.tar.xz">kde-l10n-ga-15.07.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>98d5a483c24d1809d33fcb17b4d1d817290bb4f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-gl-15.07.90.tar.xz">kde-l10n-gl-15.07.90</a></td>
   <td align="right">3.3MB</td>
   <td><tt>dffd8998a3185f6ecba1c5b4c740e2fdb1481a7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-he-15.07.90.tar.xz">kde-l10n-he-15.07.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>62412f4ea0d1c931cf5e0d213f4dc41063a8a53b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-hi-15.07.90.tar.xz">kde-l10n-hi-15.07.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>b57c3b4ec9c4cfb803ac2b9e89e7c52e5dcee6cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-hr-15.07.90.tar.xz">kde-l10n-hr-15.07.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>fc1d950ddd8cdc42b4581a45fadeef88ab994d1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-hu-15.07.90.tar.xz">kde-l10n-hu-15.07.90</a></td>
   <td align="right">4.1MB</td>
   <td><tt>b73476f8dd25506bbdfb484ff76d451684780832</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-ia-15.07.90.tar.xz">kde-l10n-ia-15.07.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>983be3b7ae3844c676978ca314cea487baccc13b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-id-15.07.90.tar.xz">kde-l10n-id-15.07.90</a></td>
   <td align="right">557kB</td>
   <td><tt>7f8a0bdbec61828cb7b36a189f487a354a21d600</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-is-15.07.90.tar.xz">kde-l10n-is-15.07.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>09ae740e63ee08f78914d1fe68c98a0c1982eeef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-it-15.07.90.tar.xz">kde-l10n-it-15.07.90</a></td>
   <td align="right">8.4MB</td>
   <td><tt>da0ba5d958841f5c45f3bd28a4b2a8c2d082469e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-ja-15.07.90.tar.xz">kde-l10n-ja-15.07.90</a></td>
   <td align="right">2.2MB</td>
   <td><tt>5002558fb5fb2dba07fe5b80a0bfa532fa191a45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-kk-15.07.90.tar.xz">kde-l10n-kk-15.07.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>a53b77faca26114713f609a1aa716b174f8d7b66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-km-15.07.90.tar.xz">kde-l10n-km-15.07.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>5c2caa2b358e3b3e0f57cd5565f373c192570061</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-ko-15.07.90.tar.xz">kde-l10n-ko-15.07.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c830c2ea8b98e7c7fe399acd5072f54b5e28cee3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-lt-15.07.90.tar.xz">kde-l10n-lt-15.07.90</a></td>
   <td align="right">12MB</td>
   <td><tt>d66c109833f55de0e0040b6121d23aa9acb197b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-lv-15.07.90.tar.xz">kde-l10n-lv-15.07.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>a75b76667fb8bc1603a74c8045b4b71a74705fd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-mr-15.07.90.tar.xz">kde-l10n-mr-15.07.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>626e69648dca9bf642b3d9a9c4df3eccf5db714e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-nb-15.07.90.tar.xz">kde-l10n-nb-15.07.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>5c0b6a1085749cd1c7220b7fa13eba5c1b1b3236</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-nds-15.07.90.tar.xz">kde-l10n-nds-15.07.90</a></td>
   <td align="right">3.1MB</td>
   <td><tt>b5e349fb129b1e6dc9891cf9c4343d5e44ee2687</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-nl-15.07.90.tar.xz">kde-l10n-nl-15.07.90</a></td>
   <td align="right">13MB</td>
   <td><tt>1c2bbf10b34cd1c23d9a94b71f8b8d534a94add5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-nn-15.07.90.tar.xz">kde-l10n-nn-15.07.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>5a205c505db26ef3c07caf5ebcd19d916420dc3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-pa-15.07.90.tar.xz">kde-l10n-pa-15.07.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>a7601ee8c2eec0a48fc11e79104a0579c0df0808</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-pl-15.07.90.tar.xz">kde-l10n-pl-15.07.90</a></td>
   <td align="right">18MB</td>
   <td><tt>f26ea0546a6538e51fedbcd26b5537b73158acfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-pt-15.07.90.tar.xz">kde-l10n-pt-15.07.90</a></td>
   <td align="right">3.3MB</td>
   <td><tt>017da73ad735b16140746cdf85b044355574ffc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-pt_BR-15.07.90.tar.xz">kde-l10n-pt_BR-15.07.90</a></td>
   <td align="right">20MB</td>
   <td><tt>86917ea095e88e653bc031b50a2cc678e6d526e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-ro-15.07.90.tar.xz">kde-l10n-ro-15.07.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>6d62b0ef80047551a2aef6ce7ccbe6684c04a79c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-ru-15.07.90.tar.xz">kde-l10n-ru-15.07.90</a></td>
   <td align="right">21MB</td>
   <td><tt>17b5a1cd316c71b7f7ccfe15e3d03ffb25ce67cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-sk-15.07.90.tar.xz">kde-l10n-sk-15.07.90</a></td>
   <td align="right">4.3MB</td>
   <td><tt>4cfab7e5376ff88e890167130a650af56aa5e00b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-sl-15.07.90.tar.xz">kde-l10n-sl-15.07.90</a></td>
   <td align="right">3.0MB</td>
   <td><tt>08892aa8f1514fc08f6a21483c22794ab9b4ab56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-sr-15.07.90.tar.xz">kde-l10n-sr-15.07.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>d45fea48665c9cab8b930fbd9395115e0dfa5ee7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-sv-15.07.90.tar.xz">kde-l10n-sv-15.07.90</a></td>
   <td align="right">12MB</td>
   <td><tt>706288871bae87825fdae670b85569e40a6df793</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-tr-15.07.90.tar.xz">kde-l10n-tr-15.07.90</a></td>
   <td align="right">3.7MB</td>
   <td><tt>61b56f076a131902f08c205bac5b50ab7088db90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-ug-15.07.90.tar.xz">kde-l10n-ug-15.07.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c37e4177b510d1b6cd8f9f25a8e62a7f3ec3eb45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-uk-15.07.90.tar.xz">kde-l10n-uk-15.07.90</a></td>
   <td align="right">24MB</td>
   <td><tt>a71e2364c97a0873d0d7b3695180d3cdd6e44a7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-wa-15.07.90.tar.xz">kde-l10n-wa-15.07.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8b4dbd5b87662d4d611bafc189ecb6a7a1eaeb74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-zh_CN-15.07.90.tar.xz">kde-l10n-zh_CN-15.07.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>435e81a8c2e27f6b0eec1ddffae4f3682a02f525</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.90/src/kde-l10n/kde-l10n-zh_TW-15.07.90.tar.xz">kde-l10n-zh_TW-15.07.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>cb54765dd2e48528babdad3f3053a58a9c198770</tt></td>
</tr>

</table>
