<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/akonadi-16.04.0.tar.xz">akonadi-16.04.0</a></td>
   <td align="right">996kB</td>
   <td><tt>a51d64c60e6dcf1840cc6ec9fafbcdd790c7b2d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/akonadi-calendar-16.04.0.tar.xz">akonadi-calendar-16.04.0</a></td>
   <td align="right">112kB</td>
   <td><tt>9366805a147e73c313af810fb63fdb6958c7e711</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/akonadi-search-16.04.0.tar.xz">akonadi-search-16.04.0</a></td>
   <td align="right">68kB</td>
   <td><tt>228f726944db2146047240066255066dd05cf0de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/analitza-16.04.0.tar.xz">analitza-16.04.0</a></td>
   <td align="right">228kB</td>
   <td><tt>c88b5305dc4b5e16c503a959653955e3d403f801</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ark-16.04.0.tar.xz">ark-16.04.0</a></td>
   <td align="right">887kB</td>
   <td><tt>09a647fe1aa935f3084d8985a99b10e4a95197e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/artikulate-16.04.0.tar.xz">artikulate-16.04.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>6c5ebbd5c325d7b078e2ac9ea46f260382640dd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/audiocd-kio-16.04.0.tar.xz">audiocd-kio-16.04.0</a></td>
   <td align="right">50kB</td>
   <td><tt>3db6fe152ed54162659dac689b950e114ab940d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/baloo-widgets-16.04.0.tar.xz">baloo-widgets-16.04.0</a></td>
   <td align="right">55kB</td>
   <td><tt>36bfa904c7c12b2ba4fed124e73c27727b5af41a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/blinken-16.04.0.tar.xz">blinken-16.04.0</a></td>
   <td align="right">554kB</td>
   <td><tt>3ab5609a4093a5a924a2a5450336e0e78acf8e6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/bomber-16.04.0.tar.xz">bomber-16.04.0</a></td>
   <td align="right">384kB</td>
   <td><tt>11637baf44c6ca76d6bea15193a0a0534ab83d0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/bovo-16.04.0.tar.xz">bovo-16.04.0</a></td>
   <td align="right">103kB</td>
   <td><tt>c6a804deecc24b48cf46307ce80b3232106fb773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/calendarsupport-16.04.0.tar.xz">calendarsupport-16.04.0</a></td>
   <td align="right">87kB</td>
   <td><tt>90377e8eaa1ce079e1bf85c3c82278ed4e444e9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/cantor-16.04.0.tar.xz">cantor-16.04.0</a></td>
   <td align="right">342kB</td>
   <td><tt>18c93ec173c48cd44a16b8d58d3f22404470fc33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/cervisia-16.04.0.tar.xz">cervisia-16.04.0</a></td>
   <td align="right">365kB</td>
   <td><tt>37381e5929c5aa63c2d1216dbc5287b72b439c78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/dolphin-16.04.0.tar.xz">dolphin-16.04.0</a></td>
   <td align="right">644kB</td>
   <td><tt>dad368880545956c6483c651be2b08e8aa5bd56e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/dolphin-plugins-16.04.0.tar.xz">dolphin-plugins-16.04.0</a></td>
   <td align="right">59kB</td>
   <td><tt>4f3fa2e1165f875a8fb050812bba956d6a0c78e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/dragon-16.04.0.tar.xz">dragon-16.04.0</a></td>
   <td align="right">394kB</td>
   <td><tt>315d7e63cb9366ee86389c6f9a828ee9a98fce07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/eventviews-16.04.0.tar.xz">eventviews-16.04.0</a></td>
   <td align="right">133kB</td>
   <td><tt>4fc6a5d02954eb4aa971f951d0f80cff5d6b153f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ffmpegthumbs-16.04.0.tar.xz">ffmpegthumbs-16.04.0</a></td>
   <td align="right">19kB</td>
   <td><tt>3d20c375cfd61e0c6b2050d151d4b7e3f8d15cd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/filelight-16.04.0.tar.xz">filelight-16.04.0</a></td>
   <td align="right">280kB</td>
   <td><tt>b79d75065731d9db7981ae9ab6ce2e17df19ad04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/gpgmepp-16.04.0.tar.xz">gpgmepp-16.04.0</a></td>
   <td align="right">66kB</td>
   <td><tt>3ae86be51e70d99024eabdac52c3b82042eca467</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/granatier-16.04.0.tar.xz">granatier-16.04.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>42468a87f5df0af38287cdaa08796e05bbf23364</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/grantleetheme-16.04.0.tar.xz">grantleetheme-16.04.0</a></td>
   <td align="right">31kB</td>
   <td><tt>1b571e9f1c0a1b57465a08e3b0c02a59f1b1e491</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/gwenview-16.04.0.tar.xz">gwenview-16.04.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>bf686083fe3a5a02c3b6d8846623c0145d95fdb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/incidenceeditor-16.04.0.tar.xz">incidenceeditor-16.04.0</a></td>
   <td align="right">107kB</td>
   <td><tt>edcd91c368ac11052c0f4e4423754269af58475a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/jovie-16.04.0.tar.xz">jovie-16.04.0</a></td>
   <td align="right">384kB</td>
   <td><tt>a24db39418c81112ac0f19a2802de85a1990189a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/juk-16.04.0.tar.xz">juk-16.04.0</a></td>
   <td align="right">435kB</td>
   <td><tt>8edcfe57ac07d89bf24db8ea2059b15096775c5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kaccessible-16.04.0.tar.xz">kaccessible-16.04.0</a></td>
   <td align="right">20kB</td>
   <td><tt>d77ffb85feb0e114197a7c6ac62e5d84d6cd43ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kaccounts-integration-16.04.0.tar.xz">kaccounts-integration-16.04.0</a></td>
   <td align="right">44kB</td>
   <td><tt>c813808054f28556dbf10f623f12ceff45d4d9dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kaccounts-providers-16.04.0.tar.xz">kaccounts-providers-16.04.0</a></td>
   <td align="right">16kB</td>
   <td><tt>f398fb814d6d9a8b1110c13f7182278f960d44e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kajongg-16.04.0.tar.xz">kajongg-16.04.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>a3ef1c722901b20e965f992bb1fe969f4c242379</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kalarmcal-16.04.0.tar.xz">kalarmcal-16.04.0</a></td>
   <td align="right">85kB</td>
   <td><tt>55bb3465268a88d97422038f818b3bd797be214c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kalgebra-16.04.0.tar.xz">kalgebra-16.04.0</a></td>
   <td align="right">250kB</td>
   <td><tt>2ea671aa955c4ed76652505dbfa8e77d62537546</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kalzium-16.04.0.tar.xz">kalzium-16.04.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>0f9a76d22356b4ec70455684a79e773b3bd99dd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kamera-16.04.0.tar.xz">kamera-16.04.0</a></td>
   <td align="right">36kB</td>
   <td><tt>bf9282ccb6d1f8339ca098f31ad7087994f9297e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kanagram-16.04.0.tar.xz">kanagram-16.04.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>138687d059eade1a15f8c28f7e87951362c85bad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kapman-16.04.0.tar.xz">kapman-16.04.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e60c57412f94c45a0161e81739e77239451ec766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kapptemplate-16.04.0.tar.xz">kapptemplate-16.04.0</a></td>
   <td align="right">463kB</td>
   <td><tt>78e099f211af5505d69234d805fb41062a256101</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kate-16.04.0.tar.xz">kate-16.04.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>237a92bb267997cebc52156ca20f24d36472bdaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/katomic-16.04.0.tar.xz">katomic-16.04.0</a></td>
   <td align="right">645kB</td>
   <td><tt>aead25bb9d0b10eb280091c19fad8d2839a4261c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kblackbox-16.04.0.tar.xz">kblackbox-16.04.0</a></td>
   <td align="right">255kB</td>
   <td><tt>f880cb8c4650e0e25b48fff2deb16dd94bf3bc05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kblocks-16.04.0.tar.xz">kblocks-16.04.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>ae1d616306853452de8dfeead38295f819a029ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kblog-16.04.0.tar.xz">kblog-16.04.0</a></td>
   <td align="right">42kB</td>
   <td><tt>8ea376b83601e1f5ddd6ec40a5752ba25047d206</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kbounce-16.04.0.tar.xz">kbounce-16.04.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>84bb82bc355f163e22175fe9a659cc5ea8938ad6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kbreakout-16.04.0.tar.xz">kbreakout-16.04.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>04a7daba7db9724028dfac1fc53c9db7d9130314</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kbruch-16.04.0.tar.xz">kbruch-16.04.0</a></td>
   <td align="right">884kB</td>
   <td><tt>0702f01ae810b18c0db3d421f4cbdb4dce305ee4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kcachegrind-16.04.0.tar.xz">kcachegrind-16.04.0</a></td>
   <td align="right">232kB</td>
   <td><tt>58542af35df8cc98fcbb195fea59588c482489ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kcalc-16.04.0.tar.xz">kcalc-16.04.0</a></td>
   <td align="right">81kB</td>
   <td><tt>6067fd5f91a6b69376104c19485ca83ac6aa1991</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kcalcore-16.04.0.tar.xz">kcalcore-16.04.0</a></td>
   <td align="right">288kB</td>
   <td><tt>3a0352abbae209866bf67ec32abbf02fd7f9c674</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kcalutils-16.04.0.tar.xz">kcalutils-16.04.0</a></td>
   <td align="right">68kB</td>
   <td><tt>6ce88fdf633a55ed545dd441783f4c6dfc13211b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kcharselect-16.04.0.tar.xz">kcharselect-16.04.0</a></td>
   <td align="right">70kB</td>
   <td><tt>c01a0fb8e57beb9176e9c58b22ea6ce785891c03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kcolorchooser-16.04.0.tar.xz">kcolorchooser-16.04.0</a></td>
   <td align="right">4kB</td>
   <td><tt>c7932bd4a0cf1fbaf0af0403b8474e47ae9ca0ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kcontacts-16.04.0.tar.xz">kcontacts-16.04.0</a></td>
   <td align="right">132kB</td>
   <td><tt>695dab38ab0f296b29ef56f82ae49b073d70a49c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kcron-16.04.0.tar.xz">kcron-16.04.0</a></td>
   <td align="right">136kB</td>
   <td><tt>587bd9a69f94d087903bc299ece423b2cc8b7594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-baseapps-16.04.0.tar.xz">kde-baseapps-16.04.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ea32fba276acb4dd35f20fcef8da62e6944ee968</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kdebugsettings-16.04.0.tar.xz">kdebugsettings-16.04.0</a></td>
   <td align="right">22kB</td>
   <td><tt>547bf25fa1ba8d7c27225595069efb518be71dfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-dev-scripts-16.04.0.tar.xz">kde-dev-scripts-16.04.0</a></td>
   <td align="right">302kB</td>
   <td><tt>4c0f58f8bec63c215d97ba8799bc31e961d0e6ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-dev-utils-16.04.0.tar.xz">kde-dev-utils-16.04.0</a></td>
   <td align="right">50kB</td>
   <td><tt>b1e4bd8c17b2aee7aefd838aeea26b6f99d8d5e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kdeedu-data-16.04.0.tar.xz">kdeedu-data-16.04.0</a></td>
   <td align="right">94kB</td>
   <td><tt>b40fa09243f165fc30b9bb066c2dcdf0e7e160e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kdegraphics-mobipocket-16.04.0.tar.xz">kdegraphics-mobipocket-16.04.0</a></td>
   <td align="right">14kB</td>
   <td><tt>57d2c1623b052b56af6c39476461a40c6b1e8994</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kdegraphics-strigi-analyzer-16.04.0.tar.xz">kdegraphics-strigi-analyzer-16.04.0</a></td>
   <td align="right">39kB</td>
   <td><tt>f8ea6d172b6d8d4e117ccb48f8974be763cfe0ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kdegraphics-thumbnailers-16.04.0.tar.xz">kdegraphics-thumbnailers-16.04.0</a></td>
   <td align="right">40kB</td>
   <td><tt>f7e7708c4bc0762a12a3d02d79f5c4b06842f395</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kdelibs-4.14.19.tar.xz">kdelibs-4.14.19</a></td>
   <td align="right">11MB</td>
   <td><tt>82a3db2c013d269ba850c06c9d1ac53ef6c44623</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kdenetwork-filesharing-16.04.0.tar.xz">kdenetwork-filesharing-16.04.0</a></td>
   <td align="right">27kB</td>
   <td><tt>cd3599668f5b71511dc98c2a9ce85a94c09d19d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kdenetwork-strigi-analyzers-16.04.0.tar.xz">kdenetwork-strigi-analyzers-16.04.0</a></td>
   <td align="right">14kB</td>
   <td><tt>5245f4c65ecd7c82827d9dd1a6ccb7b124e32ba7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kdenlive-16.04.0.tar.xz">kdenlive-16.04.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>f46363be177319b18dda655cc16727fa50d19040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kdepim-16.04.0.tar.xz">kdepim-16.04.0</a></td>
   <td align="right">5.7MB</td>
   <td><tt>fa8bc8fa7c5d40ced34688f69a9910dd1ebcee9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kdepim-addons-16.04.0.tar.xz">kdepim-addons-16.04.0</a></td>
   <td align="right">206kB</td>
   <td><tt>98db45182e13425090f72d89c3fe13034430b56e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kdepim-apps-libs-16.04.0.tar.xz">kdepim-apps-libs-16.04.0</a></td>
   <td align="right">59kB</td>
   <td><tt>71ed32fc7a4ddb82d5a7c01db79b782c484b6f25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kdepimlibs-16.04.0.tar.xz">kdepimlibs-16.04.0</a></td>
   <td align="right">286kB</td>
   <td><tt>9b943113845edd18718c2373437746243bc1d179</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kdepim-runtime-16.04.0.tar.xz">kdepim-runtime-16.04.0</a></td>
   <td align="right">685kB</td>
   <td><tt>b7ae61ed4a81920536e11c948e77a94764a34291</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-runtime-16.04.0.tar.xz">kde-runtime-16.04.0</a></td>
   <td align="right">7.5MB</td>
   <td><tt>e49c748bcf569e52bf59354e2fffe17c1f40bc26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kdesdk-kioslaves-16.04.0.tar.xz">kdesdk-kioslaves-16.04.0</a></td>
   <td align="right">352kB</td>
   <td><tt>8bd5bd0e848abe918f98a725fca1e9ec4713d957</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kdesdk-strigi-analyzers-16.04.0.tar.xz">kdesdk-strigi-analyzers-16.04.0</a></td>
   <td align="right">17kB</td>
   <td><tt>6042871330ccdd81fc30245e01ea4e554810022f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kdesdk-thumbnailers-16.04.0.tar.xz">kdesdk-thumbnailers-16.04.0</a></td>
   <td align="right">11kB</td>
   <td><tt>541008d18063516d39c7c93c26384ffd526b15ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kdewebdev-16.04.0.tar.xz">kdewebdev-16.04.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>f45ea720e16cdd2a540f93d162699c8d37440b2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kdf-16.04.0.tar.xz">kdf-16.04.0</a></td>
   <td align="right">145kB</td>
   <td><tt>a484f1a9f6c6de635e9ab177bf53080c65640148</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kdgantt2-16.04.0.tar.xz">kdgantt2-16.04.0</a></td>
   <td align="right">43kB</td>
   <td><tt>a2bebc79c96a0638d854a0104beb5dd885c8a9bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kdiamond-16.04.0.tar.xz">kdiamond-16.04.0</a></td>
   <td align="right">3.9MB</td>
   <td><tt>32acf9bb07a835de35df1917bca11ec3b69b2d13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kfloppy-16.04.0.tar.xz">kfloppy-16.04.0</a></td>
   <td align="right">52kB</td>
   <td><tt>0ec8fd42552fda744e16cb687e8693e076d6977f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kfourinline-16.04.0.tar.xz">kfourinline-16.04.0</a></td>
   <td align="right">274kB</td>
   <td><tt>33b2bee5fc035f978b652d8fa2a8df44b73236f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kgeography-16.04.0.tar.xz">kgeography-16.04.0</a></td>
   <td align="right">6.4MB</td>
   <td><tt>8f3309864060afcb0f0594935a1d6cad638a7922</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kget-16.04.0.tar.xz">kget-16.04.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>52a0c3d04159196cb9189f7faacb33ed979b857c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kgoldrunner-16.04.0.tar.xz">kgoldrunner-16.04.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>fb09375120d8f5d0d835b3ab7e784738ec28fd15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kgpg-16.04.0.tar.xz">kgpg-16.04.0</a></td>
   <td align="right">790kB</td>
   <td><tt>2cfbfc9aa9c66beb84edb32817b8186d57a93c3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/khangman-16.04.0.tar.xz">khangman-16.04.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>eabb0393746ec75409889b011b53eac84c6bf971</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/khelpcenter-16.04.0.tar.xz">khelpcenter-16.04.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>0583c775297238c428e88a9b87a049286b73dfa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kholidays-16.04.0.tar.xz">kholidays-16.04.0</a></td>
   <td align="right">171kB</td>
   <td><tt>155cfd3990c8be3b301481229737f7ca3f8a9de8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kidentitymanagement-16.04.0.tar.xz">kidentitymanagement-16.04.0</a></td>
   <td align="right">35kB</td>
   <td><tt>8d59e68f0442bf80faadd104504b5b6acb0a9534</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kig-16.04.0.tar.xz">kig-16.04.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>ae459d60301351c52f44558e870f2a8a70800ca1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kigo-16.04.0.tar.xz">kigo-16.04.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>edf945a6fb8af24c3afe96a93d265cdd1cecde80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/killbots-16.04.0.tar.xz">killbots-16.04.0</a></td>
   <td align="right">940kB</td>
   <td><tt>32785311f649d5fd8785ffd88313714fa1ddbcfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kimap-16.04.0.tar.xz">kimap-16.04.0</a></td>
   <td align="right">88kB</td>
   <td><tt>ee4374bada4318961526fd1695d792f3a7ea7101</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kio-extras-16.04.0.tar.xz">kio-extras-16.04.0</a></td>
   <td align="right">271kB</td>
   <td><tt>ca93f31e1828924e18a1e01f48cf923fdf37373e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kiriki-16.04.0.tar.xz">kiriki-16.04.0</a></td>
   <td align="right">117kB</td>
   <td><tt>725c4b2982f470fab93d61ecbbd8416f5d594bdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kiten-16.04.0.tar.xz">kiten-16.04.0</a></td>
   <td align="right">11MB</td>
   <td><tt>14b5813193d95bb88d8d8e47c3123ee573c6996f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kjumpingcube-16.04.0.tar.xz">kjumpingcube-16.04.0</a></td>
   <td align="right">161kB</td>
   <td><tt>7dccfb748531eb1d6dedf9962d9396ba92815b58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kldap-16.04.0.tar.xz">kldap-16.04.0</a></td>
   <td align="right">52kB</td>
   <td><tt>be6c74812c807306a33ca86c674766d2bcf892da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kleopatra-16.04.0.tar.xz">kleopatra-16.04.0</a></td>
   <td align="right">695kB</td>
   <td><tt>84c59fc86ec8a844d25c9354e651e436d92bbacb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/klettres-16.04.0.tar.xz">klettres-16.04.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>6c06dd6b6f81b7899da762094d88e7184358eaa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/klickety-16.04.0.tar.xz">klickety-16.04.0</a></td>
   <td align="right">804kB</td>
   <td><tt>10dfbb74293b1f2a60d78df3499760f19e8308b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/klines-16.04.0.tar.xz">klines-16.04.0</a></td>
   <td align="right">985kB</td>
   <td><tt>1f3a3c2a60bdf0caf5124350622d0723a674ff9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kmag-16.04.0.tar.xz">kmag-16.04.0</a></td>
   <td align="right">84kB</td>
   <td><tt>67acea6a10f78c67f026d2ff71e7c620f8787659</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kmahjongg-16.04.0.tar.xz">kmahjongg-16.04.0</a></td>
   <td align="right">988kB</td>
   <td><tt>f17ddf522a1a663b52d83c9b58aebac2e84eaa7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kmailtransport-16.04.0.tar.xz">kmailtransport-16.04.0</a></td>
   <td align="right">63kB</td>
   <td><tt>4d052438d5ba74c11d343f6b5f9fd3b3085eb692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kmbox-16.04.0.tar.xz">kmbox-16.04.0</a></td>
   <td align="right">23kB</td>
   <td><tt>617ec3cba2b0921dfdc632431f6d5feb1518d7f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kmime-16.04.0.tar.xz">kmime-16.04.0</a></td>
   <td align="right">119kB</td>
   <td><tt>1f6bf16dc7b2ffbb826c3be8e4232bec6d5f8e08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kmines-16.04.0.tar.xz">kmines-16.04.0</a></td>
   <td align="right">608kB</td>
   <td><tt>01705f5362b10ffea4ed46aa10875529143b1632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kmix-16.04.0.tar.xz">kmix-16.04.0</a></td>
   <td align="right">380kB</td>
   <td><tt>d6ad727d72bac756bb513b748516e1aa75eeae43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kmousetool-16.04.0.tar.xz">kmousetool-16.04.0</a></td>
   <td align="right">35kB</td>
   <td><tt>d10bd5503dc74e95a1083aad8591aaaed96bd037</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kmouth-16.04.0.tar.xz">kmouth-16.04.0</a></td>
   <td align="right">270kB</td>
   <td><tt>ff00ac1783a20573f4ff1a95e84c8528f1801f7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kmplot-16.04.0.tar.xz">kmplot-16.04.0</a></td>
   <td align="right">647kB</td>
   <td><tt>73dd6089fc4e09a02767b96e69fe6e1c94c0da1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/knavalbattle-16.04.0.tar.xz">knavalbattle-16.04.0</a></td>
   <td align="right">889kB</td>
   <td><tt>14f05766ca1d3c9169b729526262c559d1fd1fb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/knetwalk-16.04.0.tar.xz">knetwalk-16.04.0</a></td>
   <td align="right">764kB</td>
   <td><tt>a4996601a70afa33139a32162c362dd2ee475ca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kolf-16.04.0.tar.xz">kolf-16.04.0</a></td>
   <td align="right">749kB</td>
   <td><tt>01e3ded979a25da8dbb314ea88621f44b2db4ba4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kollision-16.04.0.tar.xz">kollision-16.04.0</a></td>
   <td align="right">204kB</td>
   <td><tt>887523dad8f07023bffc8994dafbd5e1a0311b29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kolourpaint-16.04.0.tar.xz">kolourpaint-16.04.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>08380ce6720dfbeab3745d1663078d05f9f6c567</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kompare-16.04.0.tar.xz">kompare-16.04.0</a></td>
   <td align="right">336kB</td>
   <td><tt>d2c47cb3c2a9ab7937bb596d446ff417709c597e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/konquest-16.04.0.tar.xz">konquest-16.04.0</a></td>
   <td align="right">396kB</td>
   <td><tt>b603574bc4d9011d03ae873aa5bd04c75054c2f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/konsole-16.04.0.tar.xz">konsole-16.04.0</a></td>
   <td align="right">449kB</td>
   <td><tt>7731926ee425149a8798dd3f618e6ff6e131dac7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kontactinterface-16.04.0.tar.xz">kontactinterface-16.04.0</a></td>
   <td align="right">24kB</td>
   <td><tt>860b0bf324d36e1c1f4efe5846005587d8f19d5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kopete-16.04.0.tar.xz">kopete-16.04.0</a></td>
   <td align="right">6.0MB</td>
   <td><tt>929f6b9a4891097c5f08d0cc3d51ba87bd5253a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kpat-16.04.0.tar.xz">kpat-16.04.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>7e010eedfaa51db950c04d43c7361537a266d367</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kpimtextedit-16.04.0.tar.xz">kpimtextedit-16.04.0</a></td>
   <td align="right">76kB</td>
   <td><tt>d153a5c87e8ec2811b9f17c53ed30e7c32e528a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kppp-16.04.0.tar.xz">kppp-16.04.0</a></td>
   <td align="right">683kB</td>
   <td><tt>ee70230d4d9810d32d55ec4e9e1547f29a9d55b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kqtquickcharts-16.04.0.tar.xz">kqtquickcharts-16.04.0</a></td>
   <td align="right">20kB</td>
   <td><tt>1dd62009da667d534a50f3a59663e56dab46184e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/krdc-16.04.0.tar.xz">krdc-16.04.0</a></td>
   <td align="right">387kB</td>
   <td><tt>30eb7b444630517ae6e47dff391de6915e22bcea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kremotecontrol-16.04.0.tar.xz">kremotecontrol-16.04.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>263988787ee6dc8cac1b396d749703d383dd31ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kreversi-16.04.0.tar.xz">kreversi-16.04.0</a></td>
   <td align="right">464kB</td>
   <td><tt>f4ef9201c075fe8ca85b3264bd688b5a231704a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/krfb-16.04.0.tar.xz">krfb-16.04.0</a></td>
   <td align="right">317kB</td>
   <td><tt>3ff4fe52d16b469cff469ef5de631884fc9022c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kross-interpreters-16.04.0.tar.xz">kross-interpreters-16.04.0</a></td>
   <td align="right">129kB</td>
   <td><tt>a5f30d5028ebc48e7095e16afc14f0d77eca509d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kruler-16.04.0.tar.xz">kruler-16.04.0</a></td>
   <td align="right">120kB</td>
   <td><tt>bc508017bc2fe48d652fe9077c586095081d56f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ksaneplugin-16.04.0.tar.xz">ksaneplugin-16.04.0</a></td>
   <td align="right">12kB</td>
   <td><tt>e1f2520457a15db96fcb87d48f504c1359e566d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kscd-16.04.0.tar.xz">kscd-16.04.0</a></td>
   <td align="right">90kB</td>
   <td><tt>376f6d608fae06cbc356fa04a027f80590535a7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kshisen-16.04.0.tar.xz">kshisen-16.04.0</a></td>
   <td align="right">135kB</td>
   <td><tt>2f209148c0995a1952dbfcf8185690b85d6a627d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ksirk-16.04.0.tar.xz">ksirk-16.04.0</a></td>
   <td align="right">4.7MB</td>
   <td><tt>f7aa343c691b0ad0a6b00bd4bcfc99c866572153</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ksnakeduel-16.04.0.tar.xz">ksnakeduel-16.04.0</a></td>
   <td align="right">291kB</td>
   <td><tt>a7481fad5e31bb5ae6d3cacea67b99c6cddc273e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kspaceduel-16.04.0.tar.xz">kspaceduel-16.04.0</a></td>
   <td align="right">247kB</td>
   <td><tt>22dbd2f454834699169e8216b134eb19d13e5632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ksquares-16.04.0.tar.xz">ksquares-16.04.0</a></td>
   <td align="right">78kB</td>
   <td><tt>7c75888e3840179792ddb1baf8d7492139476f81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kstars-16.04.0.tar.xz">kstars-16.04.0</a></td>
   <td align="right">16MB</td>
   <td><tt>76e6da64fa11381efc44f1d2117d513734a9736d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ksudoku-16.04.0.tar.xz">ksudoku-16.04.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>c15c18fb67c322cc1089e903e5b6cc813036d4ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ksystemlog-16.04.0.tar.xz">ksystemlog-16.04.0</a></td>
   <td align="right">386kB</td>
   <td><tt>5c2dd4235febb89646ea6ba8a13c2184d7e3c72f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kteatime-16.04.0.tar.xz">kteatime-16.04.0</a></td>
   <td align="right">102kB</td>
   <td><tt>7f204613f7b26988097c1ff4d3d7e1fb23e87e14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ktimer-16.04.0.tar.xz">ktimer-16.04.0</a></td>
   <td align="right">157kB</td>
   <td><tt>5af35bd3714259b97e08d2618b08a5e6a7c2bdca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ktnef-16.04.0.tar.xz">ktnef-16.04.0</a></td>
   <td align="right">227kB</td>
   <td><tt>c1e0284edd7d9be287112860a8ebf57d80bd901d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ktouch-16.04.0.tar.xz">ktouch-16.04.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>d38a8b363068eed873c40c1684b95ee7836a1973</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ktp-accounts-kcm-16.04.0.tar.xz">ktp-accounts-kcm-16.04.0</a></td>
   <td align="right">86kB</td>
   <td><tt>fd984057972422ef45279ac941a43b88629411d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ktp-approver-16.04.0.tar.xz">ktp-approver-16.04.0</a></td>
   <td align="right">20kB</td>
   <td><tt>f0a61aad34129398dfd4530530643a46bdf26b9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ktp-auth-handler-16.04.0.tar.xz">ktp-auth-handler-16.04.0</a></td>
   <td align="right">25kB</td>
   <td><tt>ddfbd4a00a41c58a0942e55a9087986b27a8fa05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ktp-call-ui-16.04.0.tar.xz">ktp-call-ui-16.04.0</a></td>
   <td align="right">44kB</td>
   <td><tt>aed45fe6677d409c4eab4c34671c2fec70b1ad39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ktp-common-internals-16.04.0.tar.xz">ktp-common-internals-16.04.0</a></td>
   <td align="right">308kB</td>
   <td><tt>c7bb398ba2005786a000a39bb35038915d88aa64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ktp-contact-list-16.04.0.tar.xz">ktp-contact-list-16.04.0</a></td>
   <td align="right">47kB</td>
   <td><tt>5a0a5cb6c40de34db281572445dcc90b3f567ec9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ktp-contact-runner-16.04.0.tar.xz">ktp-contact-runner-16.04.0</a></td>
   <td align="right">16kB</td>
   <td><tt>12dd218b426d328d601b837f7db0606fa29b3833</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ktp-desktop-applets-16.04.0.tar.xz">ktp-desktop-applets-16.04.0</a></td>
   <td align="right">25kB</td>
   <td><tt>f901e793e18e9600558f3f14ddf940754ffa1a6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ktp-filetransfer-handler-16.04.0.tar.xz">ktp-filetransfer-handler-16.04.0</a></td>
   <td align="right">22kB</td>
   <td><tt>1af3c12ccd70eb1ee2d76d0c6a21af95b418b29b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ktp-kded-module-16.04.0.tar.xz">ktp-kded-module-16.04.0</a></td>
   <td align="right">37kB</td>
   <td><tt>ebae6d7f60318cb3ea0b0ff6456e3e56727f4f3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ktp-send-file-16.04.0.tar.xz">ktp-send-file-16.04.0</a></td>
   <td align="right">14kB</td>
   <td><tt>ba37dea2918c9dc0f8bb6cf9df32b88623746440</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ktp-text-ui-16.04.0.tar.xz">ktp-text-ui-16.04.0</a></td>
   <td align="right">287kB</td>
   <td><tt>b88c3eca019d33135e37395587fcc65bc63f09cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/ktuberling-16.04.0.tar.xz">ktuberling-16.04.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>781a743cefc51abaa05ab17678d0393226c61450</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kturtle-16.04.0.tar.xz">kturtle-16.04.0</a></td>
   <td align="right">189kB</td>
   <td><tt>439c02bb6224d00f6655aa219fe078ab738ba9ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kubrick-16.04.0.tar.xz">kubrick-16.04.0</a></td>
   <td align="right">104kB</td>
   <td><tt>56da5da111ce075b4376addad7d8748311aaf526</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kuser-16.04.0.tar.xz">kuser-16.04.0</a></td>
   <td align="right">132kB</td>
   <td><tt>f58d0ecd7e066189a998c1154fb0049f85253e1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kwalletmanager-16.04.0.tar.xz">kwalletmanager-16.04.0</a></td>
   <td align="right">446kB</td>
   <td><tt>634ec950828147850bcf57d33bb9c5f48f1aca8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kwordquiz-16.04.0.tar.xz">kwordquiz-16.04.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>4b49be1da07916ad3f57ea612f65bd145bdfee81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/libgravatar-16.04.0.tar.xz">libgravatar-16.04.0</a></td>
   <td align="right">10kB</td>
   <td><tt>84cf26700e0d84f1767f62c045441094da19c535</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/libkcddb-16.04.0.tar.xz">libkcddb-16.04.0</a></td>
   <td align="right">154kB</td>
   <td><tt>e57950a891486427a81e11f84e19259b3c22479c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/libkcompactdisc-16.04.0.tar.xz">libkcompactdisc-16.04.0</a></td>
   <td align="right">74kB</td>
   <td><tt>3056a34f14b67a7520f1764522c7841d01b0f47b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/libkdcraw-16.04.0.tar.xz">libkdcraw-16.04.0</a></td>
   <td align="right">41kB</td>
   <td><tt>ae8e59e03b919e9b542dd3fa2377901975845968</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/libkdeedu-16.04.0.tar.xz">libkdeedu-16.04.0</a></td>
   <td align="right">128kB</td>
   <td><tt>bae0db4e46913eee6a2542670098b4e79fadf888</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/libkdegames-16.04.0.tar.xz">libkdegames-16.04.0</a></td>
   <td align="right">5.5MB</td>
   <td><tt>a6ef77b4dd5e346b26dc847021ec70fbcd28bb3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/libkdepim-16.04.0.tar.xz">libkdepim-16.04.0</a></td>
   <td align="right">101kB</td>
   <td><tt>47671c53f8206d5d1ea626e64cd951c8aed22f0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/libkeduvocdocument-16.04.0.tar.xz">libkeduvocdocument-16.04.0</a></td>
   <td align="right">87kB</td>
   <td><tt>030c0e642e39f97a03c6cc3a3fbde206f365d116</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/libkexiv2-16.04.0.tar.xz">libkexiv2-16.04.0</a></td>
   <td align="right">63kB</td>
   <td><tt>f535dad55b2fb94dd97b8e6115ffb62e84e4ba34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/libkface-16.04.0.tar.xz">libkface-16.04.0</a></td>
   <td align="right">8.5MB</td>
   <td><tt>f8fe1be7327ff8bceaf754cd38a0c12328986212</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/libkgeomap-16.04.0.tar.xz">libkgeomap-16.04.0</a></td>
   <td align="right">122kB</td>
   <td><tt>3c19c2fe43cecf63abd8606f1b0d212038c08fd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/libkipi-16.04.0.tar.xz">libkipi-16.04.0</a></td>
   <td align="right">101kB</td>
   <td><tt>824bde7e722ee08feb6103d5c479c4c3fee3c932</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/libkleo-16.04.0.tar.xz">libkleo-16.04.0</a></td>
   <td align="right">127kB</td>
   <td><tt>04a7668870fa88ba26a0165dba06ceff751a831b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/libkmahjongg-16.04.0.tar.xz">libkmahjongg-16.04.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>0e8281afcd8d9e4522dd82ca05e31e2966f83f9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/libkomparediff2-16.04.0.tar.xz">libkomparediff2-16.04.0</a></td>
   <td align="right">55kB</td>
   <td><tt>26464b855d0b0446780ceb0fc3ccea4c4e6e8160</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/libksane-16.04.0.tar.xz">libksane-16.04.0</a></td>
   <td align="right">79kB</td>
   <td><tt>773b9ccd17cd3960d429c6380b36635e23de22e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/libksieve-16.04.0.tar.xz">libksieve-16.04.0</a></td>
   <td align="right">136kB</td>
   <td><tt>cc971491b477184285eaa8e58a89a84f91f104be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/lokalize-16.04.0.tar.xz">lokalize-16.04.0</a></td>
   <td align="right">934kB</td>
   <td><tt>085fc337602c3ef1bc0b79de343f529f3bcc7216</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/lskat-16.04.0.tar.xz">lskat-16.04.0</a></td>
   <td align="right">907kB</td>
   <td><tt>b07a273aca27302c6f5d73a4331ae44ec983527a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/mailcommon-16.04.0.tar.xz">mailcommon-16.04.0</a></td>
   <td align="right">168kB</td>
   <td><tt>a43ddfbad6acab259a91ea81c3cf7e94797fcfd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/mailimporter-16.04.0.tar.xz">mailimporter-16.04.0</a></td>
   <td align="right">363kB</td>
   <td><tt>01fd3f5bf899ab6afbbb4117af6aaaa290e07d1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/marble-16.04.0.tar.xz">marble-16.04.0</a></td>
   <td align="right">22MB</td>
   <td><tt>998cc48fa665c16eefaf56a94be52ee940c4fe2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/messagelib-16.04.0.tar.xz">messagelib-16.04.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>356054d83f431bc09ab1e47fa92f8f7b59936470</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/minuet-16.04.0.tar.xz">minuet-16.04.0</a></td>
   <td align="right">499kB</td>
   <td><tt>34ba6e4407e4665b969788b7ac209f76722dcc2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/mplayerthumbs-16.04.0.tar.xz">mplayerthumbs-16.04.0</a></td>
   <td align="right">26kB</td>
   <td><tt>7b47251b319f07901e6390c8d342a7a92d7158cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/okteta-16.04.0.tar.xz">okteta-16.04.0</a></td>
   <td align="right">492kB</td>
   <td><tt>0eff2d55c5a2f3f1d25a6c86ead1febd1bb1f70e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/okular-16.04.0.tar.xz">okular-16.04.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>edf0cd99f9754d11a6bf50154c62fd3fb5186bc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/palapeli-16.04.0.tar.xz">palapeli-16.04.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>5301fb4cfc3bf3fe6ca34079b67530a95f5da2c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/parley-16.04.0.tar.xz">parley-16.04.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>794703e253442b2eb5a68d188d3fb70846da8e1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/picmi-16.04.0.tar.xz">picmi-16.04.0</a></td>
   <td align="right">717kB</td>
   <td><tt>dcfd10f2251c3bff4313c81ea839cede08062f1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/pimcommon-16.04.0.tar.xz">pimcommon-16.04.0</a></td>
   <td align="right">140kB</td>
   <td><tt>2fa16034afbcef07c3a2c6b2cb99d9f96d8e4713</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/poxml-16.04.0.tar.xz">poxml-16.04.0</a></td>
   <td align="right">31kB</td>
   <td><tt>6ea3b87435018e6aee2738d69b33d739664a9c52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/print-manager-16.04.0.tar.xz">print-manager-16.04.0</a></td>
   <td align="right">91kB</td>
   <td><tt>c2a9933661f4425e9ccb08ccdd433be015a704a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/rocs-16.04.0.tar.xz">rocs-16.04.0</a></td>
   <td align="right">520kB</td>
   <td><tt>76700ea7acbca8967fca22431960ce3b85dc3844</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/signon-kwallet-extension-16.04.0.tar.xz">signon-kwallet-extension-16.04.0</a></td>
   <td align="right">10kB</td>
   <td><tt>e7810630e2696075d298b903719af00b80d37665</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/spectacle-16.04.0.tar.xz">spectacle-16.04.0</a></td>
   <td align="right">973kB</td>
   <td><tt>d4f2adf6f7bf0d17754198d7339f2d82471f2538</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/step-16.04.0.tar.xz">step-16.04.0</a></td>
   <td align="right">379kB</td>
   <td><tt>0cbf8e65f6a48dabcce75ada2ae1a8eea8614c07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/svgpart-16.04.0.tar.xz">svgpart-16.04.0</a></td>
   <td align="right">8kB</td>
   <td><tt>61961c358099782be0b93a0507a2868dc501c11a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/sweeper-16.04.0.tar.xz">sweeper-16.04.0</a></td>
   <td align="right">80kB</td>
   <td><tt>b45608d5c3edf90335a64b6f97cdcbff0f9afa50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/syndication-16.04.0.tar.xz">syndication-16.04.0</a></td>
   <td align="right">156kB</td>
   <td><tt>b5bfb46e705fd951dd843135a36b41f9ac962581</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/umbrello-16.04.0.tar.xz">umbrello-16.04.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>8d16d31c9a0b96a1b78f8e7db1f81b76e9a880df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/zeroconf-ioslave-16.04.0.tar.xz">zeroconf-ioslave-16.04.0</a></td>
   <td align="right">25kB</td>
   <td><tt>ba5c532e1de1bf62f48f0380ce40639633cc48d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-ar-16.04.0.tar.xz">kde-l10n-ar-16.04.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>e3bea903bd68e4f63d7e56a392236a8c69d2c695</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-ast-16.04.0.tar.xz">kde-l10n-ast-16.04.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c9998c6ecf7bbbfee30429801c66b0ea8007a186</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-bg-16.04.0.tar.xz">kde-l10n-bg-16.04.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>f1ec7e10fa5baa374adb53f144be7757833e1b09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-bs-16.04.0.tar.xz">kde-l10n-bs-16.04.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>920115b1b51e15856511a49bdf8e5c1e9aa31f77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-ca-16.04.0.tar.xz">kde-l10n-ca-16.04.0</a></td>
   <td align="right">11MB</td>
   <td><tt>5dafef5de7a8324b6cd7199cfc049c5d1038f495</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-ca@valencia-16.04.0.tar.xz">kde-l10n-ca@valencia-16.04.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>dea6ff4aec60257ee861833fe4259e8f746f3f72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-cs-16.04.0.tar.xz">kde-l10n-cs-16.04.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>bf0ad92e8f8bdbb2296e75fc7b43a9eae588379a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-da-16.04.0.tar.xz">kde-l10n-da-16.04.0</a></td>
   <td align="right">12MB</td>
   <td><tt>debada47753d9909a77e386182de5635971d7a6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-de-16.04.0.tar.xz">kde-l10n-de-16.04.0</a></td>
   <td align="right">34MB</td>
   <td><tt>d2d5744e72ece6dfb566da49b78894d668c6e885</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-el-16.04.0.tar.xz">kde-l10n-el-16.04.0</a></td>
   <td align="right">4.6MB</td>
   <td><tt>c68dba2881566ccd40d734977e2ff6a470e052a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-en_GB-16.04.0.tar.xz">kde-l10n-en_GB-16.04.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>4d7a8add0cb6c525796a1a756020578d3831e273</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-eo-16.04.0.tar.xz">kde-l10n-eo-16.04.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a7290eb2efc633adc1b99be0501ec3b2f8127832</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-es-16.04.0.tar.xz">kde-l10n-es-16.04.0</a></td>
   <td align="right">20MB</td>
   <td><tt>a4f559bf877802334182fc02fa67b0cc011c4c08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-et-16.04.0.tar.xz">kde-l10n-et-16.04.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>37b797d1c042a961a6d18cd2dbd6671d59f6458d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-eu-16.04.0.tar.xz">kde-l10n-eu-16.04.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>fb53633908dc0cc522471a96383a55eea93c49d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-fa-16.04.0.tar.xz">kde-l10n-fa-16.04.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>6bab8b074c05b80b50445939d7b2f757db32d73f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-fi-16.04.0.tar.xz">kde-l10n-fi-16.04.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>556ab155796a6d620ac2f9bf79e1f925445af63a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-fr-16.04.0.tar.xz">kde-l10n-fr-16.04.0</a></td>
   <td align="right">45MB</td>
   <td><tt>e668ba0064075ffcf85d873ce18956d7c5484923</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-ga-16.04.0.tar.xz">kde-l10n-ga-16.04.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>eb8e1b24964a3a75fbab32df205eb56009841879</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-gl-16.04.0.tar.xz">kde-l10n-gl-16.04.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>3eba33d5606f0f6a1c5fa17fc250fd88611d89f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-he-16.04.0.tar.xz">kde-l10n-he-16.04.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>c557a442aa3038bfc5d1303c729d1b25514f3d90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-hi-16.04.0.tar.xz">kde-l10n-hi-16.04.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>39fbba3b29eda182527c5568344ea05773f782dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-hr-16.04.0.tar.xz">kde-l10n-hr-16.04.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>607f3b3fc018476eb50525e9eed9d58b1db00f6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-hu-16.04.0.tar.xz">kde-l10n-hu-16.04.0</a></td>
   <td align="right">4.1MB</td>
   <td><tt>80de0129070ee8155083c04bafd32c36560c415b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-ia-16.04.0.tar.xz">kde-l10n-ia-16.04.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5fa0b1dc8d0b53db3b714b890349658457c64ed4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-id-16.04.0.tar.xz">kde-l10n-id-16.04.0</a></td>
   <td align="right">547kB</td>
   <td><tt>5d0875117f23df1d073064fbe37ccfc9b0e976a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-is-16.04.0.tar.xz">kde-l10n-is-16.04.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d0b461160d06e4e863c6c5b8acec3ba2bd77f081</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-it-16.04.0.tar.xz">kde-l10n-it-16.04.0</a></td>
   <td align="right">8.4MB</td>
   <td><tt>d74d1fb228d391ccca9e5fa3901ab4fa755fa94f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-ja-16.04.0.tar.xz">kde-l10n-ja-16.04.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>da8c1463c317bf010f2c864b333a85c7d223f69c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-kk-16.04.0.tar.xz">kde-l10n-kk-16.04.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>72682bcabd4b5cf98b0fdd1f45f310df11796cca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-km-16.04.0.tar.xz">kde-l10n-km-16.04.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>661c2c60da7c2f6b9389d05694bf0c343283e974</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-ko-16.04.0.tar.xz">kde-l10n-ko-16.04.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>acfc21307bb2495f66ed7039e52eae495163faeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-lt-16.04.0.tar.xz">kde-l10n-lt-16.04.0</a></td>
   <td align="right">12MB</td>
   <td><tt>817d2a105f2f2c5859df9d64246baa8a28e62a3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-lv-16.04.0.tar.xz">kde-l10n-lv-16.04.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>8e495235ccf29c85549fca563ed68234e8dd1758</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-mr-16.04.0.tar.xz">kde-l10n-mr-16.04.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>166e7c2f83a2fa7af9835469b99d79408a78612d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-nb-16.04.0.tar.xz">kde-l10n-nb-16.04.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>4ecfbf40c0f5d57bb2516e699de062383cdf98ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-nds-16.04.0.tar.xz">kde-l10n-nds-16.04.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>06d1679a896fd661ce1cf18f2ed7c60b010b6ff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-nl-16.04.0.tar.xz">kde-l10n-nl-16.04.0</a></td>
   <td align="right">13MB</td>
   <td><tt>46f502962d6a6c785ad3819dda11769902e22686</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-nn-16.04.0.tar.xz">kde-l10n-nn-16.04.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7ebad78a170f6a6a3c9491ef7eeec7496874e3c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-pa-16.04.0.tar.xz">kde-l10n-pa-16.04.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>2375f4cecf012323c18f05c5ebbe42c8070bcffd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-pl-16.04.0.tar.xz">kde-l10n-pl-16.04.0</a></td>
   <td align="right">18MB</td>
   <td><tt>0ffb52f328433c6bf91dec0791a873bc9b0d66a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-pt-16.04.0.tar.xz">kde-l10n-pt-16.04.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>98aede54c7e8b7a85c545a31cca05953334b1111</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-pt_BR-16.04.0.tar.xz">kde-l10n-pt_BR-16.04.0</a></td>
   <td align="right">20MB</td>
   <td><tt>397ddcd9369099880b4a22b9262d7e5b5a8149b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-ro-16.04.0.tar.xz">kde-l10n-ro-16.04.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>49105b605cb35905b6de38075da78551290fcb2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-ru-16.04.0.tar.xz">kde-l10n-ru-16.04.0</a></td>
   <td align="right">22MB</td>
   <td><tt>768a765bc1c22104d00741dbc029df7b6dec89d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-sk-16.04.0.tar.xz">kde-l10n-sk-16.04.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>51f1205191f931368b3a3a64c4971638996b5d1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-sl-16.04.0.tar.xz">kde-l10n-sl-16.04.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>9c2a3e8b7a7f34a2dd34b89d0e943fcd15ff7391</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-sr-16.04.0.tar.xz">kde-l10n-sr-16.04.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>1d070760475010b061a6799753d4512d3bf12b19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-sv-16.04.0.tar.xz">kde-l10n-sv-16.04.0</a></td>
   <td align="right">11MB</td>
   <td><tt>ce409467b9fefc8c812490188864a427837d227e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-tr-16.04.0.tar.xz">kde-l10n-tr-16.04.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>e1e3fc668d29c7a5e584e7e1583a187306f881e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-ug-16.04.0.tar.xz">kde-l10n-ug-16.04.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>03dde858beb49aa975421823dc0c3a4faf5fe605</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-uk-16.04.0.tar.xz">kde-l10n-uk-16.04.0</a></td>
   <td align="right">25MB</td>
   <td><tt>7e7e846576cbce6ec3237349693dbfc7d6acdcde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-wa-16.04.0.tar.xz">kde-l10n-wa-16.04.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>bbf2613815c7f09effdd58468a37091b8a87575c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-zh_CN-16.04.0.tar.xz">kde-l10n-zh_CN-16.04.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>29ace74bed14502c20ae3b925f309413bf364a6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.0/src/kde-l10n/kde-l10n-zh_TW-16.04.0.tar.xz">kde-l10n-zh_TW-16.04.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>0454faee8c061acb19ea2a861c6edff130195da3</tt></td>
</tr>

</table>
