<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/akonadi-18.12.1.tar.xz">akonadi-18.12.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>68449815cdc8d3fe7799464bb46746132cdaaaf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/akonadi-calendar-18.12.1.tar.xz">akonadi-calendar-18.12.1</a></td>
   <td align="right">325kB</td>
   <td><tt>e38e04e2d4ad3ed9c1c6bb7713970809d614bc7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/akonadi-calendar-tools-18.12.1.tar.xz">akonadi-calendar-tools-18.12.1</a></td>
   <td align="right">219kB</td>
   <td><tt>3ae6f754fbd8b2f9162ccdcc3c926db076cf59d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/akonadiconsole-18.12.1.tar.xz">akonadiconsole-18.12.1</a></td>
   <td align="right">189kB</td>
   <td><tt>61fc5586421847e459df3fef1b79a0326074f4dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/akonadi-contacts-18.12.1.tar.xz">akonadi-contacts-18.12.1</a></td>
   <td align="right">381kB</td>
   <td><tt>dbd725404e65b51f0171b2e4a1d1bc4187105d5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/akonadi-import-wizard-18.12.1.tar.xz">akonadi-import-wizard-18.12.1</a></td>
   <td align="right">428kB</td>
   <td><tt>c9ba0d07a7a7a5a4c5c8d2d647cbc72dc33434bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/akonadi-mime-18.12.1.tar.xz">akonadi-mime-18.12.1</a></td>
   <td align="right">133kB</td>
   <td><tt>2182279e168002b8638064674559da109eb93315</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/akonadi-notes-18.12.1.tar.xz">akonadi-notes-18.12.1</a></td>
   <td align="right">23kB</td>
   <td><tt>a945eff3bd17f31406a9cec3901ee3fa0dae624b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/akonadi-search-18.12.1.tar.xz">akonadi-search-18.12.1</a></td>
   <td align="right">80kB</td>
   <td><tt>995faf9efb57361869c766a8d5333ed06a2a473b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/akregator-18.12.1.tar.xz">akregator-18.12.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>bd9c082d7bad8b5e03d7146ed0e9d02fa7580d62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/analitza-18.12.1.tar.xz">analitza-18.12.1</a></td>
   <td align="right">324kB</td>
   <td><tt>9657f2a1699a97bfdbb7ad3f79764e1578842b15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ark-18.12.1.tar.xz">ark-18.12.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>c6687e26d474c451d088b2b0c24ca3a26f76044f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/artikulate-18.12.1.tar.xz">artikulate-18.12.1</a></td>
   <td align="right">3.8MB</td>
   <td><tt>f94eabdb86b1af8363ff113c112275aee15ce439</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/audiocd-kio-18.12.1.tar.xz">audiocd-kio-18.12.1</a></td>
   <td align="right">244kB</td>
   <td><tt>3145129915a40a2e143d6749e3ac7b518456530c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/baloo-widgets-18.12.1.tar.xz">baloo-widgets-18.12.1</a></td>
   <td align="right">239kB</td>
   <td><tt>757cdfb2304830ea6179a90298171b6964bd4a90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/blinken-18.12.1.tar.xz">blinken-18.12.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>969d2665d3680421504bf669afbba3994c791f63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/bomber-18.12.1.tar.xz">bomber-18.12.1</a></td>
   <td align="right">800kB</td>
   <td><tt>f24aa389e1400550f0a31eaf204ae29f7518f703</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/bovo-18.12.1.tar.xz">bovo-18.12.1</a></td>
   <td align="right">194kB</td>
   <td><tt>77a55ae8b66d32fb7f7dedbbce9592a929ac2ed1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/calendarsupport-18.12.1.tar.xz">calendarsupport-18.12.1</a></td>
   <td align="right">631kB</td>
   <td><tt>bc6804fcc6b4651f01f9764466c2cf08fb4e17bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/cantor-18.12.1.tar.xz">cantor-18.12.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>7c2c87df6512c37ede52e368c6500bec4d0ef46f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/cervisia-18.12.1.tar.xz">cervisia-18.12.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>180b532f417875843e2224eb75c51af682a0e98b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/dolphin-18.12.1.tar.xz">dolphin-18.12.1</a></td>
   <td align="right">4.6MB</td>
   <td><tt>cd3ca31a2ebf230cf0adb999b7fb0688e3460341</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/dolphin-plugins-18.12.1.tar.xz">dolphin-plugins-18.12.1</a></td>
   <td align="right">187kB</td>
   <td><tt>15ac4f8668f90699ea4cd7a4415642c357afcd70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/dragon-18.12.1.tar.xz">dragon-18.12.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>8d8549befed30a12bd2fa7487bb484e4a835d496</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/eventviews-18.12.1.tar.xz">eventviews-18.12.1</a></td>
   <td align="right">432kB</td>
   <td><tt>a7edad605dc8a7d9c37fc3a1285f06d326168ea5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ffmpegthumbs-18.12.1.tar.xz">ffmpegthumbs-18.12.1</a></td>
   <td align="right">23kB</td>
   <td><tt>8735e2cdbef7f8b7f7315501851a8c8afbc12ff4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/filelight-18.12.1.tar.xz">filelight-18.12.1</a></td>
   <td align="right">644kB</td>
   <td><tt>925c95475955209cc961d3e5879bcdce7ecc8274</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/granatier-18.12.1.tar.xz">granatier-18.12.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>740006cf4addc1dd3684e9b3b909c1b4ce87dc1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/grantlee-editor-18.12.1.tar.xz">grantlee-editor-18.12.1</a></td>
   <td align="right">108kB</td>
   <td><tt>8e0065cd9d1b115f5a4c5581bf6faefab31b947c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/grantleetheme-18.12.1.tar.xz">grantleetheme-18.12.1</a></td>
   <td align="right">50kB</td>
   <td><tt>cf14246a8ee4d515972ccde434ebee6422d238fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/gwenview-18.12.1.tar.xz">gwenview-18.12.1</a></td>
   <td align="right">5.4MB</td>
   <td><tt>59fac3ad0e5f66320fd81ff35d67e2f75dd112ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/incidenceeditor-18.12.1.tar.xz">incidenceeditor-18.12.1</a></td>
   <td align="right">529kB</td>
   <td><tt>86c28db7514449fbc35966a80262d1c9d3f50ee1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/juk-18.12.1.tar.xz">juk-18.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>8a22c942e9076a9822d13f689b6f6750c3e5388f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/k3b-18.12.1.tar.xz">k3b-18.12.1</a></td>
   <td align="right">10MB</td>
   <td><tt>ffd1cce78006105c35dddb1c0cbd6bcd0f11dce3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kaccounts-integration-18.12.1.tar.xz">kaccounts-integration-18.12.1</a></td>
   <td align="right">69kB</td>
   <td><tt>6e1321252ccc7298721abbc633dfd2f70012fe0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kaccounts-providers-18.12.1.tar.xz">kaccounts-providers-18.12.1</a></td>
   <td align="right">30kB</td>
   <td><tt>f69e5ac5947439833990284827d715dd0262616e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kaddressbook-18.12.1.tar.xz">kaddressbook-18.12.1</a></td>
   <td align="right">460kB</td>
   <td><tt>f03de460ec167e6ae86f2b2b38f6b9a0f97663dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kajongg-18.12.1.tar.xz">kajongg-18.12.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>cb2fc7cc8930b0ac597075288f113cf42c60cadd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kalarm-18.12.1.tar.xz">kalarm-18.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e0da89438ec1d836c5c44c14052c8ddc11fe1831</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kalarmcal-18.12.1.tar.xz">kalarmcal-18.12.1</a></td>
   <td align="right">559kB</td>
   <td><tt>d91800199f38f82f2a2f17a224effde36db59479</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kalgebra-18.12.1.tar.xz">kalgebra-18.12.1</a></td>
   <td align="right">699kB</td>
   <td><tt>b893ad202ae1fa72cfa271ef48d0d2232d9d93e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kalzium-18.12.1.tar.xz">kalzium-18.12.1</a></td>
   <td align="right">25MB</td>
   <td><tt>6b43524771dc8a567057b6173b8209c4666efd8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kamera-18.12.1.tar.xz">kamera-18.12.1</a></td>
   <td align="right">96kB</td>
   <td><tt>99211c9de696ef0f452114248340a4662d0c4b31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kamoso-18.12.1.tar.xz">kamoso-18.12.1</a></td>
   <td align="right">162kB</td>
   <td><tt>654255e1d9cd5952e5c0e779dadb22db7165e99e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kanagram-18.12.1.tar.xz">kanagram-18.12.1</a></td>
   <td align="right">7.6MB</td>
   <td><tt>51cae1435763fb0a811ca7f1d12e728ccb956921</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kapman-18.12.1.tar.xz">kapman-18.12.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>e0e764273c1d1845dace0c57537a9ec2f35fb280</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kapptemplate-18.12.1.tar.xz">kapptemplate-18.12.1</a></td>
   <td align="right">309kB</td>
   <td><tt>ca6b259c1df6718a9efec581a7cb8a91b52a816a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kate-18.12.1.tar.xz">kate-18.12.1</a></td>
   <td align="right">5.4MB</td>
   <td><tt>6b235e8f01d096632c219843ad5955fea1220bcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/katomic-18.12.1.tar.xz">katomic-18.12.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>800570d7a13b9fe16cd2723574b5903617abeb9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kbackup-18.12.1.tar.xz">kbackup-18.12.1</a></td>
   <td align="right">343kB</td>
   <td><tt>3138ebe26ee60452378e2ad44d64a9f0fe616d25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kblackbox-18.12.1.tar.xz">kblackbox-18.12.1</a></td>
   <td align="right">433kB</td>
   <td><tt>fd2dbddc72d1f37812dc82339ba45798be3a732b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kblocks-18.12.1.tar.xz">kblocks-18.12.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c3f0ae47bf84ea32334e0f49c3686dfbdfb64a68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kblog-18.12.1.tar.xz">kblog-18.12.1</a></td>
   <td align="right">71kB</td>
   <td><tt>668c69cbb2eee97c2456fcb0c2aa64eced5b5d01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kbounce-18.12.1.tar.xz">kbounce-18.12.1</a></td>
   <td align="right">3.3MB</td>
   <td><tt>2b253aa7f61e7c1fbb3fe20d5a1cbcb096672ae2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kbreakout-18.12.1.tar.xz">kbreakout-18.12.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>a042ccaf5d8607268d9c3e641f02a8deaa64747f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kbruch-18.12.1.tar.xz">kbruch-18.12.1</a></td>
   <td align="right">5.3MB</td>
   <td><tt>a85f8bca03aaea888206a96bf4cb1ba778398549</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kcachegrind-18.12.1.tar.xz">kcachegrind-18.12.1</a></td>
   <td align="right">788kB</td>
   <td><tt>fcb23d6efb344e9a71bf4dbf27c2290cf09f62e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kcalc-18.12.1.tar.xz">kcalc-18.12.1</a></td>
   <td align="right">354kB</td>
   <td><tt>fe0e258e64b8cd6dd33d9d0bf856ca001ba3039c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kcalcore-18.12.1.tar.xz">kcalcore-18.12.1</a></td>
   <td align="right">247kB</td>
   <td><tt>372a7f6f0fb82472404032ebe47bf4675046645f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kcalutils-18.12.1.tar.xz">kcalutils-18.12.1</a></td>
   <td align="right">321kB</td>
   <td><tt>c77c40310df5e2c57909899c7b104630b1cfadbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kcharselect-18.12.1.tar.xz">kcharselect-18.12.1</a></td>
   <td align="right">325kB</td>
   <td><tt>a9989818dca297951ce8c5300bfdef2cc58bbd6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kcolorchooser-18.12.1.tar.xz">kcolorchooser-18.12.1</a></td>
   <td align="right">16kB</td>
   <td><tt>cf5dc9313193b2c074265925c07073ff400a58f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kcontacts-18.12.1.tar.xz">kcontacts-18.12.1</a></td>
   <td align="right">589kB</td>
   <td><tt>03345ae5c1a4c3f61161912048834b798c8d2b24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kcron-18.12.1.tar.xz">kcron-18.12.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e614370790084b65a492775639f92e49cbcf7b6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kdav-18.12.1.tar.xz">kdav-18.12.1</a></td>
   <td align="right">48kB</td>
   <td><tt>5d846749f18aa78c6882078730bc55547f72dc75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kdebugsettings-18.12.1.tar.xz">kdebugsettings-18.12.1</a></td>
   <td align="right">53kB</td>
   <td><tt>da75f0beee8341201d1aaf039884bf4d896dd34c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kde-dev-scripts-18.12.1.tar.xz">kde-dev-scripts-18.12.1</a></td>
   <td align="right">369kB</td>
   <td><tt>de6c3e4b5d205ac61d65b7c7727d987ddac72df4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kde-dev-utils-18.12.1.tar.xz">kde-dev-utils-18.12.1</a></td>
   <td align="right">59kB</td>
   <td><tt>3bdab14f38360dbfbe8c892e144a0b97dc7d5b35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kdeedu-data-18.12.1.tar.xz">kdeedu-data-18.12.1</a></td>
   <td align="right">320kB</td>
   <td><tt>24faece1801023809117f5f813e7f62333b60de9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kdegraphics-mobipocket-18.12.1.tar.xz">kdegraphics-mobipocket-18.12.1</a></td>
   <td align="right">13kB</td>
   <td><tt>c21964015b57d78684a3996e063e775eb20f03df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kdegraphics-thumbnailers-18.12.1.tar.xz">kdegraphics-thumbnailers-18.12.1</a></td>
   <td align="right">40kB</td>
   <td><tt>f8ee7e4cb1636bfa616a2b58825bf41363762440</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kdenetwork-filesharing-18.12.1.tar.xz">kdenetwork-filesharing-18.12.1</a></td>
   <td align="right">305kB</td>
   <td><tt>caee3ce67129c3e1b0f8348de41dd979b7e3c22b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kdenlive-18.12.1.tar.xz">kdenlive-18.12.1</a></td>
   <td align="right">9.7MB</td>
   <td><tt>bea740c4384ee8f2f9cf2d7e3b703d3c5fac686e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kdepim-addons-18.12.1.tar.xz">kdepim-addons-18.12.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>790ef06d36e6495e89622c34ca6cf617ad836063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kdepim-apps-libs-18.12.1.tar.xz">kdepim-apps-libs-18.12.1</a></td>
   <td align="right">82kB</td>
   <td><tt>716350f7dd2f528f2b214bf474f9557ac0f77aff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kdepim-runtime-18.12.1.tar.xz">kdepim-runtime-18.12.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9976419d50c66e238ee1802404f3f595271210c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kdesdk-kioslaves-18.12.1.tar.xz">kdesdk-kioslaves-18.12.1</a></td>
   <td align="right">36kB</td>
   <td><tt>1873dd210ae175f4a2892a0510389257f5317492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kdesdk-thumbnailers-18.12.1.tar.xz">kdesdk-thumbnailers-18.12.1</a></td>
   <td align="right">16kB</td>
   <td><tt>8d28a4d6f4ad060c2c562d16d509eead9efbb83a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kdf-18.12.1.tar.xz">kdf-18.12.1</a></td>
   <td align="right">543kB</td>
   <td><tt>e8c650365eb621384256b37f8fbc46e95c7bcdf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kdialog-18.12.1.tar.xz">kdialog-18.12.1</a></td>
   <td align="right">95kB</td>
   <td><tt>20bb62d75cd517b1e3f263fb84cbd82c95feadf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kdiamond-18.12.1.tar.xz">kdiamond-18.12.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>9952259f80ac337bf888da9f13c8f74f042ff88c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/keditbookmarks-18.12.1.tar.xz">keditbookmarks-18.12.1</a></td>
   <td align="right">180kB</td>
   <td><tt>832536f78d2f24c792ac8e4573d64c7a9514b0f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kfind-18.12.1.tar.xz">kfind-18.12.1</a></td>
   <td align="right">261kB</td>
   <td><tt>4df7ad69238ea7f4a2917d207fec9798f6a77381</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kfloppy-18.12.1.tar.xz">kfloppy-18.12.1</a></td>
   <td align="right">194kB</td>
   <td><tt>8d929ebbdf1785a4730ac5b2d3d59abec42379fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kfourinline-18.12.1.tar.xz">kfourinline-18.12.1</a></td>
   <td align="right">621kB</td>
   <td><tt>489865763bd540932481667746240112b68c9669</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kgeography-18.12.1.tar.xz">kgeography-18.12.1</a></td>
   <td align="right">10MB</td>
   <td><tt>92036a654a443ab40b32e5ccdc7ea84fe5737605</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kget-18.12.1.tar.xz">kget-18.12.1</a></td>
   <td align="right">4.8MB</td>
   <td><tt>c6a6e9589cb87b0a20fecc062c3a8eb5aa5480ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kgoldrunner-18.12.1.tar.xz">kgoldrunner-18.12.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>5c2d41a025d41876e8157c6c7dbd8e0ed06969aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kgpg-18.12.1.tar.xz">kgpg-18.12.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>230d8761186d329459e4851ad267af2ca30463fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/khangman-18.12.1.tar.xz">khangman-18.12.1</a></td>
   <td align="right">6.7MB</td>
   <td><tt>e3c547df120c1e2f351a00dedb5a4b6684f5b465</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/khelpcenter-18.12.1.tar.xz">khelpcenter-18.12.1</a></td>
   <td align="right">3.6MB</td>
   <td><tt>564eb701c367f956f0dcdd1c42429becf5ebff4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kidentitymanagement-18.12.1.tar.xz">kidentitymanagement-18.12.1</a></td>
   <td align="right">145kB</td>
   <td><tt>110d77e8841f49ea3e06ff10e1dcf69542bcb64e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kig-18.12.1.tar.xz">kig-18.12.1</a></td>
   <td align="right">3.3MB</td>
   <td><tt>8baed5b99694c688adac8ca9ac65a661887ffe34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kigo-18.12.1.tar.xz">kigo-18.12.1</a></td>
   <td align="right">4.9MB</td>
   <td><tt>27c4652070986798d5fa0edf75fa27c14e8225b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/killbots-18.12.1.tar.xz">killbots-18.12.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>ea823fef44f00921c620010a27383ec6557a9791</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kimagemapeditor-18.12.1.tar.xz">kimagemapeditor-18.12.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>22a2c63cec136adbbdc1946effabf61e0978b47e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kimap-18.12.1.tar.xz">kimap-18.12.1</a></td>
   <td align="right">116kB</td>
   <td><tt>1b7bf53469037ef4b4d839e5646511d205eaf7d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kio-extras-18.12.1.tar.xz">kio-extras-18.12.1</a></td>
   <td align="right">548kB</td>
   <td><tt>3a952fec71d1f3b2408ddc4f6bb491f228892b0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kirigami-gallery-18.12.1.tar.xz">kirigami-gallery-18.12.1</a></td>
   <td align="right">258kB</td>
   <td><tt>1d67d2efdc7ab155d7fd88e80fea29d9a744a5f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kiriki-18.12.1.tar.xz">kiriki-18.12.1</a></td>
   <td align="right">362kB</td>
   <td><tt>f8c25c84689519e8bd69d74167fec848852818f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kiten-18.12.1.tar.xz">kiten-18.12.1</a></td>
   <td align="right">10MB</td>
   <td><tt>586688957c91b78cc92b76e334f8ba66d7c804d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kitinerary-18.12.1.tar.xz">kitinerary-18.12.1</a></td>
   <td align="right">638kB</td>
   <td><tt>5acc2764acfadf48664b4ef4ac6350db044ab7aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kjumpingcube-18.12.1.tar.xz">kjumpingcube-18.12.1</a></td>
   <td align="right">279kB</td>
   <td><tt>4a9d1afb0db608448bf61ba4d9c22710b4cafa16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kldap-18.12.1.tar.xz">kldap-18.12.1</a></td>
   <td align="right">151kB</td>
   <td><tt>f29aac23b3f78ae555cd6415a11e2df9ceeb0b11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kleopatra-18.12.1.tar.xz">kleopatra-18.12.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>0ed56a4993b8937c16e5775e6472d55022eda00d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/klettres-18.12.1.tar.xz">klettres-18.12.1</a></td>
   <td align="right">20MB</td>
   <td><tt>7b93245962479ff84310bb5ada332e579a1a84a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/klickety-18.12.1.tar.xz">klickety-18.12.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>577ecdee50a301ee0bd0c15fe6f623a8cb41ed32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/klines-18.12.1.tar.xz">klines-18.12.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>03e7c56f703632a97c7875ef23036ddc9bcf2026</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kmag-18.12.1.tar.xz">kmag-18.12.1</a></td>
   <td align="right">614kB</td>
   <td><tt>4cb5bf02d03f4aa416454e1abb9283a3e39f39e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kmahjongg-18.12.1.tar.xz">kmahjongg-18.12.1</a></td>
   <td align="right">3.8MB</td>
   <td><tt>546556a00e71c7e34d2f5f6fef3ce9473072f9db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kmail-18.12.1.tar.xz">kmail-18.12.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>ab718b3129b799aa783c467129898391f08a2c18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kmail-account-wizard-18.12.1.tar.xz">kmail-account-wizard-18.12.1</a></td>
   <td align="right">152kB</td>
   <td><tt>2489f3d06b917eae424ad74a0a91e758f0c7e4af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kmailtransport-18.12.1.tar.xz">kmailtransport-18.12.1</a></td>
   <td align="right">161kB</td>
   <td><tt>298cc2e461a2d603a8534f7e19e2b151cf66a527</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kmbox-18.12.1.tar.xz">kmbox-18.12.1</a></td>
   <td align="right">24kB</td>
   <td><tt>8b5fe4edfeee6b69334b7b2e9adc9cb5de596ad5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kmime-18.12.1.tar.xz">kmime-18.12.1</a></td>
   <td align="right">143kB</td>
   <td><tt>7d6377916e5a185ac8aa600a45594c48e3f4adf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kmines-18.12.1.tar.xz">kmines-18.12.1</a></td>
   <td align="right">880kB</td>
   <td><tt>1eb0979bea8108788bace3e0a3d702b53a4e632f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kmix-18.12.1.tar.xz">kmix-18.12.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>fc2c2611e964f76470496383c42aa929708ba45e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kmousetool-18.12.1.tar.xz">kmousetool-18.12.1</a></td>
   <td align="right">110kB</td>
   <td><tt>2db175ac51f9661c7ead7da9eeee6350c877b2aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kmouth-18.12.1.tar.xz">kmouth-18.12.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>3f68c9f60bc9a98fcb6d0b63df3574c9f8c66a45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kmplot-18.12.1.tar.xz">kmplot-18.12.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>bd7f20d90b3375b5be1a1e4b96864c892e2a1d26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/knavalbattle-18.12.1.tar.xz">knavalbattle-18.12.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>47c6065a25dc4bd37d96806828832d196f37d516</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/knetwalk-18.12.1.tar.xz">knetwalk-18.12.1</a></td>
   <td align="right">1012kB</td>
   <td><tt>bddd0087ebc94b09d9c38bcb07c0a6fd38e03212</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/knights-18.12.1.tar.xz">knights-18.12.1</a></td>
   <td align="right">3.3MB</td>
   <td><tt>4c04c580e4ea599f9d0c1ca540df185feb398206</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/knotes-18.12.1.tar.xz">knotes-18.12.1</a></td>
   <td align="right">312kB</td>
   <td><tt>b766f2504cdab1f30f4097c781877333af1ede67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kolf-18.12.1.tar.xz">kolf-18.12.1</a></td>
   <td align="right">902kB</td>
   <td><tt>ba884c1126b0eb1919b9dab2ca39fb0d2abc103a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kollision-18.12.1.tar.xz">kollision-18.12.1</a></td>
   <td align="right">274kB</td>
   <td><tt>93a82e0c8d17df80bffcb21489d52d438b9a1c9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kolourpaint-18.12.1.tar.xz">kolourpaint-18.12.1</a></td>
   <td align="right">4.9MB</td>
   <td><tt>0cb7543a47e0961755f1c149177aee2e3234d395</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kompare-18.12.1.tar.xz">kompare-18.12.1</a></td>
   <td align="right">782kB</td>
   <td><tt>e0bdcf52242f591a142ba491f65e9318167c620e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/konqueror-18.12.1.tar.xz">konqueror-18.12.1</a></td>
   <td align="right">7.3MB</td>
   <td><tt>1c31bcb776b8c08da194dee1848a9b5ed4c8c686</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/konquest-18.12.1.tar.xz">konquest-18.12.1</a></td>
   <td align="right">643kB</td>
   <td><tt>4616561961478b0b8960ca15e548df2fa524baf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/konsole-18.12.1.tar.xz">konsole-18.12.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>cace84f10e0892641db25c7a8b1513dc2b799ce0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kontact-18.12.1.tar.xz">kontact-18.12.1</a></td>
   <td align="right">773kB</td>
   <td><tt>62a7a13acf2c3065986a634312588ed3c732405b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kontactinterface-18.12.1.tar.xz">kontactinterface-18.12.1</a></td>
   <td align="right">32kB</td>
   <td><tt>da34fa9f1329acaa77a3894ec1394a76ba591a86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kopete-18.12.1.tar.xz">kopete-18.12.1</a></td>
   <td align="right">8.9MB</td>
   <td><tt>34d12d5cb77534f332dc94ae6a24b40f93d4e920</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/korganizer-18.12.1.tar.xz">korganizer-18.12.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>a4601b10c053132a4b7fd401f700dc6800b0adc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kpat-18.12.1.tar.xz">kpat-18.12.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>021aeb4cae2636a112c4ec042f37d9d25338efb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kpimtextedit-18.12.1.tar.xz">kpimtextedit-18.12.1</a></td>
   <td align="right">139kB</td>
   <td><tt>017f4e64c13b796685d8fb99447b138438c34280</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kpkpass-18.12.1.tar.xz">kpkpass-18.12.1</a></td>
   <td align="right">22kB</td>
   <td><tt>a4a254da5952359b184e8a1d001d572f273d517d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kqtquickcharts-18.12.1.tar.xz">kqtquickcharts-18.12.1</a></td>
   <td align="right">25kB</td>
   <td><tt>69eaf7f6d314d2e776c7c7d2ac57afeaeee4f226</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/krdc-18.12.1.tar.xz">krdc-18.12.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ee7e4007fffd282018de71fafbacf6b10163c7ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kreversi-18.12.1.tar.xz">kreversi-18.12.1</a></td>
   <td align="right">920kB</td>
   <td><tt>36adf8728bc11229f84b571152352d4d0b424c11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/krfb-18.12.1.tar.xz">krfb-18.12.1</a></td>
   <td align="right">909kB</td>
   <td><tt>23def1df66901d3e072509be325ebb72d1d04093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kross-interpreters-18.12.1.tar.xz">kross-interpreters-18.12.1</a></td>
   <td align="right">141kB</td>
   <td><tt>185c35cd719bfafc23ce0eaf405662a8d3a5111f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kruler-18.12.1.tar.xz">kruler-18.12.1</a></td>
   <td align="right">248kB</td>
   <td><tt>73c4693459108c21ccb7fbc898b1c2ff496d7409</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kshisen-18.12.1.tar.xz">kshisen-18.12.1</a></td>
   <td align="right">801kB</td>
   <td><tt>e6d453d919704a6318cd39d53a00a4e27798dea9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ksirk-18.12.1.tar.xz">ksirk-18.12.1</a></td>
   <td align="right">6.6MB</td>
   <td><tt>d8dde8cbf8a991aad9a12390630c48cdf3d8f6ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ksmtp-18.12.1.tar.xz">ksmtp-18.12.1</a></td>
   <td align="right">39kB</td>
   <td><tt>127432379b305352dc89e11266ea781345450cb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ksnakeduel-18.12.1.tar.xz">ksnakeduel-18.12.1</a></td>
   <td align="right">590kB</td>
   <td><tt>556e08c87c7fcdf34899b6336939e36a91d49794</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kspaceduel-18.12.1.tar.xz">kspaceduel-18.12.1</a></td>
   <td align="right">596kB</td>
   <td><tt>84feb3c89472f60463e14a3bbabcb2f81c956a3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ksquares-18.12.1.tar.xz">ksquares-18.12.1</a></td>
   <td align="right">253kB</td>
   <td><tt>14ff0ed64b718024d0d6ac95846b0a614f81939d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ksudoku-18.12.1.tar.xz">ksudoku-18.12.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>25981d20594ef104e4889aade446e81b581f24e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ksystemlog-18.12.1.tar.xz">ksystemlog-18.12.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f29d297e48db00cd94c0bf0de38f6899ccd7e87e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kteatime-18.12.1.tar.xz">kteatime-18.12.1</a></td>
   <td align="right">291kB</td>
   <td><tt>b565efa712b545c7b76df3920c958ea2fcc09311</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ktimer-18.12.1.tar.xz">ktimer-18.12.1</a></td>
   <td align="right">367kB</td>
   <td><tt>fc9dc7123aad2ad2d5338798b7af79f557b0b043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ktnef-18.12.1.tar.xz">ktnef-18.12.1</a></td>
   <td align="right">292kB</td>
   <td><tt>58b7146adb508d851fb8cc0d358177933e490fd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ktouch-18.12.1.tar.xz">ktouch-18.12.1</a></td>
   <td align="right">4.8MB</td>
   <td><tt>06518a8ce4fbf75412052f970dbec1e165a07116</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ktp-accounts-kcm-18.12.1.tar.xz">ktp-accounts-kcm-18.12.1</a></td>
   <td align="right">255kB</td>
   <td><tt>b9cf990db52c349e4bbefe68b559f640b9230c3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ktp-approver-18.12.1.tar.xz">ktp-approver-18.12.1</a></td>
   <td align="right">36kB</td>
   <td><tt>28afe7f1e1b5e095f5dd3dd627e97383541f39ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ktp-auth-handler-18.12.1.tar.xz">ktp-auth-handler-18.12.1</a></td>
   <td align="right">44kB</td>
   <td><tt>c07c83f695be521df198209f4e27a2dc82248096</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ktp-call-ui-18.12.1.tar.xz">ktp-call-ui-18.12.1</a></td>
   <td align="right">94kB</td>
   <td><tt>b1838b0d6ba6d45866ea66e60b3678e8c00d3482</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ktp-common-internals-18.12.1.tar.xz">ktp-common-internals-18.12.1</a></td>
   <td align="right">430kB</td>
   <td><tt>0bf5493c919e2f459117f3466751a391de8c2721</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ktp-contact-list-18.12.1.tar.xz">ktp-contact-list-18.12.1</a></td>
   <td align="right">142kB</td>
   <td><tt>62e3b59564c1d6207880288a334a200e61ecd2ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ktp-contact-runner-18.12.1.tar.xz">ktp-contact-runner-18.12.1</a></td>
   <td align="right">41kB</td>
   <td><tt>872f570edef83f3c3bb2135a8febe547fbdd7217</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ktp-desktop-applets-18.12.1.tar.xz">ktp-desktop-applets-18.12.1</a></td>
   <td align="right">41kB</td>
   <td><tt>cc6bfae456f0a484e083303051f59bbdb1018043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ktp-filetransfer-handler-18.12.1.tar.xz">ktp-filetransfer-handler-18.12.1</a></td>
   <td align="right">44kB</td>
   <td><tt>b317469676c34ebbccab20c21d7492ee2c3fe616</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ktp-kded-module-18.12.1.tar.xz">ktp-kded-module-18.12.1</a></td>
   <td align="right">92kB</td>
   <td><tt>841f74f151125de2686e7d54b5fd99dbc0c71531</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ktp-send-file-18.12.1.tar.xz">ktp-send-file-18.12.1</a></td>
   <td align="right">27kB</td>
   <td><tt>13f7336197cbb1014b57d4dc73d35a328b860c8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ktp-text-ui-18.12.1.tar.xz">ktp-text-ui-18.12.1</a></td>
   <td align="right">454kB</td>
   <td><tt>56b41844ff3d64e3f449fe181bbf14fbfee143d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/ktuberling-18.12.1.tar.xz">ktuberling-18.12.1</a></td>
   <td align="right">31MB</td>
   <td><tt>014b3e9733e3cd00d493975edaa93bd15f10ed57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kturtle-18.12.1.tar.xz">kturtle-18.12.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>eabb178ee36513457404afd55e90bf579bd5cf42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kubrick-18.12.1.tar.xz">kubrick-18.12.1</a></td>
   <td align="right">303kB</td>
   <td><tt>5457e201dac75433d64dd18c73b69c784572db77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kwalletmanager-18.12.1.tar.xz">kwalletmanager-18.12.1</a></td>
   <td align="right">766kB</td>
   <td><tt>de13a9ba00c423fcf31bb2528c43077fa4783be4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kwave-18.12.1.tar.xz">kwave-18.12.1</a></td>
   <td align="right">5.9MB</td>
   <td><tt>98c3cb3907d9ef98a3635578880b7221a4439344</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/kwordquiz-18.12.1.tar.xz">kwordquiz-18.12.1</a></td>
   <td align="right">3.9MB</td>
   <td><tt>a2273885de7adc3e60125aca67cc94e3fb793f6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/libgravatar-18.12.1.tar.xz">libgravatar-18.12.1</a></td>
   <td align="right">29kB</td>
   <td><tt>9f095c0d5274c0a7c1346bec92fa5f52e171df5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/libkcddb-18.12.1.tar.xz">libkcddb-18.12.1</a></td>
   <td align="right">416kB</td>
   <td><tt>cda8bc786082b054be44671ae9a17c6132e60a7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/libkcompactdisc-18.12.1.tar.xz">libkcompactdisc-18.12.1</a></td>
   <td align="right">86kB</td>
   <td><tt>f4edba0dcb11cd3c3573bddf45787f020f1ee98c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/libkdcraw-18.12.1.tar.xz">libkdcraw-18.12.1</a></td>
   <td align="right">41kB</td>
   <td><tt>f8a94b08c117c7dad2b8070e7e413f6dd3b64e16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/libkdegames-18.12.1.tar.xz">libkdegames-18.12.1</a></td>
   <td align="right">6.0MB</td>
   <td><tt>3398afb01485ff1559056e4625863c457a0cb712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/libkdepim-18.12.1.tar.xz">libkdepim-18.12.1</a></td>
   <td align="right">328kB</td>
   <td><tt>0ef5c7ad9ea91f1bee6ffa57c24b73ffb8e6f1fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/libkeduvocdocument-18.12.1.tar.xz">libkeduvocdocument-18.12.1</a></td>
   <td align="right">202kB</td>
   <td><tt>fb346419c5ffd3cb18a8eed2fa2e0c65fa21a066</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/libkexiv2-18.12.1.tar.xz">libkexiv2-18.12.1</a></td>
   <td align="right">62kB</td>
   <td><tt>4033f82aa380c6b50fa18e778dd3b6355fa1fe4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/libkgapi-18.12.1.tar.xz">libkgapi-18.12.1</a></td>
   <td align="right">209kB</td>
   <td><tt>5ca804c9131eb6c76b980921f6ba864dd4fc931f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/libkgeomap-18.12.1.tar.xz">libkgeomap-18.12.1</a></td>
   <td align="right">147kB</td>
   <td><tt>78a778a2236b790856e393017bd555e5828a0f1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/libkipi-18.12.1.tar.xz">libkipi-18.12.1</a></td>
   <td align="right">101kB</td>
   <td><tt>8edf17c5eac021064bc8acb43ec7929730f71498</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/libkleo-18.12.1.tar.xz">libkleo-18.12.1</a></td>
   <td align="right">325kB</td>
   <td><tt>6fe697112a7b3a91436cffdc44e1763b39c80d08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/libkmahjongg-18.12.1.tar.xz">libkmahjongg-18.12.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>3f418693fedab3021b5abb9c8531ed437c4453e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/libkomparediff2-18.12.1.tar.xz">libkomparediff2-18.12.1</a></td>
   <td align="right">169kB</td>
   <td><tt>68f9da71fa1217ecbf73ee1d13b20309f4e04fac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/libksane-18.12.1.tar.xz">libksane-18.12.1</a></td>
   <td align="right">134kB</td>
   <td><tt>0b3be6694a0e1f956128460a7081c31b48e6809c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/libksieve-18.12.1.tar.xz">libksieve-18.12.1</a></td>
   <td align="right">537kB</td>
   <td><tt>cb5c67f0757e42a79f39066de59da32e95295dd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/lokalize-18.12.1.tar.xz">lokalize-18.12.1</a></td>
   <td align="right">2.2MB</td>
   <td><tt>a123692a0634f8025a45926f435241fd7d111351</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/lskat-18.12.1.tar.xz">lskat-18.12.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>aef330215c164b3d515f0588b26c75c6bb7f8c1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/mailcommon-18.12.1.tar.xz">mailcommon-18.12.1</a></td>
   <td align="right">676kB</td>
   <td><tt>ea96ec03e1c3fb056b1a0c22c899f44f6b1d10ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/mailimporter-18.12.1.tar.xz">mailimporter-18.12.1</a></td>
   <td align="right">527kB</td>
   <td><tt>82847cbcefbac5847abc0834b0821f6955b52ef5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/marble-18.12.1.tar.xz">marble-18.12.1</a></td>
   <td align="right">49MB</td>
   <td><tt>53311bb6feba585369809ef9042742f7f615c21b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/mbox-importer-18.12.1.tar.xz">mbox-importer-18.12.1</a></td>
   <td align="right">32kB</td>
   <td><tt>6af0d4dd0f2c3a2191e3f7789316b4065a63c280</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/messagelib-18.12.1.tar.xz">messagelib-18.12.1</a></td>
   <td align="right">9.9MB</td>
   <td><tt>175b1d8cbf6dc2ee2c610a4953f3d42208cb4b23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/minuet-18.12.1.tar.xz">minuet-18.12.1</a></td>
   <td align="right">26MB</td>
   <td><tt>4aa17615e80c7ac1aefcf40f23d30eb22e0953ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/okular-18.12.1.tar.xz">okular-18.12.1</a></td>
   <td align="right">5.8MB</td>
   <td><tt>8ded7dc4ee8f0d10f5a12a575cda90e53360cee5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/palapeli-18.12.1.tar.xz">palapeli-18.12.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>64022e984e6ed617e8c2f0668fabcb2a827ab794</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/parley-18.12.1.tar.xz">parley-18.12.1</a></td>
   <td align="right">8.4MB</td>
   <td><tt>570531321b4bfc764236bbe1d0410b42cac767a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/picmi-18.12.1.tar.xz">picmi-18.12.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>f9ae6d73492d20d08cdaa2cdd56d172218d3372d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/pimcommon-18.12.1.tar.xz">pimcommon-18.12.1</a></td>
   <td align="right">288kB</td>
   <td><tt>51e1b21e16cb984fc243c140b4f247fa1efeff4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/pim-data-exporter-18.12.1.tar.xz">pim-data-exporter-18.12.1</a></td>
   <td align="right">264kB</td>
   <td><tt>07e99c3b3d26a90f5097bd6cf4121a4c004d3504</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/pim-sieve-editor-18.12.1.tar.xz">pim-sieve-editor-18.12.1</a></td>
   <td align="right">440kB</td>
   <td><tt>7f9dd7a2d4ab524f2daad9bfc29cb61b405d85f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/poxml-18.12.1.tar.xz">poxml-18.12.1</a></td>
   <td align="right">42kB</td>
   <td><tt>a39f0987d301a8195b4d28c7001d6133b83373a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/print-manager-18.12.1.tar.xz">print-manager-18.12.1</a></td>
   <td align="right">233kB</td>
   <td><tt>3d1cf6f423313e9fec6714e02d14bc0a5a8ffc66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/rocs-18.12.1.tar.xz">rocs-18.12.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>92701c369a1e21690e6c7eab666932fbcad729cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/signon-kwallet-extension-18.12.1.tar.xz">signon-kwallet-extension-18.12.1</a></td>
   <td align="right">10kB</td>
   <td><tt>8af45ae570fceb30ff17db10c08722633a957ff3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/spectacle-18.12.1.tar.xz">spectacle-18.12.1</a></td>
   <td align="right">808kB</td>
   <td><tt>2851f485ca88f02b7c33ddda82e9f3997e9b8117</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/step-18.12.1.tar.xz">step-18.12.1</a></td>
   <td align="right">839kB</td>
   <td><tt>d7279db7a282989a2e94b0738dd91e36a55b18e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/svgpart-18.12.1.tar.xz">svgpart-18.12.1</a></td>
   <td align="right">20kB</td>
   <td><tt>a54e27f326f9efe4f2f2679d4e0b2beb04f1bdc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/sweeper-18.12.1.tar.xz">sweeper-18.12.1</a></td>
   <td align="right">359kB</td>
   <td><tt>1f1557fb05c7a7ea4163486656f31e512d3efb60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/umbrello-18.12.1.tar.xz">umbrello-18.12.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>4d01d12cead247ba2ccb069110e209ae43cf2a93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.1/src/zeroconf-ioslave-18.12.1.tar.xz">zeroconf-ioslave-18.12.1</a></td>
   <td align="right">37kB</td>
   <td><tt>df6cccb8ebca2e68f75e71ae859c67cba1cef4d2</tt></td>
</tr>

</table>
