<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Digest</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/akonadi-19.07.80.tar.xz">akonadi-19.07.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>ff86e53026c41e23db5893294834f08dbdf37c3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/akonadi-calendar-19.07.80.tar.xz">akonadi-calendar-19.07.80</a></td>
   <td align="right">324kB</td>
   <td><tt>991166eda174110ec291cfc35d4906072e9415d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/akonadi-calendar-tools-19.07.80.tar.xz">akonadi-calendar-tools-19.07.80</a></td>
   <td align="right">218kB</td>
   <td><tt>da0b1031ca05913854bf4bd5a62f233aabb4cbba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/akonadiconsole-19.07.80.tar.xz">akonadiconsole-19.07.80</a></td>
   <td align="right">189kB</td>
   <td><tt>7955cd50aacf0f728ed346db15a33a2cb350ddcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/akonadi-contacts-19.07.80.tar.xz">akonadi-contacts-19.07.80</a></td>
   <td align="right">376kB</td>
   <td><tt>b68cf8a694abe736e9d19861458b25f78fe77763</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/akonadi-import-wizard-19.07.80.tar.xz">akonadi-import-wizard-19.07.80</a></td>
   <td align="right">428kB</td>
   <td><tt>7fac5cf3f3377d010dd69892a5181f3f22af96c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/akonadi-mime-19.07.80.tar.xz">akonadi-mime-19.07.80</a></td>
   <td align="right">129kB</td>
   <td><tt>9e1aa28f9fc3b695613a4fda97e57f799fef4285</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/akonadi-notes-19.07.80.tar.xz">akonadi-notes-19.07.80</a></td>
   <td align="right">24kB</td>
   <td><tt>884920a744c8ddb2fa10e3fc42b6b55a534186e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/akonadi-search-19.07.80.tar.xz">akonadi-search-19.07.80</a></td>
   <td align="right">80kB</td>
   <td><tt>40f8dad3e451768332a73eba0d6dd5bf455dfc8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/akregator-19.07.80.tar.xz">akregator-19.07.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>5256a1b21dc463063e0e7188f7ec0e4de996a9b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/analitza-19.07.80.tar.xz">analitza-19.07.80</a></td>
   <td align="right">323kB</td>
   <td><tt>9b6e297c0b1f143f3605f2f767e33c6e7c088a8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ark-19.07.80.tar.xz">ark-19.07.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>0b18da541aed7e03e07ccd9f70c7db34e07f002e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/artikulate-19.07.80.tar.xz">artikulate-19.07.80</a></td>
   <td align="right">3.8MB</td>
   <td><tt>df5556a25e1b0d2012b229138da2aeb711529b8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/audiocd-kio-19.07.80.tar.xz">audiocd-kio-19.07.80</a></td>
   <td align="right">346kB</td>
   <td><tt>38b868c1517857f4a66a03196d813fc3e8fbd827</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/baloo-widgets-19.07.80.tar.xz">baloo-widgets-19.07.80</a></td>
   <td align="right">255kB</td>
   <td><tt>ab9721f54a2a38b1f04571d1e6e694ffacce7406</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/blinken-19.07.80.tar.xz">blinken-19.07.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>a0b073ac06ad8eed58badeb1f723128232b1f8da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/bomber-19.07.80.tar.xz">bomber-19.07.80</a></td>
   <td align="right">800kB</td>
   <td><tt>e9b3d636d11f3074c7563375d0281b991bb1298a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/bovo-19.07.80.tar.xz">bovo-19.07.80</a></td>
   <td align="right">194kB</td>
   <td><tt>03366ecef4180289d20e5f0d181c259d3b55669d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/calendarsupport-19.07.80.tar.xz">calendarsupport-19.07.80</a></td>
   <td align="right">629kB</td>
   <td><tt>2852f35adbe7f8b0f5a3a0001f1d6414d75987aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/cantor-19.07.80.tar.xz">cantor-19.07.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>5d47d7788181e42351097740450e7feefa746575</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/cervisia-19.07.80.tar.xz">cervisia-19.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>67b5e0dff3776bad0145b17d9d419119387c0e7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/dolphin-19.07.80.tar.xz">dolphin-19.07.80</a></td>
   <td align="right">4.9MB</td>
   <td><tt>fcda88405c5d2d21786e92413f452c3c6931ee4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/dolphin-plugins-19.07.80.tar.xz">dolphin-plugins-19.07.80</a></td>
   <td align="right">187kB</td>
   <td><tt>496d6166107b45945b09f8ef040178ddd57ebb1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/dragon-19.07.80.tar.xz">dragon-19.07.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>e4a2729610082ec9ef88a805b68585e2de425774</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/eventviews-19.07.80.tar.xz">eventviews-19.07.80</a></td>
   <td align="right">431kB</td>
   <td><tt>eb747adbc0cc29bb313291244913f560d2a7a94e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ffmpegthumbs-19.07.80.tar.xz">ffmpegthumbs-19.07.80</a></td>
   <td align="right">24kB</td>
   <td><tt>9453f96baec945bcc60e33dab4ee1fcdeb328c0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/filelight-19.07.80.tar.xz">filelight-19.07.80</a></td>
   <td align="right">645kB</td>
   <td><tt>bf03a49f9d03dfebf1c59b6816225fcb70770848</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/granatier-19.07.80.tar.xz">granatier-19.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>54e7feb84af5ccbc063242187bdc1a363b17deae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/grantlee-editor-19.07.80.tar.xz">grantlee-editor-19.07.80</a></td>
   <td align="right">108kB</td>
   <td><tt>503b1070bba633db02c75a277e1fecf260b4e6d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/grantleetheme-19.07.80.tar.xz">grantleetheme-19.07.80</a></td>
   <td align="right">50kB</td>
   <td><tt>ac1a9c273b816281ec0c8698578fadedd1d321b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/gwenview-19.07.80.tar.xz">gwenview-19.07.80</a></td>
   <td align="right">5.4MB</td>
   <td><tt>bdf3a013b518c06f1242be551d782812151fc27d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/incidenceeditor-19.07.80.tar.xz">incidenceeditor-19.07.80</a></td>
   <td align="right">537kB</td>
   <td><tt>9cf8bc95ab32e1759da5bcd6f1a8d2b4dc011ded</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/juk-19.07.80.tar.xz">juk-19.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>436061bcc73e2d6c3946c260e1f125d7eec69195</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/k3b-19.07.80.tar.xz">k3b-19.07.80</a></td>
   <td align="right">10MB</td>
   <td><tt>c5c6a4e1debb76495c8045ebea055fcff83d480d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kaccounts-integration-19.07.80.tar.xz">kaccounts-integration-19.07.80</a></td>
   <td align="right">70kB</td>
   <td><tt>edfc875470fa52fe08ece738cbc3a465c99a87e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kaccounts-providers-19.07.80.tar.xz">kaccounts-providers-19.07.80</a></td>
   <td align="right">31kB</td>
   <td><tt>7d51cbf693559da62f21812f1ebcc61c86cb72fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kaddressbook-19.07.80.tar.xz">kaddressbook-19.07.80</a></td>
   <td align="right">463kB</td>
   <td><tt>5777a58f16213f5e21a1d067aa500d72a2a94e6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kajongg-19.07.80.tar.xz">kajongg-19.07.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>5e1dbef3d98cce00d78cb567f145a8ae013e83f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kalarm-19.07.80.tar.xz">kalarm-19.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a62a887fa20d3863a9f7cb0bb0cdc1a1376bd9a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kalarmcal-19.07.80.tar.xz">kalarmcal-19.07.80</a></td>
   <td align="right">559kB</td>
   <td><tt>5e0eaaa33e4a44c6f8692d438a2cda488929b476</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kalgebra-19.07.80.tar.xz">kalgebra-19.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>efb74aa136e5731bfa6fc61829d66bc1894d34c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kalzium-19.07.80.tar.xz">kalzium-19.07.80</a></td>
   <td align="right">25MB</td>
   <td><tt>362bec4b1adbd57934198718a5bc275ac4f698ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kamera-19.07.80.tar.xz">kamera-19.07.80</a></td>
   <td align="right">96kB</td>
   <td><tt>9cca88267f41cbd9774ed6c71a1583e1c51368a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kamoso-19.07.80.tar.xz">kamoso-19.07.80</a></td>
   <td align="right">196kB</td>
   <td><tt>834a972393526bd5dd7a27db516f8cbd2b481284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kanagram-19.07.80.tar.xz">kanagram-19.07.80</a></td>
   <td align="right">7.6MB</td>
   <td><tt>d5d293b93730229e5b09b1d017c1c2dbde5b5512</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kapman-19.07.80.tar.xz">kapman-19.07.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>e0dda2a0385158be4a86ac74be1e58c97e9a9153</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kapptemplate-19.07.80.tar.xz">kapptemplate-19.07.80</a></td>
   <td align="right">308kB</td>
   <td><tt>4adb5b2907909712de431926d85e1158c4983b8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kate-19.07.80.tar.xz">kate-19.07.80</a></td>
   <td align="right">5.5MB</td>
   <td><tt>91fdde6579c9416245b3782d88f6d299795b4e8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/katomic-19.07.80.tar.xz">katomic-19.07.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>0d96cbabf717cc9627e2a8eba09555bb785a47af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kbackup-19.07.80.tar.xz">kbackup-19.07.80</a></td>
   <td align="right">349kB</td>
   <td><tt>399090103c76a149bb1e11b1338b3b679d160d49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kblackbox-19.07.80.tar.xz">kblackbox-19.07.80</a></td>
   <td align="right">433kB</td>
   <td><tt>e6277e6830f4b14184feb1b80f90df599531306c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kblocks-19.07.80.tar.xz">kblocks-19.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>fc3e1e207bec8b48a81cd6e6ba831fd6a9311e46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kblog-19.07.80.tar.xz">kblog-19.07.80</a></td>
   <td align="right">71kB</td>
   <td><tt>94d3ce2681023f5b91a2321d3bcb3130600914ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kbounce-19.07.80.tar.xz">kbounce-19.07.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>cafa16e9b3d24128dd71caf7e9a7920bb65ea6ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kbreakout-19.07.80.tar.xz">kbreakout-19.07.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>33d64727b15c92376acf7a6f55a4f2d727f5c386</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kbruch-19.07.80.tar.xz">kbruch-19.07.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>aad801c3d93f5b7a2a2456f74337ba8b52b3f847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kcachegrind-19.07.80.tar.xz">kcachegrind-19.07.80</a></td>
   <td align="right">793kB</td>
   <td><tt>9bc2325703ddacdeba32ffa21c441949caadb8c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kcalc-19.07.80.tar.xz">kcalc-19.07.80</a></td>
   <td align="right">363kB</td>
   <td><tt>327516e0aa0f262c596cf64ea4b1b93eed4c61a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kcalcore-19.07.80.tar.xz">kcalcore-19.07.80</a></td>
   <td align="right">243kB</td>
   <td><tt>ed0c9d21a60bc9532c54cccdeda947f15af996e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kcalutils-19.07.80.tar.xz">kcalutils-19.07.80</a></td>
   <td align="right">316kB</td>
   <td><tt>4af7dcd1a8536ffce1ed088beb7778b3b6b36bc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kcharselect-19.07.80.tar.xz">kcharselect-19.07.80</a></td>
   <td align="right">326kB</td>
   <td><tt>350b64d841d6f34027415fcdad7988b79e94089a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kcolorchooser-19.07.80.tar.xz">kcolorchooser-19.07.80</a></td>
   <td align="right">19kB</td>
   <td><tt>b08f93ad6acab78b880d0bf628a9f990ce7915f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kcontacts-19.07.80.tar.xz">kcontacts-19.07.80</a></td>
   <td align="right">534kB</td>
   <td><tt>3fc4d083d6ff6920a203e8c269845d23b6e60339</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kcron-19.07.80.tar.xz">kcron-19.07.80</a></td>
   <td align="right">866kB</td>
   <td><tt>b98e72e4683ae898d06aaaacf862d9867d752ef5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kdav-19.07.80.tar.xz">kdav-19.07.80</a></td>
   <td align="right">48kB</td>
   <td><tt>da41fd6e4b28c7899a2eeb118abefc65664c9073</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kdebugsettings-19.07.80.tar.xz">kdebugsettings-19.07.80</a></td>
   <td align="right">54kB</td>
   <td><tt>eacf6b84ffcf8741f8064fe4001f793155ef4ea0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kde-dev-scripts-19.07.80.tar.xz">kde-dev-scripts-19.07.80</a></td>
   <td align="right">368kB</td>
   <td><tt>e55fbef69702a1af754ddc627e31a04b6328b7f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kde-dev-utils-19.07.80.tar.xz">kde-dev-utils-19.07.80</a></td>
   <td align="right">60kB</td>
   <td><tt>83ab383b57eb23551e9ce4ae0776a0b922c1956e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kdeedu-data-19.07.80.tar.xz">kdeedu-data-19.07.80</a></td>
   <td align="right">320kB</td>
   <td><tt>c5580b5b2627be3010f508dda13641aa54f8a36e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kdegraphics-mobipocket-19.07.80.tar.xz">kdegraphics-mobipocket-19.07.80</a></td>
   <td align="right">13kB</td>
   <td><tt>460e2f8e7f3472448ceeea1069ae12086a00ed51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kdegraphics-thumbnailers-19.07.80.tar.xz">kdegraphics-thumbnailers-19.07.80</a></td>
   <td align="right">42kB</td>
   <td><tt>f6d3c89d4e4958420488ef3585f40c64fcbfb1a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kdenetwork-filesharing-19.07.80.tar.xz">kdenetwork-filesharing-19.07.80</a></td>
   <td align="right">308kB</td>
   <td><tt>710bca897699305fd54fec4c7ed6865d07c121f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kdenlive-19.07.80.tar.xz">kdenlive-19.07.80</a></td>
   <td align="right">11MB</td>
   <td><tt>0db95d3a178c6ea24b43c4b8ce38f420ab8f9232</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kdepim-addons-19.07.80.tar.xz">kdepim-addons-19.07.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>afe421a042844f912952e3b528ba67b119f68f33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kdepim-apps-libs-19.07.80.tar.xz">kdepim-apps-libs-19.07.80</a></td>
   <td align="right">79kB</td>
   <td><tt>464e537e5b30763d112de6e72dc66446e4314f14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kdepim-runtime-19.07.80.tar.xz">kdepim-runtime-19.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>eac73deb78c4abbf9e827271752a7c2cc9373d0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kdesdk-kioslaves-19.07.80.tar.xz">kdesdk-kioslaves-19.07.80</a></td>
   <td align="right">36kB</td>
   <td><tt>76e2719d101b3befb728db20e90b6101c33abd17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kdesdk-thumbnailers-19.07.80.tar.xz">kdesdk-thumbnailers-19.07.80</a></td>
   <td align="right">16kB</td>
   <td><tt>b315551bbfd6e0321a9a6a12974901ad39d4418d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kdf-19.07.80.tar.xz">kdf-19.07.80</a></td>
   <td align="right">450kB</td>
   <td><tt>d146ea8746e18756d4feb6d5efd7c545443a503d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kdialog-19.07.80.tar.xz">kdialog-19.07.80</a></td>
   <td align="right">98kB</td>
   <td><tt>6002e23498b9c243985e57df642d64a94b5fa172</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kdiamond-19.07.80.tar.xz">kdiamond-19.07.80</a></td>
   <td align="right">4.4MB</td>
   <td><tt>dd2f744201178dc883bd648dfc6f411410c4e440</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/keditbookmarks-19.07.80.tar.xz">keditbookmarks-19.07.80</a></td>
   <td align="right">179kB</td>
   <td><tt>b5b96e0e714ac7c05dcee3b8c51e0a916f355bde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kfind-19.07.80.tar.xz">kfind-19.07.80</a></td>
   <td align="right">261kB</td>
   <td><tt>1bfd19778d6d13265d0add9b4a96f3ed29a38aba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kfloppy-19.07.80.tar.xz">kfloppy-19.07.80</a></td>
   <td align="right">194kB</td>
   <td><tt>70aa4fe47542f501af9c012a984243d16252b9e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kfourinline-19.07.80.tar.xz">kfourinline-19.07.80</a></td>
   <td align="right">622kB</td>
   <td><tt>0026af461cabf6015a707427aaf2e6cb2838c7fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kgeography-19.07.80.tar.xz">kgeography-19.07.80</a></td>
   <td align="right">10MB</td>
   <td><tt>98cd3abb473e5948e4bca4c9162efe69369b5645</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kget-19.07.80.tar.xz">kget-19.07.80</a></td>
   <td align="right">4.9MB</td>
   <td><tt>b9aa7884af2d114227df2fe10750db78d99566df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kgoldrunner-19.07.80.tar.xz">kgoldrunner-19.07.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>b8037299c32349e1e682ca94f024db450cf8cedb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kgpg-19.07.80.tar.xz">kgpg-19.07.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>df616485d32e6685ccf638b10ac1487b859a9b36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/khangman-19.07.80.tar.xz">khangman-19.07.80</a></td>
   <td align="right">6.7MB</td>
   <td><tt>7fbbd70b4906d824e25011e8fd9bd1b61637ca91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/khelpcenter-19.07.80.tar.xz">khelpcenter-19.07.80</a></td>
   <td align="right">3.6MB</td>
   <td><tt>22d3e490f69af044204b3b49d3cf9afdf04d3e05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kidentitymanagement-19.07.80.tar.xz">kidentitymanagement-19.07.80</a></td>
   <td align="right">145kB</td>
   <td><tt>598545544c9aa8c82db4f3769794a598fb2d6b0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kig-19.07.80.tar.xz">kig-19.07.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>f03b16d6045213e044e50a39637b4ad6ddd1949c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kigo-19.07.80.tar.xz">kigo-19.07.80</a></td>
   <td align="right">4.9MB</td>
   <td><tt>cf9f0d84026e60078c3854ef3145db094dcc57a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/killbots-19.07.80.tar.xz">killbots-19.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>f0192e327f3ffed42254ee9023c96300d946dc66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kimagemapeditor-19.07.80.tar.xz">kimagemapeditor-19.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>375074dcc9b2d805de865419d947988558a5caaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kimap-19.07.80.tar.xz">kimap-19.07.80</a></td>
   <td align="right">116kB</td>
   <td><tt>ad27646a6cea1734edef3100ea3a245626216b17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kio-extras-19.07.80.tar.xz">kio-extras-19.07.80</a></td>
   <td align="right">557kB</td>
   <td><tt>ec28d8951684f08771bc862c7928e116c1d63044</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kipi-plugins-19.07.80.tar.xz">kipi-plugins-19.07.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>af3acfd5da325ff3c0913cd76b97051c6e59410c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kirigami-gallery-19.07.80.tar.xz">kirigami-gallery-19.07.80</a></td>
   <td align="right">267kB</td>
   <td><tt>7dc821cd0e5f57eee78a99d1d52bf3a767aa7892</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kiriki-19.07.80.tar.xz">kiriki-19.07.80</a></td>
   <td align="right">363kB</td>
   <td><tt>4405b7ef34e8fdc75e3f725266cb02353b892ea7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kiten-19.07.80.tar.xz">kiten-19.07.80</a></td>
   <td align="right">10MB</td>
   <td><tt>b548ac7833a4ba3c5fcfa3c9d00f9106e9703f5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kitinerary-19.07.80.tar.xz">kitinerary-19.07.80</a></td>
   <td align="right">878kB</td>
   <td><tt>268a6af60286eff6bf58a5be9ef803620a309913</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kjumpingcube-19.07.80.tar.xz">kjumpingcube-19.07.80</a></td>
   <td align="right">280kB</td>
   <td><tt>08d319bc82b3ad416ea1bf42335b94562babaf25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kldap-19.07.80.tar.xz">kldap-19.07.80</a></td>
   <td align="right">152kB</td>
   <td><tt>e1c1e04d72a8c5cf973427beb96961104f232bc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kleopatra-19.07.80.tar.xz">kleopatra-19.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>45e3580dc3576964adb4e86ee3e8e967f6b873fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/klettres-19.07.80.tar.xz">klettres-19.07.80</a></td>
   <td align="right">20MB</td>
   <td><tt>cce595abd2a62c54928b57223a321505b3eb0b8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/klickety-19.07.80.tar.xz">klickety-19.07.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>3a2713d34da7ad5e800b8342f91f38f80eaf2331</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/klines-19.07.80.tar.xz">klines-19.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>fcb89fe2eaf9de05b3f82a8fbd279fc455be4e3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kmag-19.07.80.tar.xz">kmag-19.07.80</a></td>
   <td align="right">655kB</td>
   <td><tt>6b873d77d458a90a3e9c1a8a90d4384aa64513d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kmahjongg-19.07.80.tar.xz">kmahjongg-19.07.80</a></td>
   <td align="right">3.2MB</td>
   <td><tt>cae3f0740f264e108419c2ce5c4f1e58552d293d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kmail-19.07.80.tar.xz">kmail-19.07.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>86b7d8e97f7c969b422531cfb5c19053bb2f304e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kmail-account-wizard-19.07.80.tar.xz">kmail-account-wizard-19.07.80</a></td>
   <td align="right">154kB</td>
   <td><tt>6eff9fd0d99ec05dee291e1b0f418fc62f03abc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kmailtransport-19.07.80.tar.xz">kmailtransport-19.07.80</a></td>
   <td align="right">162kB</td>
   <td><tt>3fc7553697a67b37afef3148bf999b7d541dc683</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kmbox-19.07.80.tar.xz">kmbox-19.07.80</a></td>
   <td align="right">23kB</td>
   <td><tt>81303a6c5683d9f04df98e22394d3d6943a3f63d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kmime-19.07.80.tar.xz">kmime-19.07.80</a></td>
   <td align="right">143kB</td>
   <td><tt>75bb9a7b648f8ae42de44391eb474f5b40e1471e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kmines-19.07.80.tar.xz">kmines-19.07.80</a></td>
   <td align="right">876kB</td>
   <td><tt>33570b0f0b321c3867062827ae10d9b9a5f39851</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kmix-19.07.80.tar.xz">kmix-19.07.80</a></td>
   <td align="right">982kB</td>
   <td><tt>6239cd14eba3b528f5a86806d17e6390c52b49ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kmousetool-19.07.80.tar.xz">kmousetool-19.07.80</a></td>
   <td align="right">110kB</td>
   <td><tt>e64df2a3fe9142df74aa74d76f71e547c03b9a1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kmouth-19.07.80.tar.xz">kmouth-19.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>2f5bb2ee81c29c2f9634073faf1a6fb7c2c42fcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kmplot-19.07.80.tar.xz">kmplot-19.07.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>84410e67f8b248a7dad93124d865ad58d2734fbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/knavalbattle-19.07.80.tar.xz">knavalbattle-19.07.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>225334da36dc8d89f3524a0ea01d90f96e02dac7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/knetwalk-19.07.80.tar.xz">knetwalk-19.07.80</a></td>
   <td align="right">1014kB</td>
   <td><tt>3f948fb7e4448ba4e35997873044e6c07387f90a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/knights-19.07.80.tar.xz">knights-19.07.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>6e62eaa250166b9ad446c1d4308a18f921844bf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/knotes-19.07.80.tar.xz">knotes-19.07.80</a></td>
   <td align="right">312kB</td>
   <td><tt>f4bf738891ff5cccea821e14785a2d6d9699d097</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kolf-19.07.80.tar.xz">kolf-19.07.80</a></td>
   <td align="right">998kB</td>
   <td><tt>11c77c442a83572384e188ba5c0d1ce863cfe7f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kollision-19.07.80.tar.xz">kollision-19.07.80</a></td>
   <td align="right">274kB</td>
   <td><tt>806a4b1af9eaaeb2ac28f8398a1c56231f77a5d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kolourpaint-19.07.80.tar.xz">kolourpaint-19.07.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>246c564f6746ac5c0f3d19d548f683ee0667d67b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kompare-19.07.80.tar.xz">kompare-19.07.80</a></td>
   <td align="right">783kB</td>
   <td><tt>91ee003a958a2a1c69b2ddacea4868ea61d28400</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/konqueror-19.07.80.tar.xz">konqueror-19.07.80</a></td>
   <td align="right">7.2MB</td>
   <td><tt>aaa62ad7ef7c1253eb729fb8e8806e2a049dd4d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/konquest-19.07.80.tar.xz">konquest-19.07.80</a></td>
   <td align="right">643kB</td>
   <td><tt>d87419b9f156c7ef2bc02a22af42fa12901712d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/konsole-19.07.80.tar.xz">konsole-19.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>7c8a7726df87a74584a34d95d2cfddbe08e06e7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kontact-19.07.80.tar.xz">kontact-19.07.80</a></td>
   <td align="right">775kB</td>
   <td><tt>a66964ea3ef37753401636c8aff458c8dc623619</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kontactinterface-19.07.80.tar.xz">kontactinterface-19.07.80</a></td>
   <td align="right">32kB</td>
   <td><tt>7659b61f74d87b45c846a243d6859aeac3e01bba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kopete-19.07.80.tar.xz">kopete-19.07.80</a></td>
   <td align="right">8.9MB</td>
   <td><tt>4e4dc07c721580c05fc530c65a5a170bba6f5e6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/korganizer-19.07.80.tar.xz">korganizer-19.07.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>17ea67d308c9c35e67484cb80309e3e372070e6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kpat-19.07.80.tar.xz">kpat-19.07.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>e7c576fd96e62816fabd7a3f92465b2cf95b310c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kpimtextedit-19.07.80.tar.xz">kpimtextedit-19.07.80</a></td>
   <td align="right">149kB</td>
   <td><tt>8c982681a667b122fb8196b0f24d94060b8e0be8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kpkpass-19.07.80.tar.xz">kpkpass-19.07.80</a></td>
   <td align="right">22kB</td>
   <td><tt>33b1c3611595bc7eafc2010fd17f9ad7d8d91c9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kqtquickcharts-19.07.80.tar.xz">kqtquickcharts-19.07.80</a></td>
   <td align="right">24kB</td>
   <td><tt>38043058720a69cf11784d179b95f6221b78a840</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/krdc-19.07.80.tar.xz">krdc-19.07.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ebf85d1e507864715f2d06e702a8b075e0fd9450</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kreversi-19.07.80.tar.xz">kreversi-19.07.80</a></td>
   <td align="right">921kB</td>
   <td><tt>77aa7809979ddd0e7c9990da25dffc5c1877a8cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/krfb-19.07.80.tar.xz">krfb-19.07.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>70f87f82475edbabf3bec1e654c50ff18cdcee77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kross-interpreters-19.07.80.tar.xz">kross-interpreters-19.07.80</a></td>
   <td align="right">147kB</td>
   <td><tt>8b9e2f8d6a00cc7b4d38d079de759a79cfd83a25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kruler-19.07.80.tar.xz">kruler-19.07.80</a></td>
   <td align="right">243kB</td>
   <td><tt>3b11c92c03a828e2dc4063827b670c27160bf6fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kshisen-19.07.80.tar.xz">kshisen-19.07.80</a></td>
   <td align="right">803kB</td>
   <td><tt>2ec4e5ff977217095171c8c319f22454a0221318</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ksirk-19.07.80.tar.xz">ksirk-19.07.80</a></td>
   <td align="right">6.6MB</td>
   <td><tt>411b7db722269860f61a129f7025d88e9ad6727a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ksmtp-19.07.80.tar.xz">ksmtp-19.07.80</a></td>
   <td align="right">39kB</td>
   <td><tt>a144ebd8e663a7f703f35622c13afaead8b8705f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ksnakeduel-19.07.80.tar.xz">ksnakeduel-19.07.80</a></td>
   <td align="right">591kB</td>
   <td><tt>968946ec055744026ea3ecd18accf2692ad15581</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kspaceduel-19.07.80.tar.xz">kspaceduel-19.07.80</a></td>
   <td align="right">596kB</td>
   <td><tt>4216df42bcf4063a4cb99db4a8b3a80438fbce04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ksquares-19.07.80.tar.xz">ksquares-19.07.80</a></td>
   <td align="right">254kB</td>
   <td><tt>38faa579ed263f5d263b5cddca4ff95cf951f1ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ksudoku-19.07.80.tar.xz">ksudoku-19.07.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>4f842b45818a51b2e4545881c6d90327f3288bc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ksystemlog-19.07.80.tar.xz">ksystemlog-19.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c54d9e092b43799d7c5b53562e3a7bf88aaf45d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kteatime-19.07.80.tar.xz">kteatime-19.07.80</a></td>
   <td align="right">278kB</td>
   <td><tt>837a9b9f37741bfd40caf87dcd89d26a8cc87263</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ktimer-19.07.80.tar.xz">ktimer-19.07.80</a></td>
   <td align="right">367kB</td>
   <td><tt>0bf826ca857ff24b4811792a32acdc25227db5e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ktnef-19.07.80.tar.xz">ktnef-19.07.80</a></td>
   <td align="right">292kB</td>
   <td><tt>8ef37a44a341b8178b4d75db1b4212ae1a1f6718</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ktouch-19.07.80.tar.xz">ktouch-19.07.80</a></td>
   <td align="right">4.7MB</td>
   <td><tt>548d77019654c906fc107d1d85a85933cbf135c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ktp-accounts-kcm-19.07.80.tar.xz">ktp-accounts-kcm-19.07.80</a></td>
   <td align="right">258kB</td>
   <td><tt>48fc4a1795c670e16842e135a9a8556b916a4d05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ktp-approver-19.07.80.tar.xz">ktp-approver-19.07.80</a></td>
   <td align="right">36kB</td>
   <td><tt>f0ed595becafae5af4d59709b14fcd4bb9632744</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ktp-auth-handler-19.07.80.tar.xz">ktp-auth-handler-19.07.80</a></td>
   <td align="right">44kB</td>
   <td><tt>20e8997aa54fc01b00f41158f2b3599ee344119f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ktp-call-ui-19.07.80.tar.xz">ktp-call-ui-19.07.80</a></td>
   <td align="right">94kB</td>
   <td><tt>b61c3cd1eeeb0cb98dd96b612535681d5065b83b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ktp-common-internals-19.07.80.tar.xz">ktp-common-internals-19.07.80</a></td>
   <td align="right">435kB</td>
   <td><tt>8b671148b888c7f387008dcab6883c91ceb34e97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ktp-contact-list-19.07.80.tar.xz">ktp-contact-list-19.07.80</a></td>
   <td align="right">144kB</td>
   <td><tt>4a1a1c8c91acdae5c6909d6c7825dca3b0d64998</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ktp-contact-runner-19.07.80.tar.xz">ktp-contact-runner-19.07.80</a></td>
   <td align="right">41kB</td>
   <td><tt>ec9675a1a9747f13b21276fd23dbe6b72cbb1f96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ktp-desktop-applets-19.07.80.tar.xz">ktp-desktop-applets-19.07.80</a></td>
   <td align="right">42kB</td>
   <td><tt>33b3fc3fdfa894ba0e199e1cabe7ce3076db52f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ktp-filetransfer-handler-19.07.80.tar.xz">ktp-filetransfer-handler-19.07.80</a></td>
   <td align="right">45kB</td>
   <td><tt>e01e2ad3dadda65505fa91111bc705d4eca82376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ktp-kded-module-19.07.80.tar.xz">ktp-kded-module-19.07.80</a></td>
   <td align="right">94kB</td>
   <td><tt>9cd0b513a951cb498cef49d3ec44a10f4557bf11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ktp-send-file-19.07.80.tar.xz">ktp-send-file-19.07.80</a></td>
   <td align="right">28kB</td>
   <td><tt>b5c279fb03dde78f55f2145249c4c035bc70a3ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ktp-text-ui-19.07.80.tar.xz">ktp-text-ui-19.07.80</a></td>
   <td align="right">460kB</td>
   <td><tt>65edeaea757264d4828f2ac0d9084dcf3bf6c183</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/ktuberling-19.07.80.tar.xz">ktuberling-19.07.80</a></td>
   <td align="right">31MB</td>
   <td><tt>1c848aa806f1a8e8e873b3575096fa3ec4fa4094</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kturtle-19.07.80.tar.xz">kturtle-19.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d56106073fb2c3f8fb22227cf29efc76d28826ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kubrick-19.07.80.tar.xz">kubrick-19.07.80</a></td>
   <td align="right">306kB</td>
   <td><tt>5aafe43cd8ca844a646d61392e05b7beb9a809f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kwalletmanager-19.07.80.tar.xz">kwalletmanager-19.07.80</a></td>
   <td align="right">767kB</td>
   <td><tt>b9ccd3c20a81a11de6c267bef3d8c89658c35e54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kwave-19.07.80.tar.xz">kwave-19.07.80</a></td>
   <td align="right">5.9MB</td>
   <td><tt>b4669e8cbed70bb43c64cdd608b99b530b57647e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/kwordquiz-19.07.80.tar.xz">kwordquiz-19.07.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>3fadc816b75f00a6757dfeeb5edc7ca4d4ecc05d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/libgravatar-19.07.80.tar.xz">libgravatar-19.07.80</a></td>
   <td align="right">30kB</td>
   <td><tt>f23354e6d3e59ab1b36ec1e691ce67339c9d111a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/libkcddb-19.07.80.tar.xz">libkcddb-19.07.80</a></td>
   <td align="right">414kB</td>
   <td><tt>abf97f22eddce7b095997f561e4ce421454e484f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/libkcompactdisc-19.07.80.tar.xz">libkcompactdisc-19.07.80</a></td>
   <td align="right">86kB</td>
   <td><tt>cb18a3f25a39eeaa4d90c14552ceca5e8d6daafa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/libkdcraw-19.07.80.tar.xz">libkdcraw-19.07.80</a></td>
   <td align="right">41kB</td>
   <td><tt>7f03562506b6310ace619a928a1d6da13e2e09b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/libkdegames-19.07.80.tar.xz">libkdegames-19.07.80</a></td>
   <td align="right">6.0MB</td>
   <td><tt>8843479a6840bc8e346d2a8d311ee6f97f3da616</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/libkdepim-19.07.80.tar.xz">libkdepim-19.07.80</a></td>
   <td align="right">325kB</td>
   <td><tt>d9ffd956cdb9b0a4165c9e788d6cf99e5097d281</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/libkeduvocdocument-19.07.80.tar.xz">libkeduvocdocument-19.07.80</a></td>
   <td align="right">201kB</td>
   <td><tt>1ace046752fcf49145571066c9898094cba52397</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/libkexiv2-19.07.80.tar.xz">libkexiv2-19.07.80</a></td>
   <td align="right">63kB</td>
   <td><tt>19a6d1bb4ee9938110eba86fa6bad55d0c3f33dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/libkgapi-19.07.80.tar.xz">libkgapi-19.07.80</a></td>
   <td align="right">229kB</td>
   <td><tt>f4dffbd16092ba863f35b0bd95c9e00cca174bb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/libkgeomap-19.07.80.tar.xz">libkgeomap-19.07.80</a></td>
   <td align="right">147kB</td>
   <td><tt>5db31993a0f9a56ef64a959ef4b7b246fdb2d4c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/libkipi-19.07.80.tar.xz">libkipi-19.07.80</a></td>
   <td align="right">100kB</td>
   <td><tt>2ee634f60c8ad1ef955b37e07e16a3e9d9368a9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/libkleo-19.07.80.tar.xz">libkleo-19.07.80</a></td>
   <td align="right">329kB</td>
   <td><tt>3c66bc64f7a386335637dcceb4e064b0a38d6e32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/libkmahjongg-19.07.80.tar.xz">libkmahjongg-19.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0101f9ddde65a531e8b8e43a502e89a0b3c30676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/libkomparediff2-19.07.80.tar.xz">libkomparediff2-19.07.80</a></td>
   <td align="right">169kB</td>
   <td><tt>970c54b4ee2fc6a9a028374e78dc462ae36e91f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/libksane-19.07.80.tar.xz">libksane-19.07.80</a></td>
   <td align="right">134kB</td>
   <td><tt>fed007060586a1982070ea730bb95658cf22cba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/libksieve-19.07.80.tar.xz">libksieve-19.07.80</a></td>
   <td align="right">536kB</td>
   <td><tt>80bc6718d76fdc18e439e782fa1509bec8e98e14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/lokalize-19.07.80.tar.xz">lokalize-19.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e5c6b51f7477b3e9e095537a81fbf6bee8e69afa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/lskat-19.07.80.tar.xz">lskat-19.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>c52968cef48b134f4c8e2a032d56be4d119f903f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/mailcommon-19.07.80.tar.xz">mailcommon-19.07.80</a></td>
   <td align="right">676kB</td>
   <td><tt>6ffb55a0726c07f26ebd288fb014c4010ef148ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/mailimporter-19.07.80.tar.xz">mailimporter-19.07.80</a></td>
   <td align="right">527kB</td>
   <td><tt>c8d2cfc4ce3a227b0ccab41a91857d8cbac884f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/marble-19.07.80.tar.xz">marble-19.07.80</a></td>
   <td align="right">49MB</td>
   <td><tt>972bde0763945c97133895ea95a32d9cf219a78c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/mbox-importer-19.07.80.tar.xz">mbox-importer-19.07.80</a></td>
   <td align="right">32kB</td>
   <td><tt>831a19fb21c081a3c2b1b78ea0cd90116cb4ddf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/messagelib-19.07.80.tar.xz">messagelib-19.07.80</a></td>
   <td align="right">9.8MB</td>
   <td><tt>8f6fb0c99aa99272f0ab5a3c1c3d5eb7f7df86e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/minuet-19.07.80.tar.xz">minuet-19.07.80</a></td>
   <td align="right">26MB</td>
   <td><tt>b25d2a5e304882de874d3dca33a4dbd0da662961</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/okular-19.07.80.tar.xz">okular-19.07.80</a></td>
   <td align="right">6.7MB</td>
   <td><tt>fabf704d6307d4e2e18b9a6e2bb60ca52aebbf91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/palapeli-19.07.80.tar.xz">palapeli-19.07.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>b856677fcf9df748eddb2312647a6722d2fbe499</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/parley-19.07.80.tar.xz">parley-19.07.80</a></td>
   <td align="right">8.4MB</td>
   <td><tt>8cbc69e3da3a55a14b0aa8d8690a7df2284595aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/picmi-19.07.80.tar.xz">picmi-19.07.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>1b685c2f879c9f1734e86b0362ea69078e6115ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/pimcommon-19.07.80.tar.xz">pimcommon-19.07.80</a></td>
   <td align="right">286kB</td>
   <td><tt>2a1428df771ccb183c053061cb0839170f606d4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/pim-data-exporter-19.07.80.tar.xz">pim-data-exporter-19.07.80</a></td>
   <td align="right">198kB</td>
   <td><tt>469c0e4cf7cc3ef0e7d087ffbaf49905033540ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/pim-sieve-editor-19.07.80.tar.xz">pim-sieve-editor-19.07.80</a></td>
   <td align="right">440kB</td>
   <td><tt>a216967177558bcc95f1d2facd7eb8232a6dd09b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/poxml-19.07.80.tar.xz">poxml-19.07.80</a></td>
   <td align="right">42kB</td>
   <td><tt>162e794a4f696127c9bac7822e0c897e70c799b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/print-manager-19.07.80.tar.xz">print-manager-19.07.80</a></td>
   <td align="right">235kB</td>
   <td><tt>184cc6fb5fce931a0c10aefa83efce2d0c162ce5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/rocs-19.07.80.tar.xz">rocs-19.07.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>e7d9a956f07a4a6a00f44e2486a7a17b29090280</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/signon-kwallet-extension-19.07.80.tar.xz">signon-kwallet-extension-19.07.80</a></td>
   <td align="right">10kB</td>
   <td><tt>f1e068b9386220795cd4e5a09db3d38429736057</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/spectacle-19.07.80.tar.xz">spectacle-19.07.80</a></td>
   <td align="right">941kB</td>
   <td><tt>053c1c51c749234ee94c5e624273ed273c02abf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/step-19.07.80.tar.xz">step-19.07.80</a></td>
   <td align="right">840kB</td>
   <td><tt>16d7d719b65ccdb09aaf97fec876e4548f929156</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/svgpart-19.07.80.tar.xz">svgpart-19.07.80</a></td>
   <td align="right">20kB</td>
   <td><tt>bd4a78bfaf1145d58c10fd94f8e0af2552e4ee4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/sweeper-19.07.80.tar.xz">sweeper-19.07.80</a></td>
   <td align="right">359kB</td>
   <td><tt>3035bd43ab91934102c0d5a31498f17cb635eb1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/umbrello-19.07.80.tar.xz">umbrello-19.07.80</a></td>
   <td align="right">3.5MB</td>
   <td><tt>15684a93b57c1b77b4c75cd811edf64a448ebfd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/yakuake-19.07.80.tar.xz">yakuake-19.07.80</a></td>
   <td align="right">361kB</td>
   <td><tt>b06f3a5983804b046ad6a55b18099e21bda30596</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.07.80/src/zeroconf-ioslave-19.07.80.tar.xz">zeroconf-ioslave-19.07.80</a></td>
   <td align="right">37kB</td>
   <td><tt>46f9942933405b93f35811a21d55b86724b80bf5</tt></td>
</tr>

</table>
