<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/akonadi-19.12.3.tar.xz">akonadi-19.12.3</a></td>
   <td align="right">1546kB</td>
   <td><tt>4c06be47b70e3b8711659eec08a70769439e2835</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/akonadi-calendar-19.12.3.tar.xz">akonadi-calendar-19.12.3</a></td>
   <td align="right">323kB</td>
   <td><tt>171d8e9a8c0812d816dfdbf6a3813e575161fbfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/akonadi-calendar-tools-19.12.3.tar.xz">akonadi-calendar-tools-19.12.3</a></td>
   <td align="right">218kB</td>
   <td><tt>b4b7e7e2b06dcf501ec5141cae8b8e1630cfd9f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/akonadiconsole-19.12.3.tar.xz">akonadiconsole-19.12.3</a></td>
   <td align="right">189kB</td>
   <td><tt>a1fb68652dd261705732713455831732f91b3b07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/akonadi-contacts-19.12.3.tar.xz">akonadi-contacts-19.12.3</a></td>
   <td align="right">383kB</td>
   <td><tt>64ae892d1b48e30111f27e6ac3ecd629285ea64b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/akonadi-import-wizard-19.12.3.tar.xz">akonadi-import-wizard-19.12.3</a></td>
   <td align="right">428kB</td>
   <td><tt>466475e2ebef0f6c0c0221521bbfb7bce250ef3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/akonadi-mime-19.12.3.tar.xz">akonadi-mime-19.12.3</a></td>
   <td align="right">129kB</td>
   <td><tt>ee99482b7e3beeee43aef89344fa5b23d69097ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/akonadi-notes-19.12.3.tar.xz">akonadi-notes-19.12.3</a></td>
   <td align="right">23kB</td>
   <td><tt>22d7d177067eb8b0087da5e4d040e7bb446f36be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/akonadi-search-19.12.3.tar.xz">akonadi-search-19.12.3</a></td>
   <td align="right">81kB</td>
   <td><tt>e7ab135c44eabb640233314aac0b2fb80d14c262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/akregator-19.12.3.tar.xz">akregator-19.12.3</a></td>
   <td align="right">2142kB</td>
   <td><tt>bb87cc7cf62bc2fa19b2596f9979c16b4f9eb6fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/analitza-19.12.3.tar.xz">analitza-19.12.3</a></td>
   <td align="right">323kB</td>
   <td><tt>58ef57b5122c0c44d9e3739331a9458734740851</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ark-19.12.3.tar.xz">ark-19.12.3</a></td>
   <td align="right">2525kB</td>
   <td><tt>e887424ee4b2ddb4632e2c38043ef395ba34d488</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/artikulate-19.12.3.tar.xz">artikulate-19.12.3</a></td>
   <td align="right">3918kB</td>
   <td><tt>027dec0f5ac0bc6e80161aec8a9b52cf52f8529e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/audiocd-kio-19.12.3.tar.xz">audiocd-kio-19.12.3</a></td>
   <td align="right">349kB</td>
   <td><tt>0b9c02ab5627637536c5ed0fcbca38c86b0a078d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/baloo-widgets-19.12.3.tar.xz">baloo-widgets-19.12.3</a></td>
   <td align="right">253kB</td>
   <td><tt>0e91e820dd983e823d1db92af173694dd8e8efb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/blinken-19.12.3.tar.xz">blinken-19.12.3</a></td>
   <td align="right">2755kB</td>
   <td><tt>f225bc7003715453fe5a92446382a06a332d0e20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/bomber-19.12.3.tar.xz">bomber-19.12.3</a></td>
   <td align="right">802kB</td>
   <td><tt>d9e591a73020b2b1e58cbf7d04ff34c57fc4e520</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/bovo-19.12.3.tar.xz">bovo-19.12.3</a></td>
   <td align="right">195kB</td>
   <td><tt>1d26c2474f289f1bdbaf2220dee2523282e2cf3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/calendarsupport-19.12.3.tar.xz">calendarsupport-19.12.3</a></td>
   <td align="right">633kB</td>
   <td><tt>7598b9476a43204d8b08ef38b64a8e70cee5ffc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/cantor-19.12.3.tar.xz">cantor-19.12.3</a></td>
   <td align="right">8802kB</td>
   <td><tt>b113d0ccc0f25ef3e4dcfa9cd22539018d769e16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/cervisia-19.12.3.tar.xz">cervisia-19.12.3</a></td>
   <td align="right">1850kB</td>
   <td><tt>b31cde6dc2516403bfd897de76fbefa21e985a2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/dolphin-19.12.3.tar.xz">dolphin-19.12.3</a></td>
   <td align="right">4669kB</td>
   <td><tt>9c3293868c0402bf8e9d98b277de18a52fc9f506</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/dolphin-plugins-19.12.3.tar.xz">dolphin-plugins-19.12.3</a></td>
   <td align="right">190kB</td>
   <td><tt>981d57ba0d037f6d100702e811f67c46eddeeaca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/dragon-19.12.3.tar.xz">dragon-19.12.3</a></td>
   <td align="right">1320kB</td>
   <td><tt>2486f0f93821b44ff1cce8c46b83a1fba92f2958</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/elisa-19.12.3.tar.xz">elisa-19.12.3</a></td>
   <td align="right">1355kB</td>
   <td><tt>1270a66e7c3d5a92639977ebfbf514640f73096d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/eventviews-19.12.3.tar.xz">eventviews-19.12.3</a></td>
   <td align="right">434kB</td>
   <td><tt>fda34cad04d2f62e2d3a118fb78bc99a6563a6fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ffmpegthumbs-19.12.3.tar.xz">ffmpegthumbs-19.12.3</a></td>
   <td align="right">26kB</td>
   <td><tt>fb657573ed5b41d9f841f14a6b6de29b4255fa5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/filelight-19.12.3.tar.xz">filelight-19.12.3</a></td>
   <td align="right">646kB</td>
   <td><tt>f50c0331e24867633c87996726b4ca1120b717ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/granatier-19.12.3.tar.xz">granatier-19.12.3</a></td>
   <td align="right">1898kB</td>
   <td><tt>1e5c8ea05f7ed5b2aca07d27ae2e17c0f0797059</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/grantlee-editor-19.12.3.tar.xz">grantlee-editor-19.12.3</a></td>
   <td align="right">109kB</td>
   <td><tt>c9787f5a7a01b1c0952e3e028e88a92214a62ea1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/grantleetheme-19.12.3.tar.xz">grantleetheme-19.12.3</a></td>
   <td align="right">53kB</td>
   <td><tt>43ebb73f8a7025ddbd095fbc55c0b39df5a0b11c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/gwenview-19.12.3.tar.xz">gwenview-19.12.3</a></td>
   <td align="right">5600kB</td>
   <td><tt>0eda17cfd8945611b545bf20d74a7a7a10f38a17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/incidenceeditor-19.12.3.tar.xz">incidenceeditor-19.12.3</a></td>
   <td align="right">536kB</td>
   <td><tt>e55a8f32f66f28def536cdd62361e618f9beb6e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/juk-19.12.3.tar.xz">juk-19.12.3</a></td>
   <td align="right">1823kB</td>
   <td><tt>6e12d201f11f5c3ebf8f67a5ce0659258d5f0b02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/k3b-19.12.3.tar.xz">k3b-19.12.3</a></td>
   <td align="right">10271kB</td>
   <td><tt>74bb072a9cf355fc15c87a50e104c26b6c328383</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kaccounts-integration-19.12.3.tar.xz">kaccounts-integration-19.12.3</a></td>
   <td align="right">64kB</td>
   <td><tt>3743feba9a617ea87c20941c6d203479d5fa7fd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kaccounts-providers-19.12.3.tar.xz">kaccounts-providers-19.12.3</a></td>
   <td align="right">31kB</td>
   <td><tt>b5703f68a6d8cedfc8a99ea2983afa711d9e15a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kaddressbook-19.12.3.tar.xz">kaddressbook-19.12.3</a></td>
   <td align="right">2361kB</td>
   <td><tt>6435c7278eaf40a49fb901f7f4e1dd2082c881b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kajongg-19.12.3.tar.xz">kajongg-19.12.3</a></td>
   <td align="right">4359kB</td>
   <td><tt>a32a808aa18afa813c95a8354bd8161463f9bf52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kalarm-19.12.3.tar.xz">kalarm-19.12.3</a></td>
   <td align="right">1793kB</td>
   <td><tt>81dc8fb78bc836d1a54afb0c52ca6c6eae024083</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kalarmcal-19.12.3.tar.xz">kalarmcal-19.12.3</a></td>
   <td align="right">560kB</td>
   <td><tt>389f6975c720a1b2d98f348112aef94a8ebc0c36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kalgebra-19.12.3.tar.xz">kalgebra-19.12.3</a></td>
   <td align="right">1129kB</td>
   <td><tt>1f8135d96d91e895c89b7a18772bbb65f8c364aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kalzium-19.12.3.tar.xz">kalzium-19.12.3</a></td>
   <td align="right">24010kB</td>
   <td><tt>0d4a3cc956d7663ad4efc7ccef4712a801ecddea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kamera-19.12.3.tar.xz">kamera-19.12.3</a></td>
   <td align="right">101kB</td>
   <td><tt>17ba355fd5c581c824ff1e20baa2f64836e314eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kamoso-19.12.3.tar.xz">kamoso-19.12.3</a></td>
   <td align="right">196kB</td>
   <td><tt>470477e71aeba349577d03e8c6d99afee5b0d40e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kanagram-19.12.3.tar.xz">kanagram-19.12.3</a></td>
   <td align="right">7845kB</td>
   <td><tt>79d453768f4a9c62978c90c9a9f9370aadc94b1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kapman-19.12.3.tar.xz">kapman-19.12.3</a></td>
   <td align="right">2468kB</td>
   <td><tt>f9e023b42e7129b060ca284e4e14bc6ebe5a22da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kapptemplate-19.12.3.tar.xz">kapptemplate-19.12.3</a></td>
   <td align="right">309kB</td>
   <td><tt>69219df71ed86e0fe7efa0d5da5c20480d211c9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kate-19.12.3.tar.xz">kate-19.12.3</a></td>
   <td align="right">5659kB</td>
   <td><tt>fdd236d4e1753c20f655ac873115ba782c876893</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/katomic-19.12.3.tar.xz">katomic-19.12.3</a></td>
   <td align="right">1389kB</td>
   <td><tt>814e85af84bbb925e8986202734373d97d3bd025</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kbackup-19.12.3.tar.xz">kbackup-19.12.3</a></td>
   <td align="right">350kB</td>
   <td><tt>9b2c244620d43dacca7a7019ac83514ee1598729</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kblackbox-19.12.3.tar.xz">kblackbox-19.12.3</a></td>
   <td align="right">436kB</td>
   <td><tt>86df700861e5e1021397b96a78f0ab9e848371cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kblocks-19.12.3.tar.xz">kblocks-19.12.3</a></td>
   <td align="right">1862kB</td>
   <td><tt>4993526dd6d9dcc74feac5dc9b42f9d3a15538dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kblog-19.12.3.tar.xz">kblog-19.12.3</a></td>
   <td align="right">71kB</td>
   <td><tt>21de7d56268f0d0f1e9cd1ba9ab425b3dc788c39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kbounce-19.12.3.tar.xz">kbounce-19.12.3</a></td>
   <td align="right">3387kB</td>
   <td><tt>387e377564c934fd2c611db474e58731bed56903</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kbreakout-19.12.3.tar.xz">kbreakout-19.12.3</a></td>
   <td align="right">2227kB</td>
   <td><tt>28019e364db9a4140d1d61b2eeacd4b178a5414d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kbruch-19.12.3.tar.xz">kbruch-19.12.3</a></td>
   <td align="right">5472kB</td>
   <td><tt>d463bb084fa68532d21caef511ad00d6f7b72654</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kcachegrind-19.12.3.tar.xz">kcachegrind-19.12.3</a></td>
   <td align="right">795kB</td>
   <td><tt>421bbf51946fdf7b425fabe71ad6ffd5c6b4612b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kcalc-19.12.3.tar.xz">kcalc-19.12.3</a></td>
   <td align="right">365kB</td>
   <td><tt>c00f9b4bae83f33866f1afb1f5972b62250a35c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kcalutils-19.12.3.tar.xz">kcalutils-19.12.3</a></td>
   <td align="right">312kB</td>
   <td><tt>fd62ec22e05afe12fb5b165e64937a7b1903b9a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kcharselect-19.12.3.tar.xz">kcharselect-19.12.3</a></td>
   <td align="right">327kB</td>
   <td><tt>ad89d0979549c9d23bf581ec52f529c74c3a2d92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kcolorchooser-19.12.3.tar.xz">kcolorchooser-19.12.3</a></td>
   <td align="right">21kB</td>
   <td><tt>38e7628577d3e66125b7c9e2de1e9e8c4e1c88ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kcron-19.12.3.tar.xz">kcron-19.12.3</a></td>
   <td align="right">870kB</td>
   <td><tt>32d4120784f02cfd0c7bde3ab492525bc9f666f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kdav-19.12.3.tar.xz">kdav-19.12.3</a></td>
   <td align="right">53kB</td>
   <td><tt>a64d08f3e0b352140a7143eb98aacbdd5d0c9cad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kdebugsettings-19.12.3.tar.xz">kdebugsettings-19.12.3</a></td>
   <td align="right">62kB</td>
   <td><tt>022a64b7ea0729b5da2464e65a50ed853b723d42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kde-dev-scripts-19.12.3.tar.xz">kde-dev-scripts-19.12.3</a></td>
   <td align="right">370kB</td>
   <td><tt>92538d79adc7ab3444cfd3d035d2cb7c4fd0e0f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kde-dev-utils-19.12.3.tar.xz">kde-dev-utils-19.12.3</a></td>
   <td align="right">62kB</td>
   <td><tt>3b3a62ba8fafb54af254cd8a7d5f3ad616cc3955</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kdeedu-data-19.12.3.tar.xz">kdeedu-data-19.12.3</a></td>
   <td align="right">319kB</td>
   <td><tt>cadac35d077ac3d41e7c6f5f668e482104c9becc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kdegraphics-mobipocket-19.12.3.tar.xz">kdegraphics-mobipocket-19.12.3</a></td>
   <td align="right">15kB</td>
   <td><tt>b17ef6e1f4f3b6812f6ef793c33b81eecd4af930</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kdegraphics-thumbnailers-19.12.3.tar.xz">kdegraphics-thumbnailers-19.12.3</a></td>
   <td align="right">45kB</td>
   <td><tt>506e8fea937fb457a92cf67dc757aafb0c6d1b80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kdenetwork-filesharing-19.12.3.tar.xz">kdenetwork-filesharing-19.12.3</a></td>
   <td align="right">310kB</td>
   <td><tt>aac537796a08df6d38f175f80c783c1b81e48730</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kdenlive-19.12.3.tar.xz">kdenlive-19.12.3</a></td>
   <td align="right">11126kB</td>
   <td><tt>208675704bc2b4bb094f64771aeb09a7ca0db6c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kdepim-addons-19.12.3.tar.xz">kdepim-addons-19.12.3</a></td>
   <td align="right">2063kB</td>
   <td><tt>c86e8646812a7b6d8dbf5c50359617862361b3bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kdepim-apps-libs-19.12.3.tar.xz">kdepim-apps-libs-19.12.3</a></td>
   <td align="right">81kB</td>
   <td><tt>424f62520868bee9b8148b98b36a5d818edee46e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kdepim-runtime-19.12.3.tar.xz">kdepim-runtime-19.12.3</a></td>
   <td align="right">1696kB</td>
   <td><tt>904623740c2424489fcd3b73fdd681e696379c3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kdesdk-kioslaves-19.12.3.tar.xz">kdesdk-kioslaves-19.12.3</a></td>
   <td align="right">36kB</td>
   <td><tt>f694f021033d5bc297835dce0dfa4f43cf575dea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kdesdk-thumbnailers-19.12.3.tar.xz">kdesdk-thumbnailers-19.12.3</a></td>
   <td align="right">16kB</td>
   <td><tt>b0be35eecae9fa3ff0751059f25d7920f85f7170</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kdf-19.12.3.tar.xz">kdf-19.12.3</a></td>
   <td align="right">451kB</td>
   <td><tt>41208ce3350d9473ef09c4e7387cc7df53ea5ac6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kdialog-19.12.3.tar.xz">kdialog-19.12.3</a></td>
   <td align="right">101kB</td>
   <td><tt>ea39c7759c61e9756ec361d7e3f4af5d60502712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kdiamond-19.12.3.tar.xz">kdiamond-19.12.3</a></td>
   <td align="right">4583kB</td>
   <td><tt>38de5afacf52405f4d29cc87767117912df31952</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/keditbookmarks-19.12.3.tar.xz">keditbookmarks-19.12.3</a></td>
   <td align="right">183kB</td>
   <td><tt>22bd7552b276e36c3a66999d27034295b0843b0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kfind-19.12.3.tar.xz">kfind-19.12.3</a></td>
   <td align="right">263kB</td>
   <td><tt>e5082ec2eaa4272b2549ba38f213b42016471d11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kfloppy-19.12.3.tar.xz">kfloppy-19.12.3</a></td>
   <td align="right">194kB</td>
   <td><tt>7cbda35b5dd015c51e0abc382a7271ca3ce90e1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kfourinline-19.12.3.tar.xz">kfourinline-19.12.3</a></td>
   <td align="right">624kB</td>
   <td><tt>18fd29ff010f464ba59ae172cc03a78f12f0d68f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kgeography-19.12.3.tar.xz">kgeography-19.12.3</a></td>
   <td align="right">10600kB</td>
   <td><tt>b27633b3604c66fd2fd7e657f0bc8a5489f0b77a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kget-19.12.3.tar.xz">kget-19.12.3</a></td>
   <td align="right">5117kB</td>
   <td><tt>c1eb7b50c0a43311d6de4bac75ad85cda37316fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kgoldrunner-19.12.3.tar.xz">kgoldrunner-19.12.3</a></td>
   <td align="right">4331kB</td>
   <td><tt>deaff02fddc7f0f62881a3aeefb31f0043cad669</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kgpg-19.12.3.tar.xz">kgpg-19.12.3</a></td>
   <td align="right">2724kB</td>
   <td><tt>9fa30dbc55bdead1a00ea2f4e13a26204ab174ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/khangman-19.12.3.tar.xz">khangman-19.12.3</a></td>
   <td align="right">6949kB</td>
   <td><tt>558bbe676a9adf1d1536b5cadfc3d033dbc7ab49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/khelpcenter-19.12.3.tar.xz">khelpcenter-19.12.3</a></td>
   <td align="right">3755kB</td>
   <td><tt>f21946ea5013b430b2c98887c367fe78a2c6cb90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kidentitymanagement-19.12.3.tar.xz">kidentitymanagement-19.12.3</a></td>
   <td align="right">146kB</td>
   <td><tt>c391b4540b10837058079f18504d762a227e3fad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kig-19.12.3.tar.xz">kig-19.12.3</a></td>
   <td align="right">3418kB</td>
   <td><tt>a1981d0f17ba9ddd405ac1b4ecfbae3cdd76dcc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kigo-19.12.3.tar.xz">kigo-19.12.3</a></td>
   <td align="right">5105kB</td>
   <td><tt>fad0e6e1fe58de1d91f594d0eebb9edc8f4cc984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/killbots-19.12.3.tar.xz">killbots-19.12.3</a></td>
   <td align="right">1146kB</td>
   <td><tt>a7c3a12ee21622e9600d985c72bd8eecbf80aafe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kimagemapeditor-19.12.3.tar.xz">kimagemapeditor-19.12.3</a></td>
   <td align="right">1046kB</td>
   <td><tt>d040c8b4bc92b85614169c233c191430f1b7312f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kimap-19.12.3.tar.xz">kimap-19.12.3</a></td>
   <td align="right">117kB</td>
   <td><tt>88767b1ace87bbcbadc558a5543e427d9dc02afb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kio-extras-19.12.3.tar.xz">kio-extras-19.12.3</a></td>
   <td align="right">567kB</td>
   <td><tt>cc823b18a90ff09a370553573ffef38c388caabc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kipi-plugins-19.12.3.tar.xz">kipi-plugins-19.12.3</a></td>
   <td align="right">1598kB</td>
   <td><tt>80ec0950c2d2c446fdfd754658855848b0b59962</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kirigami-gallery-19.12.3.tar.xz">kirigami-gallery-19.12.3</a></td>
   <td align="right">269kB</td>
   <td><tt>ab9384b023152f60c7be3d86ad2da7929f73970b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kiriki-19.12.3.tar.xz">kiriki-19.12.3</a></td>
   <td align="right">364kB</td>
   <td><tt>b127eabea8523305023778c7dc01c80387870003</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kiten-19.12.3.tar.xz">kiten-19.12.3</a></td>
   <td align="right">11023kB</td>
   <td><tt>6bedc3b2520f5998aa41d0022af7340c150a4445</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kitinerary-19.12.3.tar.xz">kitinerary-19.12.3</a></td>
   <td align="right">1151kB</td>
   <td><tt>a6da4e4bb50d2c49bb3a3dfa5338f6f014cfb8e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kjumpingcube-19.12.3.tar.xz">kjumpingcube-19.12.3</a></td>
   <td align="right">282kB</td>
   <td><tt>3eae3fe556169265370b87618d877f613a948270</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kldap-19.12.3.tar.xz">kldap-19.12.3</a></td>
   <td align="right">151kB</td>
   <td><tt>e3315620d66d6b99f888629d49a17d0d1d1f442b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kleopatra-19.12.3.tar.xz">kleopatra-19.12.3</a></td>
   <td align="right">1885kB</td>
   <td><tt>877ae050f4e98f9e135078f40b8d8460585274c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/klettres-19.12.3.tar.xz">klettres-19.12.3</a></td>
   <td align="right">39199kB</td>
   <td><tt>952c1a2320c52fdcfade432683c40874f2553d57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/klickety-19.12.3.tar.xz">klickety-19.12.3</a></td>
   <td align="right">1357kB</td>
   <td><tt>6a6881722956f11d85c3b5f03a825102a71b44b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/klines-19.12.3.tar.xz">klines-19.12.3</a></td>
   <td align="right">1740kB</td>
   <td><tt>169dcbf3f161838aa9aa97c1762f3fee0e1343cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kmag-19.12.3.tar.xz">kmag-19.12.3</a></td>
   <td align="right">658kB</td>
   <td><tt>60c4081ae75a25b819d61abdab630ea95e5c3a69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kmahjongg-19.12.3.tar.xz">kmahjongg-19.12.3</a></td>
   <td align="right">3346kB</td>
   <td><tt>b5c5f00362b7f237fe03fa725876e9cc3f721529</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kmail-19.12.3.tar.xz">kmail-19.12.3</a></td>
   <td align="right">4600kB</td>
   <td><tt>11562d09205bd0b98200c1bb51ffe1bd438bb6a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kmail-account-wizard-19.12.3.tar.xz">kmail-account-wizard-19.12.3</a></td>
   <td align="right">154kB</td>
   <td><tt>bbe1d408861eb14aa32af07dd5c681ff3d14c6bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kmailtransport-19.12.3.tar.xz">kmailtransport-19.12.3</a></td>
   <td align="right">162kB</td>
   <td><tt>9c1e7fb34639f2119335131a74b384a28aab01a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kmbox-19.12.3.tar.xz">kmbox-19.12.3</a></td>
   <td align="right">24kB</td>
   <td><tt>98f4a4fb77171724b7e2f5843add091d3cb65b57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kmime-19.12.3.tar.xz">kmime-19.12.3</a></td>
   <td align="right">143kB</td>
   <td><tt>9480d46d49e52da87113da113fcbe7779bc7da3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kmines-19.12.3.tar.xz">kmines-19.12.3</a></td>
   <td align="right">877kB</td>
   <td><tt>62b227ed224a83adf05fb716effcdf771d25e329</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kmix-19.12.3.tar.xz">kmix-19.12.3</a></td>
   <td align="right">984kB</td>
   <td><tt>30134af425414bcbc017094e13d49c7b91ef3622</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kmousetool-19.12.3.tar.xz">kmousetool-19.12.3</a></td>
   <td align="right">111kB</td>
   <td><tt>39a0f5c37c754e04f37df605bd69a10c7c7cfddf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kmouth-19.12.3.tar.xz">kmouth-19.12.3</a></td>
   <td align="right">1919kB</td>
   <td><tt>239a4387124dd1c0be691790b84bb36fab3202b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kmplot-19.12.3.tar.xz">kmplot-19.12.3</a></td>
   <td align="right">2983kB</td>
   <td><tt>c9fc2fa847374840fdc09ba4e1f7921565aaecc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/knavalbattle-19.12.3.tar.xz">knavalbattle-19.12.3</a></td>
   <td align="right">1251kB</td>
   <td><tt>480f5e79f7c4a2d9f7b4cebcae59ba0c9c2f066d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/knetwalk-19.12.3.tar.xz">knetwalk-19.12.3</a></td>
   <td align="right">1017kB</td>
   <td><tt>b087ae737e89e25cf30742dd435c36e6a920344f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/knights-19.12.3.tar.xz">knights-19.12.3</a></td>
   <td align="right">3437kB</td>
   <td><tt>364cf74480358971603955efb89c71a372fbd8ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/knotes-19.12.3.tar.xz">knotes-19.12.3</a></td>
   <td align="right">313kB</td>
   <td><tt>766e7c0d6c7b01b805551b2bcfaea0e03127a580</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kolf-19.12.3.tar.xz">kolf-19.12.3</a></td>
   <td align="right">1003kB</td>
   <td><tt>39d76dee16b09e2b416cefed6e351c231bc935dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kollision-19.12.3.tar.xz">kollision-19.12.3</a></td>
   <td align="right">274kB</td>
   <td><tt>6eacbe4ad0895e94ae8375157695528f7b50d9b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kolourpaint-19.12.3.tar.xz">kolourpaint-19.12.3</a></td>
   <td align="right">5521kB</td>
   <td><tt>6b6ea429e1288e576bb1c365cfc2240a64ad1af0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kompare-19.12.3.tar.xz">kompare-19.12.3</a></td>
   <td align="right">782kB</td>
   <td><tt>fe515cc71260eeb2e3316da76f3c6293827d2b26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/konqueror-19.12.3.tar.xz">konqueror-19.12.3</a></td>
   <td align="right">7196kB</td>
   <td><tt>96950bfc949e740c6ba64bc3df013b9deafe9f6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/konquest-19.12.3.tar.xz">konquest-19.12.3</a></td>
   <td align="right">643kB</td>
   <td><tt>7fe302c65a25e0dbbec4062d3f5e4e92376d3a43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/konsole-19.12.3.tar.xz">konsole-19.12.3</a></td>
   <td align="right">1133kB</td>
   <td><tt>0c82bfe587603263fb5e36cddbdb7ce2bad6d518</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kontact-19.12.3.tar.xz">kontact-19.12.3</a></td>
   <td align="right">773kB</td>
   <td><tt>db2680e112475eb3d34ad30aed4f3332405f22f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kontactinterface-19.12.3.tar.xz">kontactinterface-19.12.3</a></td>
   <td align="right">32kB</td>
   <td><tt>23980dc810f3d248d41a50ea186d7eed24ac34b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kopete-19.12.3.tar.xz">kopete-19.12.3</a></td>
   <td align="right">9157kB</td>
   <td><tt>07a805d9743b6304707ad1eac4a1addc19b3ac8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/korganizer-19.12.3.tar.xz">korganizer-19.12.3</a></td>
   <td align="right">2169kB</td>
   <td><tt>64e1bb76b2f940d76963d938f073370fb5d52d0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kpat-19.12.3.tar.xz">kpat-19.12.3</a></td>
   <td align="right">3494kB</td>
   <td><tt>0a72741db8809201d61258e7c9896a6ce8463c9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kpimtextedit-19.12.3.tar.xz">kpimtextedit-19.12.3</a></td>
   <td align="right">164kB</td>
   <td><tt>90700dc978ce0bb364970986beae754797952e23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kpkpass-19.12.3.tar.xz">kpkpass-19.12.3</a></td>
   <td align="right">22kB</td>
   <td><tt>48f159e811ce081d7218b101e0cae3f66230fe6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kqtquickcharts-19.12.3.tar.xz">kqtquickcharts-19.12.3</a></td>
   <td align="right">25kB</td>
   <td><tt>8fd51e1ed68dc4fae15feb779a4793fb36f96d55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/krdc-19.12.3.tar.xz">krdc-19.12.3</a></td>
   <td align="right">1390kB</td>
   <td><tt>2b79518cd93e26353965ecae2e2b6f96c2f3afa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kreversi-19.12.3.tar.xz">kreversi-19.12.3</a></td>
   <td align="right">923kB</td>
   <td><tt>ac3db80c46de64a3e588725cf4bd567545421c24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/krfb-19.12.3.tar.xz">krfb-19.12.3</a></td>
   <td align="right">1247kB</td>
   <td><tt>5b724df6b933ebcae9fefd47082c3c349eadf67c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kross-interpreters-19.12.3.tar.xz">kross-interpreters-19.12.3</a></td>
   <td align="right">148kB</td>
   <td><tt>105e15a40d1d358a66f27119184a591da8c687bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kruler-19.12.3.tar.xz">kruler-19.12.3</a></td>
   <td align="right">245kB</td>
   <td><tt>26eda0b08197fe9413f85fc84b82632e9479854c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kshisen-19.12.3.tar.xz">kshisen-19.12.3</a></td>
   <td align="right">803kB</td>
   <td><tt>cc0d8de06aeb381aa6d5fc0660773447891a168a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ksirk-19.12.3.tar.xz">ksirk-19.12.3</a></td>
   <td align="right">6827kB</td>
   <td><tt>d9c8942d2a956ceea2a7ef13f7496b8914093790</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ksmtp-19.12.3.tar.xz">ksmtp-19.12.3</a></td>
   <td align="right">40kB</td>
   <td><tt>21fafa1c147be6960cec732c51f4f4dd3b8061ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ksnakeduel-19.12.3.tar.xz">ksnakeduel-19.12.3</a></td>
   <td align="right">591kB</td>
   <td><tt>d4a9e84e9865925b79ec4c2104fd0c9ce7289c52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kspaceduel-19.12.3.tar.xz">kspaceduel-19.12.3</a></td>
   <td align="right">597kB</td>
   <td><tt>31d76ac3ad13e44d309d76feda5677fd4c0b5e20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ksquares-19.12.3.tar.xz">ksquares-19.12.3</a></td>
   <td align="right">254kB</td>
   <td><tt>f963990fc23f2230ba1e30819302d6a2b31199ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ksudoku-19.12.3.tar.xz">ksudoku-19.12.3</a></td>
   <td align="right">1608kB</td>
   <td><tt>cf19da63a0604f857f657ec177a71bf4381423ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ksystemlog-19.12.3.tar.xz">ksystemlog-19.12.3</a></td>
   <td align="right">1882kB</td>
   <td><tt>5edca716680938c54bbcc185599c79331edf2119</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kteatime-19.12.3.tar.xz">kteatime-19.12.3</a></td>
   <td align="right">280kB</td>
   <td><tt>fd6171c81b51996017baae08695c67a9efb66bcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ktimer-19.12.3.tar.xz">ktimer-19.12.3</a></td>
   <td align="right">368kB</td>
   <td><tt>3bbe62b81e32c1d0e79518eccd68c3ac2cc38733</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ktnef-19.12.3.tar.xz">ktnef-19.12.3</a></td>
   <td align="right">292kB</td>
   <td><tt>753e5cf41a71faed7836e502351bbf6f402e9634</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ktouch-19.12.3.tar.xz">ktouch-19.12.3</a></td>
   <td align="right">4813kB</td>
   <td><tt>c638ab2770ebe6e3f4782cf3ade91319595e7fcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ktp-accounts-kcm-19.12.3.tar.xz">ktp-accounts-kcm-19.12.3</a></td>
   <td align="right">258kB</td>
   <td><tt>9a6db208e2f6935c3239501ca669d3945f7a61be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ktp-approver-19.12.3.tar.xz">ktp-approver-19.12.3</a></td>
   <td align="right">36kB</td>
   <td><tt>55be944e537f86ba05195432d8e795bd7aa92fa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ktp-auth-handler-19.12.3.tar.xz">ktp-auth-handler-19.12.3</a></td>
   <td align="right">45kB</td>
   <td><tt>8de7893ac37b8991d3a9457aed7c816411db8362</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ktp-call-ui-19.12.3.tar.xz">ktp-call-ui-19.12.3</a></td>
   <td align="right">94kB</td>
   <td><tt>dfd7d065c8c59fc5da81c43e3ffbef98eb9f6b8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ktp-common-internals-19.12.3.tar.xz">ktp-common-internals-19.12.3</a></td>
   <td align="right">434kB</td>
   <td><tt>f91206abf8e201c70094466abb30c3f3773e3e12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ktp-contact-list-19.12.3.tar.xz">ktp-contact-list-19.12.3</a></td>
   <td align="right">145kB</td>
   <td><tt>37425301592ab7131cbc1897b224c1783083a800</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ktp-contact-runner-19.12.3.tar.xz">ktp-contact-runner-19.12.3</a></td>
   <td align="right">42kB</td>
   <td><tt>381a0f93b39c661b398be842ce47afb49572b585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ktp-desktop-applets-19.12.3.tar.xz">ktp-desktop-applets-19.12.3</a></td>
   <td align="right">42kB</td>
   <td><tt>5f2c4afdd71c7a1c5271574fdb5ccc32647410b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ktp-filetransfer-handler-19.12.3.tar.xz">ktp-filetransfer-handler-19.12.3</a></td>
   <td align="right">45kB</td>
   <td><tt>54a86e6d05f70a4b05216a2bedf63ba23b132e04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ktp-kded-module-19.12.3.tar.xz">ktp-kded-module-19.12.3</a></td>
   <td align="right">95kB</td>
   <td><tt>ba635982a69919980d56a9586f7324206861c79c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ktp-send-file-19.12.3.tar.xz">ktp-send-file-19.12.3</a></td>
   <td align="right">28kB</td>
   <td><tt>93ee2751b4be496b1fb260543e588fba7a955dae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ktp-text-ui-19.12.3.tar.xz">ktp-text-ui-19.12.3</a></td>
   <td align="right">460kB</td>
   <td><tt>3fd1971ab9e4a180a77f52c8691c0f0d6e5699b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/ktuberling-19.12.3.tar.xz">ktuberling-19.12.3</a></td>
   <td align="right">69105kB</td>
   <td><tt>2b5ec690a63ff22773f597a567b9a4bdf5e161e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kturtle-19.12.3.tar.xz">kturtle-19.12.3</a></td>
   <td align="right">1785kB</td>
   <td><tt>7e144fb434bc6e79b51c16454b70be1bbba29441</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kubrick-19.12.3.tar.xz">kubrick-19.12.3</a></td>
   <td align="right">309kB</td>
   <td><tt>5678f476be19675a20f36bbce52c1ffb7d1aa3cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kwalletmanager-19.12.3.tar.xz">kwalletmanager-19.12.3</a></td>
   <td align="right">770kB</td>
   <td><tt>d66ac7ff849fca5f85b2d39803a9da0a593e1f6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kwave-19.12.3.tar.xz">kwave-19.12.3</a></td>
   <td align="right">6049kB</td>
   <td><tt>d7356fe0e5e9b8c1e1a6eda665a0308a36684531</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/kwordquiz-19.12.3.tar.xz">kwordquiz-19.12.3</a></td>
   <td align="right">4076kB</td>
   <td><tt>41acc200fc83a8c0a7408b364bde7123e6d308de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/libgravatar-19.12.3.tar.xz">libgravatar-19.12.3</a></td>
   <td align="right">30kB</td>
   <td><tt>0bb1846f67e7dd7fc90695afcb1d0fb606727a9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/libkcddb-19.12.3.tar.xz">libkcddb-19.12.3</a></td>
   <td align="right">415kB</td>
   <td><tt>835b67747438ff64dec183118d72f28ea270f1d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/libkcompactdisc-19.12.3.tar.xz">libkcompactdisc-19.12.3</a></td>
   <td align="right">86kB</td>
   <td><tt>ac7bc21373316e021f2324824d1b7eb44907fe12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/libkdcraw-19.12.3.tar.xz">libkdcraw-19.12.3</a></td>
   <td align="right">41kB</td>
   <td><tt>018fb1c28cb9d4a953187269cdb4551301963b2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/libkdegames-19.12.3.tar.xz">libkdegames-19.12.3</a></td>
   <td align="right">6225kB</td>
   <td><tt>ff047d9cd6d80b28e4845b7dc5f11a2bd96d99a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/libkdepim-19.12.3.tar.xz">libkdepim-19.12.3</a></td>
   <td align="right">326kB</td>
   <td><tt>bdeb5cd542be7098642ab2ad5d281272b94a7330</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/libkeduvocdocument-19.12.3.tar.xz">libkeduvocdocument-19.12.3</a></td>
   <td align="right">201kB</td>
   <td><tt>82218499108cb3b07fb215f9f15d0a54e0b0146d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/libkexiv2-19.12.3.tar.xz">libkexiv2-19.12.3</a></td>
   <td align="right">63kB</td>
   <td><tt>facbe99a444902fe1eba097753edf26637ce02a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/libkgapi-19.12.3.tar.xz">libkgapi-19.12.3</a></td>
   <td align="right">232kB</td>
   <td><tt>8800711850a9745a7ee268f42fde7d8b5d75d058</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/libkgeomap-19.12.3.tar.xz">libkgeomap-19.12.3</a></td>
   <td align="right">147kB</td>
   <td><tt>c5ff7aa60740e5d532ce77ffcff5ddf0566e3992</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/libkipi-19.12.3.tar.xz">libkipi-19.12.3</a></td>
   <td align="right">100kB</td>
   <td><tt>4fa2e3a12274097299f1edf2b158cc594f94eae6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/libkleo-19.12.3.tar.xz">libkleo-19.12.3</a></td>
   <td align="right">335kB</td>
   <td><tt>74cd911b4c1785d22913fa1390b7c1bff7e47789</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/libkmahjongg-19.12.3.tar.xz">libkmahjongg-19.12.3</a></td>
   <td align="right">1644kB</td>
   <td><tt>47e65fa6ef3fd5c8ac90b6a6a438632bca3c6809</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/libkomparediff2-19.12.3.tar.xz">libkomparediff2-19.12.3</a></td>
   <td align="right">166kB</td>
   <td><tt>69f4398c9379680e8efc2d1e6a3d5b608321d042</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/libksane-19.12.3.tar.xz">libksane-19.12.3</a></td>
   <td align="right">136kB</td>
   <td><tt>205ac418a54fe8631ead38f46c25dd9370dfcef0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/libksieve-19.12.3.tar.xz">libksieve-19.12.3</a></td>
   <td align="right">538kB</td>
   <td><tt>c6e7e6ef982736ff7710e8e9ef983f6b2fb858dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/lokalize-19.12.3.tar.xz">lokalize-19.12.3</a></td>
   <td align="right">1661kB</td>
   <td><tt>5d91d94f50587aed76e9161d7b7047271063d319</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/lskat-19.12.3.tar.xz">lskat-19.12.3</a></td>
   <td align="right">1190kB</td>
   <td><tt>80ddb5face518c292601c9ed0fdea64bea300b32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/mailcommon-19.12.3.tar.xz">mailcommon-19.12.3</a></td>
   <td align="right">683kB</td>
   <td><tt>800d11077700ef88b1ab9c75418e998fbf190b71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/mailimporter-19.12.3.tar.xz">mailimporter-19.12.3</a></td>
   <td align="right">527kB</td>
   <td><tt>149599ed24e1005cd5f1c0729c1616b3ab3c7b3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/marble-19.12.3.tar.xz">marble-19.12.3</a></td>
   <td align="right">51081kB</td>
   <td><tt>f0aaac3f96adea019c08b7dc12d4c5f8c513c236</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/mbox-importer-19.12.3.tar.xz">mbox-importer-19.12.3</a></td>
   <td align="right">32kB</td>
   <td><tt>a0584c30aeab7b1cbd9030427ccae4b0d1215a24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/messagelib-19.12.3.tar.xz">messagelib-19.12.3</a></td>
   <td align="right">10216kB</td>
   <td><tt>16ec854a716f81a261c34df1a533b77b2443f509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/minuet-19.12.3.tar.xz">minuet-19.12.3</a></td>
   <td align="right">26951kB</td>
   <td><tt>8fbc548fa5fc1b8fd4385a36a53788029641acda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/okular-19.12.3.tar.xz">okular-19.12.3</a></td>
   <td align="right">7039kB</td>
   <td><tt>4395cf4314fb700f9cb45f98fdd37b26b393ea6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/palapeli-19.12.3.tar.xz">palapeli-19.12.3</a></td>
   <td align="right">2021kB</td>
   <td><tt>cc6a3cf0af5fc09c50597fae23c0dfaf286e6cb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/parley-19.12.3.tar.xz">parley-19.12.3</a></td>
   <td align="right">8625kB</td>
   <td><tt>147f15d4bf90da86b498949a7366b69f800a27c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/picmi-19.12.3.tar.xz">picmi-19.12.3</a></td>
   <td align="right">1328kB</td>
   <td><tt>ae94b7fb52e22923829bc96c88b2ac546c102274</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/pimcommon-19.12.3.tar.xz">pimcommon-19.12.3</a></td>
   <td align="right">286kB</td>
   <td><tt>67b7013fe9888084b084940e03c2754ce447ad5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/pim-data-exporter-19.12.3.tar.xz">pim-data-exporter-19.12.3</a></td>
   <td align="right">200kB</td>
   <td><tt>8dab28ac4eb53156670b51cd0e521300692456de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/pim-sieve-editor-19.12.3.tar.xz">pim-sieve-editor-19.12.3</a></td>
   <td align="right">440kB</td>
   <td><tt>6db4b546f72e71f54fde344041fe043bf65ac2b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/poxml-19.12.3.tar.xz">poxml-19.12.3</a></td>
   <td align="right">42kB</td>
   <td><tt>b09bf899dee26970f1d1a42728838d57e062fdf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/print-manager-19.12.3.tar.xz">print-manager-19.12.3</a></td>
   <td align="right">245kB</td>
   <td><tt>260a1cc7e45d733c9b88c55584da34867bd465a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/rocs-19.12.3.tar.xz">rocs-19.12.3</a></td>
   <td align="right">1481kB</td>
   <td><tt>ff557155081f93c4fd5861aac09c925507eb15ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/signon-kwallet-extension-19.12.3.tar.xz">signon-kwallet-extension-19.12.3</a></td>
   <td align="right">10kB</td>
   <td><tt>662a9a004085f5bc819f47a2ee9273068118796f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/spectacle-19.12.3.tar.xz">spectacle-19.12.3</a></td>
   <td align="right">637kB</td>
   <td><tt>02cc29bd1d3d2b97b1f10cb6717afa97ef6dc773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/step-19.12.3.tar.xz">step-19.12.3</a></td>
   <td align="right">894kB</td>
   <td><tt>d2610ae63a724aab070d4cffb62d8725fee44b12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/svgpart-19.12.3.tar.xz">svgpart-19.12.3</a></td>
   <td align="right">20kB</td>
   <td><tt>3921af6bec0c51cb3bf20a67053d9ef81e4a3caa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/sweeper-19.12.3.tar.xz">sweeper-19.12.3</a></td>
   <td align="right">359kB</td>
   <td><tt>2d3742c647b5ec3266dd179a451741395cfcfe2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/umbrello-19.12.3.tar.xz">umbrello-19.12.3</a></td>
   <td align="right">3707kB</td>
   <td><tt>0f34911ada82071fe7a6f700bcc3d67a31fd6492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/yakuake-19.12.3.tar.xz">yakuake-19.12.3</a></td>
   <td align="right">363kB</td>
   <td><tt>a1df5eb567b4212ae2088c8d725cee1eb9606215</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.3/src/zeroconf-ioslave-19.12.3.tar.xz">zeroconf-ioslave-19.12.3</a></td>
   <td align="right">41kB</td>
   <td><tt>f636145d0e08947ac4305b4894b2de27642bd772</tt></td>
</tr>

</table>
